
@media screen and (max-width: 1200px) and (min-width: 800px){
header .container-fluid .fixed-wrapper .form-section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	height:990px;
    margin: auto;
}
header .container-fluid .vestige {
    position: absolute;
    background-image: url(../assets/vestige.png);
    height: 150px;
    width: 150px;
    background-size: 100%;
    margin: auto;
    right: 0;
    top: -100px;
}
header .container-fluid .nd {
    position: absolute;
    background-image: url(../assets/2nd.png);
    margin: auto;
    height: 330px;
    width: 290px;
    background-size: 100%;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    bottom: 30px;
}
header .container-fluid .warrior {
    position: absolute;
    background-image: url(../assets/warrior.png);
    height: 170px;
    width: 360px;
    background-size: contain;
    margin: auto;
    background-repeat: no-repeat;
    left: 20px;
    bottom: 30px;
}
}
@media screen and (max-width: 800px) and (min-width: 601px){
	header .container-fluid .fixed-wrapper .form-section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	height: 770px;
    margin: auto;
}
header .container-fluid .activation-wrapper .form-section .download {
    text-align: center;
}
header .container-fluid .vestige {
    position: absolute;
    background-image: url(../assets/vestige.png);
    height: 150px;
    width: 150px;
    background-size: 100%;
    margin: auto;
    right: 0;
    top: -90px;
    left: 0;
}
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 600px){
header .container-fluid .fixed-wrapper .form-section {
    position: absolute;
    top: -20px;
    bottom: auto;
    left: 0;
    right: 0;
    height: 550px;
    margin: auto;
}
.fixed-wrapper .form-section .form-wrapper {
    width: 100%;
    box-shadow: none;
    margin-top: 80px;
}
header .container-fluid .vestige {
    background-size: 80px;
    height: 80px;
    width: 80px;
    position: relative;
}
header .container-fluid .nd {
    background-size: contain;
    margin: auto;
    left: auto;
    height: 80px;
    width: 80px;
    right: 10px;
}
header .container-fluid .warrior {
    width: 140px;
    left: 10px;
    right: auto;
    bottom: 0;
    height: 90px;
}
header .container-fluid .fixed-wrapper .form-section .image-section {
    height: 69px;
    width: 69px;
    border-radius: 50%;
}
header .container-fluid .fixed-wrapper .form-section .form-wrapper p{
	display:none;
}
header .container-fluid .fixed-wrapper .form-section .form-wrapper h4 {
    margin-top: 10px;
}
header .container-fluid .fixed-wrapper .form-section .form-wrapper form {
    text-align: center;
    margin-top: 10px;
}
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 400px){
header .container-fluid .fixed-wrapper .form-section {
    position: absolute;
	top: -20px;
    bottom: auto;
    left: 0;
    right: 0;
    height: 550px;
    margin: auto;
}
header .container-fluid .fixed-wrapper .form-section .form-wrapper form .activation-code input {
    margin-left: 30px;
    width: 40px;
    position: relative;
    left: -16px;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 2px solid #ccc;
}
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/