@media screen and (max-width: 1150px){
body{
	background-color:#fff;
	font-family: 'Roboto', sans-serif;
}
.final-ticket .event_date {
    width: 100%;
    align-items: center;
    text-align: left;
}
.final-ticket .dot_seprater{
	border-bottom: 1px dotted #ccc;
	position: relative;
}
.attendee_details p {
    font-size: 18px;
    color: #777;
}
.attendee_details span {
    font-size: 24px;
}
.final-ticket .ticketbtns {
    align-items: center;
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px;
    padding-top: 0;
}
.final-ticket .comapany-logo {
    width: 50%;
    text-align: left;
    float: left;
    padding: 10px;
}
.final-ticket .comapany-logo img {
    height: 80px;
    width: auto;
    padding: 7px;
}
.final-ticket .event-logo {
    text-align: right;
    display: inline-block;
    float: right;
    padding: 10px;
    width: 50%;
}
.final-ticket .event-logo img, .final-ticket .company-logo img {
    height: 75px;
    width: auto;
    padding: 7px;
}
.final-ticket .ticketbtns button:first-child {
    margin-right: 10px;
    font-size: 20px;
}
.final-ticket .ticketbtns .button {
    margin: auto;
	display: inline-block;
}

.final-ticket .terms-condition, .final-ticket .ticket-recipt {
	padding: 35px 0;
}
.final-ticket .terms-condition .terms-points,.final-ticket .ticket-recipt .recipt-points{
	text-align: center;
	padding: 15px;
}
.final-ticket .recipt-points p {
    color: #333;
    font-weight: 500;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    float: right;
}
.final-ticket .ticket-recipt .recipt-points img {
    float: left;
    height: 80px;
}
.final-ticket .terms-condition .list {
    padding: 0px 0px 10px 10px;
}
.final-ticket .terms-condition .list ul{
	margin: 0;
}
.final-ticket .recipt {
    text-align: center;
    padding: 20px;
    width: 100%;
}
.final-ticket .recipt h2 {
    font-weight: 800;
    font-size: 30px;
}
.final-ticket .recipt h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 5px;
    color: #333;
}
.ticket_footer {
    height: 45px;
    overflow: hidden;
}
.ticket_header {
    position: relative;
    text-align: center;
}
}
@media screen and (max-width: 991px){
.container,.bottom-bar{
	max-width:100%;
}
.feed-holder .row .hide-medium{
	display: none;
}
.card-section, .whole-slider-wrapper .container{
    height: 85vh;
}
.yellow-button{
	display: none;
}
.options-bar{
	padding: 10px;
}
.options-bar span{
	display: block;
}
#search_include{
    top: 0px;
    box-shadow: 0px 2px 5px #ddd;
    z-index: 111;
    display: none;
}
#search_include .search-bar form .form-group{
	height: 60px;
	margin:0;
}
#search_include .search-bar form .form-group input{
	border-radius: 0px;
	padding: 5px 20px 5px 10px;
	height: 100%;
	border:none;
}
#search_include .search-bar form .form-group button{
	top: 15px;
    right: 15px;
    height: 30px;
}
.search-list{
	top:0px;
}
.message-holder .row .chat-area .chat-box .conversation-container {
    padding: 10px;
}
.message-holder .blank-chat{
	display: none;
}
.message-holder .message-fadein{
	position: fixed;
    right: 0;
    left: 0;
    top:0px;
    bottom: 0px;
    width: 100%;
	height: 100%;
    background-color: #fff;
	max-width: 768px;
	margin: auto;
	z-index: 990;
}
.message-holder .row .add-chat{
	bottom: 50px;
	right: 50%;
	transform: translateX(50%);
	position: fixed;
}
.message-holder .mobile-blank-chat{
    display: block;
}
.message-holder .row .user-lists .add-chat-buddy{
	display: none;
}
.message-holder .row .chat-grey-bar .user-profile .back-icon{
    height: 30px;
    width: 20px;
	margin-right: 10px;
    cursor: pointer;
	display: inline-block;
}
.message-holder .row .chat-area .chat-message .form-group .form-control {
    font-size: 15px;
}
.message-holder .row .chat-grey-bar {
    background-color: #c62828;
}
.message-holder .row .chat-grey-bar .user-profile .chatting-name{
	color:#fff;
}
header .container-fluid .fixed-wrapper .form-section .form-wrapper #mobile{
	width: 77%;
}
.feed-holder .row .feed-margin .new-feature-post {
    display: block;
    max-width: 100%;
}
.feed-holder .row .feed-margin .new-feature-post .row .col-xs-3 .notification,.open-file,.new-post{
	position: relative;
	left: 7px;
} 
.directory_list table tr td{
	width: 100%;
	display: block;
	border:none;
}
.directory_list table tr td:nth-child(1) {
    width: 20%;
    display: inline-block;
}
.directory_list table tr td:nth-child(2) {
	width: 80%;
	display: inline-block;
	padding: 10px;
}
.directory_list table tr td:nth-child(3) {
	width: 77%;
	display: inline-block;
	padding: 0;
	position: relative;
	display:none;
}
.directory_list table tr td:nth-child(4){
	display:none;
}
.directory_list table tr td:nth-child(5){
	display:none;
}
.directory_list table tr td:nth-child(6){
	display:none;
}
.directory_list table tr td:nth-child(7) {
    display: none;
}
.directory_list table thead {
	display: none;
}
.directory_list table tbody{
	width: 100%;
	display: block;
}
.directory_list table tr {
	width: 100%;
	display: block;
}
.directory_list table .fa-info-circle {
	display: block;
}
.directory_list table .fa-info-circle {
	float: right;
	display: block;
	font-size: 22px;
	margin-right: 10px;
	color: #c62828;
	cursor:pointer;
}
.message-holder{
	position:relative;
}
.message-holder .container {
	padding: 0;
}
.card-section .per-card {
	width: 100%;
	margin: 10px auto;
}
header .feedback-b .feed-icons .fa {
	margin-left: 15px;
}
.message-holder .download {
	width: 100%;
}
.feed-holder .container {
    padding: 0px 15px;
}
.profile-details {
    position: absolute;
    height: auto;
    background: #fff;
    width: 98%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 0px 3px 0px #555;
    padding: 10px;
    max-height: fit-content;
    height: fit-content;
}
.other-details table tr td a.disable_action{
	opacity: 0.4;
   	pointer-events: none;
   	cursor: not-allowed;
}
.profile-details span img {
	height: 20px;
	float: right;
}
.person_img {
	text-align: center;
	float: left;
	width: 100%;
}
.person_img img {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	border: 1px solid #ccc;
	background: #f9f9f9;
}
.profile-details-back {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(33, 33, 33, 0.87);
	height: 100%;
	width: 100%;
	z-index: 9;
	display:none;
}
.person_name {
	clear: both;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	color: #333;
	margin-top: 10px;
	float: left;
	width: 100%;
}
.other-details table tr td{
	font-weight: 500;
	font-size: 16px;
	padding: 10px;
	color:#333;
}
.other-details table tr td a {
	font-size: 24px;
	margin-right: 18px;
	height: 40px;
	width: 40px;
	border: 2px solid #c62828;
	display: inline-block;
	text-align: center;
	color: #c62828 !important;
	border-radius: 50%;
}
span.details_close {
	float: right;
	cursor: pointer;
}
.whole-slider-wrapper .container {
    height: calc(100vh - 80px);
    padding: 0;
}
.survay_info .card-section {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0;
    background: #fff;
}
.card-section .survey-section .instructions {
    clear: both;
    position: relative;
    padding: 0 20px;
}
.feed-holder .row .feed-wrapper .post .text-post p {
    width: 100%;
    overflow: hidden;
    word-break: break-word;
}
.more-loading{
	font-weight: 500;
	font-size: 18px;
	padding: 7px;
}
.more-loading .fa-spinner{
	font-size: 20px;
}
.final-ticket {
	width: 100%;
    box-shadow: none;
    border: none;
}
.final-ticket .event-logo img, .final-ticket .company-logo img {
    height: 80px;
    width: auto;
    padding: 7px;
}
.final-ticket .comapany-logo img {
    height: 80px;
    width: auto;
    padding: 7px;
}
.final-ticket .event-logo img, .final-ticket .company-logo img {
    height: 100px;
    width: auto;
    padding: 0;
}
.venue span {
    width: 90%;
    margin-top: -7px;
    clear: both;
}
.final-ticket .company_section {
    padding: 0 25px;
}
.final-ticket .event_detail span {
    font-size: 20px;
    font-weight: 400;
    margin-left: 0;
}
.final-ticket .custom {
    border-top: none;
}
.date_time .fa-calendar, .date_time .fa-clock-o, .venue .fa-map-marker {
    font-size: 22px;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
}
.final-ticket .event_detail {
    display: block;
	padding-bottom: 50px;
}
.date_time, .venue {
    width: 100%;
}
.name span {
    font-size: 30px;
}
.ticket_header p {
    line-height: 26px;
    font-weight: 400;
}
.final-ticket .logo_section {
    width: 100%;
}
.final-ticket .comapany-logo img {
    width: auto;
    height: 100px;
    padding: 0;
}
.final-ticket .bar-code {
    width: auto;
    height: auto;
    display: inline-block;
    margin: auto;
    padding: 0px;
    margin: 0;
    text-align: center;
    border: 1px dashed #eee;
}
.ticket_header {
    position: relative;
    text-align: center;
    height: 45px;
}
.final-ticket .ticket_header img {
    width: 100%;
    height: 100%;
}

.not-found {
    color: #ccc;
    padding: 20px;
}
.not-found td {
    width: 100% !important;
    font-size: 20px !important;
}
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 800px){
body{
	background-color:white !important;
	overflow-x: hidden;
}
header .fixed-fluid-container .fixed-wrapper .card-section .row {
	margin-left: 0;
	margin-right: 0;
}
header .fixed-fluid-container .fixed-wrapper .card-section .row .col-md-6{
	padding: 15px;
}
header .fixed-fluid-container .fixed-wrapper .card-section .survey-section .instructions{
	padding:20px 10px;
}
header .fixed-fluid-container .fixed-wrapper .card-section .survey-section .section-heading{
	box-shadow: none;
	background-color: #eee;
}
header .fixed-fluid-container .fixed-wrapper .survey-card-section{
	margin-top: 0px;
}
header .fixed-fluid-container .fixed-wrapper .card-section .survey-section .instructions{
	margin: 25px auto;
}
.feed-holder .row .feed-wrapper .post .image-post{
	width: 100%;
	height: auto;
	    min-height: 300px;
}
.feed-holder .row .feed-wrapper .post .video-post{
	width: 100%;
	height: 240px;
}
#insert-profile .profile-close{
	display: block;
}
header .container-fluid .fixed-wrapper .form-section .form-wrapper #mobile{
	width: 77%;
}
.login-holder .main-form{
	width: 100%;
}
.login-holder .main-form form{
	width: 93%;
	margin: auto;
}
.login-holder .main-form form .login-code input {
    margin-left: 20px;
    width: 40px;
    left: -14px;
    font-size: 30px;
}
.login-holder .main-form .user-gallery .row .pic{
	width: 50px;
	height: 50px;
	margin: 0px 5px;
}
.login-holder .zero{
	position: absolute;
	top: 25px;
	bottom: 100%;
	left: 20px;
	text-align: left;
}
.login-holder .zero .first {
    margin-right: 10px;
}
.login-holder .zero .third {
	margin-left: 10px;
}
.login-holder .zero span {
    font-size: 35px;
    margin-right: 0px; 
    font-weight: bold;
}
.login-holder .zero p {
	top: -5px;
    font-size: 11px;
}
.login-holder .zero p .happen{
	font-size: 11px;
}
.login-holder .quote-section {
    bottom: 40px;
    left: 20px;
    display: none;
}
.login-holder .quote-section p{
	margin-bottom: 5px;
	line-height: 15px;
	font-size: 15px;
	display: none;
}
.login-holder .main-form form .verify {
	padding: 2px 25px;
    font-size: 15px;
}
.login-holder .main-form .user-gallery {
    height: 70px;
    margin-top: 0px;
}
.quote-section-mobile{
    display: block;
}
.final-ticket:after{
	display: none;
}
.final-ticket:before{
	display: none;
}
.final-ticket .main-body{
	padding: 0px;
}
.final-ticket .barcode{
	padding: 10px;
}
.notification_container_mobile {
    top: 0;
    left: 0;
    transform: none;
    height: 90vh;
    border-radius: 0;
    z-index: 999;
    bottom: 0;
    margin: auto;
    width: 99%;
    right: 0;
}
/*------ session css  -----*/

	.session_container {
	    display: block;
	    height: 100%;
	    width: 100%;
	    padding: 15px;
	}
.session {
    min-height: 85px;
    padding: 20px 10px 40px;
    height: auto;
    display: table;
    padding-top: 8px;
    padding-right: 30px;
}
.session_logo {
    height: 40px;
    width: 40px;
    padding: 7px;
    font-size: 16px;
    margin-top: 4px;
    float: left;
}
.session_name h3 {
    margin-top: 5px;
    font-size: 17px;
}
.session_name p {
    margin-bottom: 0;
    color: #888;
    font-size: 10px;
    margin-top: 4px;
}
.edit {
    background: initial;
    padding: 0;
    right: 10px;
    top: 5px;
    font-size: 15px;
}
.join_session {
    top: auto;
    bottom: 10px;
    right: 10px;
    font-size: 15px;
    padding: 3px 12px;
    height: 26px;
    border-radius: 33px;
    line-height: 20px;
}
.modarate_btn {
    left: 10px;
    bottom: 6px;
    top: auto;
    display: inline-block;
    width: 120px;
    font-size: 13px;
}
.edit_popup_overlay {
    width: 100%;
    margin: auto;
    height: 475px;
    background: #fff;
}
.join_popup input[type='text'] {
    background: #f9f9f9;
}
.edit_popup input[type='text'] {
    background: #f9f9f9;
}
.back_button {
    position: absolute;
    left: 7px;
    top: 7px;
    font-size: 16px;
    padding: 0px;
    box-shadow: none;
    z-index: 9;
}
.back_button span {
    display: none;
}
.edit_popup {
	box-shadow: none;
}
.queston_list, #mine_question_list, .popular_list {
    padding: 0 0px;
    height: auto;
    margin-bottom: 80px;
}
.ask_quetion {
    position: initial;
    z-index: 999;
}
.user_name span {
    font-size: 11px;
}
.total_question {
    font-size: 11px;
    padding-left: 0;
}
span.questions_likes_counts {
    font-size: 17px !important;
}
.questions_likes {
    font-size: 20px;
    top: 12px;
}
.join_popup {
	width: 100%;
	margin-top: 0;
	box-shadow: none;
}
.session_name {
	margin-top: 0px;
	float: left;
	width: 80%;
}
.recent_button {
    padding: 0;
    font-size: 15px;
    border: none;
    margin: 0;
    line-height: 0;
    padding: 8px;
    background: #fff;
   	width: 40px;
   	border-radius: 50%;
   	height: 40px;
 }
.mine_button {
    margin-left: 0px;
    font-size: 15px;
    line-height: 0;
    padding: 8px;
    background: #fff;
    margin-right: 0;
    width: 40px;
   	border-radius: 50%;
   	height: 40px;

}
.recent_button img {	
	width: 29px;	
}	
.recent_button span,.mine_button span {	
	display: none;		
}	
.popular_button {
    font-size: 15px;
    line-height: 0;
    padding: 8px;
    background: #fff;
   	border-radius: 50%;
    width: 40px;
    height: 40px;
}
.activ, .bt:hover {
    background-color: #121b40  !important;
    color: #fff;
}
#myDIV {
    display: inline;
    width: 100%;
    margin-bottom: 10px;
}
.popular_button img {	
	width: 29px;	
}	
.popular_button span {	
	display: none;		
}	
.user_pic {	
	height: 32px;	
	width: 32px;	
}	
.mode_button {	
	position: absolute;	
	right: 4px;	
	bottom: 1px;	
	top: auto;	
	color: #999;	
}	
.ask_popup {
    width: 100%;
    height: fit-content;
    padding: 10px;
    background: #fff;
}
.ask_popup textarea {
    height: auto;
}
.ask_popup .cross {
    margin-top: 0;
}
.askbutton {
    position: fixed;
    bottom: 80px;
    height: 50px;
    width: 50px;
}
.live_overlay,.join_overlay {
    background: #fff;
}
.answer_sub {
    width: 120px;
    border: none;
    background: #111A3F;
    color: #fff;
    padding: 6px;
    font-size: 18px;
    position: relative;
    bottom: -30px;
    margin: auto;
    display: block;
    border-radius: 30px;
    margin-top: 15px;
}
.Ans_container label {
    color: #111a3f;
    margin-bottom: 0;
    margin-left: 10px;
    position: absolute;
    bottom: auto;
   	left: 10px;
    display: block;
}
.answer_box {
    width: 100%;
    font-size: 18px;
    height: 30%;
    resize: none;
    padding: 6px;
    box-shadow: none;
    border: 3px solid #ccc;
    color: #777;
}
.Ans_container {
    display: none;
	position: fixed;
	background: #fff;
	width: 100%;
	height: 100vh;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	border-radius: 3px;
	padding: 20px;
}
.cro {
    margin-right: -15px;
    margin-top: -15px;
}
		.question_container{
			padding: 0;
		}
		.column3 {
    
    		display: none;
			}
			.column1 {
   				 width: 100%;
			}
			.column1 .user_name {
			    padding-right: 10px;
			    background-color: #f9f9f9;
			}
			.todownload {
			    margin-left: 0;
			    text-align: center;
			}
			#presentation_list .answer_text{
				background:#fff;
			}
.tab2 {
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.live_scrolled-nav{
     top: 36px;
}
.ques {
    background: #fff;
    color: #111a3f;
    padding: 0;
    padding-bottom: 10px;
}
.whatis {
    margin-bottom: 0px;
    margin-left: 4px;
    font-size: 20px;
    margin-top: 70px;
}
.cro a {
    color: #111a3f;
    font-size: 23px;
}
.question_container .modarate_btn {
	right: 40px;
	left: auto;
	top: 16px;
	bottom: auto;
}
.live_container {
    height: auto;
    min-height: 87vh;
}
.exit {
    left: 12px;
    font-size: 17px;
    display: block;
    top: 28px;
}
.top_bar h2 {
    font-weight: 400;
    padding: 8px 30px;
    font-size: 16px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    padding-right: 112px;
    text-align: left;
}
.live_count {
    position: absolute;
    right: 35px;
    top: 5px;
}
.tab button {
    margin: 0 10px;
    padding: 5px 0px;
    font-size: 15px;
}
.present_button span {
    display: none;
}
.present_button {
    color: #ff0000;
    background-color: transparent;
    font-size: 18px;
    line-height: 30px;
}
.tab {
    padding: 10px 0 15px;
}
.user_name h4 {
    margin-top: 0px;
    font-size: 14px;
}
.user_name {
    padding: 10px 5px;
    padding-right: 80px;
}
.column1 .questions_likes {
    background-color: transparent;
    font-size: 24px;
    right: 0;
}
.ask_popup p {
    text-align: center;
}
.user_name p.question_name {
    font-size: 16px;
}
.not_buzz p {
    font-size: 24px;
}
.live_video iframe {
    max-width: 100%;
    height: auto;
    min-height: 100%;
    /*object-fit: cover;*/
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.live_video {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
}

.live_video img {
    width: 100%;
}
.video_streaming {
    padding: 0px 22px;
    position: relative;
    display: block;
    width: 100%;
    height: 210px;
    margin: 0 auto;
}
.queston_list .not_buzz, #mine_question_list .not_buzz, .popular_list .not_buzz {
    height: 90%;
    position: initial;
    width: 100%;
    margin-top: 40px;
}
.empty {
    width: auto;
    margin: auto;
    display: block;
    height: 180px;
}
#presentation_list .question_container {
    padding: 0;
    margin: 0;
}
..present_button span{
    display: none;
}

/* live poll */
.question_response_data {
    width: 74%;
}
.word_cloud_icon {
    font-size: 26px;
    margin-top: 0px;
}
.option_icon {
    font-size: 25px;
    margin-top: 0;
}
.star_icon {
    font-size: 25px;
    margin-top: 0;
}
.open_text_icon {
    font-size: 25px;
    margin-top: 0;
}
.poll_type_question {
    padding-left: 43px;
    font-size: 17px;
    margin-bottom: 11px;
    line-height: 19px;
}

.poll_type_response {
    padding-left: 43px;
    line-height: 0px;
    font-size: 14px;
    margin-bottom: 8px;
}
.poll_edit_screen {
    width: 100%;
    height: 100%;
    padding: 30px 5px;
}
.qsize {
    font-size: 21px;
    margin-top: 0px;
    float: left;
}
.edit_question_holder {
    width: 91%;
    height: 51px;
    font-size: 18px;
    padding-left: 6px;
    display: block;
    margin-top: 0px;
    resize: none;
}
.live_video p {
    font-size: 15px;
    color: #555;
}
.edit_question_holder_con {
    margin-bottom: 40px;
}
.sub_edit {
    width: 309px;
    height: 415px;
}
.sub_edit p{
    margin-bottom: 5px;
    font-size: 14px;
}
.edit_option_list span{
    font-size: 18px;
}

.moderator_option p{
    margin-bottom: 10px;
    margin-top: 10px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}
.user_live_poll {
    padding: 0;
    height: fit-content;
    min-height: fit-content;
}
.btn_grp {
    padding-top: 0px;
}
.result_option {
    margin: 0 20px;
}
.star_container {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 80px;
}
.progress_vertical {
    width: 27px;
}
.progress-bar_vertical {
    font-size: 10px;
}
.result_ratings {
    height: 40vh;
    margin: 0 15px;
    margin-bottom: 80px;
}
.poll_questions .not_buzz {
    display: inline-block;
    margin-top: 60px;
}
.multiple_choice_option {
    height: 88vh;
}
.multiple_choice_option p i {
    font-size: 16px;
}
.multiple_choice_option .options_text {
    width: 80%;
    height: 40px;
    font-size: 16px;
}
.user_live_poll {
    padding: 0;
    height: fit-content;
    min-height: fit-content;
}
.btn_grp {
    padding-top: 0px;
}
.result_option {
    margin: 0 20px;
}
.star_container {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 80px;
}
.progress_vertical {
    width: 20px;
}
.progress-bar_vertical {
    font-size: 10px;
}
.result_ratings {
    height: 40vh;
    margin: 0 10px;
}
.poll_total_response_data {
    width: 147px;
}
.event_back {
    margin-top: 14px;
    margin-left: 4px;
    left: 0px;
    padding: 2px 10px 2px 10px;
    border-radius: 11px;
    font-size: 12px;
    box-shadow: 2px 1px 0px 1px #a5a5a5;
}
.stars_list {
    width: 100%;
}
.poll_donutchart {
    width: 310px;
    height: 310px;
}
.country_analytics {
    width: 100%;
    margin-top: 10px;
}
.browser_type {
    width: 100%;
    margin-top: 10px;
}
.enagement_age {
    width: 100%;
    margin-top: 10px;
}
.device_type {
    width: 100%;
    margin-top: 10px;
}
.country_list { 
    width: 100%;
    margin-top: 10px;
}
.session_dropdown {
    top: 40px;
}
.participants-group-list-no {
    width: 100%;
    height: 100%;
}
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 500px){
	.bottom-bar .item a .fa-circle {		
		position: absolute;		
	    /*top: -42px;*/		
	    right:-10px;		
	    bottom: 13px;		
	    font-size: 8px;		
	    color: blue;		
	}
	header .container-fluid .fixed-wrapper{
		background-color:#ffffff;
		position: absolute;
		top:0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	header .container-fluid .fixed-wrapper .logo-wrapper{
		padding-top: 40px;
	}
header .container-fluid .fixed-wrapper .form-section .form-wrapper {
    margin: 0px auto 0px;
    padding: 15px;
    border-radius: 3px;
    box-shadow: none;
}
    header .container-fluid .fixed-wrapper .login-logo{
		margin-top:40px;
	}
	header .container-fluid .fixed-wrapper .login-logo .heading{
		font-size: 30px;
	}
	header .fixed-fluid-container .fixed-wrapper .card-section .survey-section .instructions .hide-identity button{
		padding: 4px;
		width: 120px;
		position: absolute;
		right: 10px;
	}
	header .container-fluid .activation-wrapper .profile-section {
		margin-top:0px;
	} 
	header .container-fluid .fixed-wrapper .form-section .profile-wrapper{
		padding: 25px;
	}
	.whole-slider-wrapper .products{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.bottom-bar{
		position: fixed;
		bottom: 0;
		padding: 11px 0px 0px 0px;
		background-color: #fff;
	}
	.bottom-bar .item span{
		margin-bottom:0px;
		font-size: 12px;
		display: block !important;
		font-weight: bold;
	}
	.whole-slider-wrapper .products .wrap .item-wrapper p{
		font-size: 20px;
		padding:5px;
	}
	.whole-slider-wrapper .products .wrap .item-wrapper .lunch{
		position: absolute;
		top:30px;
		left:15px;
	}
	.whole-slider-wrapper .products .wrap .item-wrapper .bottom-items {
	    position: absolute;
	    bottom: 20px;
	    left: 15px;
	}
	.whole-slider-wrapper .products .wrap .slide-navigation {
	    right: -500px;
	    width: 100%;
	    margin: 0;
	}	
	.whole-slider-wrapper .products .wrap .register-navigation {
		width: 100%;
		margin: 0;
		}
	.whole-slider-wrapper .products .wrap .register-navigation .registered:before{
		left: 50px;
	}
	.whole-slider-wrapper .products .wrap .register-navigation .available:before{
		right: 50px;
	}
	.whole-slider-wrapper .products .wrap .item-wrapper .bottom-items p{
	    font-size: 20px;
	}
	.card-section .survey-results{
		width: 100%;
	}
	header .fixed-fluid-container .fixed-wrapper .card-section .survey-results .survey-list:before{
		top:-18px;
		left:40px;
	}
	header .fixed-fluid-container .fixed-wrapper .card-section .survey-results .pending:before{
		top:-18px;
		left:142px;
	}
	header .fixed-fluid-container .fixed-wrapper .card-section .survey-results .completed:before{
		top:-18px;
		left:243px;
	}
	header .fixed-fluid-container .fixed-wrapper .card-section .survey-results .pie-chart {
	    width: 300px;
	    height: 300px;
	    position: absolute;
	    top:-54px;
	    left: 13px;
	    margin: 20px auto;
	    border-radius: 50%;
	    cursor: pointer;
	}
	.feed-holder{
		padding: 0px;
	}
	.feed-holder .row .feed-margin {
	    margin-bottom: 45px;
	}
	.post-screen {
	    max-width: 550px;
	    width: 100%;
	    height: 100%;
	    margin: 0 auto;
	    position: fixed;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%,-50%);
	    background-color: #fff;
	    z-index: 111;
	}
	.comment-screen {
	    height: 100%;
	    left: 50%;
	    top: 50%;
	}
	.no-data h1 {
	    font-size: 24px;
	}
	.caption-screen{
	    width: 100%;
	    height: 100%;
	}
	.message-holder .row .chat-area .chat-message .form-group input {
	    border-radius: 30px;
	    font-size: 12px;
	    width: 88%;
	    float: left;
	    height: 40px;
	}
	.message-holder .row .chat-area .chat-message .form-group .message-button {
	    width: 12%;
	    float: right;
	    outline: none;
	    position: relative;
	    left: 4px;
	}
	.message-holder .row .chat-area .chat-box .conversation-container .message {
	    max-width: 80% !important;
	}
	.ticket-layout .ticket-inner .ticket-body .first-row .ticket-content .event-time {
	    font-weight: bold;
	    color: #000;
	    font-size: 12px;
	    margin-top: 0px;
	}
	.ticket-layout .ticket-inner .ticket-body .second-row .local-add p:nth-child(2){
		font-size: 12px;
		color:#000;
		font-weight: bold;
		margin: 0;
		position: relative;
		top:17px;
	}
	.payment-wrapper .wrapper .payment-popup .content{
		font-size: 30px;
	}
	.payment-wrapper .wrapper .payment-popup .sub-cont {
	    font-size: 13px;
	    color: #000;
	}
	.payment-wrapper .wrapper .payment-popup .success-btn {
	    width: 160px;
	    font-size: 16px;
	}
	.payment-wrapper .wrapper .no-success .sub-cont {
	    font-size: 13px;
	    color: #000;
	}
	.payment-wrapper .wrapper .no-success .fail-btn {
	    width: 160px;
	    font-size: 16px;
	}
.whole-slider-wrapper .products .wrap{
	height: calc(100vh - 123px);
	background-color: #ddd;
	position: relative;
	min-height: auto;
}
.user-approvel-list {
    width: 100%;
    font-size: 12px;
    height: 85vh;
    overflow: hidden;
}
.user-approvel-list table{
	height: 100vh;
}
.stream_edit_form {
    width: 100%;
    box-shadow: none;
    position: fixed;
}
a.stream_edit {
    color: #000;
    font-size: 18px;
}
#stream_edit_btn {
    top: 0px;
}

.pricing-table{
        background-color: #eee;
        position: absolute;
        overflow-y: scroll;
        top:0;
        right:-500px;
        bottom: 0;
        width: 99%;
        margin: 20px 0px 10px 0px;
        padding: 0px 7px;
        border-radius: 2px;
        box-shadow: 0px 2px 7px #000;
    }
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 400px){
	header .container-fluid .fixed-wrapper .form-section .form-wrapper p{
		font-size: 12px;
	}
	header .container-fluid .fixed-wrapper .form-section .form-wrapper h4{
		font-family: 'Roboto', sans-serif;
		font-size: 28px;
		font-weight: bold;
	}
	header .container-fluid .fixed-wrapper .form-section .form-wrapper form .verify{
	    width: 140px;
	    padding: 6px;
    	font-size: 15px;
	}
    header .container-fluid .fixed-wrapper .form-section .form-wrapper form .resendotp{
        width: 140px;
        padding: 6px;
        font-size: 15px;
    }
    header .container-fluid .fixed-wrapper .form-section .form-wrapper form .verifyot{
        width: 140px;
        padding: 6px;
        font-size: 15px;
    }
    header .container-fluid .fixed-wrapper .form-section .form-wrapper form + span {
        font-size: 14px;
    }
	header .container-fluid .fixed-wrapper .form-section .form-wrapper span a{
		font-size: 11px;
	}
	header .container-fluid .fixed-wrapper .form-section .form-wrapper .call-us{
		display: inline;
	}
	header .fixed-fluid-container .fixed-wrapper .card-section .per-card .card-heading {
	    font-size: 16px;
	    line-height: 20px;
	}
	header .fixed-fluid-container .fixed-wrapper .card-section .per-card .card-content .one{
		position: relative;
		right: 40px;
	}
	.whole-slider-wrapper .container .slides-wrapper .details{
		object-fit: cover;
		width: 100%;
		height: 40vh;
	}
	header .fixed-fluid-container .fixed-wrapper .card-section .per-card .card-content .one{
		position: relative;
		right: 40px;
	}
	.profile-bar {
	    height: 70%;
	}
	.whole-slider-wrapper .container .slider-bar .feedback-b .feed-icons .booking-list{
		width:300px;
		right: -6px;
	    top: 58px;
	    box-shadow: 0px 0px 5px #000;
	}
	.whole-slider-wrapper .container .slider-bar .feedback-b .feed-icons .booking-list:after{
		position: relative;
	}
	.slider-bar .feedback-b .feed-icons .booking-list .booking-items .main-list ul li .ticket-row span p:nth-child(1) {
	    font-weight: bold;
	    font-size: 10px;
	    margin-bottom: 0px;
	}
	.slider-bar .feedback-b .feed-icons .booking-list .booking-items .main-list ul li .ticket-row span p:nth-child(2) {
	    font-weight: normal;
	    font-size: 9px;
	}
	header .container-fluid .fixed-wrapper .form-section .form-wrapper #mobile{
	    width:300px;
	   	width: 73%;
	}
	.feed-holder .row .feed-margin .new-feature-post span {
		font-size: 10px;
	}
	.whole-slider-wrapper .products .wrap .buy_ticket {
		width: 100% !important;
		margin-right: 0 !important;
		/* top: -45px !important; */
		height: 100vh;
	}
	.whole-slider-wrapper .products .wrap .buy_ticket .ticket .price-section .total-tickets,
	.whole-slider-wrapper .products .wrap .buy_ticket .ticket .category .main-body .title, .price b {
		font-size: 14px;
	}
	.whole-slider-wrapper .products .wrap .buy_ticket .ticket .name {
		font-size: 14px;
		font-weight: 500;
	}
     #myTableselect {
    height: 251px;
}
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 330px){
	header .container-fluid .fixed-wrapper .form-section .form-wrapper p{
		font-size: 10px;
	}
	header .container-fluid .fixed-wrapper .login-logo .heading{
		font-size: 25px;
	}
	.profile .photo .element{
		width: 30px;
		position: relative;
		left: 190px !important;
		top: 140px !important;
		width: 30px;
	}
	.whole-slider-wrapper .products .wrap .item-wrapper .buttons button {
	    padding: 10px;
	    font-size: 14px;
	}
	header .fixed-fluid-container .fixed-wrapper .form-section .form-wrapper form .verify-page-wrapper .verify-otp .verify-inputs{
		margin:0 8px;
	}
    header .container-fluid .fixed-wrapper .form-section .form-wrapper form .verify{
        width: 140px;
        padding: 6px;
        font-size: 15px;
    }
    header .container-fluid .fixed-wrapper .form-section .form-wrapper form .resendotp{
        width: 140px;
        padding: 6px;
        font-size: 15px;
    }
    header .container-fluid .fixed-wrapper .form-section .form-wrapper form .verifyot{
        width: 140px;
        padding: 6px;
        font-size: 15px;
    }
    header .container-fluid .fixed-wrapper .form-section .form-wrapper form .resendotp{
        width: 150px;
        padding: 4px;
        font-size: 15px;
    }
	.notification-screen .notification-wrapper form button{
	    margin: 0px;
	}
	.notification-screen .notification-wrapper form .cancel{
		float: left;
	}
	.notification-screen .notification-wrapper form .send{
		float: right;
	}
	#insert-profile .profile .photo .element{
		width: 30px;
		position: relative;
		left: 145px !important;
    	top: 135px !important;
	}
	.whole-slider-wrapper .products .wrap .slide-navigation .ticket .category .increase-number .number input {
	    width: 40px;
	}
	.whole-slider-wrapper .products .wrap .item-wrapper .buttons button.pay_now{
		right: -10px;
	}

}
@media screen and (max-width: 360px){
.whole-slider-wrapper .products .wrap .item-wrapper .buttons {
    position: absolute;
    right: 0;
    bottom: 35%;
    text-align: right;
    width: 195px;
}
.whole-slider-wrapper .products .wrap .item-wrapper .buttons button {
    display: block;
    margin-bottom: 5px;
    background-color: green;
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 12px;
    font-size: 20px;
    outline: none;
    float: right;
}
header .container-fluid .fixed-wrapper .form-section .form-wrapper form .verify{
        width: 140px;
        padding: 6px;
        font-size: 15px;
}
header .container-fluid .fixed-wrapper .form-section .form-wrapper form .resendotp{
    width: 140px;
    padding: 6px;
    font-size: 15px;
}
header .container-fluid .fixed-wrapper .form-section .form-wrapper form .verifyot{
    width: 140px;
    padding: 6px;
    font-size: 15px;
}
.star_container {
    margin-top: 40px;
    margin-bottom: 40px;
}
.multiple_choice_question {
    font-size: 20px;
    padding: 10px;
}
.profile-wrapper {
    overflow-y: auto;
    height: 100vh;
}
header .container-fluid .fixed-wrapper .logo-wrapper img {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    max-width: 50%;
    max-height: 50%;
}
header .container-fluid .fixed-wrapper .form-section {
    margin: 0 0;
}
#myTableselect {
    height: 175px;
}
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/