@media print{
* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}
body{
	background-color:#fff;
	font-family: 'Roboto', sans-serif;
}
.final-ticket {
    max-width: 1400px;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: none;
    position: relative;
    width: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 8px 8px 0px 0px;
    border: 2px solid #eee;
}
.logo_section {
    display: none;
}
.final-ticket .ticket_header img {
    width: 100%;
    height: 55px;
}
.final-ticket .event-logo {
    text-align: center;
    display: inline-block;
    float: right;
    padding: 10px;
    width: 40%;
}
.final-ticket .company-logo{
	text-align: center;
    display: inline-block;
    width: 100%;
}
.final-ticket .event-logo img, .final-ticket .company-logo img {
    height: 100px;
    width: auto;
    padding: 7px;
}
..final-ticket .logo_section {
    display: table;
    width: 100%;
    align-items: center;
    padding: 30px 10px;
}
.final-ticket .event_detail {
    width: 100%;
    text-align: left;
    display: flex;
	padding-top: 20px;
    padding-bottom: 40px;
}
.date_time .fa-calendar, .date_time .fa-clock-o, .venue .fa-map-marker{
    font-size: 25px;
    color: #aaa;
    width: 30px;
    margin-bottom: 30px;
}
.date_time span{
    color: #154a80;
    font-weight: 400;
    font-size: 20px;
}
.venue span {
    color: #154a80;
    font-weight: 400;
    font-size: 20px;
    margin-left: 10px;
}
.venue {
    display: flex;
}
.final-ticket .details {
    padding: 0 30px;
    display: table;
    width: 100%;
    padding-top: 15px;
}
.final-ticket .barcode-section {
    width: 100%;
    text-align: center;
    display: block;
    padding: 100px 0;
    clear: both;
    padding-top: 0;
}
.event_name {
    margin-bottom: 20px;
	margin-top: 50px;
}
.final-ticket .bar-code {
    width: auto;
    display: inline-block;
    margin: auto;
    padding: 5px;
    border: 1px dotted #ccc;
    max-width: 80%;
}
.final-ticket .company_section {
    display: block;
    width: 100%;
    align-items: center;
    padding: 0 30px;
    text-align: center;
	background: url(../assets/jeev4.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
}
.final-ticket .attendee_details {
    width: 100%;
    display: block;
    margin: auto;
    text-align: left;
	padding-top: 40px;
}
.final-ticket .qr-code svg {
    height: 180px;
}
.final-ticket .bar-code img {
    width: 100%;
    height: 130px;
}
.final-ticket .bar-code svg {
    width: auto;
    height: auto;
}
.final-ticket span.qr-code {
    width: 44%;
    text-align: center;
    display: inline-block;
    padding: 10px 60px;
}
.event_name span {
    color: #154a80;
    font-size: 30px;
    font-weight: 600;
}
.event_detail .event_cat span {
    font-size: 20px;
    color: #666;
    margin-top: 5px;
    display: block;
}
.person_avetar {
    text-align: center;
    display: inline-block;
}
.person_avetar img {
    height: 70px;
}
.final-ticket .event_date {
    width: 100%;
    align-items: center;
    text-align: left;
}
.final-ticket .dot_seprater {
    border-bottom: 1px dashed #ccc;
    position: relative;
    /* border-style: dashed; */
    /* border-color: #ccc; */
}
.final-ticket .dot_seprater:after {
    content: '';
    position: absolute;
    bottom: -7px;
    height: 15px;
    width: 20px;
	box-shadow: 0px 0px 5px #bbb inset;
    z-index: 99;
    border-top-left-radius: 30PX;
    right: -5px;
    background: #ccc;
    border-top-right-radius: 30px;
    transform: rotate(-90deg);
}
.final-ticket .dot_seprater:before {
   content: '';
    position: absolute;
    bottom: -7px;
    height: 15px;
    width: 20px;
    box-shadow: 0px 0px 5px #bbb inset;
    z-index: 99;
    border-top-left-radius: 30PX;
    left: -5px;
    background: #ccc;
    border-top-right-radius: 30px;
    transform: rotate(90deg);
}

.attendee_details span {
    color: #154a80;
    font-weight: 400;
    display: inline-block;
    font-size: 25px;
    margin-top: auto;
    text-align: left;
}
.final-ticket .ticketbtns {
    align-items: center;
    display: block;
    width: 100%;
    text-align: center;
    padding: 50px;
    padding-top: 0;
	display:none;
}

.final-ticket .name, .final-ticket .custom {
    margin-top: 0px;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    color: #00ab8b;
    margin-bottom: 20px;
}
.attendee_details p {
    font-size: 20px;
    color: #aaa;
    font-weight: 400;
    /* width: 50px; */
    text-align: left;
    margin-top: 2px;
    display: block;
    margin-bottom: 0;
}
.final-ticket .comapany-logo {
    width: 40%;
    text-align: center;
    float: left;
    padding: 10px;
}
.final-ticket .comapany-logo img {
    height: 100px;
    width: auto;
    padding: 7px;
}
.final-ticket .ticketbtns button {
    font-size: 20px;
    font-weight: 400;
    background-color: #154a80;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline-block;
    width: 94px;
    margin: auto;
}
.final-ticket .ticketbtns button:first-child{
	margin-right: 10px;
}
.final-ticket .ticketbtns a {
    font-size: 20px;
    font-weight: 500;
    background-color: #ccc;
    padding: 5px 9px;
    border-radius: 4PX;
    color: #777;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 99px;
    margin: auto;
}
.final-ticket .ticketbtns .button {
    margin: auto;
	display: inline-block;
	display:none;
}
.date_time, .venue{
    width: 50%;
}
.final-ticket .terms-condition, .final-ticket .ticket-recipt {
    max-width: 1400px;
    margin: 0px auto 0px;
    background-color: #fff;
    position: relative;
    width: 100%;
	padding: 50px 0 40px;
}
.final-ticket .terms-condition .terms-points, .final-ticket .ticket-recipt .recipt-points {
    text-align: center;
    padding: 0 15px 10px;
}
.final-ticket .recipt-points p {
    color: #333;
    font-weight: 500;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    float: right;
}
.final-ticket .terms-points p {
    color: #154a80;
    font-weight: 600;
    margin: 0;
    font-size: 26px;
    text-transform: uppercase;
}
.final-ticket .ticket-recipt .recipt-points img {
    float: left;
    height: 80px;
}
.final-ticket .terms-condition .list {
    padding: 0px 10px 20px 20px;
}
.final-ticket .terms-condition .list ul{
	margin: 0;
}
.final-ticket .terms-condition .list ul li {
    line-height: 25px;
    font-size: 18px;
    color: #777;
    font-weight: 400;
    padding: 5px;
    list-style-type: disc;
    padding-left: 0;
    margin-left: 20px;
}
.final-ticket .terms-condition .list ul p {
    line-height: 25px;
    font-size: 18px;
    color: #777;
    font-weight: 400;
    padding: 5px;
    list-style-type: disc;
    padding-left: 0;
    margin-left: 20px;
}
.final-ticket .recipt {
    text-align: center;
    padding: 20px;
    width: 100%;
}
.final-ticket .recipt h2 {
    font-weight: 800;
    font-size: 30px;
}
.final-ticket .recipt h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 5px;
    color: #333;
}
.ticket_header {
    position: relative;
    text-align: center;
}
.ticket_header p {
    position: absolute;
    top: 0;
    bottom: 0;
    color: #fff;
    font-size: 22px;
    width: 100%;
    padding: 11px;
    font-weight: 600;
    margin-bottom: 0;
}
.ticket_footer {
    height: 45px;
    overflow: hidden;
}
}