
    .preview {
        margin: 10px;
        display: none;
      }
  
      .preview--rounded {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        position: relative;
        margin-top: -318px;
        border: 2px solid #333;
      }
  
      /* IMMUTABLE */
      .hide {
        visibility: hidden !important;
      }
  
      * {
        box-sizing: border-box;
      }
  
      .photo__zoom {
        position: relative;
      }
  
      .photo__zoom input[type=range] {
        -webkit-appearance: none;
        width: 105px;
        background: transparent;
        height: 18px;
      }
  
      .photo__zoom input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
      }
  
      .photo__zoom input[type=range]:focus {
        outline: none;
      }
  
      .photo__zoom input[type=range]::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
  
      .photo__zoom input[type=range]:focus::-ms-thumb {
        border-color: #268eff;
        box-shadow: 0 0 1px 0px #268eff;
      }
  
      .photo__zoom input[type=range]:focus::-moz-range-thumb {
        border-color: #268eff;
        box-shadow: 0 0 1px 0px #268eff;
      }
  
      .photo__zoom input[type=range]:focus::-webkit-slider-thumb {
        border-color: #268eff;
        box-shadow: 0 0 1px 0px #268eff;
      }
  
      .photo__zoom input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        margin-top: -7px;
        box-sizing: border-box;
        cursor: pointer;
        width: 18px;
        height: 18px;
        display: block;
        border-radius: 50%;
        background: #C62828;
        border: 1px solid #ddd;
        outline: none;
      }
  
      .photo__zoom input[type=range]::-webkit-slider-thumb:hover {
        border-color: #c1c1c1;
      }
  
      .photo__zoom input[type=range]::-ms-thumb {
        margin-top: 0;
        box-sizing: border-box;
        cursor: pointer;
        width: 18px;
        height: 18px;
        display: block;
        border-radius: 50%;
        background: #eee;
        border: 1px solid #ddd;
      }
  
      .photo__zoom input[type=range]::-ms-thumb:hover {
        border-color: #c1c1c1;
      }
  
      .photo__zoom input[type=range]::-moz-range-thumb {
        margin-top: 0;
        box-sizing: border-box;
        cursor: pointer;
        width: 18px;
        height: 18px;
        display: block;
        border-radius: 50%;
        background: #eee;
        border: 1px solid #ddd;
      }
  
      .photo__zoom input[type=range]::-moz-range-thumb:hover {
        border-color: #c1c1c1;
      }
  
      .photo__zoom input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        background: #ccc;
        border-radius: 30px;
        border: 0;
      }
  
      .photo__zoom input[type=range]::-moz-range-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        background: #eee;
        border: 0;
      }
  
      .photo__zoom input[type=range]::-ms-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        background: #eee;
        border: 0;
      }
  
      .photo__frame--circle {
        background-color: #707070;
        border-radius: 50%;
      }
  
      .photo__helper {
        position: relative;
        background-repeat: no-repeat;
        background-color: transparent;
        padding: 15px 0;
      }
  
      .photo__helper .canvas--helper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
  
      .photo__frame img,
      .photo__helper {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
  
      .profile {
        position: relative;
        font-family: 'HelveticaNeueLTPro-Roman', sans-serif;
        font-size: 85%;
      }
  
      .photo {
        text-align: center;
        margin-bottom: 15px;
      }
  
      .profile .photo .element {
        width: 30px;
        position: relative;
        left: 224px;
        top: 148px;
      }
  
      .profile .photo .element .fa-camera {
        font-size: 26px;
        color: #707070;
        position: absolute;
        z-index: 999;
        cursor: pointer;
      }
  
      .photo input[type=file] {
        display: none;
      }
  
      .photo__options {
        position: relative;
      }
  
      .photo__options .remove {
        padding: 0;
        padding: 0;
        display: inline-block;
        text-decoration: none;
        color: #ddd;
        font-size: 18px;
        width: 20%;
        text-align: center;
        vertical-align: middle;
      }
  
      .photo__options .remove:hover {
        color: #000;
      }
  
      .photo__zoom {
        vertical-align: middle;
        display: inline-block;
      }
  
      .photo__frame {
        cursor: -webkit-grab;
        overflow: hidden;
        position: relative;
        display: inline-block;
        width: 160px;
        height: 160px;
        position: relative;
      }
  
      .photo__frame img,
      .photo__helper img {
        position: relative;
      }
  
      .photo__frame .message {
        position: absolute;
        left: 5px;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        color: #268eff;
        z-index: 3;
      }
  
      .photo__frame .is-dragover {
        display: none;
      }
  
      .message p {
        font-size: 0.9em;
      }
  
      .photo__options {
        list-style: none;
      }
  
      .photo__options .crop {
        color: #fff;
        background-color: #C62828;
        padding: 1px 5px;
        font-size: 10px;
        text-transform: uppercase;
        margin-left: 5px;
        position: relative;
        top: -3px;
        border: none;
        border-radius: 2px;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
      }
  
      .photo__options li {
        display: inline-block;
        text-align: center;
        width: 50%;
      }
  
      .photo--empty .photo__frame {
        cursor: pointer;
      }
  
      .profile.is-dragover .photo__frame img,
      .photo--empty img,
      .photo--error img,
      .photo--error--file-type img,
      .photo--error--image-size img,
      .photo--loading img {
        width: 100%;
        position: relative;
        bottom: -5px;
      }
  
      .message--desktop,
      .message--mobile {
        display: none;
      }
  
      .is-mobile .message--mobile {
        display: inline-block;
      }
  
      .is-mobile .message--desktop {
        display: none;
      }
  
      .is-desktop .message--desktop {
        display: inline-block;
      }
  
      .is-desktop .message--mobile {
        display: none;
      }
  
      .message.is-empty,
      .message.is-loading,
      .message.is-wrong-file-type,
      .message.is-wrong-image-size,
      .message.is-something-wrong,
      .message.is-dragover {
        display: none;
      }
  
      .photo--empty .photo__options {
        visibility: hidden;
      }
  
      .photo--empty .message.is-empty {
        display: inline-block;
      }
  
      .photo--empty .photo__frame:hover .message {
        color: #fff;
      }
  
      .photo--loading .message.is-loading {
        display: inline-block;
      }
  
      .photo--loading .message.is-empty,
      .photo--loading .message.is-wrong-file-type,
      .photo--loading .message.is-dragover,
      .photo--loading .message.is-wrong-image-size,
      .photo--loading .photo__options {
        visibility: hidden;
      }
  
      .photo--error .message.is-empty,
      .photo--error .message.is-loading,
      .photo--error .message.is-dragover,
      .photo--error .message.is-wrong-image-size,
      .photo--error .photo__options {
        visibility: hidden;
      }
  
      .photo--error .message.is-something-wrong {
        display: inline-block;
      }
  
      .photo--error--file-type .message.is-empty,
      .photo--error--file-type .message.is-loading,
      .photo--error--file-type .message.is-dragover,
      .photo--error--file-type .message.is-wrong-image-size,
      .photo--error--file-type .photo__options {
        visibility: hidden;
      }
  
      .photo--error--file-type .message.is-wrong-file-type {
        display: inline-block;
      }
  
      .photo--error--image-size .message.is-empty,
      .photo--error--image-size .message.is-loading,
      .photo--error--image-size .message.is-dragover,
      .photo--error--image-size .message.is-wrong-file-type,
      .photo--error--image-size .photo__options {
        visibility: hidden;
      }
  
      .photo--error--image-size .message.is-wrong-image-size {
        display: inline-block;
      }
  
      .profile.is-dragover .photo__frame .is-dragover {
        display: inline-block;
      }
  
      .profile.is-dragover .message.is-empty,
      .profile.is-dragover .message.is-loading,
      .profile.is-dragover .message.is-wrong-file-type,
      .profile.is-dragover .message.is-wrong-image-size {
        display: none;
      }
    