#snackbar {
  visibility: hidden;
  min-width: 220px;
  /*margin-left: -125px;*/
  margin:0 auto;
  background-color: rgb(255,255,255,0.95);
  /*color: #000;*/
  box-shadow: 0px 0px 5px #333;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
 /* z-index: 999;*/
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.not-found {
  color: #ccc;
  padding-left: 25px;
  padding-top: 12px;

}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 100px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 100px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 100px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    /* overflow: visible; */
    /* background-size: 80px; */
    /* bottom: 0; */
    /* right: 0; */
    /* margin: auto; */
    /* -webkit-transform-style: preserve-3d; */
    /* transform-style: preserve-3d; */
    /* -webkit-perspective: 100px; */
    /* perspective: 500px; */
    /* background-position: center; */
    /* transition: 1s ease-in-out; */
    /*background: rgba(255, 255, 255, 0.79);*/
    background: transparent;
    display: table;
    bottom: 0;
    right: 0;
}
.loader_img {
    background: url(../assets/ring_loader.gif) no-repeat;
    position: absolute;
    height: 85px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-size: contain;
    margin: auto;
    width: 85px;
}
.loader_text {
    color: #612020;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: -95px;
    left: 0;
    right: 0;
    margin: auto;
    height: 30px;
    font-weight: 500;
}
.loader_text .spinner {
    display: inline-block;
}

.loader_text .spinner > div {
  width: 10px;
  height: 10px;
  background-color: #612020;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loader_text .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader_text .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader_text .spinner .bounce3 {
  -webkit-animation-delay: -0.08s;
  animation-delay: -0.08s;
}

.loader_text .spinner .bounce4 {
  -webkit-animation-delay: -0.04s;
  animation-delay: -0.04s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}