
<script type="text/javascript">
  var user_data = JSON.parse(localStorage.getItem("user_data"));
  console.log(user_data);
  /*for (var k = 0; k < user_data.app_info.bottom_navigation.length; k++) {
    if (user_data.app_info.bottom_navigation[k].menu_id == '14') {
      $('#module').text(user_data.app_info.bottom_navigation[k].name);
      break;
    }
  }
  $('#main-search').hide('fast');*/
</script>

<iframe id="buzziframe" height="600" width="100%"></iframe>
<script>
//***************************** start create by himmi at 29 may 2020  ************************
var activation = JSON.parse(localStorage.getItem('activation'));
var userdatakbcmenu = JSON.parse(localStorage.getItem('user_data'));
userrole = userdatakbcmenu.user;
		userroleid = userrole.user_role;
		companyid=userrole.company_id;

	console.log("userdatakbcmenu  is :", userdatakbcmenu);

  var userdatakbcmenu = user_data.app_info;
	var tempArray = userdatakbcmenu["bottom_navigation"];
	//console.log("output data =>", JSON.stringify(tempArray));

		// var tempArray = activation["menu"];
		console.log("output data =>", JSON.stringify(tempArray));
			if (tempArray.length > 0) {
				function checkName(item) {
				return item.menu_id == "14"; //get menu_id of buzz module 
			}
			// let index = tempArray.findIndex(checkName)
      // -----------------------------------------------------

      let index = tempArray.findIndex(checkName);
		//console.log("URL for BUZZ = " + tempArray[index].buzz_message);
		localStorage.setItem("url", JSON.stringify(tempArray[index].buzz_message));

		// var company_id = company_data.company.id

		var userid = localStorage.getItem("user_id");
		//var companyid = localStorage.getItem("company_id");
		//var userroleid = localStorage.getItem("user_role_id");
	var url = tempArray[index].buzz_message +"?company_id="+companyid+"&user_role_id="+userroleid+"&user_id="+userid; 
	
		// var url = tempArray[index].buzz_message+"?user_id="+userid ;
		console.log("userid  is under:", userid);
		console.log("companyid  is :", companyid);
		console.log("userroleid  is :", userroleid);
		console.log("url  is  :", url);
		//+"?company_id" + company_id

		console.log("modified URL for BUZZ = " + url);

		$('#buzziframe').attr('src', url);


      // -----------------------------------------------------------
              //  console.log("URL for BUZZ = " + tempArray[index].buzz_message);
            
// $('#buzziframe').attr('src',tempArray[index].buzz_message);
    }
    else{
         $('#buzziframe').attr('src','https://google.in');
             }
//***************************** end create by himmi at 29 may 2020  ************************

  $('#preloader').fadeOut('fast');
    </script>
