
	<style> 
		header .fixed-fluid-container .fixed-wrapper{
			background:#fff;
			padding: 0;
		}
	</style>
	<script type="text/javascript">
       $(".main-search").css('display','none');
            var user_data=JSON.parse(localStorage.getItem("user_data"));
            //console.log(user_data);
          //// for check our module name from the server
        for(var k=0;k<user_data.app_info.bottom_navigation.length;k++){
          
          if(user_data.app_info.bottom_navigation[k].menu_id=='5'){
            $('#module').text(user_data.app_info.bottom_navigation[k].name);
            break;
          }
        }
        //$("#my_notifications").css('display','inline-block');
    </script>
    <script type="text/javascript" >
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>
	<script type="text/javascript">
		var company_data = JSON.parse(localStorage.getItem("activation"));  
          //console.log(company_data)
       $('#status_bar_color').attr('content',company_data.company.status_bar_color);
  </script>

			<div class="popup-overlay"></div>
		
			<div class="message-holder">
				<div id="popup-screen"></div><!--Popup Screen Included Here-->
					<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 directory-search"><!--List Section Starts Here-->
							<div class="search-area">
								<form>
								  <div class="form-group">
									<input style="border:none;" type="text" class="form-control" id="myInput" placeholder="Search here..." required="">
									<button class="search-button" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
								  </div>
								</form>
							</div>
						</div>
						<!--List Section starts Here-->
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 directry_list">
							<div class="directory_list" id="directorylist">
							
							</div>
						</div>
						<!--List Section ends Here-->
						<div class="profile-details-back">
						<div class="profile-details">
							<span class="details_close"> <img src="assets/multiply.svg"></span>

							<div id="profile_detail"></div>

						</div>
						</div>
					</div> 
				</div>
			</div>

<script>
    
  $(document).ready(function(){
   	 $('#directoy2').show();
       $("#directoy1").css({
         "color":"#c62828",
       });
  });
</script>
<script type="text/javascript">
$(document).ready(function(){
      //document.getElementById("module").innerHTML="Feedback";
  	if (!localStorage.getItem("user_id")) {
  		if(localStorage.getItem("platform")=='android'){
      window.location.href='index.html';
     }else{
     window.location.href=window.location.origin+'/'+localStorage.getItem("web_url")+'/index.html';
       }
    }else{
    	 $('#preloader').fadeIn('fast');
    	var company_data = JSON.parse(localStorage.getItem("activation")); 
							
		var comp_id = company_data.company.id;
        var data_type={"company_id": comp_id};
        console.log(data_type);    
      	$.ajax({  
        async: true,
        crossDomain: true,
		url: localStorage.getItem("base_url")+'all_employee',
		contentType: 'application/json; charset=utf-8',
		data: JSON.stringify(data_type),
		type : 'POST',
		dataType : 'json',
		success : function (output) {
			if (output.status==1000){
				console.log(output);
				
				localStorage.setItem("all_emp_data", JSON.stringify(output.data));
				var emp_data = output.data;
				//console.log("Ravi");
	  	var emp_data = JSON.parse(localStorage.getItem("all_emp_data"));
	  	//console.log(emp_data);
	    //console.log("//////////");

	    var directory_view = "<table class='table table-responsive-xl table-striped '><thead><tr><th><h4> Picture </h4></th><th><h4> Name </h4></th>";
	    if(company_data.employee_configuration.custom_field_one_status ==1 && company_data.employee_configuration.status ==1){
	    	directory_view += "<th><h4> "+company_data.employee_configuration.custom_field_one_name+" </h4></th>";
	    }
	    if(company_data.employee_configuration.custom_field_two_status ==1 && company_data.employee_configuration.status ==1){
	    	directory_view += "<th><h4> "+company_data.employee_configuration.custom_field_two_name+" </h4></th>";
	    }
	    if(company_data.employee_configuration.custom_field_three_status ==1 && company_data.employee_configuration.status ==1){
	    	directory_view += "<th><h4> "+company_data.employee_configuration.custom_field_three_name+" </h4></th>";
	    }

	    directory_view += "<th><h4> Contact No. </h4></th><th> <h4> Action </h4></th></tr></thead><tbody>";

	    for (i = 0; i < emp_data.length; i++) {
	    	var col_val = 4;
	    	directory_view += "<tr><td> <img src='"+emp_data[i].avatar+"'> </td><td> "+emp_data[i].name+" <i class='fa fa-info-circle' data-profile_id='"+emp_data[i].id+"' id='detail-profile' aria-hidden='true'></i></td>";
	    	if(company_data.employee_configuration.custom_field_one_status ==1 && company_data.employee_configuration.status ==1){
	    	directory_view += "<td> "+emp_data[i].custom_field_one+" </td>";
	    	col_val++;
	    	}
	    	if(company_data.employee_configuration.custom_field_two_status ==1 && company_data.employee_configuration.status ==1){
	    	directory_view += "<td> "+emp_data[i].custom_field_two+" </td>";
	    	col_val++;
	    	}
	 		if(company_data.employee_configuration.custom_field_three_status ==1 && company_data.employee_configuration.status ==1){
	    	directory_view += "<td> "+emp_data[i].custom_field_three+" </td>";
	    	col_val++;
	    	}

	    	if(company_data.employee_configuration.show_mobile_no_status ==1 && company_data.employee_configuration.status ==1){
	    		directory_view += "<td> +"+emp_data[i].country_code+' '+emp_data[i].employee_id+" </td><td> <a class='disable_action' href='message.html' title='Message'> <i class='fa fa-envelope' aria-hidden='true'></i> </a> <a href='tel:+"+emp_data[i].country_code+' '+emp_data[i].employee_id+"' title='Call'> <i class='fa fa-phone' aria-hidden='true'></i> </a></td>";
	    	}else{
	    		directory_view += "<td> +XX XXXXXXXXXX</td><td> <a class='disable_action' href='message.html' title='Message'> <i class='fa fa-envelope' aria-hidden='true'></i> </a> <a class='disable_action' href='tel:+XX XXXXXXXXXX' title='Call'> <i class='fa fa-phone' aria-hidden='true'></i> </a></td>";
	    	}

	    	directory_view += "</tr>";
	    }

	    directory_view +="<tr class='not-found' style='display:none; text-align:center;'><td colspan='"+col_val+"'>No Result Found</td></tr>";

	    directory_view +="</tbody></table>";
	     $('#preloader').fadeOut('fast');
	    document.getElementById("directorylist").innerHTML = directory_view;
		
		$("#myInput").on("keyup", function() {
			var value = $(this).val().toLowerCase();
				$(".table tbody tr").filter(function() {
				
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
			var countlistitems = $('.table tbody tr> td:visible').length;
            console.log('count item agter seeach')
            console.log(countlistitems)
            if(countlistitems===0){
				if($(window).width() < 960){
					$('.not-found').css('display', 'block');
				}
				else{
					$('.not-found').css('display', 'table-row');
				}
             //$('.search-list').css('height','50px');
            }else{
              $('.not-found').css('display', 'none');
            }
		});
		$(".fa-info-circle").click(function(){
	    	var p_id = $(this).data("profile_id");
			$(".profile-details-back").fadeIn();
			 for (i = 0; i < emp_data.length; i++) {
			 	if(p_id == emp_data[i].id){
				var profile_detail_view = "<div class='person_img'><img src='"+emp_data[i].avatar+"'></div><div class='person_name'><p> "+emp_data[i].name+" </p></div><div class='other-details'><table class='table'>";
				if(company_data.employee_configuration.custom_field_one_status ==1 && company_data.employee_configuration.status ==1){
				profile_detail_view += "<tr><td>"+company_data.employee_configuration.custom_field_one_name+"</td><td> : "+emp_data[i].custom_field_one+" </td></tr>";
				}
				if(company_data.employee_configuration.custom_field_two_status ==1 && company_data.employee_configuration.status ==1){
				profile_detail_view += "<tr><td>"+company_data.employee_configuration.custom_field_two_name+"</td><td> : "+emp_data[i].custom_field_two+" </td></tr>";
				}
				if(company_data.employee_configuration.custom_field_three_status ==1 && company_data.employee_configuration.status ==1){
				profile_detail_view += "<tr><td>"+company_data.employee_configuration.custom_field_three_name+"</td><td> : "+emp_data[i].custom_field_three+" </td></tr>";
				}

				if(company_data.employee_configuration.show_mobile_no_status ==1 && company_data.employee_configuration.status ==1){
					profile_detail_view += "<tr><td>Contact No.</td><td>: +"+emp_data[i].country_code+' '+emp_data[i].employee_id+"</td></tr><tr><td>Action</td><td>: <a class='disable_action' href='message.html'> <i class='fa fa-envelope' aria-hidden='true'></i></a><a href='tel:+"+emp_data[i].country_code+' '+emp_data[i].employee_id+"'> <i class='fa fa-phone' aria-hidden='true'></i></a></td></tr>";
				}else{
					profile_detail_view += "<tr><td>Contact No.</td><td>: +XX XXXXXXXXXX</td></tr><tr><td>Action</td><td>: <a class='disable_action' href='message.html'> <i class='fa fa-envelope' aria-hidden='true'></i></a><a class='disable_action' href='tel:+XX XXXXXXXXXX'> <i class='fa fa-phone' aria-hidden='true'></i></a></td></tr>";
				}

				profile_detail_view += "</table></div>";

				document.getElementById("profile_detail").innerHTML = profile_detail_view;
				break;	
				}
			}
		});
		   
	  $(".details_close").click(function(){
	  		document.getElementById("profile_detail").innerHTML = "";
			$(".profile-details-back").fadeOut('fast');
	  });

			}else{
				console.log(output.message);
				 $('#preloader').fadeOut('fast');
			}
		},
		error : function(){
			alert("Error in loading records. Please refresh the page and try again.");
			 $('#preloader').fadeOut('fast');
		}
		}); 	
    }
	setTimeout(function(){
	$(".directory_list table tr a").css('color',company_data.company.header_color);
	$(".directory_list table tr a").css('border-color',company_data.company.header_color); 
	$(".other-details table tr a").css('border-color',company_data.company.header_color); 
	$(".other-details table tr a").css('color',company_data.company.header_color); 
	$(".directory_list table .fa-info-circle").css('color',company_data.company.header_color); 
	},500);
});
	
</script>