<div class="feed-holder">
	<div class="container">
           <div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 feed-margin">
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->           
                <div class="feed-wrapper"><!-- Feed Wrapper Starts Here-->
					<div class="white-bar"><!--White Top Bar starts here -->
						<div class="left-area">
							<span class="small-img">
								<img src="assets/user.png">
							</span>
							<span class="user-name">
								Neha
							</span>
						</div>
						<div class="right-area">
							<span class="pin">
								<img class="change-pin" src="assets/white-pin.png">
								<img style="display: none;" class="change-pin" src="assets/yellow-pin.png">
							</span>
						</div>
                  </div><!--White Top Bar Ends Here -->
                  <div class="post">
                    <div class="content"><!-- Post Content Starts Here -->
                      <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit. Totam suscipit veniam non magni similique. Asperiores aut sapiente nobis porro ad provident eveniet eos aspernatur quidem iusto! Dolorum libero porro animi.</p>
                      <p>Consectetur adipisicing elit. Sapiente aperiam voluptas mollitia laboriosam delectus <strong>possimus minus quaerat culpa</strong> eos corporis tenetur ducimus quo incidunt aspernatur doloremque unde nihil. Quis quaerat!</p>
                      <p>Ea iusto obcaecati cumque quae numquam minima laboriosam porro sit a animi reprehenderit eveniet saepe aperiam optio nemo eos et. Eaque perferendis.</p>
                    </div><!-- Post Content Ends Here -->
                    <div class="image-post"><!-- Post Image Starts Here -->
                      <img src="assets/party.jpg">
                    </div><!-- Post Image Ends Here -->
                    <div class="like-options"><!-- Bottom Likes and Share Options Starts Here-->
                      <div class="left-options">
                        <span class="likes">
                          <img src="assets/white-like.svg">
                          <img style="display: none;" src="assets/red-heart.svg">
                        </span>
                        <span class="like-numer">21</span>
                        <span class="comment">
                          <img src="assets/white-msg.svg">
                          <img style="display: none;" src="assets/grey-msg.svg">
                        </span>
                        <span class="comment-number">20</span>
                        <span class="share"><img src="assets/share.svg"></span>
                      </div>
                      <div class="time">
                        <span>2 hr</span>
                      </div>
                    </div><!-- Bottom Likes and Share Options Starts Here-->
                    <div class="comment-section"><!-- Comment Section Starts Here -->
                      <div class="recent-comments">
                        <span class="recent-left">Recent Comments</span>
                        <span class="view-all"><a href="#">View all</a></span>
                      </div>
                      <div class="top-comments">
                        <div class="row">
                         <div class="col-lg-1">
                            <span class="comment-image"><img src="assets/user.png"></span>
                          </div>
                          <div class="col-lg-11">
                            <span class="comment-text">
                              <span class="commentee-name">Sapna</span>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="top-comments">
                        <div class="row">
                         <div class="col-lg-1">
                            <span class="comment-image"><img src="assets/user.png"></span>
                          </div>
                          <div class="col-lg-11">
                            <span class="comment-text">
                              <span class="commentee-name">Divya</span>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing
                            </span>
                          </div>
                        </div>
                      </div>
                    </div><!-- Comment Section Starts Here -->
                  </div>
                </div><!-- Feed Wrapper with Image Ends Here-->
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                 <div class="feed-wrapper"><!-- Feed Wrapper Starts Here-->
                  <div class="white-bar"><!--White Top Bar starts here -->
                    <div class="left-area">
                      <span class="small-img">
                        <img src="assets/user.png">
                      </span>
                      <span class="user-name">
                        Neha
                      </span>
                    </div>
                    <div class="right-area">
                      <span class="pin">
                        <img class="change-pin" src="assets/white-pin.png">
                        <img style="display: none;" class="change-pin" src="assets/yellow-pin.png">
                      </span>
                    </div>
                  </div><!--White Top Bar Ends Here -->
                  <div class="post">
                    <div class="text-post"><!-- Post Content Starts Here -->
                      <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit. Totam suscipit veniam non magni similique. Asperiores aut sapiente nobis porro ad provident eveniet eos aspernatur quidem iusto! Dolorum libero porro animi.</p>
                      <p>Consectetur adipisicing elit. Sapiente aperiam voluptas mollitia laboriosam delectus <strong>possimus minus quaerat culpa</strong> eos corporis tenetur ducimus quo incidunt aspernatur doloremque unde nihil. Quis quaerat!</p>
                      <p>Ea iusto obcaecati cumque quae numquam minima laboriosam porro sit a animi reprehenderit eveniet saepe aperiam optio nemo eos et. Eaque perferendis.</p>
                    </div><!-- Post Content Ends Here -->
                    
                    <div class="like-options"><!-- Bottom Likes and Share Options Starts Here-->
                      <div class="left-options">
                        <span class="likes">
                          <img src="assets/white-like.svg">
                          <img style="display: none;" src="assets/red-heart.svg">
                        </span>
                        <span class="like-numer">21</span>
                        <span class="comment">
                          <img src="assets/white-msg.svg">
                          <img style="display: none;" src="assets/grey-msg.svg">
                        </span>
                        <span class="comment-number">20</span>
                        <span class="share"><img src="assets/share.svg"></span>
                      </div>
                      <div class="time">
                        <span>2 hr</span>
                      </div>
                    </div><!-- Bottom Likes and Share Options Starts Here-->
                    <div class="comment-section"><!-- Comment Section Starts Here -->
                      <div class="recent-comments">
                        <span class="recent-left">Recent Comments</span>
                        <span class="view-all"><a href="#">View all</a></span>
                      </div>
                      <div class="top-comments">
                        <div class="row">
                         <div class="col-lg-1">
                            <span class="comment-image"><img src="assets/user.png"></span>
                          </div>
                          <div class="col-lg-11">
                            <span class="comment-text">
                              <span class="commentee-name">Sapna</span>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="top-comments">
                        <div class="row">
                         <div class="col-lg-1">
                            <span class="comment-image"><img src="assets/user.png"></span>
                          </div>
                          <div class="col-lg-11">
                            <span class="comment-text">
                              <span class="commentee-name">Divya</span>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing
                            </span>
                          </div>
                        </div>
                      </div>
                    </div><!-- Comment Section Starts Here -->
                  </div>
                </div><!-- Feed Wrapper Ends Here-->
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

                 <div class="feed-wrapper"><!-- Feed Wrapper Starts Here-->
                  <div class="white-bar"><!--White Top Bar starts here -->
                    <div class="left-area">
                      <span class="small-img">
                        <img src="assets/user.png">
                      </span>
                      <span class="user-name">
                        Neha
                      </span>
                    </div>
                    <div class="right-area">
                      <span class="pin">
                        <img class="change-pin" src="assets/white-pin.png">
                        <img style="display: none;" class="change-pin" src="assets/yellow-pin.png">
                      </span>
                    </div>
                  </div><!--White Top Bar Ends Here -->
                  <div class="post">
                    <div class="one-line-post"><!-- Post Content Starts Here -->
                      <p>1 line no comment no like!!!</p>
                    </div><!-- Post Content Ends Here -->
                    
                    <div class="like-options"><!-- Bottom Likes and Share Options Starts Here-->
                      <div class="left-options">
                        <span class="likes">
                          <img src="assets/white-like.svg">
                          <img style="display: none;" src="assets/red-heart.svg">
                        </span>
                        <span class="like-numer">21</span>
                        <span class="comment">
                          <img src="assets/white-msg.svg">
                          <img style="display: none;" src="assets/grey-msg.svg">
                        </span>
                        <span class="comment-number">20</span>
                        <span class="share"><img src="assets/share.svg"></span>
                      </div>
                      <div class="time">
                        <span>2 hr</span>
                      </div>
                    </div><!-- Bottom Likes and Share Options Starts Here-->
                    <div class="comment-section"><!-- Comment Section Starts Here -->
                      <div class="recent-comments">
                        <span class="recent-left">Recent Comments</span>
                        <span class="view-all"><a href="#">View all</a></span>
                      </div>
                      <div class="top-comments">
                        <div class="row">
                         <div class="col-lg-1">
                            <span class="comment-image"><img src="assets/user.png"></span>
                          </div>
                          <div class="col-lg-11">
                            <span class="comment-text">
                              <span class="commentee-name">Sapna</span>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="top-comments">
                        <div class="row">
                         <div class="col-lg-1">
                            <span class="comment-image"><img src="assets/user.png"></span>
                          </div>
                          <div class="col-lg-11">
                            <span class="comment-text">
                              <span class="commentee-name">Divya</span>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing
                            </span>
                          </div>
                        </div>
                      </div>
                    </div><!-- Comment Section Starts Here -->
                  </div>
                </div><!-- Feed Wrapper Ends Here-->
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--++++++++++++++++++++++++++ Attachements ++++++++++++++++++++++++++++++++-->
			<div class="feed-wrapper"><!-- Feed Wrapper Starts Here-->
                  <div class="white-bar"><!--White Top Bar starts here -->
                    <div class="left-area">
                      <span class="small-img">
                        <img src="assets/user.png">
                      </span>
                      <span class="user-name">
                        Neha
                      </span>
                    </div>
                    <div class="right-area">
                      <span class="pin">
                        <img class="change-pin" src="assets/white-pin.png">
                        <img style="display: none;" class="change-pin" src="assets/yellow-pin.png">
                      </span>
                    </div>
                  </div><!--White Top Bar Ends Here -->
                  <div class="post">
                    <div class="one-line-post"><!-- Post Content Starts Here -->
                      <p>1 line no comment no like!!!</p>
					   <div class="feed_attachment">
							 <a href="assets/attachment_icon.png" download> 
								<img src="assets/attachement_icon.png">
								<span> documentforpaymant.doc </span>
							</a>
					   </div>
                    </div><!-- Post Content Ends Here -->
                    
                    <div class="like-options"><!-- Bottom Likes and Share Options Starts Here-->
                      <div class="left-options">
                        <span class="likes">
                          <img src="assets/white-like.svg">
                          <img style="display: none;" src="assets/red-heart.svg">
                        </span>
                        <span class="like-numer">21</span>
                        <span class="comment">
                          <img src="assets/white-msg.svg">
                          <img style="display: none;" src="assets/grey-msg.svg">
                        </span>
                        <span class="comment-number">20</span>
                        <span class="share"><img src="assets/share.svg"></span>
                      </div>
                      <div class="time">
                        <span>2 hr</span>
                      </div>
                    </div><!-- Bottom Likes and Share Options Starts Here-->
                    <div class="comment-section"><!-- Comment Section Starts Here -->
                      <div class="recent-comments">
                        <span class="recent-left">Recent Comments</span>
                        <span class="view-all"><a href="#">View all</a></span>
                      </div>
                      <div class="top-comments">
                        <div class="row">
                         <div class="col-lg-1">
                            <span class="comment-image"><img src="assets/user.png"></span>
                          </div>
                          <div class="col-lg-11">
                            <span class="comment-text">
                              <span class="commentee-name">Sapna</span>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="top-comments">
                        <div class="row">
                         <div class="col-lg-1">
                            <span class="comment-image"><img src="assets/user.png"></span>
                          </div>
                          <div class="col-lg-11">
                            <span class="comment-text">
                              <span class="commentee-name">Divya</span>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing
                            </span>
                          </div>
                        </div>
                      </div>
                    </div><!-- Comment Section Starts Here -->
                  </div>
                </div>

				<div class="feed-wrapper"><!-- Feed Wrapper Starts Here-->
                  <div class="white-bar"><!--White Top Bar starts here -->
                    <div class="left-area">
                      <span class="small-img">
                        <img src="assets/user.png">
                      </span>
                      <span class="user-name">
                        Neha
                      </span>
                    </div>
                    <div class="right-area">
                      <span class="pin">
                        <img class="change-pin" src="assets/white-pin.png">
                        <img style="display: none;" class="change-pin" src="assets/yellow-pin.png">
                      </span>
                    </div>
                  </div><!--White Top Bar Ends Here -->
                  <div class="post">
                    <div class="video-post"><!-- Post Content Starts Here -->
                      <video controls width="100%" height="100%"></video>
                    </div><!-- Post Content Ends Here -->
                    
                    <div class="like-options"><!-- Bottom Likes and Share Options Starts Here-->
                      <div class="left-options">
                        <span class="likes">
                          <img src="assets/white-like.svg">
                          <img style="display: none;" src="assets/red-heart.svg">
                        </span>
                        <span class="like-numer">21</span>
                        <span class="comment">
                          <img src="assets/white-msg.svg">
                          <img style="display: none;" src="assets/grey-msg.svg">
                        </span>
                        <span class="comment-number">20</span>
                        <span class="share"><img src="assets/share.svg"></span>
                      </div>
                      <div class="time">
                        <span>2 hr</span>
                      </div>
                    </div><!-- Bottom Likes and Share Options Starts Here-->
                    <div class="comment-section"><!-- Comment Section Starts Here -->
                      <div class="recent-comments">
                        <span class="recent-left">Recent Comments</span>
                        <span class="view-all"><a href="#">View all</a></span>
                      </div>
                      <div class="top-comments">
                        <div class="row">
                         <div class="col-lg-1">
                            <span class="comment-image"><img src="assets/user.png"></span>
                          </div>
                          <div class="col-lg-11">
                            <span class="comment-text">
                              <span class="commentee-name">Sapna</span>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="top-comments">
                        <div class="row">
                         <div class="col-lg-1">
                            <span class="comment-image"><img src="assets/user.png"></span>
                          </div>
                          <div class="col-lg-11">
                            <span class="comment-text">
                              <span class="commentee-name">Divya</span>
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing
                            </span>
                          </div>
                        </div>
                      </div>
                    </div><!-- Comment Section Starts Here -->
                  </div>
                </div><!-- Feed Wrapper Ends Here-->
			</div>
		</div>
	</div>
</div>