	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
	 $(".main-search").css('display','none');
		for(var k=0;k<user_data.app_info.bottom_navigation.length;k++){
			  if(user_data.app_info.bottom_navigation[k].menu_id=='3'){
				$('#module').text(user_data.app_info.bottom_navigation[k].name);
				break;
			  }
			}
	</script>
  <div class="popup-overlay"></div>
  <div class="whole-slider-wrapper">
	  <div class="container">
      <div id="chat_include"></div>
      <!--Top Navigation Bar Included Here-->
      <div class="slides-wrapper">
        <div id="game-include">
          <!-- GAME IS INCLUDED HERE AND IT WILL BE HIDDEN WHEN ANY ITINERARY COMES-->
          <div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>
         <!--  <iframe class="game-frame" src="includes/rex-game.html"></iframe> -->
        </div><!-- GAME IS INCLUDED HERE AND IT WILL BE HIDDEN WHEN ANY ITINERARY COMES-->
        <div id="payment-popup">
          <!-- Payment Gateway Popup-->
          <div class="close"><img src="assets/multiply.svg"></div>
          <iframe class="payment-frame" id="payment-frame" src=""></iframe>
        </div><!-- Payment Gateway Popup-->
        <div class="products slick-slider" id="itinerarylist">
        </div>
        <!--Slick Ends Here -->
      </div>

    </div>
  </div>
  <!-- Bootstrap JavaScript -->
  <!-- Jquery CDN File-->

<script>

  function formatDate_last_regs(d, type) {
    var day, month, year;
    var days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
    var monthNames = [
      "Jan", "Feb", "March",
      "April", "May", "Jun", "July",
      "Aug", "Sept", "Oct",
      "Nov", "Dec"
    ];
    var month_index = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'];

    result = d.match("[0-9]{2}([\-/ \.])[0-9]{2}[\-/ \.][0-9]{4}");
    if (null != result) {
      dateSplitted = result[0].split(result[1]);
      day = dateSplitted[0];
      month = dateSplitted[1];
      year = dateSplitted[2];
    }
    result = d.match("[0-9]{4}([\-/ \.])[0-9]{2}[\-/ \.][0-9]{2}");
    if (null != result) {
      dateSplitted = result[0].split(result[1]);
      day = dateSplitted[2];
      month = dateSplitted[1];
      year = dateSplitted[0];
    }

    if (month > 12) {
      aux = day;
      day = month;
      month = aux;
    }
    var monthint;
    var our_request_date_time = d.split(' ');
    var outtime = our_request_date_time[1];
    var ourtime_format = our_request_date_time[2];
    if ((monthint = parseInt(month) < 10)) {
      month = month.substring(1, month.month);
    }
    var ourdate = new Date(monthNames[month - 1] + ' ' + day + ' ' + year);
    var ourdays = ourdate.getDay();
    if (type == 1) {
      return outtime + ' ' + ourtime_format + ', ' + days[ourdate.getDay()] + ', ' + day + ' ' + monthNames[month - 1];
    }
    if (type == 2) {
      return days[ourdate.getDay()] + ', ' + day + ' ' + monthNames[month - 1];
    }

    if (type == 3) {
      return days[ourdate.getDay()] + ', ' + day + ' ' + monthNames[month - 1];
    }
  }

  $('#survey2').show();
  $('#itinerary2').show();
  $(document).ready(function () {
    if (!localStorage.getItem("user_id")) {
      if (localStorage.getItem("platform") == 'android') {
        window.location.href = 'index.html';
      } else {
        window.location.href = window.location.origin + '/' + localStorage.getItem("web_url") + '/index.html';
      }
    } else {
      var id = JSON.parse(localStorage.getItem("user_id"));

      var device_type = localStorage.getItem('device_type');
      if (device_type == 'browser') {
        var data_type = { "user_id": id,
                             "login_token": localStorage.getItem('login_token') };
      } else {
        if (device_type == 'iOS') {
          device_type = 'Iphone';
        } else if (device_type == 'Android') {
          device_type = 'Android';
        }


        var data_type = {
          "user_id": id,
          "device_type": device_type,
          "device_token": localStorage.getItem('device_token'),
          "login_token": localStorage.getItem('login_token')
        };
        if (device_type == null) {
          var data_type = { "user_id": id,
                             "login_token": localStorage.getItem('login_token') };
        }
      }
      $.ajax({

        url: localStorage.getItem("base_url") + 'dashboard',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data_type),
        type: 'POST',
        dataType: 'json',
        async: true,
        cache: true,
        success: function (output) {
          if (output.status == 1000) {

			if(JSON.stringify(output.data.itinerary.data)!=JSON.stringify(JSON.parse(localStorage.getItem("user_data")).itinerary.data)){
                            
                            localStorage.setItem("user_data", JSON.stringify(output.data));
                        $.get("itinerary.html", function (fileData) {
                                $('#itinerary_page').html(fileData);
                                $("#itinerary1").addClass("activemenu");
                                $(".activemenu").css('color',company_data.company.button_bg_color);
                                //newitinerary = 1;
                            });
                        }else{
                            console.log('not change change')
                        }	

            localStorage.removeItem("mobile_no");
            localStorage.removeItem("activation_code");

          } else if(output.status==1012 || output.status==1013){ //1012 User Deactivated, 1013 User Login from Other Device
            swal({
                  title: output.message,
                  icon: "error",
                  });
            setTimeout(function(){
              localStorage.clear();
              window.location.href='index.html';
            },5000);
          }else{
            console.log(output);
          }
        },
        error: function () {
          alert("Error in loading records. Please refresh the page and try again.");
        }
      });
    }
      
  var user_data = JSON.parse(localStorage.getItem("user_data"));
	var comapany_data = JSON.parse(localStorage.getItem("activation"));
	console.log(user_data);
	console.log(comapany_data.company.id);
	//console.log(user_data.itinerary.data[1].id);
    var itinerary_view = "";
    var u_id = user_data.user.id;
    var c_id = user_data.user.company_id;

    if ((user_data.itinerary.status == 1) && (user_data.itinerary.data.length > 0)) {
		console.log(user_data.itinerary.data.length);
		var n = 0;
      for (i = 0; i < user_data.itinerary.data.length; i++) {

        var r_base = user_data.itinerary.data[i].role_base;
        var role_base = [];
        if (r_base != null) {
          role_base = r_base.split(',');

        }

        var u_base = user_data.itinerary.data[i].user_base;
        var user_base = [];
        if (u_base != null) {
          user_base = u_base.split(',');

        }

        var u_role = user_data.user.user_role;
        var u_base = user_data.user.id;


        var coordinator_base = user_data.itinerary.data[i].coordinator;
        var coordinator = [];
        for (var q = 0; q < coordinator_base.length; q++) {
          coordinator[q] = coordinator_base[q].id;
        }

        var registered_user = user_data.itinerary.data[i].register_user;
        if (registered_user != null) {
          var reg_base = registered_user.split(',');
        } else {
          var reg_base = [];
        }
        if ((inArray(u_role, role_base) || inArray(u_base, user_base) || inArray(u_base, coordinator))) {
          itinerary_view += "<div><div class='wrap food' style='background-image: url(" + user_data.itinerary.data[i].dashboard_image + ")'><div class='slide-overlay'></div><div class='item-wrapper'><div class='lunch'><p class='elaborate'>";
          if (user_data.itinerary.data[i].registration == 1) {
            itinerary_view += "<span class='results'>RSVP</span>";
          }
          itinerary_view += user_data.itinerary.data[i].title + "</p><br>";
          if (user_data.itinerary.data[i].registration == 1) {
            if ((inArray(u_role, role_base) || inArray(u_base, user_base))) {

              if (user_data.itinerary.data[i].limited_seats_status == "1") {
                var seats_left = parseInt(user_data.itinerary.data[i].limited_seats) - parseInt(user_data.itinerary.data[i].registration_status.total_registered);
                var seats_left_data;
                if (seats_left > 1) {
                  seats_left_data = seats_left + " Seats Left";
                } else if (seats_left == 0) {
                  seats_left_data = 'Registration Seat Over.'
                } else {
                  seats_left_data = seats_left + " Seat Left";
                }

                if (inArray(u_id, reg_base)) {
                  itinerary_view += "<p class='seats-left'>Already Registered.</p><br>";
                } else {
                  itinerary_view += "<p class='seats-left'>" + seats_left_data + "</p><br>";
                }

              } else {

                if (inArray(u_id, reg_base)) {
                  itinerary_view += "<p class='seats-left'>Already Registered.</p><br>";
                }
              }
              var r_expiye_date = formatDate_last_regs(user_data.itinerary.data[i].registration_expiry_date, 2);
              itinerary_view += "<p class='date'>Confirm Till : " + r_expiye_date + "</p>";
            } else {


              if (user_data.itinerary.data[i].limited_seats_status == "1") {
                var seats_left = parseInt(user_data.itinerary.data[i].limited_seats) - parseInt(user_data.itinerary.data[i].registration_status.total_registered);
                var seats_left_data;
                if (seats_left > 1) {
                  seats_left_data = seats_left + " Seats Left";
                } else if (seats_left == 0) {
                  seats_left_data = 'Registration Full.'
                } else {
                  seats_left_data = seats_left + " Seat Left";
                }

                itinerary_view += "<p class='seats-left'>" + seats_left_data + "</p>";


              } else {

                if (inArray(u_id, reg_base)) {
                  itinerary_view += "<p class='seats-left'>Already Registered.</p>";
                }
              }

              var r_expiye_date = formatDate_last_regs(user_data.itinerary.data[i].registration_expiry_date, 2);
              itinerary_view += "<br><p class='date'>Confirm Till : " + r_expiye_date + "</p>";

            }
          }
          itinerary_view += "</div><div class='bottom-items'><p>";
          var iti_start_d_t = formatDate_last_regs(user_data.itinerary.data[i].start_date_time, 1);
          if (user_data.itinerary.data[i].itinerary_id == 1) {
            if (user_data.itinerary.data[i].content.transport_type == "Other") {
              itinerary_view += user_data.itinerary.data[i].content.other_type;
            } else {
              itinerary_view += user_data.itinerary.data[i].content.transport_type;
            }
            itinerary_view += "</p><br><p>" + iti_start_d_t + "</p><br><p>" + user_data.itinerary.data[i].content.transport_start_location + "</p>";

          } else if (user_data.itinerary.data[i].itinerary_id == 2) {
            itinerary_view += user_data.itinerary.data[i].content.type_of_meal;
            itinerary_view += "</p><br><p>" + iti_start_d_t + "</p><br><p>" + user_data.itinerary.data[i].content.meal_location + "</p>";
          } else { }

          itinerary_view += "</div><div class='buttons'>";

          if (inArray(u_id, coordinator)) {
            if (user_data.itinerary.data[i].registration == 1) {
              itinerary_view += "<button class='view-reg coordinator_view' data-company='" + user_data.user.company_id + "' id='" + user_data.itinerary.data[i].id + "'>View Registrations</button>";
            }
          }

        itinerary_view += "<button class='tell-me' id='" + user_data.itinerary.data[i].id + "'>Tell Me More</button>";
		  
		  if(user_data.itinerary.data[i].paid_ticket_status == 1){
        if(user_data.itinerary.data[i].ticket_available_status == 0){
			itinerary_view += "<button class='pay_now'  id='"+ user_data.itinerary.data[i].id +"' data-company_id='"+ comapany_data.company.id + "' data-itinerary_id='" + user_data.itinerary.data[i].id + "'><i class='fa fa-inr' aria-hidden='true'></i> Pay </button>";
        }else{
          itinerary_view += "<button class='download_now'  id='"+ user_data.itinerary.data[i].id +"' data-company_id='"+ comapany_data.company.id + "' data-user_id='" + user_data.user.id + "' data-itinerary_id='" + user_data.itinerary.data[i].id + "' data-validation_id='" + user_data.itinerary.data[i].ticekt_config_data.validation_with + "'><i class='fa fa-download' aria-hidden='true'></i> Download </button><button class='pay_now' id='"+ user_data.itinerary.data[i].id +"' data-company_id='"+ comapany_data.company.id + "' data-itinerary_id='" + user_data.itinerary.data[i].id + "'><i class='fa fa-inr' aria-hidden='true'></i> Buy More </button>";
        }
		  }
          itinerary_view += "</div></div><div class='slide-navigation lunch-navigation' id='tell_me" + user_data.itinerary.data[i].id + "'><span class='cancel' id='" + user_data.itinerary.data[i].id + "'><i class='fa fa-times' aria-hidden='true'></i></span>";

          if (user_data.itinerary.data[i].registration == 1) {
            if ((inArray(u_role, role_base) || inArray(u_base, user_base))) {
              if (inArray(u_id, reg_base)) {
                itinerary_view += "<div class='register' id='" + user_data.itinerary.data[i].id + "yes_reg'><p>Thank You for Registration.</p><button class='btn_action register-btn' data-yesno='0' data-user='" + u_id + "' data-company='" + c_id + "' data-status='0' id='" + user_data.itinerary.data[i].id + "'>UnRegister</button></div><div class='register' style='display: none;' id='" + user_data.itinerary.data[i].id + "no_reg'><p>You have UnRegistered.</p><button class='btn_action register-btn' data-yesno='0' data-user='" + u_id + "' data-company='" + c_id + "' data-status='1' id='" + user_data.itinerary.data[i].id + "'>Register</button></div>";
              } else {

                var exp_date = user_data.itinerary.data[i].registration_expiry_date.split(" ");
                var exp_date1 = exp_date[0].split("-");
                var final_exp_date = exp_date1[1] + "/" + exp_date1[0] + "/" + exp_date1[2] + " " + exp_date[1] + " " + exp_date[2];

                if (new Date() <= new Date(final_exp_date)) {
                  if (parseInt(user_data.itinerary.data[i].limited_seats) === parseInt(user_data.itinerary.data[i].registration_status.total_registered)) {
                    itinerary_view += "<br><br>"
                  } else {
                    itinerary_view += "<div class='register' id='" + user_data.itinerary.data[i].id + "reg_yes_no'><p>Are You Attending ?</p><button class='yes-btn btn_action' data-yesno='1' data-user='" + u_id + "' data-company='" + c_id + "' data-status='1' id='" + user_data.itinerary.data[i].id + "'>Yes</button> <button class='yes-btn btn_action' data-yesno='1' data-user='" + u_id + "' data-company='" + c_id + "' data-status='0' id='" + user_data.itinerary.data[i].id + "'>No</button></div><div class='register' style='display: none;' id='" + user_data.itinerary.data[i].id + "yes_reg'><p>Thank You for Registration.</p><button class='btn_action register-btn' data-yesno='1' data-user='" + u_id + "' data-company='" + c_id + "' data-status='0' id='" + user_data.itinerary.data[i].id + "'>UnRegister</button></div><div class='register' style='display: none;' id='" + user_data.itinerary.data[i].id + "no_reg'><p>You have UnRegistered.</p><button class='btn_action register-btn' data-yesno='1' data-user='" + u_id + "' data-company='" + c_id + "' data-status='1' id='" + user_data.itinerary.data[i].id + "'>Register</button></div>";
                  }

                } else {
                  itinerary_view += "<div class='register'><p>Registration Expired!</p></div>";
                }

              }
            } else {
              itinerary_view += "<br><br>"
            }

            if (user_data.itinerary.data[i].additional_attachment != "") {
              itinerary_view += "<div class='attachement' id ='" + user_data.itinerary.data[i].id + "attachement'><i class='fa fa-paperclip' aria-hidden='true'></i> <span><a href='" + user_data.itinerary.data[i].additional_attachment + "' target='_blank'> View Attachement</a></span></div>";
            } else {
            }

            if (user_data.itinerary.data[i].additional_information != '') {
              itinerary_view += "<div class='details details-b'><p class='data'>Registration Details</p>" + user_data.itinerary.data[i].additional_information + "</div>";
            }
          }

          var sd = user_data.itinerary.data[i].start_date_time.split(' ');
          var ed = user_data.itinerary.data[i].end_date_time.split(' ');
          if (user_data.itinerary.data[i].itinerary_id == 1) {
            itinerary_view += "<div class='time'><div class='time-a col'><p>" + sd[1] + " " + sd[2] + "</p><p>Start</p></div><div class='time-b col'><p>" + ed[1] + " " + ed[2] + "</p><p>End</p></div></div>";
          } else if (user_data.itinerary.data[i].itinerary_id == 2) {
            itinerary_view += "<div class='time'><div class='time-a col'><p>" + sd[1] + " " + sd[2] + "</p><p>Start</p></div><div class='time-b col'><p>" + ed[1] + " " + ed[2] + "</p><p>End</p></div></div>";
          } else { }

          itinerary_view += "<div class='attachement bus-ticket'><i class='fa fa-paperclip clip-2' aria-hidden='true'></i><span>";
          var transport_details = '';
          if (user_data.itinerary.data[i].itinerary_id == 1) {
            if (user_data.itinerary.data[i].content.transport_ticket != "") {
              itinerary_view += "<a href='" + user_data.itinerary.data[i].content.transport_ticket + "' target='_blank'> View Attachement</a>";
            } else {
              itinerary_view += " No Attachement";
            }
            transport_details = "<p class='data'>Details</p>";

          } else if (user_data.itinerary.data[i].itinerary_id == 2) {
            if (user_data.itinerary.data[i].content.menu_option != "") {
              itinerary_view += "<a href='" + user_data.itinerary.data[i].content.menu_option + "' target='_blank'> View Attachement</a>";
            } else {
              itinerary_view += " No Attachement";
            }

          } else {}

			itinerary_view += "</span></div><div class='details'>" + transport_details + "" + user_data.itinerary.data[i].content.information + "</div></div><div class='register-navigation lunch-register'><div class='close-register'><i class='fa fa-times' aria-hidden='true'></i></div><div class='row'><div class='col-xl-4 col box-a'><span>Seats</span><span id='r_seat' class='" + user_data.itinerary.data[i].id + "r_seat'></span></div><div class='col-xl-4 col box-b'><span>Registered</span><span id='r_register' class='" + user_data.itinerary.data[i].id + "r_register' ></span></div><div class='col-xl-4 col box-c'><span>Available</span><span id='r_available' class='" + user_data.itinerary.data[i].id + "r_available'></span></div></div><div class='register-tabs'><a class='register-button' href='#'>Registered</a><a class='available-button' href='#'>Available</a></div><div id='cordinator_view' class='" + user_data.itinerary.data[i].id + "cordinator_view'></div></div>";
			
			
			if(user_data.itinerary.data[i].paid_ticket_status == 1){
				itinerary_view +="<div class='buy_ticket' id='buy_ticket"+user_data.itinerary.data[i].id+"'><span class='cancel_buy'><i class='fa fa-times' aria-hidden='true'></i></span><div class='ticket'><div class='ticket-wrapper'><p class='ticket-title'><span><i class='fa fa-tachometer' aria-hidden='true'></i></span> Details </p></div><div class='price-section'><p class='total-tickets'> Category<span class='req'>*</span> </p><select class='cat-select' id='select_category"+user_data.itinerary.data[i].id +"' value=''><option> Select Category </option></select></div><div class='category'><div class='col-lg-12 col-sm-12'><div class='main-body early-bird'><div class='price'><b>  Quantity<span class='req'>*</span>  </b></div><div class='increase-number'><div class='number'><span class='plus' data-unique_plus="+user_data.itinerary.data[i].id +"> + </span><input type='text' value='1' data-itinerary_id='"+user_data.itinerary.data[i].id +"' id='tecket_value"+user_data.itinerary.data[i].id +"' class='tecket_value'/><span class='minus' data-unique_minus="+user_data.itinerary.data[i].id+"> - </span></div></div></div></div></div><label class='multiple_entry_label"+user_data.itinerary.data[i].id+" accordion' id='accordion'><img src='assets/group-icon.png'> Guest Details </label><div class='multiple_entry"+user_data.itinerary.data[i].id +" panel' id='panel'></div><div class='custom_field'><p class='total-tickets'> Custom field <span class='req'>*</span> </p> <div class='custom_field_enter'><input type='text' value='' id='custom_field_enter"+user_data.itinerary.data[i].id+"' ></div></div><div class='reffrels price-section'><div class='main-body'><div class='reff_label'><p class='total-tickets'> Referral Code </p></div><div class='reff_code'><input type='text' value='' id='refreal_code"+user_data.itinerary.data[i].id+"' class='refreal_code' data-iti_id='"+user_data.itinerary.data[i].id+"' data-company_id='"+comapany_data.company.id+"' min-length='4' max-length='4'><p id='referral_status"+user_data.itinerary.data[i].id+"'> </p></div></div></div><div class='price-section'><p class='total-tickets'> Total </p><p class='total-price'><span><i class='fa fa-inr' aria-hidden='true'></i><span class='ticket_price' id='ticket_price"+user_data.itinerary.data[i].id+"'>0.00</span>/-</span></p><span class='tax_text'> Tax Included </span></div><button class='buy-ticket' id='buy-ticket"+user_data.itinerary.data[i].id +"' data-user_id='"+user_data.user.id+"' data-mobile='"+user_data.user.employee_id+"' data-itinarary_buynow_id='"+user_data.itinerary.data[i].id +"' data-company_id='"+comapany_data.company.id+"' data-per_ticket_amount='0'  data-ticket_amount='0' data-gateway_id='"+user_data.itinerary.data[i].ticekt_config_data.payment_gateway+"'> <i class='fa fa-inr' aria-hidden='true'></i> Pay </button></div></div>";
			}
			
			itinerary_view +="</div></div>";
        }
      }
    }
    else {
     $('#itinerarylist').css('display', 'none');
      $('#game-include').css('display', 'block');
    }
 //console.log('itinerarylist view hire not if')
 //console.log(itinerary_view)
    if (itinerary_view == '') {
      $('#itinerarylist').css('display', 'none');
      $('#game-include').css('display', 'block');
      console.log('itinerarylist view hire')
      
      // itinerary_view +="<div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>";
      //   $('#preloader').fadeOut();
    }
    //document.getElementById("itinerarylist").innerHTML = itinerary_view;
	console.log(itinerary_view)
	$('#itinerarylist').html(itinerary_view);
	$(document).ready(function(){  
		  $('.products').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			autoplay: false,
			dots: true,
			arrows: true,
			autoplaySpeed: 3000,
			responsive: [
			{
			  breakpoint: 800,
			  settings: {
				slidesToShow: 1,
				slidesToScroll: 1,
				autoplay: false,
				infinite: true,
				dots: true,
				arrows: false
			  }
			},
		  ]
		  });
		});
	$('#preloader').fadeOut('slow');
	
    $('.coordinator_view').on("click", function () {
      var i_id = $(this).attr("id");
      var c_id = $(this).data("company");


      var data_type = { "company_id": c_id, "itinerary_id": i_id };
      $.ajax({

        url: localStorage.getItem("base_url") + 'itinerary_registration_status',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data_type),
        ContentType: 'application/json',
        type: 'POST',
        dataType: 'json',
        async: false,
        success: function (output) {
          if (output.status == 1000) {
            var cordinator_data = JSON.parse(JSON.stringify(output.data));

            $('.' + i_id + 'r_seat').text(cordinator_data.registration_status.limited_seats);
            $('.' + i_id + 'r_register').text(cordinator_data.registration_status.total_resgistered);
            $('.' + i_id + 'r_available').text(cordinator_data.registration_status.total_available);


            var cordinator_view = "<div class='register-list registered'><ul>";
            if (cordinator_data.registration_status.total_resgistered) {
              for (var x = 0; x < cordinator_data.registration_status.total_resgistered; x++) {
                cordinator_view += "<li><img src='";
                if (cordinator_data.registration_status.register_user[x].avatar) {
                  cordinator_view += cordinator_data.registration_status.register_user[x].avatar;
                } else {
                  cordinator_view += "assets/pic.png";
                }
                cordinator_view += "'> <span>" + cordinator_data.registration_status.register_user[x].name + "</span></li>";
              }
            } else { cordinator_view += "<li>No Data Available</li>"; }

            cordinator_view += "</ul></div><div class='register-list available'><ul>";

            if (cordinator_data.registration_status.total_available) {
              for (var y = 0; y < cordinator_data.registration_status.total_available; y++) {
                cordinator_view += "<li><img src='";
                if (cordinator_data.registration_status.available_user[y].avatar) {
                  cordinator_view += cordinator_data.registration_status.available_user[y].avatar;
                } else {
                  cordinator_view += "assets/pic.png";
                }
                cordinator_view += "'> <span>" + cordinator_data.registration_status.available_user[y].name + "</span></li>";
              }
            } else { cordinator_view += "<li>No Data Available</li>"; }

            cordinator_view += "</ul></div>";

            $('.' + i_id + 'cordinator_view').html(cordinator_view);

          } else {
            
          }
        },
        error: function () {
          alert("Error in loading records. Please refresh the page and try again.");
        }
      });
    });

    function inArray(needle, haystack) {
      var length = haystack.length;
      for (var i = 0; i < length; i++) {
        if (haystack[i] == needle) return true;
      }
      return false;
    }
    $(".btn_action").click(function () {

      var i_id = $(this).attr("id");
      var c_id = $(this).data("company");
      var u_id = $(this).data("user");
      var reg_status = $(this).data("status");
      var yesno = $(this).data("yesno");


      var data_type = { "company_id": c_id, "itinerary_id": i_id, "user_id": u_id, "registration_status": reg_status };
      $.ajax({

        url: localStorage.getItem("base_url") + 'itinerary_registration',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data_type),
        ContentType: 'application/json',
        type: 'POST',
        dataType: 'json',
        async: true, // false
        cache: true,
        success: function (output) {
          if (output.status == 1000) {

            if (reg_status == 0) {
              if (yesno == 1) { document.getElementById(i_id + "reg_yes_no").style.display = "none"; }
              document.getElementById(i_id + "yes_reg").style.display = "none";
              document.getElementById(i_id + "no_reg").style.display = "block";
            } else {
              if (yesno == 1) { document.getElementById(i_id + "reg_yes_no").style.display = "none"; }
              document.getElementById(i_id + "no_reg").style.display = "none";
              document.getElementById(i_id + "yes_reg").style.display = "block";
            }
            if (yesno == 1 && reg_status == 0) { } else { window.location.reload(); }

          } else {
            alert(output.message)
          }
        },
        error: function () {
          alert("Error in loading records. Please refresh the page and try again.");
        }
      });
    });

    $(".pay").on("click", function () {
      var user_name = "Ravi Verma";
      var user_email = "ravisvrma@gmail.com";
      var user_phone = "+919643607756";
      var itinerary_id = "2";
      var company_id = "5";
      var user_id = "181";
      var ticket_details = "03,4,2000@04,3,3000";
      var amount = "5000.00";
      var purpose = "Event Registration";
      var success = window.location.origin + '/' + localStorage.getItem("web_url") + '/itinerary.html';

      var data_type = { "buyer_name": user_name, "email": user_email, "phone": user_phone, "itinerary_id": itinerary_id, "company_id": company_id, "user_id": user_id, "ticket_details": ticket_details, "amount": amount, "purpose": purpose, "redirect_url": success };
      $.ajax({
        async: true,
        crossDomain: true,
        url: localStorage.getItem("base_url") + 'instamojo_payment_test',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data_type),
        ContentType: 'application/json',
        type: 'POST',
        dataType: 'json',
        cache: true,
        success: function (output) {
          if (output.data.success == true) {

            window.location.href = output.data.payment_request.longurl + '?embed=form';

          } else {
            alert(JSON.stringify(output.data));
          }

        },
        error: function () {
          alert("Error in loading records. Please refresh the page and try again.");
        }
      });
    });
    $(".popup-overlay, .close").on("click", function () {
      $(".popup-overlay").fadeOut("fast");
      $("#payment-popup").fadeOut("fast");
      document.getElementById("payment-frame").src = '';
    });

    $(".tell-me").click(function () {
      if($(window).width() < 960){    
         $('.slick-dots').hide();    
      }
      var tell_me_id = $(this).attr("id");
      $("#tell_me" + tell_me_id).css({
        "position": "absolute",
        "right": "0px",
      });
    });
    $(".cancel").click(function () {
      var tell_me_id = $(this).attr("id");
      $("#tell_me" + tell_me_id).css({
        "position": "absolute",
        "right": "-500px",
      });
      if($(window).width() < 960){    
        $('.slick-dots').show();    
      }
    });
    $(".available-button").click(function(){
    $(".available").fadeIn('slow');
    $(".registered").hide();
  });
  $(".register-button").click(function(){
    $(".available").hide();
    $(".registered").fadeIn('slow');
  });

  $(".view-reg").click(function(){
    $(".lunch-register").css({
        "position":"absolute",
        "right":"0px",
    });
    if($(window).width() < 960){    
        $('.slick-dots').hide();    
      }
  });
  $(".close-register").click(function(){
    $(".lunch-register").css({
        "position":"absolute",
        "right":"-500px",
    });
    if($(window).width() < 960){    
        $('.slick-dots').show();    
      }
  });
  $(".view-reg-travel").click(function(){
    $(".travel-register").css({
        "position":"absolute",
        "right":"0px",
    });
  });
  $(".close-register").click(function(){
    $(".travel-register").css({
        "position":"absolute",
        "right":"-500px",
    });
  });
  $(".view-reg-stay").click(function(){
    $(".stay-register").css({
        "position":"absolute",
        "right":"0px",
    });
  });
  $(".close-register").click(function(){
    $(".stay-register").css({
        "position":"absolute",
        "right":"-500px",
    });
  });
	
	$('.accordion').click(function(){
		$('.panel').toggle('fast');
		$(this).toggleClass('active');
	});
	$(".pay_now").click(function(){
		if($(window).width() < 960){    
		  $('.slick-dots').hide();    
		}
		//var pay_id = $(this).attr('id');
		var ticket_company_id = $(this).data('company_id');
		var ticket_itinarary_id = $(this).data('itinerary_id');
		var data_type = {"itinerary_id":ticket_itinarary_id, "company_id":ticket_company_id};
		$.ajax({
			async: true,
			crossDomain: true,
			url: localStorage.getItem("base_url") + 'ticket_category_list_iti',
			contentType: 'application/json; charset=utf-8',
			data: JSON.stringify(data_type),
			ContentType: 'application/json',
			type: 'POST',
			dataType: 'json',
			cache: true,
			success: function (output){
				if (output.status == 1000){
					localStorage.setItem("ticket_itinarary_data", JSON.stringify(output.data));
				  $(".buy_ticket").css({
					"position":"absolute",
					"right":"-500px",
				  });
					$('#buy_ticket'+ticket_itinarary_id).css({
						"position":"absolute",
						"right":"0px",
					});
					var ticket_category_data = JSON.parse(localStorage.getItem("ticket_itinarary_data"));
					console.log(ticket_category_data);
					var length_of_list = ticket_category_data.length;
					//console.log(length_of_list);
					var categories_list ="<option value='0' data-tax_status='0' data-amount='0' data-iti_id='0'> Select Category </option>";
					for(var i=0;i<length_of_list;i++){
						if( ticket_category_data[i].ticket_count != 0 && ticket_category_data[i].hidden_status == 0){
							categories_list += "<option value='"+ticket_category_data[i].id+"' data-category_id='"+ticket_category_data[i].id+"' data-tax_status='"+ticket_category_data[i].include_tax_amount_status+"' data-amount='"+ticket_category_data[i].total_pay_amount+"' data-iti_id='"+ticket_itinarary_id+"'> "+ticket_category_data[i].category_name+" </option>";
						}
						else if(ticket_category_data[i].hidden_status == 1){
							categories_list += "<option value='"+ticket_category_data[i].id+"' data-category_id='"+ticket_category_data[i].id+"' data-tax_status='"+ticket_category_data[i].include_tax_amount_status+"' data-amount='"+ticket_category_data[i].total_pay_amount+"' data-iti_id='"+ticket_itinarary_id+"' disabled> "+ticket_category_data[i].category_name+" </option>";
						}
					}
					//console.log(categories_list);
          
					document.getElementById('select_category'+ticket_itinarary_id).innerHTML = categories_list;
					  $('.ticket_price').html('0.00');
					  $(".tax_text").css("display","none");
            $('#buy-ticket'+ticket_itinarary_id).attr("data-per_ticket_amount",0);
            $('#buy-ticket'+ticket_itinarary_id).attr("data-ticket_amount",0);
				} 
			},
			error: function (){
				alert(output.message);
			}
		});
		$('.cat-select').on('change',function(){
			var iti_id = $(this).find(':selected').data('iti_id');
      console.log(iti_id);
			var selected_cat_id = $(this).find(':selected').data('category_id');
			var tax_status = $(this).find(':selected').data('tax_status');
			var ticket_amount = $(this).find(':selected').data('amount');
			if( tax_status == 1){
				$(".tax_text").css("display","block");
			}
			else{
				$(".tax_text").css("display","none");
			}
      if(iti_id > 0){
        $('#buy-ticket'+iti_id).attr("data-per_ticket_amount",ticket_amount);
        var value = $('#tecket_value'+ticket_itinarary_id).val();
        var final_ticket_amount = Math.round((ticket_amount * value) * 100) / 100;
        $('#buy-ticket'+iti_id).attr("data-ticket_amount",final_ticket_amount);
       document.getElementById('ticket_price'+iti_id).innerHTML = final_ticket_amount;
      }else{
        $('.buy-ticket').attr("data-per_ticket_amount",0);
        $('.buy-ticket').attr("data-ticket_amount",0);
        $('.ticket_price').html('0.00');
      }
		});
	  });
	  $(".cancel_buy").click(function(){
    	$(".buy_ticket").css({
    		"position":"absolute",
    		"right":"-500px",
    	});
      if($(window).width() < 960){    
        $('.slick-dots').show();    
      }
		});

    $(".refreal_code").keyup(function(){
      var referral_code = $(this).val();
      var iti_id = $(this).data('iti_id');
      var company_id = $(this).data('company_id');
      console.log(referral_code);
      console.log(referral_code.length);
      if(referral_code.length == 4){
      var data_type = {"referral_code":referral_code, "company_id":company_id, "itinerary_id":iti_id};
      console.log(data_type);
        $.ajax({
          async: true,
          crossDomain: true,
          url: localStorage.getItem("base_url") + 'check_referral_code',
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify(data_type),
          ContentType: 'application/json',
          type: 'POST',
          dataType: 'json',
          cache: true,
          success: function (output){
            if (output.status == 1000){
              $("#referral_status"+iti_id).text('valid').css('color','green');
              console.log("VALID");
              console.log(output);
            }else{
              swal({
                      title: "Invalid, please enter valid code.",
                      icon: "error",
                    });
              $(".refreal_code").val('');
              $("#referral_status"+iti_id).text('');
              console.log("INVALID");
              console.log(output);
              }
          },
          error: function (){
            swal({
                      title: output.message,
                      icon: "error",
                    });
          }
          });
      }else{
        $("#referral_status"+iti_id).text('must be 4 digit').css('color','red');
      }
    });

		$(".buy-ticket").click(function(){
			var unique_btn_id = $(this).data('itinarary_buynow_id');
      var buttonobj= document.getElementById("buy-ticket"+unique_btn_id);

      var user_id = buttonobj.getAttribute('data-user_id');
			var company_id = buttonobj.getAttribute('data-company_id');
			var channel_id = 'WEB';
			var category_id = document.getElementById('select_category'+unique_btn_id).value;
			var no_of_tickets = document.getElementById('tecket_value'+unique_btn_id).value;
			var referral = document.getElementById('refreal_code'+unique_btn_id).value;
      if(referral.length == 4){var referral_code = referral;}else{var referral_code = '';}
      var per_amount = buttonobj.getAttribute("data-per_ticket_amount");
      var amount = Math.round((per_amount * no_of_tickets) * 100) / 100;
      var gateway_id = buttonobj.getAttribute("data-gateway_id");
      var mobile = buttonobj.getAttribute("data-mobile");

      if(user_id != '' && company_id != '' && channel_id != '' && category_id != '' && no_of_tickets > 0 && amount > 0 && gateway_id != '' && mobile != ''){
			var data_type_payment={"company_id":company_id,
                   "user_id":user_id,
                   "channel_id":channel_id,
                   "txn_amount":amount.toString(),
                   "gateway_id":gateway_id,
                   "mobile_no":mobile,
                   "no_of_ticket":no_of_tickets,
                   "referral_code":referral_code,
                   "itinerary_id":unique_btn_id,
                   "ticket_category_id":category_id};
                   console.log(data_type_payment);

            $('#preloader').fadeIn();
            $.ajax({    
              async: true,
                      crossDomain: true,
                      url: localStorage.getItem("base_url")+'itinerary_payment_initialization',
                      contentType: 'application/json; charset=utf-8',
                      data: JSON.stringify(data_type_payment),
                      type : 'POST',
                      dataType : 'json',
                      success : function (output) {
                         if (output.status==1000){
                               localStorage.setItem("payment_data", JSON.stringify(output.data));
                   
                                window.location.href='ticket_payment_processing.html';
                              console.log(output);
                            }
                  else{
                    console.log(output);
                   swal({
                      title: output.message,
                      icon: "error",
                    });
                    $('#preloader').fadeOut('fast');
                              }
                          },
                          error : function(){
                            console.log(output);
                  swal({
                      title: "Error in loading records. Please refresh the page and try again",
                      icon: "error",
                    });
                  $('#preloader').fadeOut('fast');
                          }
                      });
              }else{
                swal({
                        title: "Please select Category.",
                        icon: "error",
                      });
              }
		});

    $(".download_now").click(function(){
      var company_id = $(this).data('company_id');
      var user_id = $(this).data('user_id');
      var itinerary_id = $(this).data('itinerary_id');
      var validation_id = $(this).data('validation_id');
      localStorage.setItem("validation_type",validation_id);

      var data_type_ticket={"company_id":company_id,
                   "user_id":user_id,
                   "itinerary_id":itinerary_id};
                  console.log(data_type_ticket);

            $('#preloader').fadeIn();
            $.ajax({    
              async: true,
              crossDomain: true,
              url: localStorage.getItem("base_url")+'user_itinerary_ticket',
              contentType: 'application/json; charset=utf-8',
              data: JSON.stringify(data_type_ticket),
              type : 'POST',
              dataType : 'json',
              success : function (output) {
               if (output.status==1000){
                    $('#preloader').fadeOut('fast');
                    localStorage.setItem("ticket_data",JSON.stringify(output.data));
                    window.location.href='ticket.html';
                    console.log(output)
                  }else{
                   swal({
                      title: output.status,
                      icon: "error",
                    });
                    $('#preloader').fadeOut('fast');
                  }
            
              },
              error : function(){
                console.log(output);
            swal({
                title: "Error in loading records. Please refresh the page and try again",
                icon: "error",
              });
            $('#preloader').fadeOut('fast');
                    }
                });
         
        });


	});
$(document).ready(function() {
		$('.minus').click(function () {
      var unique_minus = $(this).data('unique_minus');
      var $input = $(this).parent().find('#tecket_value'+unique_minus);
      var count = parseInt($input.val()) - 1;
      count = count < 1 ? 1 : count;
      $input.val(count);
      $input.change();
      return false;
    });
    $('.plus').click(function () {
      var unique_plus = $(this).data('unique_plus');
      var $input = $(this).parent().find('#tecket_value'+unique_plus);
      var count = parseInt($input.val()) + 1;
      count = count > 8 ? 8 : count;
      $input.val(count);
      $input.change();
      return false;
    });
    
    //var total_no_guest = 1;
    //function ticketvalue(value){
    $('.tecket_value').on('change',function(){
      var ticket_itinarary_id = $(this).data('itinerary_id');
      var value = $('#tecket_value'+ticket_itinarary_id).val();
      var per_ticket_price = $('#buy-ticket'+ticket_itinarary_id).attr('data-per_ticket_amount');
      //console.log(value);
      //console.log(per_ticket_price);
      var final_ticket_amount = Math.round((per_ticket_price * value) * 100) / 100;
      $('#buy-ticket'+ticket_itinarary_id).attr("data-ticket_amount",final_ticket_amount);
      document.getElementById('ticket_price'+ticket_itinarary_id).innerHTML = final_ticket_amount;
      /*if(value > 1){
        $('.multiple_entry_label'+ticket_itinarary_id).fadeIn('fast');
        var guest_details = "";
        var n = 1;
        for(i=1;i<value;i++){
          guest_details +="<div class='guest_details'><label> Guest "+n+"</label><div class='name'><div class='main-body'><div class='name'><b> Name<span class='req'>*</span> </b></div><div class='input_name'><input type='text' value='' name='guest_name"+ticket_itinarary_id+"[]'></div></div></div><div class='contact'><div class='main-body'><div class='name'><b> Contact no.<span class='req'>*</span> </b></div><div class='input_name'><input type='text' value='' name='guest_contactno"+ticket_itinarary_id+"[]'></div></div></div></div>";
          n++;
        }
        //console.log(guest_details);
        //document.getElementById('panel').innerHTML = guest_details;
        $('.multiple_entry'+ticket_itinarary_id).html(guest_details);
      }
      else{
        $('.panel').fadeOut('fast');
        $('.accordion').fadeOut('fast');
        $('.multiple_entry').fadeOut('fast');
      }
      total_no_guest = value;*/
    });
		
		
});
</script>