<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href="css/jquery.timepicker.min.css" rel="stylesheet" type="text/css">

<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="js/jquery.timepicker.min.js" type="text/javascript"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="jQCloud-master/dist/jqcloud.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="jQCloud-master/dist/jqcloud.css">


<style>
  .join_btn_zoom{
    top: auto;
    bottom: 10px;
    right: 10px;
    line-height: 20px;
    border-radius: 33px;
    position: absolute;
    color: #fff;
    background: #ff0000;
    right: 20px;
    padding: 3px 12px;
    border-radius: 5px;
    font-size: 15px;
    height: 35px;
    margin: auto;
    cursor: pointer;
    outline: none;
    border: none;
  }
  .join_btn_zoom button {
    top: auto;
    bottom: 9px;
    right: 10px;
    font-size: 15px;
    padding: 3px 12px;
    height: 26px;
    border-radius: 33px;
    line-height: 20px;
    outline: none;
    border: none;
    text-decoration: none;
    color: #fff;
  }
  .join_btn button {
    top: auto;
    bottom: 9px;
    right: 10px;
    font-size: 15px;
    padding: 3px 12px;
    height: 26px;
    border-radius: 33px;
    line-height: 20px;
    outline: none;
    border: none;
    text-decoration: none;
    color: #fff;
  }

  .join_btn {
    top: auto;
    bottom: 10px;
    right: 10px;
    line-height: 20px;
    border-radius: 33px;
    position: absolute;
    color: #fff;
    background: #ff0000;
    right: 20px;
    padding: 3px 12px;
    border-radius: 5px;
    font-size: 15px;
    height: 35px;
    margin: auto;
    cursor: pointer;
    outline: none;
    border: none;
  }
</style>
<script type="text/javascript">
  var user_data = JSON.parse(localStorage.getItem("user_data"));
  for (var k = 0; k < user_data.app_info.bottom_navigation.length; k++) {
    if (user_data.app_info.bottom_navigation[k].menu_id == '13') {
      $('#module').text(user_data.app_info.bottom_navigation[k].name);
      break;
    }
  }
  $('#main-search').hide('fast');
</script>
<div class="live_page">
  <div class="container">
    <div class="row">
      <div class="event_summary">
        <span class="event_back"><i class="fas fa-arrow-left"></i>Back</span>
        <p class="session_event_summary">What is your name</p>
        <p class="ques_event_summary">Event Summary</p>
        <div class="general_align">
          <div class="country_analytics">
            <div class="gender_style_icon">
              <i class="fas fa-user-friends"></i>
            </div>
            <p>Female <span>60%</span></p>
            <p>Male&nbsp;&nbsp;&nbsp;&nbsp; <span>40%</span></p>
          </div>
          <div class="browser_type">
            <div class="browser_type_icon">
              <i class="far fa-window-maximize"></i>
            </div>
            <p>Google chrome<span>70%</span></p>
            <p>Safari<span>15%</span></p>
            <p>Internet explorer<span>5%</span></p>
            <p>Others<span>10%</span></p>
          </div>
          <div class="device_type">
            <div class="device_type_icon">
              <i class="fas fa-tablet"></i>
            </div>
            <p>Mobile <span>80%</span></p>
            <p>Tablet <span>5%</span></p>
            <p>Web <span>15%</span></p>
          </div>
          <div class="enagement_age">
            <div class="enagement_age_icon">
              <i class="fas fa-male"></i>
            </div>
            <p>Age</p>
            <p>0-18<span>10%</span></p>
            <p>19-28<span>10%</span></p>
            <p>29-38<span>10%</span></p>
            <p>39-50<span>10%</span></p>
            <p>51-70<span>10%</span></p>
            <p>70-above<span>10%</span></p>
          </div>
          <div class="country_list">
            <div class="country_list_icon">
              <i class="fas fa-globe-americas"></i>
            </div>
            <p>India<span>80%</span></p>
            <p>Dubai<span>10%</span></p>
            <p>US<span>10%</span></p>
          </div>
        </div>
        <div class="manage_zoom_map">
          <div id="hubblepic">
            <div class="map_con" id="regions_div"></div>
          </div>
        </div>
        <input type="range" min="1" max="4" value="1" step="0.1" id="zoomer" class="custom-range" oninput="deepdive()">
        <div class="poll_compare">
          <table class="poll_compare_table">
            <tr class="poll_compare_headings">
              <th>Poll name</th>
              <th>Poll Engagements</th>
              <th>Responses</th>
              <th>Time interval</th>
              <th>Start date</th>
              <th>End date</th>
            </tr>
            <tr class="poll_compare_row">
              <td class="poll_compare_name">Poll 1</td>
              <td>39749</td>
              <td>23649</td>
              <td>2 days</td>
              <td class="poll_compare_start">1 Janauary 2018 </br>12:00pm</td>
              <td class="poll_compare_end">3 Janauary 2018 </br>12:00pm</td>
            </tr>
            <tr class="poll_compare_row">
              <td class="poll_compare_name">Poll 2</td>
              <td>30749</td>
              <td>21649</td>
              <td>3 days</td>
              <td class="poll_compare_start">4 Janauary 2018 </br>11:00pm</td>
              <td class="poll_compare_end">7 Janauary 2018 </br>10:00pm</td>
            </tr>
          </table>

        </div>
        <div class="day_engagement_con">
          <p class="day_engagement_days">
            <span class="day_engagement_button">Day 1</span>
            <span class="day_engagement_button">Day 2</span>
            <span class="day_engagement_button">Day 3</span>
          </p>
          <div class="day_engagement_days_content">
            <div id="chart_div"></div>
          </div>
        </div>
        <p class="live_question_text">Live questions analytic</p>
        <div class="event_align_center">
          <div class="event_total_question">
            <i class="fas fa-question event_icon_ques"></i>
            <p>Total Questions</p>
            <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:70%">
                704 Questions
              </div>
            </div>
          </div>
          <div class="total_replies">
            <i class="far fa-comments total_replies_icon"></i>
            <p>Total Replies</p>
            <div class="progress">
              <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60"
                aria-valuemin="0" aria-valuemax="100" style="width:60%">
                1204 Replies
              </div>
            </div>
          </div>
          <div class="total_upvote">
            <i class="fas fa-check-double total_upvote_icon"></i>
            <p>Total Upvotes</p>
            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100" style="width:50%">
                14944 Upvotes
              </div>
            </div>
          </div>
          <div class="most_voted_question">
            <i class="fas fa-vote-yea total_voted_icon"></i>
            <p>Most voted Question</p>
            <p><i class="fab fa-quora"></i> Who is your favourite ?</p>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40"
                aria-valuemin="0" aria-valuemax="100" style="width:40%">
                1998 Upvotes
              </div>
            </div>
          </div>
        </div>
        <!-- live stream -->
        <div class="live_stream_analytics">
          <p class="live_stream_text">Live stream analytic</p>
          <div class="live_stream_content">
            <p class="watch_count">Total Views</p>
            <i class="far fa-eye watch_icon"></i>
            <p class="watch_count_number">22,859</p>
          </div>
        </div>
        <div class="live_poll_analytics">
          <p class="live_stream_text">Live poll analytic</p>
          <p class="poll_one">Poll 1</p>
          <div class="poll_detail">
            <div class="poll_total_response_data">
              <p class="live_total_response_text">Poll type</p>
              <p class="live_total_response_no">Rating</p>
            </div>
            <div class="poll_total_response_data">
              <p class="live_total_response_text">Total responses</p>
              <p class="live_total_response_no">4.8K</p>
            </div>

            <div class="poll_total_response_data">
              <p class="live_total_response_text">Start date</p>
              <p class="live_total_response_no">14, Janauary, 2019</p>
            </div>
            <div class="poll_total_response_data">
              <p class="live_total_response_text">End date</p>
              <p class="live_total_response_no">19, Janauary, 2019</p>
            </div>
            <div class="stars_list_question">
              <p class="live_total_response_text">Poll question</p>
              <p class="live_total_response_no">What is your experience </p>
            </div>
          </div>
          <div class="stars_list_percentage">
            <div class="stars_list">
              <p class="stars_number">Stars number <span> People percentage</span></p>
              <hr>
              <p><i class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i
                  class="far fa-star"></i> <i class="far fa-star"></i><span>20%</span></p>
              <p><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i> <i
                  class="far fa-star"></i> <i class="far fa-star"></i><span>2%</span></p>
              <p><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                  class="far fa-star"></i> <i class="far fa-star"></i><span>30%</span></p>
              <p><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                  class="fas fa-star"></i> <i class="far fa-star"></i><span>44%</span></p>
              <p><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                  class="fas fa-star"></i> <i class="fas fa-star"></i><span>8%</span></p>
            </div>
            <span class="poll_donutchart" id="donutchart"></span>
          </div>
          <div class="stars_list_percentage">
            <div class="stars_list stars_mcq">
              <p class="stars_number">MCQ Options<span>People percentage</span></p>
              <hr>
              <div class="manage_poll_star">
                <p>Delhi<span>73%</span></p>
                <p>Mumbai<span>28%</span></p>
                <p>Chennai<span>17%</span></p>
                <p>Goa <span>2%</span></p>
                <p>Jhansi<span>1%</span></p>
              </div>
            </div>
            <span class="poll_donutchart" id="mcq_donutchart"></span>
          </div>
          <div class="stars_list_percentage">
            <div class="stars_list stars_cloud">
              <p class="stars_number">Word cloud <span>People percentage</span></p>
              <hr>
              <div class="manage_poll_star">
                <p>sidhant <span>20%</span></p>
                <p>parian <span>7%</span></p>
                <p>floida<span>19%</span></p>
                <p>gama<span>12%</span></p>
                <p>ansi<span>2%</span></p>
                <p>sda<span>7%</span></p>
                <p>sente<span>1%</span></p>
                <p>farni<span>22%</span></p>
              </div>
            </div>
            <div id="series_chart_div" style="width: 100%; height: 300px;"></div>
          </div>
          <div class="stars_list_percentage">
            <div class="stars_list stars_open">
              <p class="stars_number">Open text</p>
              <hr>
              <div class="manage_poll_star">
                <p>sidhant woant be</p>
                <p>paria hgs jsf n</p>
                <p>floida in us tonciate connection to held</p>
                <p>gama is ray of uv</p>
                <p>ansi is anice name</p>
                <p>sda stans for stand</p>
                <p>sente shorts of sentaence</p>
                <p>farni is?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="session_tab">
        <div class="session_sub_tab">
          <button class="ongoing_session down_triangle">Ongoing Sessions</button>
          <button class="archive_session">Archive Sessions</button>
        </div>
      </div>
      <div class="session_container" style="display: block;" id="session_container">
      </div>
      <div id='live_section' class='liveQuestions'></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    var check_session_type = sessionStorage.getItem('session_type')
    var check_inside = localStorage.getItem('Inside_session');
    if (check_inside == 0) {
      console.log("check_inside>>" + check_inside);
      $("#session_container").fadeOut('fast');
      $.get("includes/live_questions.html", function (fileData) {
        $('#live_section').html(fileData);
        $(".live_container").fadeIn('fast');
        $('.session_tab').hide();
      });
    } else if (check_inside == 1) {
      console.log("check_inside>>" + check_inside);
      $("#session_container").fadeOut('fast');
      $.get("webUrlLive.html", function (fileData) {
        $('#live_section').html(fileData);
        $(".live_container").fadeIn('fast');
        $('.session_tab').hide();
      });
    }
    //*********************************** end web url live **************************************** 
    var live_session_data;
    var company_data = JSON.parse(localStorage.getItem("activation"));
    var company_id = company_data.company.id;

    var userData = JSON.parse(localStorage.getItem("user_data"));
    var current_user_id = userData.user.id.toString();

    localStorage.setItem('session_type', '1')
    var session_type = localStorage.getItem('session_type')
    console.log(session_type + "," + check_session_type)

    if (check_session_type == 2) {
      session_type = check_session_type;
      console.log('session type' + session_type)
      $('.ongoing_session ').removeClass('down_triangle');
      $('.archive_session').addClass('down_triangle');
    }

    localStorage.setItem('session_type', session_type)
    if (live_session_data == null && live_session_data == undefined) {
      //session_type = localStorage.getItem('session_type')
      load_session_data(company_id, session_type, current_user_id);
    } else if (live_session_data == null || live_session_data == undefined || live_session_data == 0) {
      var event_date_time = "";
      event_date_time +=
        "<div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>";
      $('#preloader').hide();
      $("#session_container").html(event_date_time);
    }

    function show_session_data() {
     var userObj = JSON.parse(localStorage.getItem("user_data"));
     var currentUser = userObj.user.id.toString();
     var emptyState = true;
     var userRole = userObj.user.user_role;
      var live_session_list = "";
      if (live_session_data == null || live_session_data == undefined || live_session_data == 0) {
        var event_date_time = "";
        event_date_time +=
          "<div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>";
        $('#preloader').fadeOut('fast');
        $("#session_container").html(event_date_time);
      } else {
        for (i = 0; i < live_session_data.length; i++) {
         var allowedUsers = [],
            allowedRoles = [],
            allowedModerators = [];
          if (live_session_data[i].user_base !== null) {
            allowedUsers = live_session_data[i].user_base.split(",");
          }

          if (live_session_data[i].role_base !== null) {
            allowedRoles = live_session_data[i].role_base.split(",");
          }

          if (live_session_data[i].moderator !== null) {
            allowedModerators = live_session_data[i].moderator.split(",");
          }

          if (inArray(currentUser, allowedUsers) || inArray(userRole, allowedRoles) || inArray(currentUser,
            allowedModerators)) {

            emptyState = false;
            var event_date_time = post_time(live_session_data[i].start_date_time);
            live_session_list +=
              "<div class='session'><div class='session_logo'><i class='fa fa-calendar-o' aria-hidden='true'></i></div><div class='session_name'><h3> " +
              live_session_data[i].session_name + "</h3><p><span> " + event_date_time + " </span></p></div>";
            var Modarator_str = live_session_data[i].moderator;
            var Modarator_arr = Modarator_str.split(",");
            var user_id = user_data.user.id;
            if (live_session_data[i].filter_moderator_status == 1 && inArray(user_id, Modarator_arr) &&
              session_type == 1) {

              live_session_list += "<div class='modarate_btn'><span> Modaration On </span></div>";
            } else if (live_session_data[i].filter_moderator_status == 0 && inArray(user_id, Modarator_arr) &&
              session_type == 1) {
              live_session_list += "<div class='modarate_btn'><span> Modaration Off </span></div>";
            } else {
              live_session_list += "<div class='modarate_btn' style='display:none;'></div>";
            }

            if (live_session_data[i].filter_moderator_status == 1 && inArray(user_id, Modarator_arr) &&
              session_type == 1) {

              live_session_list +=
                "<div class='session_menu'><i class='fas fa-ellipsis-v'></i></div><div class='session_dropdown'><div class='edit' data-edit_id='" +
                i +
                "'><a href='javascript:void(0)'><i class='fa fa-pencil-square-o'aria-hidden='true'></i><span> Edit <span></a></div><!--<div class='analytics' data-edit_id='" +
                i +
                "'><a href='javascript:void(0)'><i class='fa fa-pencil-square-o'aria-hidden='true'></i><span> Analytics <span></a></div>--></div>";
            } else if (live_session_data[i].filter_moderator_status == 0 && inArray(user_id, Modarator_arr) &&
              session_type == 1) {

              live_session_list +=
                "<div class='session_menu'><i class='fas fa-ellipsis-v'></i></div><div class='session_dropdown'><div class='edit' data-edit_id='" +
                i +
                "'><a href='javascript:void(0)'><i class='fa fa-pencil-square-o'aria-hidden='true'></i><span> Edit <span></a></div><!--<div class='analytics' data-edit_id='" +
                i +
                "'><a href='javascript:void(0)'><i class='fa fa-pencil-square-o'aria-hidden='true'></i><span> Analytics <span></a></div>---></div>";
            } else {

              live_session_list += "<div class='edit' style='display:none;'></div>";

            }
            if (session_type == 1) {
              live_session_list += "<div class='edit_popup_overlay' id='edit_popup_overlay" + i +
                "'><div class='edit_popup'><h4> Edit Session </h4><form><div class='form-group'><input type='text' placeholder='Session name' value='" +
                live_session_data[i].session_name + "' id='edit_session_name" + i +
                "'></div><div class='form-group'><input size='16' type='text' readonly class='form_datetime_start' data-id='" +
                i + "' placeholder='Session Star Date Time' value='" + post_time_edit(live_session_data[i]
                  .start_date_time) + "' id='edit_session_startdatetime" + i +
                "'></div><div class='form-group'><input size='16' type='text' readonly class='form_datetime_end' data-id='" +
                i + "' placeholder='Session End Date Time' value='" + post_time_edit(live_session_data[i]
                  .end_date_time) + "' id='edit_session_enddatetime" + i + "'></div>";

              if (live_session_data[i].filter_moderator_status == 1) {

                live_session_list +=
                  "<div class='form-group'><div class='modarate_btn'><span> Modaration </span><label class='switch'><input type='checkbox' checked name='modator" +
                  i + "' class='moderation_status' id='modator_check" + i + "' data-id='" + i +
                  "' value='1'><span class='slider round' ></span></label></div></div>";
              } else {
                live_session_list +=
                  "<div class='form-group'><div class='modarate_btn'><span> Modaration </span><label class='switch'><input type='checkbox' name='modator" +
                  i + "' class='moderation_status' id='modator_check" + i + "' data-id='" + i +
                  "' value='0'><span class='slider round' ></span></label></div></div>";
              }

              live_session_list += "<div class='form-group'><input type='text' placeholder='Event Code' value='" +
                live_session_data[i].session_code + "' id='edit_session_event_code" + i +
                "'></div><div class='form-group' style='text-align:center;'><input type='hidden' ><input type='button' value='Cancel' class='edit_close'><input type='button' value='Submit' class='session_edit_btn' data-unique_id='" +
                i + "' data-session_id='" + live_session_data[i].id + "' data-company_id='" + company_info.company
                  .id + "'></div></form></div></div>";
            }

            //3june dynamic
            if (live_session_data[i].is_session_zoom == 1) {

              live_session_list += "<input type='button' value='Join' class='zoom_join_btn join_btn_zoom' data-id='" +
                i + "'  data-zoom_meeting_id='" + live_session_data[i].zoom_meeting_id + "'  data-modarator_id='" +
                live_session_data[i].moderator + "' data-modaration_status='" + live_session_data[i]
                  .filter_moderator_status + "' data-session_id='" + live_session_data[i].id + "' data-company_id='" +
                company_info.company.id + "' data-user_id='" + user_data.user.id + "'  data-api_key='" +
                live_session_data[i].zoom_api_key + "'>";

            } else if (live_session_data[i].web_url_status == 1) {
              live_session_list += "<input type='button' value='Join' class='join_btn' id='join_btn" + i +
                "' data-company_id='" + company_info.company.id + "' data-user_id='" + user_data.user.id +
                "' data-session_id='" + live_session_data[i].id + "' data-group_channel_no='" + live_session_data[i]
                  .live_question_groupchannel + "' data-session_name='" + live_session_data[i].session_name +
                "'  data-id='" + i + "' data-live_streaming_group_channel_no='" + live_session_data[i]
                  .live_stream_groupchannel + "' data-modarator_list='" + live_session_data[i].moderator +
                "' data-modaration_status='" + live_session_data[i].filter_moderator_status +
                "' data-poll_group_channel='" + live_session_data[i].live_poll_groupchannel +
                "' data-check_type='1' data-web_url='" + live_session_data[i].web_url + "'>";

            } else {
              live_session_list += "<input type='button' value='Join' class='join_btn' id='join_btn" + i +
                "' data-company_id='" + company_info.company.id + "' data-user_id='" + user_data.user.id +
                "' data-session_id='" + live_session_data[i].id + "' data-group_channel_no='" + live_session_data[i]
                  .live_question_groupchannel + "' data-session_name='" + live_session_data[i].session_name +
                "'  data-id='" + i + "' data-live_streaming_group_channel_no='" + live_session_data[i]
                  .live_stream_groupchannel + "' data-modarator_list='" + live_session_data[i].moderator +
                "' data-modaration_status='" + live_session_data[i].filter_moderator_status +
                "' data-poll_group_channel='" + live_session_data[i].live_poll_groupchannel +
                "' data-check_type='0' data-web_url=''>";
            }

            live_session_list += "</div></form></div></div></div>";
          }

        }
        live_session_list += "<div class='live_end' style='display: none;'><label> End Here..</label></div>";

        $("#session_container").html(live_session_list);
        $('#preloader').hide();
        $(".live_end").css('display', 'block');
      }

      if (emptyState) {
        var event_date_time = "";
        event_date_time +=
          "<div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>";
        $('#preloader').fadeOut('fast');
        $("#session_container").html(event_date_time);
        $(".live_end").css('display', 'none');
      }

      $(".moderation_status").click(function () {
        var id = $(this).data('id');
        var moderator_status = $('#modator_check' + id).val();
        if (moderator_status == 0) {
          $('#modator_check' + id).val('1');
        } else {
          $('#modator_check' + id).val('0');
        }
      });
      $('.session_menu').click(function () {
        $(this).next('.session_dropdown').fadeToggle('fast');
      });

      $('.analytics').click(function () {
        $('.session_container').fadeOut('fast');
        $('.session_tab').fadeOut('fast');
        $('.event_summary').fadeToggle('fast');

      });
      $('.event_back').click(function () {
        $('.event_summary').fadeOut('fast');
        $('.session_tab').fadeIn('fast');
        $('.session_container').fadeIn('fast');
      });

      $(function () {
        $('.form_datetime_start').datetimepicker({
          format: 'dd-mm-yyyy hh:ii',
          weekStart: 1,
          todayBtn: 1,
          autoclose: 1,
          todayHighlight: 1,
          startView: 2,
          forceParse: 0,
          showMeridian: 1

        });
      });
      $(function () {
        $('.form_datetime_end').datetimepicker({
          format: 'dd-mm-yyyy hh:ii',
          weekStart: 1,
          todayBtn: 1,
          autoclose: 1,
          todayHighlight: 1,
          startView: 2,
          forceParse: 0,
          showMeridian: 1

        });
      });
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36251023-1']);
      _gaq.push(['_setDomainName', 'jqueryscript.net']);
      _gaq.push(['_trackPageview']);

      (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
          '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();



      $(".edit").click(function () {
        var session_edit_id = $(this).data('edit_id');
        $('#edit_popup_overlay' + session_edit_id).fadeIn('fast');
      });
      $(".edit_close").click(function () {
        $('.edit_popup_overlay').fadeOut('fast');
      });

      $(".join_close").click(function () {
        var unique_join_btn = $(this).data('id');
        $('#event_code' + unique_join_btn).val('');
      });
      $('.session_logo').css('color', company_info.company.header_color);
      $('.session_edit_btn').css('background', company_info.company.button_bg_color);
      $('.session_edit_btn').css('button_text_color', company_info.company.button_bg_color);
      $('.edit_close').css('background', company_info.company.header_color);
      // $('.join_btn').css('background',company_info.company.button_bg_color);
      $('.join_close').css('background', company_info.company.header_color);

      $('.event_code').keypress(function (e) {
        var key = e.which;
        if (key == 13) // the enter key code
        {
          e.preventDefault();
          var btnNo = $(this).data('id');
          $('#join_btn' + btnNo).click()
        }
      });

      $(".zoom_join_btn").click(function () {
        $('#preloader').fadeIn('fast');
        var unique_join_btn = $(this).data('id');
        var join_user_name = JSON.parse(localStorage.getItem("user_data")).user.name;
        var moderator_ids = $(this).data('modarator_id').toString();
        var moderator_arr = moderator_ids.split(',');
        var join_zoom_meeting_id = $(this).data('zoom_meeting_id');
        var listItem = live_session_data[unique_join_btn]
        var join_event_code = listItem.session_code;
        // var join_event_code = document.getElementById('event_code' + unique_join_btn).value;
        var join_company_id = $(this).data('company_id');
        var join_user_id = $(this).data('user_id');
        var join_session_id = $(this).data('session_id');
        var join_api_key = $(this).data('api_key');
        var join_moderation_status = 0;

        if (inArray(join_user_id, moderator_arr)) {
          join_moderation_status = 1;
        }
        if (join_event_code == "") {
          $('#preloader').fadeOut('fast');
          Swal.fire({
            icon: 'error',
            text: 'Please Enter Join Code',

          });
          return false;
        }


        var zoom_session_data = {
          company_id: join_company_id,
          username: join_user_name,
          moderator_status: join_moderation_status,
          meeting_id: join_zoom_meeting_id,
          api_key: join_api_key,
          session_id: join_session_id,
          user_id: join_user_id
        };


        var data_type = {
          "company_id": join_company_id,
          "user_id": join_user_id,
          "session_id": join_session_id,
          "event_code": join_event_code
        }

        $.ajax({
          crossDomain: true,
          url: localStorage.getItem("base_url") + 'live_session_join_with_verify',
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify(data_type),
          ContentType: 'application/json',
          type: 'POST',
          dataType: 'json',
          cache: true,
          success: function (output) {
            if (output.status == 1001) {
              $('#preloader').fadeOut('fast');
              $('#event_code' + unique_join_btn).val('');
              Swal.fire({
                text: (output.message),
                icon: "warning",
              });
              $('.event_code').focus();
              return false;
            }


            fetch(localStorage.getItem("base_url") + "zoom_meeting_status", {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify({
                meeting_id: join_zoom_meeting_id,
                session_id: join_session_id
              })
            })
              .then(response => response.json())
              .then(meetingdata => {

                if ((join_moderation_status === 0) && (meetingdata.status == 1000) && (meetingdata.data
                  .status !== "started") && (inArray(meetingdata.data.type, [1, 2, 3, 4, 8]))) {
                  $('#preloader').fadeOut('fast');
                  $('#event_code' + unique_join_btn).val('');
                  Swal.fire({
                    text: ("Meeting not started"),
                    icon: "warning",
                  });
                  $('.event_code').focus();
                  return false;
                }
                if (meetingdata.status == 1001) {
                  $('#preloader').fadeOut('fast');
                  $('#event_code' + unique_join_btn).val('');
                  Swal.fire({
                    text: (meetingdata.message),
                    icon: "warning",
                  });
                  $('.event_code').focus();
                  return false;
                }
                localStorage.setItem("zoom_live_session", JSON.stringify(zoom_session_data));
                window.location.href = "live/index.html";
              })


          }
        });


      });

      $(".join_btn").click(function () {
        $('#preloader').fadeIn('fast');
        var check_type = $(this).data('check_type');
        var live_url = $(this).data('web_url');

        var unique_join_btn = $(this).data('id');
        var listItem = live_session_data[unique_join_btn] // by himmi
        var join_event_code = listItem.session_code; //by himmi
        //var join_event_code = document.getElementById('event_code'+unique_join_btn).value;
        var join_company_id = $(this).data('company_id');
        var join_user_id = $(this).data('user_id');

        var web_url = live_url + '?user_id=' + join_user_id;

        var join_session_id = $(this).data('session_id');
        var join_group_channel_no = $(this).data('group_channel_no');
        var join_moderation_status = $(this).data('modaration_status');
        var join_modarators_id = $(this).data('modarator_list');
        var live_streaming_group_channel_no = $(this).data('live_streaming_group_channel_no');
        var live_poll_groupchannel = $(this).data('poll_group_channel');
        //console.log(join_moderation_status);
        var session_name = $(this).data('session_name');
        localStorage.setItem('live_groupChannel_key', join_group_channel_no);
        localStorage.setItem('live_streaming_key', live_streaming_group_channel_no);
        localStorage.setItem('live_poll_groupchannel_key', live_poll_groupchannel);
        if (join_moderation_status == '1') {
          localStorage.setItem('madaration_status_live', '1');
        } else {
          localStorage.setItem('madaration_status_live', '0');
        }

        localStorage.setItem('session_modarators', join_modarators_id);
        if (join_event_code == "") {
          $('#preloader').fadeOut('fast');
          Swal.fire({
            icon: 'error',
            text: 'Please Enter Join Code',

          });
        } else {
          var data_type = {
            "company_id": join_company_id,
            "user_id": join_user_id,
            "session_id": join_session_id,
            "group_channel_no": join_group_channel_no,
            "event_code": join_event_code,
            "session_type": session_type
          }

          $.ajax({
            crossDomain: true,
            url: localStorage.getItem("base_url") + 'live_session_join_with_verify',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data_type),
            ContentType: 'application/json',
            type: 'POST',
            dataType: 'json',
            cache: true,
            success: function (output) {
              if (output.status == 1000) {
                console.log(output);

                if (check_type == 1) {
                  console.log("webUrlLive"+web_url);
                  $("#session_container").fadeOut('fast');
                  localStorage.setItem('Inside_session', check_type);

                  localStorage.setItem("live_weburl", web_url);
                  $('#event_code' + unique_join_btn).val('');
                  $.get("webUrlLive.html", function (fileData) {
                    $('#live_section').html(fileData);
                    $(".live_container").fadeIn('fast');
                    //$('#preloader').fadeOut('fast');
                    localStorage.setItem('session_name', session_name)
                    //$('#session_name').text(session_name);
                    $('.session_tab').hide();

                  });

                } else {
                  $("#session_container").fadeOut('fast');
                  localStorage.setItem('Inside_session', check_type);
                  $('#event_code' + unique_join_btn).val('');
                  $.get("includes/live_questions.html", function (fileData) {
                    $('#live_section').html(fileData);
                    $(".live_container").fadeIn('fast');
                    //$('#preloader').fadeOut('fast');
                    localStorage.setItem('session_name', session_name)
                    //$('#session_name').text(session_name);
                    $('.session_tab').hide();

                  });
                }
              } else if (output.status == 1001) {
                $('#preloader').fadeOut('fast');
                $('#event_code' + unique_join_btn).val('');
                Swal.fire({
                  text: (output.message),
                  icon: "warning",
                });
                $('.event_code').focus();
              }
            },
            error: function () {
              $('#preloader').fadeOut('fast');
              Swal.fire({
                text: "Please check your internet connection.",
                icon: "warning",
              });
              //alert("Error in loading records. Please refresh the page and try again.");
            }
          });
        }
      });


      $(".session_edit_btn").click(function () {
        $('#preloader').fadeIn('fast');
        var unique_edit_btn = $(this).data('unique_id');
        var edit_session_id = $(this).data('session_id');
        var edit_company_id = $(this).data('company_id');
        var edit_session_name = $("#edit_session_name" + unique_edit_btn).val();
        var edit_session_startdatetime = $("#edit_session_startdatetime" + unique_edit_btn).val();
        console.log("#edit_session_enddatetime" + unique_edit_btn);
        var edit_session_enddatetime = $("#edit_session_enddatetime" + unique_edit_btn).val();
        console.log(edit_session_enddatetime);
        var edit_modaration_status = $("#modator_check" + unique_edit_btn).val();
        var edit_event_code = $("#edit_session_event_code" + unique_edit_btn).val();
        // console.log( edit_session_name+","+edit_session_date+","+edit_modaration_status+","+edit_event_code+","+edit_session_id+","+edit_company_id);
        if (edit_session_name == "" || edit_session_startdatetime == "" || edit_modaration_status == "" ||
          edit_event_code == "" || edit_session_enddatetime == "") {
          Swal.fire({
            text: "All field are requied",
            icon: "warning",
          });
          $('#preloader').fadeOut('fast');
        } else {

          var data_type = {
            "session_id": edit_session_id,
            "company_id": edit_company_id,
            "session_name": edit_session_name,
            "event_code": edit_event_code,
            "filter_moderator_status": edit_modaration_status,
            "start_date_time": edit_session_startdatetime,
            "end_date_time": edit_session_enddatetime
          }
          console.log(data_type)
          $.ajax({
            crossDomain: true,
            url: localStorage.getItem("base_url") + 'live_session_update_with_moderator',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data_type),
            ContentType: 'application/json',
            type: 'POST',
            dataType: 'json',
            cache: true,
            success: function (output) {
              if (output.status == 1000) {
                console.log(output.message);
                $('.edit_popup_overlay').fadeOut('fast');
                $('#preloader').fadeOut('fast');
                //localStorage.removeItem('Live_session_data');
                load_session_data(company_id, session_type, current_user_id);
              } else if (output.status == 1001) {
                $('#preloader').fadeOut('fast');
                Swal.fire({
                  text: (output.message),
                  icon: "warning",
                });
                //alert(output.message);
              }
            },
            error: function () {
              $('#preloader').fadeOut('fast');
              alert("Please check your internet connection.")
            }
          });
        }
      });
    }
    var reloadTime = 0;

    function load_session_data(company_id, session_type, current_user_id) {
      var data_type = {
        "company_id": company_id,
        "session_type": session_type,
        "user_id": current_user_id
      };
      console.log(data_type)
      $.ajax({
        crossDomain: true,
        url: localStorage.getItem("base_url") + 'live_session_service',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data_type),
        ContentType: 'application/json',
        type: 'POST',
        dataType: 'json',
        cache: true,
        success: function (output) {
          if (output.status == 1000) {
            //console.log(output.data);
            localStorage.setItem("Live_session_data", JSON.stringify(output.data));
            //window.location.reload();
            live_session_data_ajax = (output.data);
            live_session_data = live_session_data_ajax;
            console.log(live_session_data);
            reloadTime = 0;
            show_session_data();
          }
        },
        error: function () {
          //load_session_data(company_id, session_type, current_user_id);
          if (reloadTime < 2) {
            load_session_data(company_id, session_type, current_user_id);
            reloadTime++;
          } else {
            $('#preloader').fadeOut('fast');
            alert("Please check your internet connection.")
          }
        }
      });
    }

    $('.ongoing_session').click(function () {
      $(this).addClass('down_triangle');
      $(".archive_session").removeClass('down_triangle');
      $('#preloader').fadeIn('fast');
      session_type = "1"
      sessionStorage.setItem('session_type', session_type);
      localStorage.setItem('session_type', session_type);
      load_session_data(company_id, session_type, current_user_id);
    });
    $('.archive_session').click(function () {
      $(this).addClass('down_triangle');
      $(".ongoing_session").removeClass('down_triangle');
      $('#preloader').fadeIn('fast');
      //archive_session_load();
      session_type = "2"
      localStorage.setItem('session_type', session_type);
      sessionStorage.setItem('session_type', session_type);
      load_session_data(company_id, session_type, current_user_id);
    });

  });

  function inArray(needle, haystack) {
    var length = haystack.length;
    for (var i = 0; i < length; i++) {
      if (haystack[i] == needle) return true;
    }
    return false;
  }

  function post_time(milidate) {
    var date = new Date(milidate * 1000);
    var monthNames = [
      "Jan", "Feb", "Mar",
      "Apr", "May", "Jun", "Jul",
      "Aug", "Sep", "Oct",
      "Nov", "Dec"
    ];
    var day = date.getDate();
    var monthIndex = date.getMonth();
    var d = date.getHours();
    var m = date.getMinutes();
    var y = date.getYear();
    y = y + 1900;
    if (m < 10) {
      var new_m = '0' + m
    } else {
      var new_m = m;
    }
    if (d >= 12) {
      if (d > 12) {
        var new_d = d - 12;
      } else {
        new_d = d;
      }
      if (new_d < 10) {
        new_d = '0' + new_d;
      } else {
        new_d = new_d;
      }
      var s = "p.m.";
    } else {
      if (d < 10) {
        var new_d = '0' + d;
      } else {
        var new_d = d;
      }
      var s = "a.m.";
    }

    return day + ' ' + monthNames[monthIndex] + ' ' + y + ' ' + new_d + ':' + new_m + ' ' + s;
  }

  function post_time_edit(milidate) {
    var date = new Date(milidate * 1000);
    var monthNames = [
      "01", "02", "03",
      "04", "05", "06", "07",
      "08", "09", "10",
      "11", "12"
    ];
    var day = date.getDate();
    var monthIndex = date.getMonth();
    var d = date.getHours();
    var m = date.getMinutes();
    var y = date.getYear();
    y = y + 1900;
    if (m < 10) {
      var new_m = '0' + m
    } else {
      var new_m = m;
    }
    if (d >= 12) {
      if (d > 12) {
        var new_d = d - 12;
      } else {
        new_d = d;
      }
      if (new_d < 10) {
        new_d = '0' + new_d;
      } else {
        new_d = new_d;
      }
      var s = "p.m.";
    } else {
      if (d < 10) {
        var new_d = '0' + d;
      } else {
        var new_d = d;
      }
      var s = "a.m.";
    }

    return day + '-' + monthNames[monthIndex] + '-' + y + ' ' + new_d + ':' + new_m;
  }
</script>

<script>
  $('.more_session').click(function () {
    $(this).next('.session_join_button').fadeToggle('fast');
  });
</script>

<script>
  google.charts.load('current', {
    packages: ['corechart', 'bar']
  });
  google.charts.setOnLoadCallback(drawBasic);

  function drawBasic() {

    var data = new google.visualization.DataTable();
    data.addColumn('timeofday', 'Time of Day');
    data.addColumn('number', 'User Counts');

    data.addRows([
      [{
        v: [8, 0, 0],
        f: '8 am'
      }, 1],
      [{
        v: [9, 0, 0],
        f: '9 am'
      }, 2],
      [{
        v: [10, 0, 0],
        f: '10 am'
      }, 3],
      [{
        v: [11, 0, 0],
        f: '11 am'
      }, 4],
      [{
        v: [12, 0, 0],
        f: '12 pm'
      }, 5],
      [{
        v: [13, 0, 0],
        f: '1 pm'
      }, 6],
      [{
        v: [14, 0, 0],
        f: '2 pm'
      }, 7],
      [{
        v: [15, 0, 0],
        f: '3 pm'
      }, 8],
      [{
        v: [16, 0, 0],
        f: '4 pm'
      }, 9],
    ]);

    var options = {
      title: 'User Interactions Throughout the Day',
      hAxis: {
        title: 'Time of Day',
        format: 'h:mm a',
        viewWindow: {
          min: [00, 00, 0],
          max: [12, 00, 0]
        }
      },
      vAxis: {
        title: 'Rating (scale of 1-10)'
      }
    };

    var chart = new google.visualization.ColumnChart(
      document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load("current", {
    packages: ["corechart"]
  });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['1 Star', 2],
      ['2 Star', 2],
      ['3 Star', 2],
      ['4 Star', 2],
      ['5 Star', 2]
    ]);

    var options = {
      title: 'Rating Percentage',
      pieHole: 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);
  }
</script>
<script type="text/javascript">
  google.charts.load("current", {
    packages: ["corechart"]
  });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Delhi', 2],
      ['Jhansi', 2],
      ['Mumbai', 2],
      ['Chennai', 2],
      ['Goa', 2],
      ['Jhansi', 2]
    ]);

    var options = {
      title: 'Rating Percentage',
      pieHole: 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('mcq_donutchart'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load("current", {
    packages: ["corechart"]
  });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['sidhant', 2],
      ['parian', 2],
      ['floida', 2],
      ['gama', 2],
      ['ansi', 2],
      ['sda', 2],
      ['sente', 2],
      ['farni', 2]
    ]);

    var options = {
      title: 'Rating Percentage',
      pieHole: 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('cloud_donutchart'));
    chart.draw(data, options);
  }
</script>
<script type="text/javascript">
  google.charts.load('current', {
    'packages': ['corechart']
  });
  google.charts.setOnLoadCallback(drawSeriesChart);

  function drawSeriesChart() {

    var data = google.visualization.arrayToDataTable([
      ['ID', 'Number of people', 'Region', 'work', 'size'],
      ['Canada', 1, 1, 2, 2,],
      ['Dutch', 2, 1, 3, 2,],
      ['Denmark', 3, 1, 4, 3.],
      ['EGY', 4, 2, 3, 5,],
      ['GBR', 5, 2, 3, 4,],
      ['IRN', 6, 1, 4, 1,],
      ['IRQ', 7, 4, 4, 2,],
      ['ISR', 8, 2, 3, 8,],
      ['RUS', 9, 1, 1, 1,],
      ['USA', 10, 2, 4, 7,]
    ]);

    var options = {

      title: '',
      hAxis: {
        title: 'Words'
      },
      vAxis: {
        title: 'Number of people'
      },
      bubble: {
        textStyle: {
          fontSize: 9
        }
      },
      colorAxis: {
        colors: ['yellow', 'red']
      }
    };

    var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load('current', {
    'packages': ['geochart'],
    // Note: you will need to get a mapsApiKey for your project.
    // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
    'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
  });
  google.charts.setOnLoadCallback(drawRegionsMap);

  function drawRegionsMap() {
    var data = google.visualization.arrayToDataTable([
      ['Country', 'Popularity'],
      ['Germany', 00],
      ['United States', 30],
      ['Brazil', 40],
      ['Canada', 50],
      ['France', 60],
      ['RU', 10]
    ]);

    var options = {};

    var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

    chart.draw(data, options);
  }
</script>

<script>
  var zoomer = document.getElementById('zoomer');
  var hubblepic = document.getElementById('hubblepic');

  function deepdive() {
    zoomlevel = zoomer.valueAsNumber;
    hubblepic.style.webkitTransform = "scale(" + zoomlevel + ")";
    hubblepic.style.transform = "scale(" + zoomlevel + ")";
  }
</script>