
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript">
    var user_data = JSON.parse(localStorage.getItem("user_data"));
    for (var k = 0; k <user_data.app_info.bottom_navigation.length; k++) {
       if (user_data.app_info.bottom_navigation[k].menu_id == '13') {
          $('#module').text(user_data.app_info.bottom_navigation[k].name);
          break;
        }
    }
</script>
<div class="live_page">
  <div class="container">
    <div class="row">
    <!--- session design---->
    <div class="session_container" style="display: block;" id="session_container">
      
    </div>
    <!--- session design end ---->
    <!--- buzz live design ---->
    <div class="live_container" style="display: none;">
      <div class='top_bar'>
          <button class="back_button"><i class="fas fa-arrow-left"></i> <span>Back</span></button>
          <h2 id='session_name'> Session Name </h2>
      </div>
      <div class="live_video">
        <div class='video_streaming'>
            <iframe  src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
           </iframe>
        </div>
      </div>
      <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'live_question')" id="defaultOpen"> <i class="fa fa-question-circle" aria-hidden="true"></i>  Questions </button>
          <button class="tablinks" onclick="openCity(event, 'live_poll')"> <i class="fas fa-poll"></i> Polls </button>
      </div>
    <div id="live_question" class="tabcontent">
       <div class="tab2">    
            <div id="myDIV"> 
              <button class="mine_button"><i class="fas fa-id-badge"></i><span> Mine </span></button> 
              <button class="recent_button activ"><i class="fas fa-globe"></i><span> All </span></button>
              <button class="popular_button"><i class="fa fa-star">  </i><span> Popular</span></button>
            </div>
            <p class="total_question">2 Questions </p>
            <p class="present_button"><i class="fas fa-tv"></i><span> Present</span></p>
        </div>
         <div class='' id="popular_arrange">
            <div class="popular_list" id="popular_list">
            </div>
         </div> 
         <div class="recent_questions" id="recent_questions">
          <div class="queston_list" id="question_list">
              
          </div>
          <div class="ask_quetion">
              <button class="askbutton button-glow">Ask</button>
          </div>
        </div>
          <div class="mine_list" id='mine_list' style='display: none'>
          <div id='mine_question_list'>
          </div>
       </div>
      </div>
<!-- <div class='Ans_container' id='Answer_con'><div class='cro'><a onclick='reply()'><i class='fa fa-times' aria-hidden='true'></i></a><input type='checkbox'></div><div class='ques'><p class='whatis'> What is your name? What is your name? </p></div><textarea class='answer_box' placeholder='Answer'></textarea><button class='answer_sub'>Reply</button></div> -->
  <!-- present view div --> 
  <div class="present_container" id="present_container">  
    <div class="exit">
          <i class="fas fa-arrow-left"></i>
    </div>
    <div class="column3"> 
        <p class="tdownload">To Download and Open</p> 
        <div class="qrfill">  
          <div class="qrcode">    
            <img src="assets/buzz1.png">    
          </div>   
        </div>  
    </div>  
    <div class="column1"> 
      <p class="todownload"> All Questions </p> 
      <div class="queston_list" id='presentation_list'> 

      </div>  
    </div>  
      
  </div>  
<!-- present view div end here-->
  <div class="ask_container">
      <div class="ask_popup" id="ask_question">
        <div class="cross">
            <i class="fa fa-times" aria-hidden="true"></i>
      </div>
      <p>Ask your question</p>
      <textarea id="text_question" class="text_question"  placeholder="Type here....."></textarea>
      <label class="anonymously"></label><input type="checkbox" id='no_name' class="no_name" value="1"> Ask Anonymously</label>
      <div class="submitdiv">  
          <button class="submit_button" id="ask_submit">Submit</button>
      </div>
      </div>
    </div>
  </div>
  <div class="onload_present" id="onload_present">
      <div class="present_text">
          <i class="fas fa-tv"></i>
          <div class="ball"></div>
    </div>
      <ul class="rhombus">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  <div id="live_poll" class="tabcontent">
    <div class='poll_questions'>
      <div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>
    </div>
  </div> 
<!---- buzz live design ends ------>
</div>
</div>
</div>
<div class="live_overlay" id="live_overlay"></div>
<script type="text/javascript">
  $(document).ready(function(){
            var live_session_data ;  
            var user_data = JSON.parse(localStorage.getItem("user_data")); 
            var company_data = JSON.parse(localStorage.getItem("activation"));
            console.log(live_session_data);
			// console.log(live_session_data.length);
			if( live_session_data == null && live_session_data == undefined){
				//  console.log( 'aa gya if me');
				load_session_data();
			}
			else if(live_session_data == null || live_session_data == undefined || live_session_data == 0){
				var event_date_time = "";
				event_date_time +="<div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>";
				$('#preloader').hide();
				$("#session_container").html(event_date_time);
			}
 
			function show_session_data() {
				console.log( 'show_session_data aa gya');
				var live_session_list = "";
				if(live_session_data == null || live_session_data == undefined || live_session_data == 0){
					var event_date_time = "";
					event_date_time +="<div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>";
					$('#preloader').fadeOut('fast');
					$("#session_container").html(event_date_time);
				}
				else{
				for(i=0;i<live_session_data.length;i++){
					var event_date_time = post_time(live_session_data[i].start_date_time);
					live_session_list +="<div class='session'><div class='session_logo'><i class='fa fa-calendar-o' aria-hidden='true'></i></div><div class='session_name'><h3> "+live_session_data[i].session_name+"</h3><p><span> "+event_date_time+" </span></p></div>";
					var Modarator_str = live_session_data[i].moderator;
					var Modarator_arr = Modarator_str.split(","); 
					var user_id = user_data.user.id;
                   //console.log(user_data.user.id);

					if(live_session_data[i].filter_moderator_status == 1 && inArray(user_id, Modarator_arr)){

						live_session_list += "<div class='modarate_btn'><span> Modaration On </span></div>";
					}
                  else if(live_session_data[i].filter_moderator_status == 0 && inArray(user_id, Modarator_arr)){

                     live_session_list += "<div class='modarate_btn'><span> Modaration Off </span></div>";
                  }
                  else{
                    live_session_list += "<div class='modarate_btn' style='display:none;'></div>";
                  }

                  if(live_session_data[i].filter_moderator_status == 1 && inArray(user_id, Modarator_arr)){

                    live_session_list +="<div class='edit' data-edit_id='"+i+"'><a href='javascript:void(0)'><i class='fa fa-pencil-square-o'aria-hidden='true'></i><span> Edit <span></a></div>";
                  }
                  else if(live_session_data[i].filter_moderator_status == 0 && inArray(user_id, Modarator_arr)){

                    live_session_list +="<div class='edit' data-edit_id='"+i+"'><a href='javascript:void(0)'><i class='fa fa-pencil-square-o'aria-hidden='true'></i><span> Edit <span></a></div>";
                  }
                  else{

                    live_session_list +="<div class='edit' style='display:none;'></div>";

                  }
                  live_session_list +="<div class='edit_popup_overlay' id='edit_popup_overlay"+i+"'><div class='edit_popup'><h4> Edit Session </h4><form><div class='form-group'><input type='text' placeholder='Session name' value='"+live_session_data[i].session_name+"' id='edit_session_name"+i+"'></div><div class='form-group'><input size='16' type='text' readonly class='form_datetime_start' id='form_datetime_start"+i+"' data-id='"+i+"' placeholder='Session Star Date Time' value='"+post_time(live_session_data[i].start_date_time)+"' id='edit_session_startdatetime"+i+"'></div><div class='form-group'><input size='16' type='text' readonly class='form_datetime_end' id='form_datetime_end"+i+"' data-id='"+i+"' placeholder='Session End Date Time' value='"+post_time(live_session_data[i].end_date_time)+"' id='edit_session_enddatetime"+i+"'></div>";

                  if(live_session_data[i].filter_moderator_status == 1){

                     live_session_list += "<div class='form-group'><div class='modarate_btn'><span> Modaration </span><label class='switch'><input type='checkbox' checked name='modator"+i+"' class='moderation_status' id='modator_check"+i+"' data-id='"+i+"' value='1'><span class='slider round' ></span></label></div></div>";
                    }
                    else{
                      live_session_list += "<div class='form-group'><div class='modarate_btn'><span> Modaration </span><label class='switch'><input type='checkbox' name='modator"+i+"' class='moderation_status' id='modator_check"+i+"' data-id='"+i+"' value='0'><span class='slider round' ></span></label></div></div>";
                    }

                   live_session_list += "<div class='form-group'><input type='text' placeholder='Event Code' value='"+live_session_data[i].session_code+"' id='edit_session_event_code"+i+"'></div><div class='form-group' style='text-align:center;'><input type='hidden' id='modation_status'><input type='button' value='Cancel' class='edit_close'><input type='button' value='Submit' class='session_edit_btn' data-unique_id='"+i+"' data-session_id='"+live_session_data[i].id+"' data-company_id='"+company_info.company.id+"'></div></form></div></div>";

                   live_session_list += "<div class='join_session ' id='join_session' data-join_id='"+i+"'><a href='javascript:void(0)'><i class='fas fa-sign-out-alt' aria-hidden='true'></i> <span> Join </span></a></div>";

                 live_session_list += "<div class='join_overlay' id='join_overlay"+i+"'><div class='join_popup'><h4> Join Session </h4><form autocomplete='off'><div class='form-group'><input type='text' class='event_code' placeholder='Enter code...' id='event_code"+i+"' maxlength='4'></div><div class='form-group'><input type='button' value='Cancel' data-id='"+i+"' class='join_close'><input type='button' value='Join' class='join_btn' id='join_btn' data-company_id='"+company_info.company.id+"' data-user_id='"+user_data.user.id+"' data-session_id='"+live_session_data[i].id+"' data-group_channel_no='"+live_session_data[i].live_question_groupchannel+"' data-session_name='"+live_session_data[i].session_name+"'  data-id='"+i+"' data-modarator_list='"+live_session_data[i].moderator+"' data-modaration_status='"+live_session_data[i].filter_moderator_status+"' ></div></form></div></div></div>";

				}
					//$('#preloader').hide();
					$("#session_container").html(live_session_list);
					$('#preloader').hide();
				}
				$(".moderation_status").click(function(){
					var id = $(this).data('id');
					var moderator_status = $('#modator_check'+id).val();
					if(moderator_status == 0){
						$('#modator_check'+id).val('1');
					}else{
						$('#modator_check'+id).val('0');
					}
				});
				$(".no_name").click(function(){
				  var checked_no_name = $(this).val();
				  if(checked_no_name == 0){
					$("#no_name").val(1);
				  }
				  else{
					$("#no_name").val(0);
				  }
				});
			   // $('#form_datetime_start').datetimepicker({
			   //        //'autoclose': true,
			   //        'format': 'dd-mm-yyyy hh-mm-ss',
			   //        //endDate: new Date()
			   //  });
				$(function () {       
				  $('.form_datetime_start').datetimepicker({
					 'autoclose': true,
					 'format': 'dd-mm-yyyy hh-mm-ss',
					 //'locale': 'ru',
					  'defaultDate': "11/1/2013",
					 endDate: new Date()
					 });
				});
				$(function () {
					$('.form_datetime_end').datetimepicker({
					'autoclose': true,
					'format': 'dd-mm-yyyy hh-mm-ss',
					endDate: new Date()
					});
				});
				var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-36251023-1']);
                _gaq.push(['_setDomainName', 'jqueryscript.net']);
                _gaq.push(['_trackPageview']);

                (function() {
                  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();


            $(".edit").click(function(){
              var session_edit_id = $(this).data('edit_id');
              $(".live_overlay").fadeIn('fast');
              $('#edit_popup_overlay'+session_edit_id).fadeIn('fast');
            });
            $(".edit_close").click(function(){
              $('.edit_popup_overlay').fadeOut('fast');
               $(".live_overlay").fadeOut('fast');
            });
             $(".join_session").click(function(){
              var session_join_id = $(this).data('join_id');
              $(".live_overlay").fadeIn('fast');
              $('#join_overlay'+session_join_id).fadeIn('fast');
              $('.event_code').focus();
            });
            $(".join_close").click(function(){
              var unique_join_btn = $(this).data('id');
              $('.join_overlay').fadeOut('fast');
              $(".live_overlay").fadeOut('fast');
              $('#event_code'+unique_join_btn).val('');
            });
            $('.session_logo').css('color',company_info.company.header_color);
            $('.session_edit_btn').css('background',company_info.company.button_bg_color);
            $('.session_edit_btn').css('button_text_color',company_info.company.button_bg_color);
            $('.edit_close').css('background',company_info.company.header_color);
            $('.join_btn').css('background',company_info.company.button_bg_color);
            $('.join_close').css('background',company_info.company.header_color);


            $(".join_btn").click(function(){
                $('#preloader').fadeIn('fast');
                var unique_join_btn = $(this).data('id');
                var join_event_code = document.getElementById('event_code'+unique_join_btn).value;
                var join_company_id = $(this).data('company_id');
                var join_user_id = $(this).data('user_id');
                var join_session_id = $(this).data('session_id');
                var join_group_channel_no = $(this).data('group_channel_no');
                var join_moderation_status = $(this).data('modaration_status'); 
                var join_modarators_id = $(this).data('modarator_list'); 
                console.log(join_moderation_status);
                var session_name = $(this).data('session_name'); 
                localStorage.setItem('live_groupChannel_key',join_group_channel_no);
                console.log("live_groupChannel_key is :",join_group_channel_no);
                if(join_moderation_status == '1'){
                  //console.log();
                    localStorage.setItem('madaration_status_live', '1');
                }
                else{
                  localStorage.setItem('madaration_status_live', '0');
                }
                localStorage.setItem('session_modarators',join_modarators_id);
                if( join_event_code == ""){
                    alert("Please enter event code");
                }
                else{
                  var data_type = {"company_id":join_company_id,"user_id":join_user_id,"session_id":join_session_id,"group_channel_no":join_group_channel_no,"event_code":join_event_code}

                  $.ajax({
                      crossDomain: true,
                      url: localStorage.getItem("base_url") + 'live_session_join_with_verify',
                      contentType: 'application/json; charset=utf-8',
                      data: JSON.stringify(data_type),
                      ContentType: 'application/json',
                      type: 'POST',
                      dataType: 'json',
                      cache: true,
                      success: function (output) {
                      if (output.status == 1000) {
                          console.log(output.message);
                          $("#session_container").fadeOut('fast');
                          $(".live_container").fadeIn('fast');
                          $("#live_overlay").fadeOut('fast');
                          $('.join_overlay').fadeOut('fast');
                          $('#session_name').text(session_name);
                          $('#event_code'+unique_join_btn).val('');
                          question_list()
                      }
                      else if(output.status == 1001){
                         $('#preloader').fadeOut('fast');
                         $('#event_code'+unique_join_btn).val('');
                        alert(output.message);
                      }
                      },
                      error: function () {
                        $('#preloader').fadeOut('fast');
                        alert("Error in loading records. Please refresh the page and try again.");
                        }
                      });
                }
              });
              

            $(".session_edit_btn").click(function(){
               $('#preloader').fadeIn('fast');
                var unique_edit_btn = $(this).data('unique_id');
                var edit_session_id = $(this).data('session_id');
                var edit_company_id = $(this).data('company_id');
                var edit_session_name = $("#edit_session_name"+unique_edit_btn).val();
                var edit_session_startdatetime = $("#edit_session_startdatetime"+unique_edit_btn).val();
                var edit_session_enddatetime = $("#edit_session_enddatetime"+unique_edit_btn).val();
                var edit_modaration_status = $("#modator_check"+unique_edit_btn).val();
                var edit_event_code = $("#edit_session_event_code"+unique_edit_btn).val();
               // console.log( edit_session_name+","+edit_session_date+","+edit_modaration_status+","+edit_event_code+","+edit_session_id+","+edit_company_id);
                 if(edit_session_name =="" || edit_session_startdatetime =="" || edit_modaration_status =="" || edit_event_code =="" || edit_session_enddatetime ==""){

                    alert("All field are requied");
                }
                else{ 
                
                  var data_type = {"session_id":edit_session_id,"company_id":edit_company_id,"session_name":edit_session_name,"event_code":edit_event_code,"filter_moderator_status":edit_modaration_status,"start_date_time":edit_session_startdatetime,"end_date_time":edit_session_enddatetime}
                  console.log(data_type)
                  $.ajax({
                      crossDomain: true,
                      url: localStorage.getItem("base_url") + 'live_session_update_with_moderator',
                      contentType: 'application/json; charset=utf-8',
                      data: JSON.stringify(data_type),
                      ContentType: 'application/json',
                      type: 'POST',
                      dataType: 'json',
                      cache: true,
                      success: function (output) {
                      if (output.status == 1000) {
                          console.log(output.message);
                              $('.edit_popup_overlay').fadeOut('fast');
                              $('#live_overlay').fadeOut('fast');
                              $('#preloader').fadeOut('fast');
                              //localStorage.removeItem('Live_session_data');
                              load_session_data();
                      }
                      else if(output.status == 1001){
                        $('#preloader').fadeOut('fast');
                        alert(output.message);
                      }
                      },
                      error: function () {
                        $('#preloader').fadeOut('fast');
                        alert("Error in loading records. Please refresh the page and try again.");
                        }
                      });
                   }
             });
   
    
     }
     var reloadTime = 0;
       function load_session_data(){
            var company_info = JSON.parse(localStorage.getItem("activation"));
            console.log(company_info);
            var data_type = {"company_id":company_info.company.id};
           $.ajax({
              crossDomain: true,
              url: localStorage.getItem("base_url") + 'live_session_service',
              contentType: 'application/json; charset=utf-8',
              data: JSON.stringify(data_type),
              ContentType: 'application/json',
              type: 'POST',
              dataType: 'json',
              cache: true,
              success: function (output) {
              if (output.status == 1000) {
                  //console.log(output.data);
                  localStorage.setItem("Live_session_data", JSON.stringify(output.data));
                  //window.location.reload();
                  live_session_data_ajax = (output.data);
                  live_session_data  = live_session_data_ajax;
                  console.log(live_session_data);
                  reloadTime = 0;
                  show_session_data() ;
              }
              },
              error: function () {
                load_session_data();
                if(reloadTime < 2){
                   load_session_data();
                }
                else{

                alert("Error in loading records. Please refresh the page and try again.");
                }
                }
              });
          }


            

            
            
    

  var cc = new ChatCamp({
      appId: localStorage.getItem('appid')
    })

    
    let channelListener = new cc.ChannelListener();

    var live_groupChannel_check = localStorage.getItem('live_groupChannel_key');

    console.log("localstorage:"+live_groupChannel_check);

    channelListener.onMessageReceived = function (groupChannel, message) {
      console.log(" live channel onMessageReceived"+groupChannel.id+" ,live is:"+live_groupChannel_check);
      if(groupChannel.id==live_groupChannel_check){

          console.log("inside live channel onMessageReceived");
             // question_list();
          }
    }

     channelListener.onMessageUpdated = function (groupChannel, message) {
      console.log("live channel onMessageUpdated"+groupChannel.id+" ,live is:"+live_groupChannel_check);
       if(groupChannel.id==live_groupChannel_check){

           console.log("inside live channel onMessageUpdated");
             question_list();
             popular_presantation_view();
             mine_view(globale_message_list);
          }
     }


     channelListener.onChannelUpdated = function(groupChannel) {
       console.log("test live channel onChannelUpdated"+groupChannel.id+" ,live is:"+live_groupChannel_check);
        if(groupChannel.id==live_groupChannel_check){

            console.log("inside live channel onGroupChannelUpdated");
            try
            {
              var moderationstatus = groupChannel.metadata.filter_moderator_status;
              localStorage.setItem('madaration_status_live',moderationstatus);
              console.log("live channel onGroupChannelUpdated:moderationstatus:"+moderationstatus);
            }
            catch(err){

            }
            //localStorage.getItem('madaration_status_live')
             question_list();
             // popular_presantation_view();
             // mine_view(globale_message_list);
          }
}
cc.addChannelListener("live_questions", channelListener);

function question_list(){
  console.log("---load questions----");
  var cc = new ChatCamp({
                            appId: localStorage.getItem('appid')
                          });
                          var current_user_id = localStorage.getItem('user_id').toString();
                          cc.connect(current_user_id, function(error, user) {
                             // console.log("user connect successfully")
                            if(error === null){
                            console.log("Connected to ChatCamp")
                          //   }
                          // });
                        var live_groupChannel = localStorage.getItem('live_groupChannel_key');

                        // var live_groupChannel = "5bfe9bc648bdc62857e7b948";
                        console.log("live_groupChannel_key",live_groupChannel);
                         // var groupChannel_id = join_group_channel_no ;
                          cc.GroupChannel.get(live_groupChannel, function(error, groupChannel){
                              if(error == null){
                                console.log("Group Channel retrieved successfully", groupChannel)
                              // }
                              // else
                              // {
                              //   console.log("Error in connection",groupChannel);
                              //   console.log("Error in connection",error);
                              // }
                          let previousMessageListQuery = groupChannel.createPreviousMessageListQuery();
                          previousMessageListQuery.setLimit(50);
                          previousMessageListQuery.setReference(null);
                          previousMessageListQuery.setSortBy("INSERTED_AT");

                         previousMessageListQuery.load(function(previousMessageListQueryError, messages) {
                            if(!previousMessageListQueryError){
                              console.log(messages);
                              globale_message_list = messages;
                              console.log(globale_message_list);
                              // localStorage.setItem("buzz_live_questions", JSON.stringify(messages));

                              var session_data = localStorage.getItem('Live_session_data');
                              var user_data = JSON.parse(localStorage.getItem("user_data")); 
                              //var Modarator_str = live_session_data[i].moderator;
                              var Modarator_str = localStorage.getItem('session_modarators');
                              var Modarator_arr = Modarator_str.split(","); 
                              var user_id = user_data.user.id;
                              //var message_poster_role = 
                              var is_modarator = inArray(user_id, Modarator_arr)
                              var modaration_status = localStorage.getItem('madaration_status_live')
                              var question_data = "";
                              var total_number_of_question = messages.length;
							                // total_number_of_question = 0 ;
                              if( total_number_of_question != 0 && total_number_of_question != null && total_number_of_question != undefined){
                              for (var i = 0; i < messages.length; i++) {

                                 if(messages[i].type == "text"){
                                     var modarated_question = messages[i].metadata.is_show;
                                    var anamuous_status = messages[i].metadata.no_name;
                                    var replyVisbility = messages[i].metadata.replyVisible;
                                    var total_like = messages[i].metadata.total_like;
                                    var message_poster_role = messages[i].metadata.message_poster_role;
                                    var messageID = (messages[i].id).toString();
                                    var userID = (messages[i].user.id).toString();
                                    var live_question_like;
                                    //var reply_visible_status = messages[i].metadata.replyVisible;
                                    var reply;
                                    try
                                    {
                                        reply = messages[i].metadata.reply;
                                    }catch(err)
                                    {
                                        console.log("no reply till now");
                                    }
                                    var is_liked = false;
                                    try
                                    { 
                                    live_question_like= JSON.parse(messages[i].metadata.like_by);
                                    
                                     for (var q = 0; q < live_question_like.length; q++) {
                                      if (user_id == live_question_like[q].user_id) {
                                        is_liked = true;
                                        break;
                                      }
                                      }
                                    }catch(err)
                                    {
                                        //console.log("no likes found");
                                    }
                                    
                                    //console.log(is_liked)
                                   // console.log("message id is :",messageID);
                                    if(is_modarator == true){
                                     // console.log('showing modarator  view')
                                       question_data += "<div class='question_container'><div class='user_name' ><div class='user_pic'>";
                                        if( anamuous_status == 1 ){
                                          question_data += "<img src='"+messages[i].user.avatarUrl+"'></div><h4> "+messages[i].user.displayName+" </h4>";
                                          }
                                          else{
                                            question_data += "<img src='assets/avatar.png'></div><h4> user"+messages[i].user.id+" </h4>";
                                          }
                                          
                                           question_data += "<span>"+ post_time(messages[i].insertedAt) +"</span><p class='question_name'><i class='fab fa-quora'></i>- "+messages[i].text+" </p>";

                                          if(reply != ""){
                                            if(replyVisbility == '0')
                                             question_data += "<p class='answer_text'><i class='fab fa-adn'></i>- "+reply+" <i class='fas fa-user-lock private'></i> </p>";
                                             else{
                                                question_data += "<p class='answer_text'><i class='fab fa-adn'></i>- "+reply+"</p>";
                                             }
                                           }
                                           else{
                                              question_data += "<p class='answer_text' style='display:none;'> <i class='fab fa-replyd re'></i> "+ reply+" <i class='fas fa-user-lock private'></i></p>";
                                           }
                                           question_data += "<div class='questions_likes' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'>";

                                          if(is_liked == true){
                                           question_data += "<span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i style='color:#2196F3' class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                           }
                                           else{
                                             question_data += "<span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                           }
                                          if(modaration_status == "0"){
                                            //console.log('modaration disabled')
                                            if(modarated_question == 1){
                                              question_data += "<div class='modarate_btn' style='pointer-events:none;opacity:0.3;'><span> Show </span><label class='switch'><input type='checkbox' checked><span class='slider round'></span></label></div></div></div></div>";
                                            }
                                            else{
                                              question_data += "<div class='modarate_btn' style='pointer-events:none;opacity:0.3;'><span> Show </span><label class='switch'><input type='checkbox'><span class='slider round'></span></label></div></div></div></div>";
                                            }
                                          }
                                          if(modaration_status == "1"){
                                           // console.log('modaration enabled')
                                             if(modarated_question == 1){
                                              question_data += "<div class='modarate_btn' data-unique_id='"+messageID+"' data-modarated_question='"+modarated_question+"' data-message_poster_role='"+message_poster_role+"'><span> Show </span><label class='switch'><input type='checkbox' checked><span class='slider round'></span></label></div>";
                                            }
                                            else{
                                              question_data += "<div class='modarate_btn' data-unique_id='"+messageID+"' data-modarated_question='"+modarated_question+"' data-message_poster_role='"+message_poster_role+"'><span> Show </span><label class='switch' ><input type='checkbox' class='check_mode' data-bind='stopBubble:parentAction'><span class='slider round'></span></label></div>";
                                            }

                                            question_data += "<button class='reply_button' data-reply_unique_id='"+messages[i].id+"'><i class='fas fa-reply'></i><span> Reply </span></button></div></div></div>";

                                            question_data += "<div class='Ans_container' id='Answer_con"+messages[i].id+"'><div class='cro'><a href='javascript:void(0)'><i class='fa fa-times' aria-hidden='true'></i></a>";
                                            
                                            question_data += "</div><div class='ques'><p class='whatis'> Q. "+messages[i].text+" </p></div>";

                                            if(reply != null){
                                              question_data += "<textarea class='answer_box' placeholder='Reply' id='answer_box"+messages[i].id+"'>"+reply+"</textarea>";
                                            }
                                            else{
                                              question_data += "<textarea class='answer_box' id='answer_box"+messages[i].id+"' placeholder='Reply' data-id='"+messages[i].id+"'></textarea>";
                                            }
                                            if(replyVisbility == '0'){
                                             // console.log('replyVisbility off hai');
                                                question_data += "<label><input type='checkbox' class='anspvt' checked value='0' id='anspvt"+messages[i].id+"' data-id='"+messages[i].id+"'> Answer Privately </label>";
                                            }
                                            else{
                                              //console.log('replyVisbility on hai');
                                              question_data += "<label><input type='checkbox' value='1' class='anspvt'  data-id='"+messages[i].id+"' id='anspvt"+messages[i].id+"'> Answer Privately</label>";
                                            }
                                            question_data += "<button class='answer_sub' data-reply_visibility='"+replyVisbility+"' data-message_poster_role='"+message_poster_role+"' id='answer_sub' data-reply_unique_id='"+messages[i].id+"'> Reply </button></div>";

                                          }

                                     }// modarator if condition close
                                     else{
                                      //console.log('showing user view')
                                      if(modarated_question == 1){
                                        question_data += "<div class='question_container'><div class='user_name'><div class='user_pic'>";
                                        if( anamuous_status == 1 ){
                                          question_data += "<img src='"+messages[i].user.avatarUrl+"'></div><h4> "+messages[i].user.displayName+" </h4>";
                                          }
                                          else{
                                            question_data += "<img src='assets/avatar.png'></div><h4> user"+messages[i].user.id+" </h4>";
                                          }
                                          question_data += "<span>"+ post_time(messages[i].insertedAt) +"</span><p class='question_name'><i class='fab fa-quora'></i>. "+messages[i].text+" </p>";

                                          if(reply != ""){
                                             //console.log(messageID +","+ user_id);
                                            if(replyVisbility == '0' && userID == user_id){
                                             question_data += "<p class='answer_text'><i class='fab fa-adn'></i>- "+reply+" <i class='fas fa-user-lock private'></i> </p>";
                                            }
                                            else if(replyVisbility == '1'){
                                              question_data += "<p class='answer_text'><i class='fab fa-adn'></i>- "+reply+" </p>";
                                            }
                                           }
                                          else{
                                              question_data += "<p class='answer_text' style='display:none;'><i class='fab fa-replyd re'></i> "+ reply+" <i class='fas fa-user-lock private'></i></p>";
                                           }

                                           question_data += "<div class='questions_likes' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'>";

                                          if(is_liked == true){
                                           question_data += "<span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i style='color:#2196F3' class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                           }
                                           else{
                                             question_data += "<span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                           }
                                           question_data += "</div><div class='mode_button' style='display:none;'><div class='modarate_btn'><span> Modaratore </span><label class='switch'><input type='checkbox'><span class='slider round'></span></label></div></div></div></div>";
                                         } // show close
                                         else{
                                          console.log('not showing this queston')
                                         }
										} // user view close

          								} // type message text cose
          								} // message print close 

										    $('#preloader').fadeOut('fast');
      								  $("#question_list").html(question_data);
                      }
                      else{
                         $('#preloader').fadeOut('fast');
                        question_data +="<div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>";
                        $('#preloader').fadeOut('fast');
                        $("#question_list").html(question_data);
                      }
                        if(total_number_of_question == null ||  total_number_of_question == undefined ||total_number_of_question == 0){
                        $('.total_question').text('0 Questions');
                        }else{
                          $('.total_question').text(total_number_of_question+' Questions');
                        }


                        $('.reply_button').click(function(){
                            var reply_unique_id = $(this).data('reply_unique_id');
                            $('#live_overlay').fadeIn('fast');
                            $('#Answer_con'+reply_unique_id).fadeIn('fast');
                         });
                          $('.cro').click(function(){
                               $('#live_overlay').fadeOut('fast');
                              $('.Ans_container').fadeOut('fast');
                          });
                          $('.back_button').unbind().click(function(){
                            $('.live_container').fadeOut('fast');
                            $('.session_container').fadeIn('fast');
                              groupChannel.leave(function(error){
                                if(error == null){
                                  console.log("channel left successfully",groupChannel)
                                }
                              })
                          });

                          $(window).scroll(function () {
                              scrollTop = $(window).scrollTop();
                              $('.counter').html(scrollTop);
                              setInterval(function () {
                                if (scrollTop >= 100) {
                                  $('.top_bar').addClass('live_scrolled_nav');
                                  $('.tab2').addClass('live_scrolled-nav');
                                  $('.scrolled-nav').css('background-image', 'linear-gradient(93deg,' + company_data.company.status_bar_color + ',' + company_data.company.header_color + ')');

                                  } else if (scrollTop < 100) {
                                    $('.scrolled-nav').css('background-image', 'linear-gradient(93deg,#eee,#eee)');
                                    $('.top_bar').removeClass('live_scrolled_nav');
                                    $('.tab2').removeClass('live_scrolled-nav');
                                  }
                                }, 500);

                            });

                        $('.questions_likes').unbind().click(function(){
                           $('#preloader').fadeIn('fast');
                                    console.log('like triggered');
                                    var unique_message_id = $(this).data('question_id');
                                    var update_groupChannel_key = localStorage.getItem('live_groupChannel_key');
                                    var update_company_data = JSON.parse(localStorage.getItem('activation'));
                                    var update_company_id = update_company_data.company.id;
                                    var update_user_data = JSON.parse(localStorage.getItem('employee_data'));
                                    var update_user_id = update_user_data.id;
                                    var update_message_type = 'text';
                                   // var question_show_hide = $(this).data('meta_show_hide');
                                    var question_poster_role = $(this).data('message_poster_role');
                                    var updated_meta = {"like_by":update_user_id.toString(),"message_poster_role":question_poster_role.toString()}
                                      data_type = {"message_id":unique_message_id.toString(),"group_channel_no":update_groupChannel_key,"company_id":update_company_id,"user_id":update_user_id.toString(),"message_type":update_message_type,"update_metadata":updated_meta}
                                      //console.log(data_type)
                                      $.ajax({
                                        crossDomain: true,
                                        url: localStorage.getItem("base_url") + 'like_live_question_and_moderator_update',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(data_type),
                                        ContentType: 'application/json',
                                        type: 'POST',
                                        dataType: 'json',
                                        cache: true,
                                        success: function (output) {
                                          if (output.status == 1000) {
                                            console.log(output);
                                             $('#preloader').fadeOut('fast');
                                           // question_list();
                                            }
                                          else if(output.status == 1001){
                                            $('#preloader').fadeOut('fast');
                                            alert(output.message);
                                          }
                                          },
                                          error: function () {
                                            $('#preloader').fadeOut('fast');
                                            alert("Error in loading records. Please refresh the page and try again.");
                                          }
                                      });

                                  });


                          $('.modarate_btn').unbind().click(function(){
                            $('#preloader').fadeIn('fast');
                            if(toggler)
                            {
                             console.log('modarator triggered');
                              var unique_message_id = $(this).data('unique_id');
                              var update_groupChannel_key = localStorage.getItem('live_groupChannel_key');
                              var update_company_data = JSON.parse(localStorage.getItem('activation'));
                              var update_company_id = update_company_data.company.id;
                              var update_user_data = JSON.parse(localStorage.getItem('employee_data'));
                              var update_user_id = update_user_data.id;
                              var update_message_type = 'text';
                              var visibility = $(this).data('modarated_question').toString();
                              var question_poster_role = $(this).data('message_poster_role');
                              var finalvisibility = visibility.toString();
                                switch(visibility)
                                {
                                  case '0' : finalvisibility = '1';
                                          break;
                                  case '1' : finalvisibility = '0';
                                           break;   
                                  default : console.log("not found anyting");
                                            break;              
                                }
                                var updatemetadata = {'is_show': finalvisibility,'message_poster_role':message_poster_role}

                                 data_type = {"message_id":unique_message_id.toString(),"group_channel_no":update_groupChannel_key,"company_id":update_company_id,"user_id":update_user_id.toString(),"message_type":update_message_type,"update_metadata":updatemetadata}
                                // console.log(data_type);

                                  $.ajax({
                                        crossDomain: true,
                                        url: localStorage.getItem("base_url") + 'like_live_question_and_moderator_update',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(data_type),
                                        ContentType: 'application/json',
                                        type: 'POST',
                                        dataType: 'json',
                                        cache: true,
                                        success: function (output) {
                                          if (output.status == 1000) {
                                            console.log(output);
                                             $('#preloader').fadeOut('fast');
                                           // question_list();
                                            }
                                          else if(output.status == 1001){
                                            $('#preloader').fadeOut('fast');
                                            alert(output.message);
                                          }
                                          },
                                          error: function () {
                                            $('#preloader').fadeOut('fast');
                                            alert("Error in loading records. Please refresh the page and try again.");
                                          }
                                      });

                              toggler = false;
     
                              }
                              else{

                                 toggler = true;

                              }

                          });

                          // REPLY SUBMIT

                          $('.answer_box').click(function(){
                              console.log('answer clicked');
                          });

                          $(".anspvt").click(function(){
                            //alert("Ravi");
                            var id = $(this).data('id');
                            //alert(id);
                            var anspvt = $('#anspvt'+id).val();
                            //alert(moderator_status);
                            if(anspvt == 0){

                              $('#anspvt'+id).val('1');

                            }else{

                              $('#anspvt'+id).val('0');
                            }

                           });

                          $('.answer_sub').unbind().click(function(){
                            $('#preloader').fadeIn('fast');
                            var reply_unique = $(this).data('reply_unique_id');
                            var update_groupChannel_key = localStorage.getItem('live_groupChannel_key');
                            var update_company_data = JSON.parse(localStorage.getItem('activation'));
                            var update_company_id = update_company_data.company.id;
                            var update_user_data = JSON.parse(localStorage.getItem('employee_data'));
                            var update_user_id = update_user_data.id;
                            var update_message_type = 'text';
                            var messages_poster_role = $(this).data('message_poster_role');
                            var reply = $('#answer_box'+reply_unique).val();
                            var messages_visibility = $('#anspvt'+reply_unique).val();;
                            var update_meta = {'reply':reply,'replyVisible':messages_visibility.toString(),'message_poster_role':messages_poster_role.toString()} 
                            //console.log(update_meta);
                            data_type = {"message_id":reply_unique.toString(),"group_channel_no":update_groupChannel_key,"company_id":update_company_id,"user_id":update_user_id.toString(),"message_type":update_message_type,"update_metadata":update_meta}
                         //   console.log(data_type);

                                $.ajax({
                                        crossDomain: true,
                                        url: localStorage.getItem("base_url") + 'like_live_question_and_moderator_update',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(data_type),
                                        ContentType: 'application/json',
                                        type: 'POST',
                                        dataType: 'json',
                                        cache: true,
                                        success: function (output) {
                                          if (output.status == 1000) {
                                            //console.log(output);
                                             $('#preloader').fadeOut('fast');
                                              $('#live_overlay').fadeOut('fast');
                                              $('.Ans_container').fadeOut('fast');
                                            }
                                          else if(output.status == 1001){
                                            $('#preloader').fadeOut('fast');
                                            alert(output.message);
                                          }
                                          },
                                          error: function () {
                                            $('#preloader').fadeOut('fast');
                                            alert("Error in loading records. Please refresh the page and try again.");
                                          }
                                      });

                              });
                              }
                            });
                          
                          
                          

                          // ask btn 
                          //is_show 0/1 '1'is for visible all and '0' not visible for all
                          //replyVisible 0/1  '1' is for public and '0' is private
                           // no_name 0/1 '0' is for show name '1' is for nane not showing
                           $("#ask_submit").unbind().click(function(){
                            $('#preloader').fadeIn('fast');
                             var question = document.getElementById('text_question').value;
                             if(question == ""){
                               alert('Please enter question');
                             }
                             else{
                             var modaration_status = localStorage.getItem("madaration_status_live");
                             var is_show = '1';
                             if(modaration_status == 1){
                              console.log('modaration_status on');
                                is_show = '0';
                             }
                             var no_name_status = document.getElementById('no_name').value;
                             var user_data = JSON.parse(localStorage.getItem('user_data'));
                            // console.log(user_data);
                           var message_poster_role = user_data.user.user_role; 
                               var metadata_send = { 'is_show':is_show, 'reply':'','total_like':'0','replyVisible':'0', 'no_name':no_name_status,'message_poster_role':message_poster_role};
                                groupChannel.sendMessage(question, metadata_send, function(error, message){
                                if(error == null){
                                 console.log("Message sent successfully", message)
                                  // question_list()
                                   $(".ask_popup").fadeOut('fast');
                                   $(".live_overlay").fadeOut('fast');
                                 }
                                });
                                }
                                $("#text_question").val('');
                               });
                             }
                              else
                              {
                                console.log("Error in connection",groupChannel);
                                console.log("Error in connection",error);
                              }
                           })
                           }
                          });
               
                            $('.popular_button').click(function(){
                                  $('#preloader').fadeIn('fast');
                                  popular_presantation_view();

                              });

                              $('.mine_button').click(function(){
                                   $('#preloader').fadeIn('fast');
                                  mine_view(globale_message_list);
                              });
                                  

                }




var toggler = false;

function popular_presantation_view(){
  console.log('popular_presantation_view');
  var popular_grp_channel_key = localStorage.getItem('live_groupChannel_key');

    if(popular_grp_channel_key != null){

      data_type = {"channel_id":popular_grp_channel_key}

      $.ajax({
      crossDomain: true,
      url: localStorage.getItem("base_url") + 'top_livesession_questions',
      contentType: 'application/json; charset=utf-8',
      data: JSON.stringify(data_type),
      ContentType: 'application/json',
      type: 'POST',
      dataType: 'json',
      cache: true,
      async: false,
      success: function (output) {
        if (output.status == 1000) {
         // console.log(output.message);
         //console.log('popular_presantation_view'+(output.data));
          popular_view_questions(output.data);
          $('#preloader').fadeOut('fast');

         }
        else if(output.status == 1001){
          $('#preloader').fadeOut('fast');
          console.log(output.message);
       }
        },
        error: function () {
          $('#preloader').fadeOut('fast');
          alert("Error in loading records. Please refresh the page and try again.");
        }
    });
    }
}




// var session_message_list = localStorage.getItem('buzz_live_questions');
function popular_view_questions(popular_view_data){
  //console.log(popular_view_data);
  console.log('popular_view_questions aa gya');
var live_groupChannel = localStorage.getItem('live_groupChannel_key');

                       
                        console.log("live_groupChannel_key",live_groupChannel);
                       
                          cc.GroupChannel.get(live_groupChannel, function(error, groupChannel){
                              if(error == null){
                                console.log("Group Channel retrieved successfully", groupChannel)
                              // }
                              // else
                              // {
                              //   console.log("Error in connection",groupChannel);
                              //   console.log("Error in connection",error);
                              // }
                          let previousMessageListQuery = groupChannel.createPreviousMessageListQuery();
                          previousMessageListQuery.setLimit(50);
                          previousMessageListQuery.setReference(null);
                          previousMessageListQuery.setSortBy("UPDATED_AT");

                         previousMessageListQuery.load(function(previousMessageListQueryError, messages) {
                            if(!previousMessageListQueryError){
                              console.log(messages);

                               var top_voted_questions = [];

                                  if(popular_view_data != null){

                                    for(i=0;i<popular_view_data.length;i++){

                                      for(j=0;j<messages.length;j++){


                                          if(popular_view_data[i].message_id == messages[j].id ){

                                            top_voted_questions.push(messages[j]);
                                            break;

                                          }

                                      }

                                    }

                                    console.log(top_voted_questions);
                                    popular_questions(top_voted_questions);


                                }
                         } //previous message list
                       })//end of load
                     }//end of group channel if
                   })//end of cc ggroup channel get

 
}

//var presentatonView = '';
function popular_questions(top_voted_questions){
console.log('popular_view_questions bn gya')
    var messages = top_voted_questions;
    var session_data = localStorage.getItem('Live_session_data');
    var user_data = JSON.parse(localStorage.getItem("user_data")); 
     //var Modarator_str = live_session_data[i].moderator;
    var Modarator_str = localStorage.getItem('session_modarators');
    var Modarator_arr = Modarator_str.split(","); 
    var user_id = user_data.user.id;
    //var message_poster_role = 
    var is_modarator = inArray(user_id, Modarator_arr)
    var modaration_status = localStorage.getItem('madaration_status_live')
    var question_data = "";
    var popular_list_length = messages.length;
    if(popular_list_length != null && popular_list_length != undefined && popular_list_length !=0 ){

                              for (var i = 0; i < messages.length; i++) {
                                 if(messages[i].type == "text"){
                                     var modarated_question = messages[i].metadata.is_show;
                                    var anamuous_status = messages[i].metadata.no_name;
                                    var reply = messages[i].metadata.reply;
                                    var replyVisbility = messages[i].metadata.replyVisible;
                                    var total_like = messages[i].metadata.total_like;
                                    var message_poster_role = messages[i].metadata.message_poster_role;
                                    var messageID = (messages[i].id).toString();
                                    var your_user_id =(messages[i].user.id).toString();
                                    var live_question_like;
                                    
                                    var is_liked = false;
                                    try
                                    { 
                                    live_question_like= JSON.parse(messages[i].metadata.like_by);
                                    
                                     for (var q = 0; q < live_question_like.length; q++) {
                                        if (user_id == live_question_like[q].user_id) {
                                          is_liked = true;
                                          break;
                                        }
                                      }
                                    }catch(err)
                                    {
                                        console.log("no likes found");
                                    }
                                    
                                    //console.log(user_id)
                                   
                                     
                                      if(modarated_question == 1){
                                        question_data += "<div class='question_container'><div class='user_name' ><div class='user_pic'>";
                                        if( anamuous_status == 1 ){
                                          question_data += "<img src='"+messages[i].user.avatarUrl+"'></div><h4> "+messages[i].user.displayName+" </h4>";
                                          }
                                          else{
                                            question_data += "<img src='assets/avatar.png'></div><h4> user"+messages[i].user.id+" </h4>";
                                          }
                                          question_data += "<span>"+ post_time(messages[i].insertedAt) +"</span><p class='question_name'><i class='fab fa-quora'></i>. "+messages[i].text+" </p>";

                                          if(reply != ""){
                                            // console.log(messageID +","+ user_id);
                                            if(replyVisbility == '0' && your_user_id == user_id){
                                             question_data += "<p class='answer_text'><i class='fab fa-adn'></i>- "+reply+" <i class='fas fa-user-lock private'></i> </p>";
                                            }
                                            else if(replyVisbility == '1'){
                                              question_data += "<p class='answer_text'><i class='fab fa-adn'></i>- "+reply+" </p>";
                                            }
                                           }

                                          else{
                                              question_data += "<p class='answer_text' style='display:none;'> <i class='fab fa-replyd re'></i> "+ reply+" <i class='fas fa-user-lock private'></i></p>";
                                           }

                                         question_data +=  "<div class='current_topic' id='current_topic' style='color:#aaa'><i class='fas fa-lightbulb'></i></div><div class='questions_likes' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'>";

                                          if(is_liked == true){
                                           question_data += "<span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i style='color:#2196F3' class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                           }
                                           else{
                                             question_data += "<span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                           }
                                           question_data += "</div><div class='mode_button' style='display:none;'><div class='modarate_btn'><span> Modaratore </span><label class='switch'><input type='checkbox'><span class='slider round'></span></label></div></div></div></div>";

                                           
                                         } // show close
                               } // type message text cose
							  	              }
						                     $('#preloader').fadeOut('fast');
                                $("#popular_list").html(question_data);
                                $("#presentation_list").html(question_data);
                              }
						  
                                else{
                                   $('#preloader').fadeOut('fast');
                                  question_data +="<div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>";
                                  $("#popular_list").html(question_data);
                                  $("#presentation_list").html(question_data);
                                }


                          
                        $('.exit').click(function(){
                           $('.present_container').fadeOut('fast');
                            if (document.exitFullscreen) {
                            document.exitFullscreen();
                             } else if (document.mozCancelFullScreen) { //Firefox /
                             document.mozCancelFullScreen();
                            } else if (document.webkitExitFullscreen) { // Chrome, Safari and Opera /
                               document.webkitExitFullscreen();
                               } else if (document.msExitFullscreen) { // IE/Edge /
                              document.msExitFullscreen();
                          }
                       });
                     
                               //presentatonView = question_data;

                                $('.questions_likes').unbind().click(function(){
                                    $('#preloader').fadeIn('fast');
                                    console.log('like triggered');
                                    var unique_message_id = $(this).data('question_id');
                                    var update_groupChannel_key = localStorage.getItem('live_groupChannel_key');
                                    var update_company_data = JSON.parse(localStorage.getItem('activation'));
                                    var update_company_id = update_company_data.company.id;
                                    var update_user_data = JSON.parse(localStorage.getItem('employee_data'));
                                    var update_user_id = update_user_data.id;
                                    var update_message_type = 'text';
                                   // var question_show_hide = $(this).data('meta_show_hide');
                                    var question_poster_role = $(this).data('message_poster_role');
                                    var updated_meta = {"like_by":update_user_id.toString(),"message_poster_role":question_poster_role.toString()}
                                      data_type = {"message_id":unique_message_id.toString(),"group_channel_no":update_groupChannel_key,"company_id":update_company_id,"user_id":update_user_id.toString(),"message_type":update_message_type,"update_metadata":updated_meta}
                                     // console.log(data_type)
                                      $.ajax({
                                        crossDomain: true,
                                        url: localStorage.getItem("base_url") + 'like_live_question_and_moderator_update',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(data_type),
                                        ContentType: 'application/json',
                                        type: 'POST',
                                        dataType: 'json',
                                        cache: true,
                                        success: function (output) {
                                          if (output.status == 1000) {
                                            console.log(output);
                                           // question_list();
                                            }
                                          else if(output.status == 1001){
                                            alert(output.message);
                                          }
                                          },
                                          error: function () {
                                            alert("Error in loading records. Please refresh the page and try again.");
                                          }
                                      });

                                  });

                                    } // message print close


                      
  
 
                            document.addEventListener('fullscreenchange', myFunction5); 
                      document.addEventListener('webkitfullscreenchange', myFunction5); 
                      document.addEventListener('mozfullscreenchange', myFunction5);  
                      document.addEventListener('MSFullscreenChange', myFunction5); 
                      function myFunction5() {  
                          if (!document.fullscreenElement && !document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement) {  
                            var x = document.getElementById("present_container"); 
                        if (x.style.display === "block") {  
                          x.style.display = "none"; 
                        } else {  
                          x.style.display = "block";  
                        }   
                          } 
                      }   
                                                        


var globale_message_list ;
function mine_view(messages){
    if(messages != null){

        console.log(messages)
        var question_data = '';
        var user_data = JSON.parse(localStorage.getItem("user_data")); 
        var user_id = user_data.user.id;
                        if(messages.length != null && messages.length != undefined  && messages.length != 0){
                                for (var i = 0; i < messages.length; i++) {

                                 if(messages[i].type == "text" && messages[i].user.id == user_id){
                                     var modarated_question = messages[i].metadata.is_show;
                                    var anamuous_status = messages[i].metadata.no_name;
                                    var reply = (messages[i].metadata.reply).toString();
                                    var replyVisbility = messages[i].metadata.replyVisible;
                                    var total_like = messages[i].metadata.total_like;
                                    var message_poster_role = messages[i].metadata.message_poster_role;
                                    var messageID = (messages[i].id).toString();
                                    var live_question_like;
                                    var is_liked = false;
                                    //console.log(reply +","+ replyVisbility)
                                    try
                                    { 
                                    live_question_like= JSON.parse(messages[i].metadata.like_by);
                                    
                                     for (var q = 0; q < live_question_like.length; q++) {
                                      if (user_id == live_question_like[q].user_id) {
                                        is_liked = true;
                                        break;
                                      }
                                      }
                                    }catch(err)
                                    {
                                       // console.log("no likes found");
                                    }
                                      //console.log('showing mine view')
                                     
                                        question_data += "<div class='question_container'><div class='user_name' ><div class='user_pic'>";
                                        if( anamuous_status == 1 ){
                                          question_data += "<img src='"+messages[i].user.avatarUrl+"'></div><h4> "+messages[i].user.displayName+" </h4>";
                                          }
                                          else{
                                            question_data += "<img src='assets/avatar.png'></div><h4> user"+messages[i].user.id+" </h4>";
                                          }
                                          question_data += "<span>"+ post_time(messages[i].insertedAt) +"</span><p class='question_name'><i class='fab fa-quora'></i>. "+messages[i].text+" </p>";

                                          if(reply != ""){
                                            //console.log('reply aayega')
                                            if(replyVisbility == '0'){
                                              // console.log('mera ans private')
                                             question_data += "<p class='answer_text'><i class='fab fa-adn'></i>- "+reply+" <i class='fas fa-user-lock private'></i> </p>";
                                            }
                                            else if(replyVisbility == '1'){
                                               //console.log('mera ans public')
                                              question_data += "<p class='answer_text'><i class='fab fa-adn'></i>- "+reply+" </p>";
                                            }
                                           }

                                          else{
                                           // console.log('reply ni aayega')
                                              question_data += "<p class='answer_text' style='display:none;'> <i class='fab fa-replyd re'></i> "+ reply+" <i class='fas fa-user-lock private'></i></p>";
                                           }

                                          question_data += "<div class='questions_likes' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'>";

                                          if(is_liked == true){
                                           question_data += "<span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i style='color:#2196F3' class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                           }
                                           else{
                                             question_data += "<span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                           }
                                           question_data += "</div><div class='mode_button' style='display:none;'><div class='modarate_btn'><span> Modaratore </span><label class='switch'><input type='checkbox'><span class='slider round'></span></label></div></div></div></div>";
                                       

                          } // type message text cose
                          } // message print close 
                          $('#preloader').fadeOut('fast');
                          $('#mine_question_list').html(question_data);

                          }
                          else{
                             $('#preloader').fadeOut('fast');
                            question_data +="<div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>";
                            $('#mine_question_list').html(question_data);
                          }
                          $('.questions_likes').unbind().click(function(){
                                    console.log('like triggered');
                                    var unique_message_id = $(this).data('question_id');
                                    var update_groupChannel_key = localStorage.getItem('live_groupChannel_key');
                                    var update_company_data = JSON.parse(localStorage.getItem('activation'));
                                    var update_company_id = update_company_data.company.id;
                                    var update_user_data = JSON.parse(localStorage.getItem('employee_data'));
                                    var update_user_id = update_user_data.id;
                                    var update_message_type = 'text';
                                   // var question_show_hide = $(this).data('meta_show_hide');
                                    var question_poster_role = $(this).data('message_poster_role');
                                    var updated_meta = {"like_by":update_user_id.toString(),"message_poster_role":question_poster_role.toString()}
                                      data_type = {"message_id":unique_message_id.toString(),"group_channel_no":update_groupChannel_key,"company_id":update_company_id,"user_id":update_user_id.toString(),"message_type":update_message_type,"update_metadata":updated_meta}
                                     // console.log(data_type)
                                      $.ajax({
                                        crossDomain: true,
                                        url: localStorage.getItem("base_url") + 'like_live_question_and_moderator_update',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(data_type),
                                        ContentType: 'application/json',
                                        type: 'POST',
                                        dataType: 'json',
                                        cache: true,
                                        success: function (output) {
                                          if (output.status == 1000) {
                                            console.log(output);
                                           // question_list();
                                            }
                                          else if(output.status == 1001){
                                            alert(output.message);
                                          }
                                          },
                                          error: function () {
                                            alert("Error in loading records. Please refresh the page and try again.");
                                          }
                                      });

                                  });
    }
    else{
      console.log('mine view else')
    }
}



 function inArray(needle, haystack) {
    var length = haystack.length;
    for (var i = 0; i < length; i++) {
       if (haystack[i] == needle) return true;
    }
    return false;
  }


function post_time(milidate) {
                  var date = new Date(milidate * 1000);
                  var monthNames = [
                    "Jan", "Feb", "Mar",
                    "Apr", "May", "Jun", "Jul",
                    "Aug", "Sep", "Oct",
                    "Nov", "Dec"
                  ];
                  var day = date.getDate();
                  var monthIndex = date.getMonth();
                  var d = date.getHours();
                  var m = date.getMinutes();
                  if (m < 10) { var new_m = '0' + m } else { var new_m = m; }
                  if (d >= 12) {
                    if (d > 12) { var new_d = d - 12; } else { new_d = d; }
                    if (new_d < 10) { new_d = '0' + new_d; } else { new_d = new_d; }
                    var s = "p.m.";
                  } else {
                    if (d < 10) { var new_d = '0' + d; } else { var new_d = d; }
                    var s = "a.m.";
                  }

                  return day + ' ' + monthNames[monthIndex] + ' ' + new_d + ':' + new_m + ' ' + s;
}

                              $(".present_button").click(function(){
                                console.log('btn chalega');
                                    $('#onload_present').fadeIn();
                                    setTimeout(function(){
                                      console.log('popular_presantation_view_set');
                                       var x = document.getElementById("present_container"); 
                                      if (x.style.display === "block") {  
                                          $('#present_container').fadeOut('fast');
                                        } else {  
                                         $('#present_container').fadeIn('fast');
                                        }
                                        if (x.requestFullscreen) {  
                                          x.requestFullscreen();  
                                        } else if (x.mozRequestFullScreen) { /* Firefox */  
                                          x.mozRequestFullScreen(); 
                                        } else if (x.webkitRequestFullscreen) { /* Chrome, Safari & Opera */  
                                          x.webkitRequestFullscreen();  
                                        } else if (x.msRequestFullscreen) { /* IE/Edge */ 
                                          x.msRequestFullscreen();  
                                        } 
                                        $('#onload_present').fadeOut();
                                          popular_presantation_view();
                                        },3000);
                                    });             
});


</script>
<script type="text/javascript">

function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

</script>
 <script>
   $(".recent_button").click(function(){
      $("#popular_arrange").fadeOut('fast');
      $("#recent_questions").fadeIn('fast');
      $("#mine_list").fadeOut('fast');
      $(this).addClass('activ');
      $(".popular_button").removeClass('activ');
      $(".mine_button").removeClass('activ');
   });
   $(".popular_button").click(function(){
      $("#recent_questions").fadeOut('fast');
      $("#popular_arrange").fadeIn('fast');
      $("#mine_list").fadeOut('fast');
      $(this).addClass('activ');
      $(".recent_button").removeClass('activ');
      $(".mine_button").removeClass('activ');
   });
   $('.mine_button').click(function(){
      $("#recent_questions").fadeOut('fast');
      $("#popular_arrange").fadeOut('fast');
      $("#mine_list").fadeIn('fast');
      $(this).addClass('activ');
      $(".recent_button").removeClass('activ');
      $(".popular_button").removeClass('activ');
   });
 </script>
 

<script type="text/javascript">
  $('.askbutton').click(function(){
      $('.live_overlay').fadeIn('fast');
      $('.ask_popup').fadeIn('fast');
       $('.text_question').focus();
  });
  $('.cross').click(function(){
      $('.ask_popup').fadeOut('fast');
      $('.live_overlay').fadeOut('fast');
  });
</script>