
<script type="text/javascript" src="js/company_data.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
    $(".main-search").css('display','none');
    for(var k=0;k<user_data.app_info.bottom_navigation.length;k++){
        
        if(user_data.app_info.bottom_navigation[k].menu_id=='2'){
        $('#module').text(user_data.app_info.bottom_navigation[k].name);
        break;
        }
      }
      //$("#my_notifications").css('display','inline-block');
</script>
<div class="live_overlay" id="live_overlay" style="display: none;"></div>
<div class="message-holder">
	<div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 lists">
              <!--List Section Starts Here-->
				<div class="search-area">
					<form>
						<div class="form-group">
						<input type="text" class="form-control" id="myInput" placeholder="Search or Start Chat" required="">
						<button class="search-button" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
						</div>
					</form>
				</div>
				<!-- Current Chatting User List-->
				<div class="user-lists">
					<div class="mobile-blank-chat" id="mobile-blank-chat">
						<div class="icons-holder">
							<img src="assets/chat-icons.png">
							<p>Start Your Chat!</p>
						</div>
					</div>
					<div class="add-chat-buddy" id="no-recent-chat">
						<p>No Recent Chats! </p>
					</div>
					<ul id="myTable">
						<div id="recent_user_preloader ">
							<div class="loader_img">
							</div>
							<div class="loader_text">
								<div class="spinner">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div class="bounce3"></div>
									<div class="bounce4"></div>
									<div class="bounce5"></div>
								</div>
							</div>
						</div>
					</ul>
				</div><!-- Current Chatting User List Ends Here -->
				<!-- Yellow Plus Icon -->
				<div class="add-chat">
					<span class="add-chat-icon">+</span>
				</div>
				<div class="second-list">
					<div class="search-area">
					  <!--Contact Search Area-->
					  <form>
						<div class="form-group">
						  <input type="text" class="form-control" id="myInput2" placeholder="Search Contacts.." required="">
						  <button class="search-button" type="button"><i class="fa fa-search"
							  aria-hidden="true"></i></button>
						</div>
					  </form>
					</div>
					<!-- Contact User List Starts Here (This will Slide in on Click of Yellow Button) Starts Here-->
					<div class="all-user-lists" >
            <div class="addgroup">
              <p><i class="fa fa-users"></i><span> Create group </span></p>
            </div>
           
						  <ul id="myTable2">
              </ul>
              <div class="allselect" style="display: none;">
                  <div class="creategroup">
                      <i class="fa fa-arrow-left listback"></i> 
                    <p class="newgroup">New group <span class="addparticipant"> <br> Add participant </span> </p>
                    <span class="nextselect">Next</span>
                    <div class="search-area-select" style="display: block;">
                      <form>
                        <div class="form-group-select">
                        <input type="text" class="form-control-select" id="myInputselect" placeholder="Search" required="">
                        <button class="search-button-select" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                      </form>
                    </div>
                    <div class="selectedlist">

                    </div>
                  </div>
                <ul id="myTableselect" >
                </ul>
              </div>
              <div class="finalselectedlist" style="display: none;">
              
                  <i class="fa fa-arrow-left finallistback"></i>
                  <p class="typegroup">
                  <input type="text" placeholder="Type name" id="finalselectedinput">
                  
                  </p>
                  <span class="nextselect2">Next</span>
                  <div class="finalparticipants">
    
                  </div>
                
              </div>  
          </div>
              
                
                  
        </div>
        
				<div class="third_list">
					<div class="search-area">
					  <!--Contact Search Area-->
						<form>
							<div class="form-group">
							  <input type="text" class="form-control" id="myInput2" placeholder="Search Contacts.." required="">
							  <button class="search-button" type="button"><i class="fa fa-search"
								  aria-hidden="true"></i></button>
							</div>
						</form>
					</div>
					<div class="group_list">
						<ul id="myTable3">
							<li><div class="left-items"><span class="user-image-message"><img src="assets/avatar.png"></span><div class="user-message"><p class="user-name-message"> Kinjalk Verma </p><p class="latest-message"> hi </p></div></div> <div class="right-items"><p class="message-time"> 04:14 PM </p></div><div class="group_select"> <i class="fa fa-check" aria-hidden="true"></i> </div></li>
							<li><div class="left-items"><span class="user-image-message"><img src="assets/avatar.png"></span><div class="user-message"><p class="user-name-message"> Kinjalk Verma </p><p class="latest-message"> hi </p></div></div> <div class="right-items"><p class="message-time"> 04:14 PM </p></div><div class="group_select"> <i class="fa fa-check" aria-hidden="true"></i> </div></li>
							<li><div class="left-items"><span class="user-image-message"><img src="assets/avatar.png"></span><div class="user-message"><p class="user-name-message"> Kinjalk Verma </p><p class="latest-message"> hi </p></div></div> <div class="right-items"><p class="message-time"> 04:14 PM </p></div><div class="group_select"> <i class="fa fa-check" aria-hidden="true"></i> </div></li>
							<li><div class="left-items"><span class="user-image-message"><img src="assets/avatar.png"></span><div class="user-message"><p class="user-name-message"> Kinjalk Verma </p><p class="latest-message"> hi </p></div></div> <div class="right-items"><p class="message-time"> 04:14 PM </p></div><div class="group_select"> <i class="fa fa-check" aria-hidden="true"></i> </div></li>
							<li><div class="left-items"><span class="user-image-message"><img src="assets/avatar.png"></span><div class="user-message"><p class="user-name-message"> Kinjalk Verma </p><p class="latest-message"> hi </p></div></div> <div class="right-items"><p class="message-time"> 04:14 PM </p></div><div class="group_select"> <i class="fa fa-check" aria-hidden="true"></i> </div></li>
							<li><div class="left-items"><span class="user-image-message"><img src="assets/avatar.png"></span><div class="user-message"><p class="user-name-message"> Kinjalk Verma </p><p class="latest-message"> hi </p></div></div> <div class="right-items"><p class="message-time"> 04:14 PM </p></div><div class="group_select"> <i class="fa fa-check" aria-hidden="true"></i> </div></li>
							<li><div class="left-items"><span class="user-image-message"><img src="assets/avatar.png"></span><div class="user-message"><p class="user-name-message"> Kinjalk Verma </p><p class="latest-message"> hi </p></div></div> <div class="right-items"><p class="message-time"> 04:14 PM </p></div><div class="group_select"> <i class="fa fa-check" aria-hidden="true"></i> </div></li>
							<li><div class="left-items"><span class="user-image-message"><img src="assets/avatar.png"></span><div class="user-message"><p class="user-name-message"> Kinjalk Verma </p><p class="latest-message"> hi </p></div></div> <div class="right-items"><p class="message-time"> 04:14 PM </p></div><div class="group_select"> <i class="fa fa-check" aria-hidden="true"></i> </div></li>
						</ul>
					</div>
				</div>
              <!-- Contact User List Ends Here -->
            </div>
            <!--List Section Ends Here-->
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 responsive-chat">
              <!--Chat Section Starts Here-->
				<div class="blank-chat">
					<div class="icons-holder">
						<img src="assets/chat-icons.png">
						<p>Start Your Chat!</p>
					</div>
				</div>
				<div class="message-fadein" id="start-chat" style="display:none">

				</div>
				<div class="message_group_chat" style="display:none;">
					<div class="chat-grey-bar">
						<div class="user-profile">
							<div class="back-icon">
								<img class="back-icon-image" src="assets/left-arrow.svg">
							</div>
						</div>
					</div>
					<div class="new_group_create">
						<div class="group_name">
							<input type="text" placeholder="Group Name">
						</div>
					</div>
				</div>
              <!--Chat Section Ends Here-->
            </div>
        </div>
    </div>
</div>

	<script type="text/javascript">
		var company_data = JSON.parse(localStorage.getItem("activation"));
		$('#status_bar_color').attr('content', company_data.company.status_bar_color);
	</script>
<!--JQuery for Search Box in Message Section-->


<script type="text/javascript">
  $(document).ready(function () {
    if (!localStorage.getItem("user_id")) {
      window.location.href = window.location.origin + '/' + localStorage.getItem("web_url") + '/index.html';
    } else {
      var id = JSON.parse(localStorage.getItem("user_id"));

      var device_type = localStorage.getItem('device_type');
      if (device_type == 'browser') {
        var data_type = { "user_id": id,
                             "login_token": localStorage.getItem('login_token') };
      } else {
        if (device_type == 'iOS') {
          device_type = 'Iphone';
        } else if (device_type == 'Android') {
          device_type = 'Android';
        }

        var data_type = {
          "user_id": id,
          "device_type": device_type,
          "device_token": localStorage.getItem('device_token'),
          "login_token": localStorage.getItem('login_token')
        };

        if (device_type == null) {
          var data_type = { "user_id": id,
                             "login_token": localStorage.getItem('login_token') };
        }
      }
      $.ajax({

        url: localStorage.getItem("base_url") + 'dashboard',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data_type),
        ContentType: 'application/json',
        type: 'POST',
        dataType: 'json',
        async: true, //false
        cache: true,
        success: function (output) {
          if (output.status == 1000) {
            localStorage.setItem("user_data", JSON.stringify(output.data));

            localStorage.removeItem("mobile_no");
            localStorage.removeItem("activation_code");

          } else if(output.status==1012 || output.status==1013){ //1012 User Deactivated, 1013 User Login from Other Device
            swal({
                  title: output.message,
                  icon: "error",
                  });
            setTimeout(function(){
              localStorage.clear();
              window.location.href='index.html';
            },5000);
          }else{
            console.log(output);
          }
        },
        error: function () {
          alert("Error in loading records. Please refresh the page and try again.");
        }
      });
    }

    var user_data = JSON.parse(localStorage.getItem("user_data"));
    console.log(user_data);
    var user_info = user_data.user;
    var company_data = JSON.parse(localStorage.getItem("activation"));
    console.log(company_data);

    if(user_info.user_role == 1){
      var communicate_role = company_data.role.role_viewer.communication_role;   
    }else if(user_info.user_role == 2){
      var communicate_role = company_data.role.role_participant.communication_role;
    }else if(user_info.user_role == 3){
      var communicate_role = company_data.role.role_event_manager.communication_role;
    }else if(user_info.user_role == 4){
      var communicate_role = company_data.role.role_spoc.communication_role;
    }

    console.log("communicate_role");
    console.log(communicate_role);
  
    var cc = new ChatCamp({
      appId: localStorage.getItem('appid')
    })



    cc.connect(user_info.id.toString(), function (error, user) {
      if (error === null) {

        cc.GroupChannel.get(company_data.chatcamp_channel.channel_id.toString(), function (error, groupChannel) {
          if (error == null) {

            let previousMessageListQuery = groupChannel.createPreviousMessageListQuery();
            let channel_participants = groupChannel.participants;

            recent();
            function recent() {
              var groupChannelListQuery = cc.GroupChannel.createGroupChannelListQuery();
              groupChannelListQuery.setLimit(50);
              groupChannelListQuery.setReference(null);
              groupChannelListQuery.setParticipantState("ALL");

              groupChannelListQuery.load(function (error, groupChannelList) {
                if (error == null) {
                  var recent_participants = "";
                  for (var v = 0; v < groupChannelList.length; v++) {

                     var channelType = 'normal';
                      try{
                        channelType = groupChannelList[v].metadata.type;
                      }
                     catch(err){

                     }
          
                    if (company_data.chatcamp_channel.channel_id != groupChannelList[v].id && channelType == 'normal') {

                      if (groupChannelList[v].participantsCount > 2) {
                        console.log("Ravi");
                     console.log(groupChannelList);
                     console.log("Ravi");
                        recent_participants += "<li class='click-chat' data-pcount='"+groupChannelList[v].participantsCount+"' data-gcid='" + groupChannelList[v].id + "' data-check='recent' data-id='8468' data-name='" + groupChannelList[v].name + "' data-role='1' data-participants='"+groupChannelList[v].participants+"' data-avatar='assets/chat-icons.png'><div class='left-items'><span class='user-image-message'>";
                        recent_participants += "<img src='assets/chat-icons.png'>";
                        recent_participants += "</span><div class='user-message'><p class='user-name-message'>" + groupChannelList[v].name + "</p>";

                        recent_participants += "<p class='latest-message'>";

                        if (groupChannelList[v].lastMessage != undefined) {

                          if (groupChannelList[v].lastMessage.type == 'text') {
                            recent_participants += groupChannelList[v].lastMessage.text;
                          } else {
                            recent_participants += "<i class='fa fa-file' aria-hidden='true'></i> ";
                            recent_participants += groupChannelList[v].lastMessage.attachment.name;
                          }

                          recent_participants += "</p></div></div><div class='right-items'><p class='message-time'>" + insert_time(groupChannelList[v].lastMessage.insertedAt) + "</p>";
                        }

                        if (groupChannelList[v].unreadMessageCount > 0) {
                          recent_participants += "<p class='message-update' id='" + groupChannelList[v].id + "unread'>" + groupChannelList[v].unreadMessageCount + "</p>";
                        }

                        recent_participants += "</div></li>";


                      } else if (groupChannelList[v].participantsCount == 2) {
                        for (var p = 0; p < groupChannelList[v].participantsCount; p++) {

                          if (user_info.id != groupChannelList[v].participants[p].id) {

                            recent_participants += "<li class='click-chat' data-pcount='"+groupChannelList[v].participantsCount+"' data-gcid='" + groupChannelList[v].id + "' data-check='recent' data-id='" + groupChannelList[v].participants[p].id + "' data-name='" + groupChannelList[v].participants[p].displayName + "' data-role='" + groupChannelList[v].participants[p].metadata.message_poster_role + "' data-participants='"+groupChannelList[v].participants+"' data-avatar='" + groupChannelList[v].participants[p].avatarUrl + "'><div class='left-items'><span class='user-image-message'>";

                            if (groupChannelList[v].participants[p].avatarUrl == '') {
                              recent_participants += "<img src='assets/pic.png'>";
                            } else {
                              recent_participants += "<img class='user-image-message-img' src='" + groupChannelList[v].participants[p].avatarUrl + "'>";
                            }

                            recent_participants += "</span><div class='user-message'><p class='user-name-message'>" + groupChannelList[v].participants[p].displayName + "</p>";
                          }
                        }
                        recent_participants += "<p class='latest-message'>";

                        if (groupChannelList[v].lastMessage != undefined) {

                          if (groupChannelList[v].lastMessage.type == 'text') {
                            recent_participants += groupChannelList[v].lastMessage.text;
                          } else {
                            recent_participants += "<i class='fa fa-file' aria-hidden='true'></i> ";
                            recent_participants += groupChannelList[v].lastMessage.attachment.name;
                          }

                          recent_participants += "</p></div></div><div class='right-items'><p class='message-time'>" + insert_time(groupChannelList[v].lastMessage.insertedAt) + "</p>";
                        }

                        if (groupChannelList[v].unreadMessageCount > 0) {
                          recent_participants += "<p class='message-update' id='" + groupChannelList[v].id + "unread'>" + groupChannelList[v].unreadMessageCount + "</p>";
                        }

                        recent_participants += "</div></li>";

                      }

                    }
                  }

                  if (recent_participants == "") {
                    document.getElementById("myTable").style.display = "none";
                    document.getElementById("no-recent-chat").style.display = "block";
                  } else {
                    document.getElementById("mobile-blank-chat").style.display = "none";
                    document.getElementById("no-recent-chat").style.display = "none";
                    document.getElementById("myTable").style.display = "block";
                  }
          
                  
                 
                  document.getElementById("myTable").innerHTML = recent_participants;

                  $(".click-chat").click(function () {
                    $(".message-fadein").fadeIn();
                    $(".blank-chat").hide();
                    $(".click-chat").removeClass("active");
                    $(this).addClass("active");
                  });


                  $('.click-chat').on("click", function (e) {
                    var p_count = $(this).data('pcount');
                    var chat_name = $(this).data('name');
                    var chat_role = $(this).data('role');
                    var chat_avatar = $(this).data('avatar');
                    var group_c = $(this).data('gcid');
                    var check = $(this).data('check');
                    if (check == undefined) {
                      cc.GroupChannel.create($(this).data('name').toString(), [user_info.id.toString(), $(this).data('id').toString()], true, function (error, groupChannel) {
                        if (error == null) {
                          if (group_c == undefined) {
                            recent();
                            group_c = groupChannel.id;
                            setTimeout(function () {
                              $('.click-chat[data-gcid=' + group_c + ']').addClass("active");
                            }, 700)
                          }
                          var send_input_message = '';
                          previous_msg(groupChannel, chat_name, chat_role, chat_avatar, send_input_message,p_count);
                        }// create group channel one to one chat check error end
                      })
                    } else {
                      cc.GroupChannel.get(group_c, function (error, groupChannel) {
                        if (error == null) {
                          var send_input_message = '';
                          previous_msg(groupChannel, chat_name, chat_role, chat_avatar, send_input_message,p_count);
                          $('#' + group_c + 'unread').css('visibility', 'hidden');
                          groupChannel.markAsRead();
                        }
                      });
                    }//Else End
                  }); //click one to one chat end
                  setInterval(function () {
                    $(".back-icon").click(function () {    
                      $(".message-fadein").fadeOut();
                    });

                    if ($(window).width() < 991) {
                      var company_data = JSON.parse(localStorage.getItem("activation"));
                      $('.chat-grey-bar').css('background-color', company_data.company.header_color);
                      $('.chatting-name').css('color', company_data.company.normal_text_color);
                    }
                  }, 500)
                  let channelListener = new cc.ChannelListener();
                  channelListener.onMessageReceived = function (groupChannel, message) {


                    try{
                      channelType = groupChannel.metadata.type;
                      if(channelType == 'livesession')
                      {
                        return;
                      }
                    }
                   catch(err){

                   }

                    var active_id = $('.chatting-name').data('chat_id');

                    if (active_id == undefined) {
                      recent();
                    } else {
                      if (active_id == groupChannel.id) {
                        groupChannel.markAsRead();
                        recent();
                        var p_count = $('.chatting-name').data('pcount');
                        var chat_name = $('.chatting-name').data('chat_name');
                        var chat_role = $('.chatting-name').data('chat_role');
                        var chat_avatar = $('.chatting-name').data('chat_url');
                        var send_input_message = $('#text-msg').val();
                        previous_msg(groupChannel, chat_name, chat_role, chat_avatar, send_input_message,p_count);
                        setTimeout(function () {
                          document.getElementById('text-msg').value = send_input_message;
                        }, 2000)
                        setTimeout(function () {
                          $('.click-chat[data-gcid=' + active_id + ']').addClass("active");
                        }, 2000)

                      } else {
                        recent();
                        setTimeout(function () {
                          $('.click-chat[data-gcid=' + active_id + ']').addClass("active");
                        }, 1000)
                      }
                    }
                  }// Listener Message Received
                  channelListener.onGroupChannelReadStatusUpdated = function (groupChannel) {

                     try{
                      channelType = groupChannel.metadata.type;
                      if(channelType == 'livesession')
                      {
                        return;
                      }
                    }
                   catch(err){

                   }

                    var active_id = $('.chatting-name').data('chat_id');
                    if (active_id == groupChannel.id) {
                      var p_count = $('.chatting-name').data('pcount');
                      var chat_name = $('.chatting-name').data('chat_name');
                      var chat_role = $('.chatting-name').data('chat_role');
                      var chat_avatar = $('.chatting-name').data('chat_url');
                      var send_input_message = $('#text-msg').val();
                      previous_msg(groupChannel, chat_name, chat_role, chat_avatar, send_input_message,p_count);
                      setTimeout(function () {
                        document.getElementById('text-msg').value = send_input_message;
                      }, 2000)
                      setTimeout(function () {
                        $('.click-chat[data-gcid=' + active_id + ']').addClass("active");
                      }, 2000)

                    }
                  }// Listener Message Read
                  cc.addChannelListener('test', channelListener);
                  function previous_msg(groupChannel, chat_name, chat_role, chat_avatar, send_val,p_count) {
                    groupChannel.markAsRead(); // Mark as Read
                    let previousMessageListQuery = groupChannel.createPreviousMessageListQuery();
                    previousMessageListQuery.setLimit(50);
                    previousMessageListQuery.setReference(null);
                    previousMessageListQuery.setSortBy("INSERTED_AT");

                    previousMessageListQuery.load(function (previousMessageListQueryError, messages) {
                      if (!previousMessageListQueryError) {
                        var chat_view = "<div class='chat-grey-bar'><!--Chat area Grey Bar Starts Here--><div class='user-profile'><span data-toggle='tooltip' data-placement='bottom' title='Back' class='back-icon'><img class='back-icon-image' src='assets/left-arrow.svg'></span><span class='chatting-user'>";
                        if (chat_avatar == '') {
                          chat_view += "<img src='assets/pic.png'>";
                        } else {
                          chat_view += "<img src='" + chat_avatar + "'>";
                        }
                        chat_view += "</span><span class='chatting-name' data-chat_id='" + groupChannel.id + "' data-chat_name='" + chat_name + "' data-chat_role='" + chat_role + "' data-pcount='"+p_count+"' data-chat_url='" + chat_avatar + "'>" + chat_name +"</span>";
                        /*if(p_count > 2){
                          chat_view += "<!-- --> <span class='group-chatting-participant'><i class='fa fa-angle-down' aria-hidden='true'></i></span><div class='participants-group-list-no' style='display: none;'><p class='participants-edit'>Participants: 20 <span class='cross-edit-group'><i class='fa fa-times' aria-hidden='true'></i></span></p><div class='group-users'><span>abe singh thakur<i class='fa fa-trash'></i></span><span>kjjf nanam ji kumar f nanam ji kumar<i class='fa fa-trash'></i></span><span>abe singh thakur<i class='fa fa-trash'></i></span><span>kjjf nanam ji kumar kjjf nanam ji kumar<i class='fa fa-trash'></i></span></div><div class='add-group-users'><p class='add-participants'>All participants <span>Add</span></p><span>abe singh thakur<input type='checkbox'></span><span>abe singh thakur<input type='checkbox'></span><span>abe singh thakur<input type='checkbox'></span></div></div> <!-- -->";
                          }*/
                          chat_view += "</div><div class='more-options'><a id='open-file'><span> <i class='fa fa-paperclip' aria-hidden='true'></i> </span><input type='file' name='send-attachment' id='send-attachment' title='Send Attachment' accept='image/*,video/*,application/pdf,application/zip,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document'></a><!-- <span><i class='fa fa-ellipsis-v' aria-hidden='true'></i></span> --></div></div><!--Chat area Grey Bar Starts Here--><div class='chat-area'><div class='chat-box'><div class='conversation-container' id='parentDiv'>";
                        if (messages.length == 0) { chat_view += "<div class='icons-holder'><img src='assets/chat-icons.png'><p>Start Your Chat!</p></div>"; }
                        var user_lastseen;
                        for (var t = messages.length - 1; t >= 0; t--) {
                          if (messages[t].user.id != user_info.id) {
                            user_lastseen = messages[t].user.lastSeen;
                            break;
                          }

                        }
                        console.log(messages);
                        for (var c = messages.length - 1; c >= 0; c--) {
                          var msg = cc.Message.createFromSerializedObject(messages[c]);
                          chat_view += check_insert_day(messages[c].insertedAt, c);

                          if (messages[c].user.id == user_info.id) {

                            if (messages[c].type == 'text') {
                              chat_view += "<div class='message sent'>" + check_url(messages[c].text) + "<span class='metadata'><span class='time'>" + chat_insert_time(messages[c].insertedAt) + "</span>";

                              if (user_lastseen != undefined && user_lastseen >= messages[c].insertedAt) {
                                chat_view += "<span class='tick'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' id='msg-dblcheck-ack' x='2063' y='2076'><path d='M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z' fill='#4fc3f7'/></svg></span>";
                              } else {
                                chat_view += "<span class='tick'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' id='msg-dblcheck-ack' x='2063' y='2076'><path d='M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z' fill='#ccc'/></svg></span>";

                              }
                              chat_view += "</span></div>";
                            }// Type Text Check End
                            else if (messages[c].type == "attachment" && (messages[c].attachment.type.search('image') == 0)) {

                              chat_view += "<div class='message sent image-attachement'><img src='";
                            if(msg.getAttachment().getThumbnails()[1]){
                              chat_view += msg.getAttachment().getThumbnails()[1].getUrl();
                            }else{
                              chat_view += msg.getAttachment().getUrl();
                            }

                            chat_view += "' data-real_src='"+ msg.getAttachment().getUrl() +"' class='zoom-image' data-msgid='" + messages[c].id + "' id='" + messages[c].id + "myImg'><!-- The Modal --><div id='" + messages[c].id + "myModal' class='modal'><span class='close'><img src='assets/multiply.svg'></span><img class='modal-content img01' id='" + messages[c].id + "img01'></div><!-- The Modal --><span class='metadata'><span class='time'>" + chat_insert_time(messages[c].insertedAt) + "</span>";

                              if (user_lastseen != undefined && user_lastseen >= messages[c].insertedAt) {
                                chat_view += "<span class='tick'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' id='msg-dblcheck-ack' x='2063' y='2076'><path d='M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z' fill='#4fc3f7'/></svg></span>";
                              } else {
                                chat_view += "<span class='tick'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' id='msg-dblcheck-ack' x='2063' y='2076'><path d='M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z' fill='#ccc'/></svg></span>";

                              }
                              chat_view += "</span></div>";

                            }// Type Image Check End
                            else if (messages[c].type == "attachment" && (messages[c].attachment.type.search('video') == 0)) {

                              chat_view += "<div class='message sent video-attachement'><video controls preload='none' poster='";
                              if(msg.getAttachment().getThumbnails()[1]){
                                chat_view += msg.getAttachment().getThumbnails()[1].getUrl();
                              }else{
                                chat_view += "";
                              }
                              chat_view += "'><source src='"+ msg.getAttachment().getUrl() +"' type='video/mp4'></video><span class='metadata'><span class='time'>" + chat_insert_time(messages[c].insertedAt) + "</span>";

                              if (user_lastseen != undefined && user_lastseen >= messages[c].insertedAt) {
                                chat_view += "<span class='tick'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' id='msg-dblcheck-ack' x='2063' y='2076'><path d='M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z' fill='#4fc3f7'/></svg></span>";
                              } else {
                                chat_view += "<span class='tick'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' id='msg-dblcheck-ack' x='2063' y='2076'><path d='M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z' fill='#ccc'/></svg></span>";

                              }
                              chat_view += "</span></div>";

                            }// Type Video Check End
                            else if (messages[c].type == "attachment" && (messages[c].attachment.type.search('application/pdf') == 0)) {
                              var main_file_name = messages[c].attachment.name;
                              var fn_array = main_file_name.split(".");
                              var file_type = fn_array.pop();
                              var file_name = fn_array.join(".");

                              chat_view += "<div class='message sent text-attachement'><div class='download'><span class='icon'><img src='assets/pdf-icon.png'></span><span class='title'>" + file_name + "</span> <a target='_blank' href=" + msg.getAttachment().getUrl() + " download=" + messages[c].attachment.name + " ><button><i class='fa fa-arrow-down' aria-hidden='true'></i></button></a></div><span class='metadata'><span class='format'>" + file_type + "  " + calculate_size(messages[c].attachment.size) + "</span><span class='time'>" + chat_insert_time(messages[c].insertedAt) + "</span>";

                              if (user_lastseen != undefined && user_lastseen >= messages[c].insertedAt) {
                                chat_view += "<span class='tick'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' id='msg-dblcheck-ack' x='2063' y='2076'><path d='M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z' fill='#4fc3f7'/></svg></span>";
                              } else {
                                chat_view += "<span class='tick'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' id='msg-dblcheck-ack' x='2063' y='2076'><path d='M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z' fill='#ccc'/></svg></span>";

                              }
                              chat_view += "</span></div>";

                            }// Type PDF Check End
                            else if (messages[c].type == "attachment" && ((messages[c].attachment.type.search('application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') == 0) || (messages[c].attachment.type.search('application/vnd.ms-excel') == 0))) {
                              var main_file_name = messages[c].attachment.name;
                              var fn_array = main_file_name.split(".");
                              var file_type = fn_array.pop();
                              var file_name = fn_array.join(".");

                              chat_view += "<div class='message sent text-attachement'><div class='download'><span class='icon'><img src='assets/excel-icon.png'></span><span class='title'>" + file_name + "</span> <a target='_blank' href=" + msg.getAttachment().getUrl() + " download=" + messages[c].attachment.name + " ><button><i class='fa fa-arrow-down' aria-hidden='true'></i></button></a></div><span class='metadata'><span class='format'>" + file_type + "  " + calculate_size(messages[c].attachment.size) + "</span><span class='time'>" + chat_insert_time(messages[c].insertedAt) + "</span>";

                              if (user_lastseen != undefined && user_lastseen >= messages[c].insertedAt) {
                                chat_view += "<span class='tick'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' id='msg-dblcheck-ack' x='2063' y='2076'><path d='M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z' fill='#4fc3f7'/></svg></span>";
                              } else {
                                chat_view += "<span class='tick'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' id='msg-dblcheck-ack' x='2063' y='2076'><path d='M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z' fill='#ccc'/></svg></span>";

                              }
                              chat_view += "</span></div>";

                            }// Type EXCEL Check End
                            else if (messages[c].type == "attachment" && (messages[c].attachment.type.search('application/vnd.openxmlformats-officedocument.wordprocessingml.document') == 0)) {
                              var main_file_name = messages[c].attachment.name;
                              var fn_array = main_file_name.split(".");
                              var file_type = fn_array.pop();
                              var file_name = fn_array.join(".");

                              chat_view += "<div class='message sent text-attachement'><div class='download'><span class='icon'><img src='assets/word-icon.png'></span><span class='title'>" + file_name + "</span> <a target='_blank' href=" + msg.getAttachment().getUrl() + " download=" + messages[c].attachment.name + " ><button><i class='fa fa-arrow-down' aria-hidden='true'></i></button></a></div><span class='metadata'><span class='format'>" + file_type + "  " + calculate_size(messages[c].attachment.size) + "</span><span class='time'>" + chat_insert_time(messages[c].insertedAt) + "</span>";

                              if (user_lastseen != undefined && user_lastseen >= messages[c].insertedAt) {
                                chat_view += "<span class='tick'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' id='msg-dblcheck-ack' x='2063' y='2076'><path d='M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z' fill='#4fc3f7'/></svg></span>";
                              } else {
                                chat_view += "<span class='tick'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' id='msg-dblcheck-ack' x='2063' y='2076'><path d='M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z' fill='#ccc'/></svg></span>";

                              }
                              chat_view += "</span></div>";

                            }// Type Word Check End
                            else if (messages[c].type == "attachment" && (messages[c].attachment.type.search('application/x-zip-compressed') == 0 || messages[c].attachment.type.search('application/zip') == 0)) {
                              var main_file_name = messages[c].attachment.name;
                              var fn_array = main_file_name.split(".");
                              var file_type = fn_array.pop();
                              var file_name = fn_array.join(".");

                              chat_view += "<div class='message sent text-attachement'><div class='download'><span class='icon'><img src='assets/zip-icon.png'></span><span class='title'>" + file_name + "</span> <a target='_blank' href=" + msg.getAttachment().getUrl() + " download=" + messages[c].attachment.name + " ><button><i class='fa fa-arrow-down' aria-hidden='true'></i></button></a></div><span class='metadata'><span class='format'>" + file_type + "  " + calculate_size(messages[c].attachment.size) + "</span><span class='time'>" + chat_insert_time(messages[c].insertedAt) + "</span>";

                              if (user_lastseen != undefined && user_lastseen >= messages[c].insertedAt) {
                                chat_view += "<span class='tick'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' id='msg-dblcheck-ack' x='2063' y='2076'><path d='M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z' fill='#4fc3f7'/></svg></span>";
                              } else {
                                chat_view += "<span class='tick'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' id='msg-dblcheck-ack' x='2063' y='2076'><path d='M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z' fill='#ccc'/></svg></span>";

                              }
                              chat_view += "</span></div>";

                            }// Type Other Attachment Check End

                          } else {

                            if (messages[c].type == 'text') {
                              chat_view += "<div class='message received'><span class='sendername'>"+ messages[c].user.displayName +": </span></br>"+ check_url(messages[c].text) + "<span class='metadata'><span class='time'>" + chat_insert_time(messages[c].insertedAt) + "</span></span></div>";
                            }// Type Text Check End
                            else if (messages[c].type == "attachment" && (messages[c].attachment.type.search('image') == 0)) {
                              chat_view += "<div class='message received image-attachement'><span class='sendername'>"+ messages[c].user.displayName +": </span></br><img src='";
                            if(msg.getAttachment().getThumbnails()[1]){
                              chat_view += msg.getAttachment().getThumbnails()[1].getUrl();
                            }else{
                              chat_view += msg.getAttachment().getUrl();
                            }

                            chat_view += "' data-real_src='"+ msg.getAttachment().getUrl() +"' class='zoom-image' data-msgid='" + messages[c].id + "' id='" + messages[c].id + "myImg'><!-- The Modal --><div id='" + messages[c].id + "myModal' class='modal'><span class='close'><img src='assets/multiply.svg'></span><img class='modal-content img01' id='" + messages[c].id + "img01'></div><!-- The Modal --><span class='metadata'><span class='time'>" + chat_insert_time(messages[c].insertedAt) + "</span></span></div>";
                            }// Type Image Check End
                            else if (messages[c].type == "attachment" && (messages[c].attachment.type.search('video') == 0)) {
                              chat_view += "<div class='message received video-attachement'><span class='sendername'>"+ messages[c].user.displayName +": </span></br><video controls  preload='none' poster='";
                              if(msg.getAttachment().getThumbnails()[1]){
                                chat_view += msg.getAttachment().getThumbnails()[1].getUrl();
                              }else{
                                chat_view += "";
                              }
                              chat_view += "'><source src='"+ msg.getAttachment().getUrl() +"' type='video/mp4'></video><span class='metadata'><span class='time'>" + chat_insert_time(messages[c].insertedAt) + "</span></span></div>";
                            }// Type Video Check End
                            else if (messages[c].type == "attachment" && (messages[c].attachment.type.search('application/pdf') == 0)) {
                              var main_file_name = messages[c].attachment.name;
                              var fn_array = main_file_name.split(".");
                              var file_type = fn_array.pop();
                              var file_name = fn_array.join(".");

                              chat_view += "<div class='message received text-attachement'><span class='sendername'>"+ messages[c].user.displayName +": </span></br><div class='download'><span class='icon'><img src='assets/pdf-icon.png'></span><span class='title'>" + file_name + "</span> <a target='_blank' href=" + msg.getAttachment().getUrl() + " download=" + messages[c].attachment.name + "><button><i class='fa fa-arrow-down' aria-hidden='true'></i></button></a></div><span class='metadata'><span class='format'>" + file_type + "  " + calculate_size(messages[c].attachment.size) + "</span><span class='time'>" + chat_insert_time(messages[c].insertedAt) + "</span></span></div>";
                            }// Type PDF Check End
                            else if (messages[c].type == "attachment" && ((messages[c].attachment.type.search('application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') == 0) || (messages[c].attachment.type.search('application/vnd.ms-excel') == 0))) {
                              var main_file_name = messages[c].attachment.name;
                              var fn_array = main_file_name.split(".");
                              var file_type = fn_array.pop();
                              var file_name = fn_array.join(".");

                              chat_view += "<div class='message received text-attachement'><span class='sendername'>"+ messages[c].user.displayName +": </span></br><div class='download'><span class='icon'><img src='assets/excel-icon.png'></span><span class='title'>" + file_name + "</span> <a target='_blank' href=" + msg.getAttachment().getUrl() + " download=" + messages[c].attachment.name + " ><button><i class='fa fa-arrow-down' aria-hidden='true'></i></button></a></div><span class='metadata'><span class='format'>" + file_type + "  " + calculate_size(messages[c].attachment.size) + "</span><span class='time'>" + chat_insert_time(messages[c].insertedAt) + "</span></span></div>";
                            }// Type EXCEL Check End
                            else if (messages[c].type == "attachment" && (messages[c].attachment.type.search('application/vnd.openxmlformats-officedocument.wordprocessingml.document') == 0)) {
                              var main_file_name = messages[c].attachment.name;
                              var fn_array = main_file_name.split(".");
                              var file_type = fn_array.pop();
                              var file_name = fn_array.join(".");

                              chat_view += "<div class='message received text-attachement'><span class='sendername'>"+ messages[c].user.displayName +": </span></br><div class='download'><span class='icon'><i class='fa fa-file' aria-hidden='true'></i></span><span class='title'>" + file_name + "</span> <a target='_blank' href=" + msg.getAttachment().getUrl() + " download=" + messages[c].attachment.name + " ><button><i class='fa fa-arrow-down' aria-hidden='true'></i></button></a></div><span class='metadata'><span class='format'>" + file_type + "  " + calculate_size(messages[c].attachment.size) + "</span><span class='time'>" + chat_insert_time(messages[c].insertedAt) + "</span></span></div>";
                            }// Type Word Check End
                            else if (messages[c].type == "attachment" && (messages[c].attachment.type.search('application/x-zip-compressed') == 0 || messages[c].attachment.type.search('application/zip') == 0)) {
                              var main_file_name = messages[c].attachment.name;
                              var fn_array = main_file_name.split(".");
                              var file_type = fn_array.pop();
                              var file_name = fn_array.join(".");

                              chat_view += "<div class='message received text-attachement'><div class='download'><span class='icon'><img src='assets/zip-icon.png'></span><span class='title'>" + file_name + "</span> <a target='_blank' href=" + msg.getAttachment().getUrl() + " download=" + messages[c].attachment.name + " ><button><i class='fa fa-arrow-down' aria-hidden='true'></i></button></a></div><span class='metadata'><span class='format'>" + file_type + "  " + calculate_size(messages[c].attachment.size) + "</span><span class='time'>" + chat_insert_time(messages[c].insertedAt) + "</span></span></div>";
                            }// Type Other Attachment Check End
                          }
                        }
                        chat_view += "</div></div><div id='myProgress'><div id='myBar'></div></div><div class='chat-message'><form autocomplete='off' onSubmit='return false;'><div class='form-group'><input type='text' class='form-control' id='text-msg' placeholder='Type here...' value='' autofocus><button type='text' class='message-button'><img src='assets/comment-icon.svg' class='send-message' data-pcount='"+p_count+"' data-gc='" + JSON.stringify(groupChannel) + "' data-name='" + chat_name + "' data-role='" + chat_role + "' data-avatar='" + chat_avatar + "'></button></div></form></div></div>";

                        document.getElementById("start-chat").innerHTML = chat_view;
                        $("#text-msg").focus();
                        var objDiv = document.getElementById("parentDiv");
                        objDiv.scrollTop = objDiv.scrollHeight;
                        $('.click-chat[data-gcid=' + groupChannel.id + ']').addClass("active");
                      }

                      function check_url(msg) {
                      var replacedText, replacePattern1, replacePattern2, replacePattern3;

                      //URLs starting with http://, https://, or ftp://
                      replacePattern1 = /(\b(https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim;
                      replacedText = msg.replace(replacePattern1, '<a href="$1" target="_blank">$1</a>');

                      //URLs starting with "www." (without // before it, or it'd re-link the ones done above).
                      replacePattern2 = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
                      replacedText = replacedText.replace(replacePattern2, '$1<a href="http://$2" target="_blank">$2</a>');

                      //Change email addresses to mailto:: links.
                      replacePattern3 = /(([a-zA-Z0-9\-\_\.])+@[a-zA-Z0-9\-\_\.]+?(\.[a-zA-Z]{2,6})+)/gim;
                      replacedText = replacedText.replace(replacePattern3, '<a href="mailto:$1">$1</a>');

                      return replacedText;
                     }

                      $(".zoom-image").on("click", function () {
                      var msgId = $(this).data("msgid");
                      // Get the modal
                      var modal = document.getElementById(msgId + 'myModal');
                      // Get the image and insert it inside the modal - use its "alt" text as a caption
                      var img = document.getElementById(msgId + 'myImg');
                      var modalImg = document.getElementById(msgId + "img01");
                      var captionText = document.getElementById("caption");
                      modal.style.display = "block";
                      modalImg.src = $(this).data("real_src");
                    
                      var span = document.getElementsByClassName("close")[0];
                      // When the user clicks on <span> (x), close the modal
                      span.onclick = function () {
                        modal.style.display = "none";
                      }
                      modal.onclick = function () {
                        modal.style.display = "none";
                      }
                      });

                      $('.group-chatting-participant').click(function(){
                        $('.participants-group-list-no').toggle();
                        $(".live_overlay").fadeIn();
                      });
                      $('.cross-edit-group').click(function(){
                        $('.participants-group-list-no').toggle();
                        $(".live_overlay").fadeOut();
                      });

                      $('.send-message').click(function () {
                        var p_count = $(this).data('pcount');
                        var chat_name = $(this).data('name');
                        var chat_role = $(this).data('role');
                        var chat_avatar = $(this).data('avatar');
                        var text_msg = $("#text-msg").val();
                        text_msg = text_msg.trim();
                        console.log(communicate_role.search(chat_role));
                        console.log("Role");
                        if(communicate_role.search(chat_role) >= 0){
                        if (text_msg != '') {
                          $("#text-msg").val('');
                          groupChannel.sendMessage(text_msg, function (error, message) {
                            if (error == null) {
                              $("#text-msg").val('');

                              var send_input_message = '';
                              previous_msg(groupChannel, chat_name, chat_role, chat_avatar, send_input_message,p_count);
                              recent();
                              $("#text-msg").focus();
                            }
                          })
                        } else {// Check If Text Msg Not Null End
                          alert("Please Type Message First.");
                        }
                      }else{
                            alert("You are Not Allowed to Communicate with this User.");
                          }
                      }); // Send Text Message End

                      $("#open-file").unbind().click(function () {

                        var final_file;

                        $('#send-attachment').unbind().on('change', prepareUpload);

                        function prepareUpload(event) {
                          var chat_role = $(".chatting-name").data('chat_role');
                          if(communicate_role.search(chat_role) >= 0){
              
                          final_file = event.target.files[0];

                          const name = event.target.files[0].name;
                          const lastDot = name.lastIndexOf('.');
                          const ext = name.substring(lastDot + 1);

                          if (ext == 'doc' || ext == 'docx' || ext == 'pdf' || ext == 'zip' || ext == 'csv' || ext == 'xlsx' || final_file.type.search('video') == 0 || final_file.type.search('image') == 0) {

                            if (final_file) {
                              var p_count = $(".chatting-name").data('pcount');
                              var chat_name = $(".chatting-name").data('chat_name');
                              var chat_avatar = $(".chatting-name").data('chat_url');

                              let thumb1 = new cc.ThumbnailDimension(150, 150);
                              let thumb2 = new cc.ThumbnailDimension(250, 250);
                              let messageParams = new cc.MessageParams();
                              messageParams.setThumbnailDimensions([thumb1, thumb2]);
                              messageParams.setAttachment(final_file);

                              groupChannel.sendAttachment(messageParams, function (progress, total) {
                                var percent = (progress / total) * 100;
                                var upload_per = Math.round(percent);
                                document.getElementById("myBar").innerHTML = upload_per + '%';
                                $("#myBar").width(upload_per + '%');

                              }, function (error, message) {
                                if (error === null) {
                                  final_file = '';
                                  var send_input_message = '';
                                  previous_msg(groupChannel, chat_name, chat_role, chat_avatar, send_input_message,p_count);
                                  recent();
                                  $("#text-msg").focus();
                                }
                              }) // send attachemt end

                            }// check for blob exit or not 

                          } // Check Extension End
                          else {
                            alert("Selected file type not allowed, please send in .zip");
                          }
              }else{
                          alert("You are Not Allowed to Communicate with this User.");
                        }
                        } //Preupload function end

                      }); // send attachment end on click


                      $('#text-msg').keypress(function (e) {
                        var key = e.which;
                        if (key == 13)  // the enter key code
                        {
                          $('#text-msg').get(0);
                          $('.send-message').click()
                        }

                      });
                    }); //Fetch Previous Message List End
                  } //Load Previous Message Function End
                }
              }) //Group Channel List Query End
            } //Recent List Function End
            //var participant = "<li class='new-group'><i class='fa fa-users' aria-hidden='true'></i> New Group </li>";
            var participant = "";
            for (var s = 0; s < channel_participants.length; s++) {
              if (user_info.id != channel_participants[s].id && (communicate_role.search(channel_participants[s].metadata.message_poster_role) >= 0)) {
                participant += "<li class='click-chat contact-user' data-id='" + channel_participants[s].id + "' data-name='" + channel_participants[s].displayName + "' data-role='" + channel_participants[s].metadata.message_poster_role + "' data-avatar='" + channel_participants[s].avatarUrl + "'><span class='user-image-message'>";
                if (channel_participants[s].avatarUrl == '') {
                  participant += "<img src='assets/pic.png'>";
                } else {
                  participant += "<img class='user-image-message-img' src='" + channel_participants[s].avatarUrl + "'>";
                }
                participant += "</span><span class='user-name-message'>" + channel_participants[s].displayName + "</span></li>";
              }

            }
            document.getElementById("myTable2").innerHTML = participant;

            var participant3 = "";
            for (var s = 0; s < channel_participants.length; s++) {
              if (user_info.id != channel_participants[s].id && (communicate_role.search(channel_participants[s].metadata.message_poster_role) >= 0)) {
                participant3 += "<li class='grouplist grp"+ channel_participants[s].id +"' data-id='" + channel_participants[s].id + "' data-name='" + channel_participants[s].displayName + "' data-role='" + channel_participants[s].metadata.message_poster_role + "' data-avatar='" + channel_participants[s].avatarUrl + "'><span class='user-image-message'>";
                if (channel_participants[s].avatarUrl == '') {
                  participant3 += "<img src='assets/pic.png'>";
                } else {
                  participant3 += "<img class='user-image-message-img' src='" + channel_participants[s].avatarUrl + "'>";
                }
                participant3 += "</span><span class='user-name-message'>" + channel_participants[s].displayName + "</span><label class='selectperson'><input class='checkselect' type='checkbox'><span class='checkmark'></span></label></li>";
              }

            }
            document.getElementById("myTableselect").innerHTML = participant3;

var selectedpartcipants;
$(".addgroup").click(function () {
     selectedpartcipants = [user_info.id.toString()];
     $(".addgroup").hide();
     $("#myTable2").hide();
     $(".search-area").hide();
     $(".finalselectedlist").hide();
     $(".allselect").animate({width: 'toggle',}, 300);
     counter = 1;
});
$(".listback").click(function () {
    $(".allselect").animate({width: 'toggle',}, 200);
    $(".addgroup").animate({width: 'toggle',}, 200);
    $("#myTable2").animate({width: 'toggle',}, 200);  
    $('.selectedlist').find('.aclassimage').remove();
    $('#myTableselect').find('.checkselect').prop( "checked", false );
    $(".search-area").show();
    counter = 0;
});


 $('.checkmark').click(function(){            
  var datename = $(this).parent('.selectperson').parent('.grouplist').data('id');
          if ($(this).parent('.selectperson').find('.checkselect').prop('checked') == false) {
                var username = $(this).parent('.selectperson').parent('.grouplist').find('.user-name-message').text();selectedpartcipants.push(datename.toString());
                var userimage = $(this).parent('.selectperson').parent('.grouplist').find('.user-image-message-img').attr('src');
                $('.selectedlist').append("<a id="+datename+"  data-id="+datename+" class='aclassimage'><img class='selectimage' src="+userimage+"><span class='selectspan'>"+username+"</span><div class='selectdiv'><i class='fa fa-times-circle'></i></div></a>");
                $('.selectdiv').unbind().click(function(){
                       $(this).parent('.aclassimage').remove();
                       var worde = $(this).parent('.aclassimage').data('id');
                       console.log(worde);
                       selectedpartcipants = jQuery.grep(selectedpartcipants, function(value) {
                        return value != worde;
                      });
                      console.log(selectedpartcipants);
                       $('.grp'+worde).find('.checkselect').prop( "checked", false );
                });     
          }
          else if($(this).parent('.selectperson').find('.checkselect').prop('checked') == true){
                $('.selectedlist').find('#'+datename).remove();
                selectedpartcipants = jQuery.grep(selectedpartcipants, function(value) {
                return value != datename;
                 });
                }
                console.log(selectedpartcipants);
});

$('.nextselect').click(function(){
  
  var listlength = selectedpartcipants.length;
  console.log(listlength);
 if (listlength <= 2) {
   swal({
     title: "Please select at least 2 participants",
     icon: "error",
   });
 //alert('Please select participants');
 }
  else {
  $('.allselect').hide();
  $('.finalselectedlist').show({width: 'toggle',}, 200);
  var finaldatalist = document.getElementsByClassName("selectedlist")[0].innerHTML;
  $('.finalparticipants').append(""+finaldatalist+"");
  var listlength = selectedpartcipants.length - 1;
 var ccd = $('.finalselectedlist').find('.typegroup').append("<span>Participants: "+listlength+"</span>");
 console.log(ccd);
  $('.finalparticipants').find('.selectdiv').remove();
}
});
$('.nextselect2').click(function(){
  var inputgroupname = $('#finalselectedinput').val();
  if(inputgroupname == 0) {
  //('Enter the name of group');
  swal({
     title: "Enter the name of group",
     icon: "error",
   });
  }else{
                    console.log(selectedpartcipants);
                    console.log(inputgroupname);

                    cc.GroupChannel.create(inputgroupname.toString(), selectedpartcipants, true,  function(error, groupChannel){
                      if(error == null){
                      console.log("New Group Channel has been created", groupChannel)
                        recent();
                            var group_c = groupChannel.id;
                            setTimeout(function () {
                              $('.click-chat[data-gcid=' + group_c + ']').addClass("active");
                            }, 700)
                      }
                    })
                    /*$('#myTable').append("<li class='click-chat' data-gcid='' data-check='' data-id='' data-name='' data-role='' data-avatar=''><div class='left-items'><span class='user-image-message'><img class='user-image-message-img' src='assets/users.png'></span><div class='user-message'><p class='user-name-message'>"+inputgroupname+"</p><p class='latest-message'></p></div></div></li>");*/
                    $('.second-list').hide();
                    $(".second-list").hide();
                    $('.allselect').hide();
                    $('.all-user-lists').show(); 
                    $('.addgroup').show();
                    $('#myTable2').show();
                    $('#finalselectedinput').val('');
                    $('.finalselectedlist').find('.typegroup').find('span').remove();
                    $('.selectedlist').find('.aclassimage').remove();
                    $('#myTableselect').find('.checkselect').prop( "checked", false );
                    $('.add-chat-icon').css("transform", "rotate(0deg)");
                    $(".search-area").show();
                    
                    var namelist = $('.finalparticipants').find('span').text();
                    console.log(namelist);
                      counter = 0;
  }  
}); 
$('.finallistback').click(function(){
  $(".addgroup").hide();
     $("#myTable2").hide();
     $(".allselect").animate({width: 'toggle',}, 300);
     $('.finalparticipants').find('.aclassimage').remove();
     $('.finalselectedlist').find('.typegroup').find('span').remove();
     $('#finalselectedinput').val('');
     $('.finalselectedlist').css("display", "none");
});     
 var counter = 0;
 $(".contact-user").click(function () {
              $(".second-list").fadeOut();
              $('.add-chat-icon').css("transform", "rotate(0deg)");
              counter = 0;
            });

            $('.add-chat').on('click', function () {
             
                  
               //console.log(counter);
              if (counter == 0 || counter == 2) {
                if(counter == 0){
                $('.add-chat-icon').css("transform", "rotate(45deg)");
                counter = 2;
                }else{
                  $('.add-chat-icon').css("transform", "rotate(0deg)");
                  counter = 0;
                }
                
                $(".second-list").animate({width: 'toggle',}, 200);
                $(".finalselectedlist").hide();
                $(".search-area").show();
                
              } else {
                swal({
                  title: "Are you sure?",
                  text: "All progress will be deleted",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
                  })
                  .then((willDelete) => {
                  //var r = confirm("All progress will be deleted\nAre you sure you want proceed?");
                  if (willDelete) {
                    $(".second-list").hide();
                    $('.allselect').hide();
                    $('.all-user-lists').show(); 
                    $('.addgroup').show();
                    $('#myTable2').show();
                    $('.selectedlist').find('.aclassimage').remove();
                    $('#myTableselect').find('.checkselect').prop( "checked", false );
                    $('#finalselectedinput').val('');
                    $('.finalselectedlist').find('.typegroup').find('span').remove();
                    $('.finalparticipants').find('.aclassimage').remove();
                    $('.add-chat-icon').css("transform", "rotate(0deg)");
                counter = 0;
                  } else {
                   // $(".second-list").show();
                    
                  }
                });
              }
            });
          }// check channel connect end
        });
      } // check erro equal to null for user 
    });

    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable li").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
    $("#myInputselect").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTableselect li").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
    $("#myInput2").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable2 li").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
    $(".add-chat").click(function () {
      
      
    });
    $(".create-group").click(function () {
      $(".multi-select").slideToggle("fast");
      $('body').css('overflow', 'hidden');
    });
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<script>
  $(document).ready(function () {
    //document.getElementById("module").innerHTML="Message";
    $(".star").click(function () {
      $(".started").fadeIn();
      $(".pending").hide();
      $(".completed").hide();
    });
    $(".pen").click(function () {
      $(".pending").fadeIn();
      $(".started").hide();
      $(".completed").hide();
    });
    $(".com").click(function () {
      $(".completed").fadeIn();
      $(".pending").hide();
      $(".started").hide();
    });
    $(".register-survey").click(function () {
      $(".survey-results").fadeIn();
      $(".overlay").fadeIn();
    });
    $(".cross").click(function () {
      $(".survey-results").fadeOut("fast");
      $(".overlay").fadeOut();
    });
    $('li').click(function () {
      $(this).addClass(".active");
    });
    
  });
</script>
<script type="text/javascript">
  function insert_time(milidate) {
    var current_date = new Date();
    var current_day = current_date.getDate();
    var current_month = current_date.getMonth();
    var current_year = current_date.getFullYear();
    var current_d = current_date.getHours();
    var current_m = current_date.getMinutes();


    var date = new Date(milidate * 1000);
    var day = date.getDate();
    var month = date.getMonth();
    var year = date.getFullYear();
    var d = date.getHours();
    var m = date.getMinutes();

    if (current_year >= year) {
      if (current_month >= month) {
        if (current_day == day) {

          if (m < 10) { var new_m = '0' + m } else { var new_m = m; }
          if (d >= 12) {
            if (d > 12) { var new_d = d - 12; } else { new_d = d; }
            if (new_d < 10) { new_d = '0' + new_d; } else { new_d = new_d; }
            var s = "PM";
          } else {
            if (d < 10) { var new_d = '0' + d; } else { var new_d = d; }
            var s = "AM";
          }

          return new_d + ':' + new_m + ' ' + s;

        } else {

          if (day < 10) { var new_day = '0' + day } else { var new_day = day; }
          if (month < 10) { var new_month = '0' + month } else { var new_month = month; }

          return new_day + '/' + new_month + '/' + year;
        }

      }
    }

  }

  function calculate_size(milisize) {
    if (milisize < 1024) {
      return milisize + 'Bytes';
    } else {
      var cal_kb = milisize / 1024;
      if (cal_kb < 1024) {
        return cal_kb.toFixed(2) + 'KB';
      } else {
        var cal_mb = cal_kb / 1024;
        if (cal_mb < 1024) {
          return cal_mb.toFixed(2) + 'MB';
        } else {
          var cal_gb = cal_mb / 1024;
          return cal_gb.toFixed(2) + 'GB';
        }

      }

    }


  }

  function chat_insert_time(milidate) {
    var current_date = new Date();
    var current_day = current_date.getDate();
    var current_month = current_date.getMonth();
    var current_year = current_date.getFullYear();
    var current_d = current_date.getHours();
    var current_m = current_date.getMinutes();


    var date = new Date(milidate * 1000);
    var day = date.getDate();
    var month = date.getMonth();
    var year = date.getFullYear();
    var d = date.getHours();
    var m = date.getMinutes();

    if (current_year >= year) {
      if (current_month >= month) {
        if (current_day == day) {

          if (m < 10) { var new_m = '0' + m } else { var new_m = m; }
          if (d >= 12) {
            if (d > 12) { var new_d = d - 12; } else { new_d = d; }
            if (new_d < 10) { new_d = '0' + new_d; } else { new_d = new_d; }
            var s = "PM";
          } else {
            if (d < 10) { var new_d = '0' + d; } else { var new_d = d; }
            var s = "AM";
          }

          return new_d + ':' + new_m + ' ' + s;

        } else {

          if (day < 10) { var new_day = '0' + day } else { var new_day = day; }
          if (month < 10) { var new_month = '0' + month } else { var new_month = month; }

          if (m < 10) { var new_m = '0' + m } else { var new_m = m; }
          if (d >= 12) {
            if (d > 12) { var new_d = d - 12; } else { new_d = d; }
            if (new_d < 10) { new_d = '0' + new_d; } else { new_d = new_d; }
            var s = "PM";
          } else {
            if (d < 10) { var new_d = '0' + d; } else { var new_d = d; }
            var s = "AM";
          }

          return /*new_day + '/' + new_month + '/' + year + ' ' + */new_d + ':' + new_m + ' ' + s;
        }

      }
    }

  }

  var check_day = "";

  function check_insert_day(milidate, c) {
    var current_date = new Date();
    var current_day = current_date.getDate();
    var current_month = current_date.getMonth();
    var current_year = current_date.getFullYear();
    var current_d = current_date.getHours();
    var current_m = current_date.getMinutes();

    var date = new Date(milidate * 1000);
    var day = date.getDate();
    var month = date.getMonth();
    var year = date.getFullYear();
    var d = date.getHours();
    var m = date.getMinutes();

    if (day < 10) { var new_day = '0' + day } else { var new_day = day; }
    if (month < 10) { var new_month = '0' + month } else { var new_month = month; }

    var msg_day = new_day + '/' + new_month + '/' + year;

    if (current_year >= year) {
      if (current_month >= month) {
        if (current_day == day) {

          if (check_day != msg_day) {
            check_day = msg_day;
            return '<div class="message-status"><span>Today</span></div>';
          } else { return ''; }

        } else if (current_day - 1 == day) {

          if (check_day != msg_day) {
            check_day = msg_day;
            return '<div class="message-status"><span>Yesterday</span></div>';
          } else { return ''; }

        } else {

          if (check_day != msg_day) {
            check_day = msg_day;
            return '<div class="message-status"><span>' + msg_day + '</span></div>';
          } else { return ''; }
        }

      }
    }
    if (c == 0) { check_day = ""; }
  }
</script>
