	
	<script type="text/javascript">
			var user_data = JSON.parse(localStorage.getItem("user_data"));
			for (var k = 0; k < user_data.app_info.bottom_navigation.length; k++) {

				if (user_data.app_info.bottom_navigation[k].menu_id == '4') {
					$('#module').text(user_data.app_info.bottom_navigation[k].name);
					break;
				}
			}
			 $(".main-search").css('display','none');
			 //$("#my_notifications").css('display','inline-block');
	</script>

	<script type="text/javascript">

		history.pushState(null, null, location.href);
		window.onpopstate = function () {
			history.go(1);
		};
	</script>
	<script type="text/javascript">

		var company_data = JSON.parse(localStorage.getItem("activation"));
		$('#status_bar_color').attr('content', company_data.company.status_bar_color);
	</script>
	
			<div class="overlay"></div>
			<div id="game-include_survey">
				<!-- GAME IS INCLUDED HERE AND IT WILL BE HIDDEN WHEN ANY SURVEY COMES-->
				<div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>
				<!-- <iframe class="game-frame" src="includes/rex-game.html"></iframe> -->
			</div><!-- GAME IS INCLUDED HERE AND IT WILL BE HIDDEN WHEN ANY SURVEY COMES-->
			<div class="card-section" id="surveylist">
				
			</div><!-- Card Section Starts Here -->
</body>
<!-- 
<script>

	$(document).ready(function () {
		$('#survey2').show();
		$('#itinerary2').show();
		$("#survey1").css({
			"color": "#c62828",
		});
	});
</script> -->
<script>
	$(document).ready(function () {
		if (!localStorage.getItem("user_id")) {
			if (localStorage.getItem("platform") == 'android') {
				window.location.href = 'index.html';
			} else {
				window.location.href = window.location.origin + '/' + localStorage.getItem("web_url") + '/index.html';
			}
		} 
        
        else {
			var id = JSON.parse(localStorage.getItem("user_id"));

			var device_type = localStorage.getItem('device_type');
			if (device_type == 'browser') {
				var data_type = { "user_id": id,
                             "login_token": localStorage.getItem('login_token') };
			} else {
				if (device_type == 'iOS') {
					device_type = 'Iphone';
				} else if (device_type == 'Android') {
					device_type = 'Android';
				}

				var data_type = {
					"user_id": id,
					"device_type": device_type,
					"device_token": localStorage.getItem('device_token'),
                    "login_token": localStorage.getItem('login_token')
				};
				if (device_type == null) {
					var data_type = { "user_id": id,
                             "login_token": localStorage.getItem('login_token') };
				}
			}
			$.ajax({
				crossDomain: true,
				url: localStorage.getItem("base_url") + 'dashboard',
				contentType: 'application/json; charset=utf-8',
				data: JSON.stringify(data_type),
				type: 'POST',
				dataType: 'json',
				async: true, // false
				cache: true,
				success: function (output) {
					if (output.status == 1000) {
           if(JSON.stringify(output.data.survey.data)!=JSON.stringify(JSON.parse(localStorage.getItem("user_data")).survey.data)){
                            console.log('change')
                            localStorage.setItem("user_data", JSON.stringify(output.data));
                            survey_render();
                        }else{
                            console.log('not change change')
                            //survey_render();
                        }	
						localStorage.removeItem("moible_no");
						localStorage.removeItem("activation_code");
                        
					} else if(output.status==1012 || output.status==1013){ //1012 User Deactivated, 1013 User Login from Other Device
			            swal({
			                  title: output.message,
			                  icon: "error",
			                  });
			            setTimeout(function(){
			              localStorage.clear();
			              window.location.href='index.html';
			            },5000);
			          }else{
			            console.log(output);
			          }
				},
				error: function () {
					alert("Error in loading records. Please refresh the page and try again.");
				}
			});
		}

survey_render();

	});
    
  function survey_render(){
		var user_data = JSON.parse(localStorage.getItem("user_data"));

		var survey_view = "<div class='container'><div class='row'>";
		var i;
		var y;
		var p;
		var q;

		for (i = 0; i < user_data.survey.data.length; i++) {
			p = 0;
			var r_base = user_data.survey.data[i].role_base;
			var role_base = r_base.split(',');
			var u_base = user_data.survey.data[i].user_base;
			var user_base = u_base.split(',');

			var u_role = user_data.user.user_role;
			var u_base = user_data.user.id;

			var watchers_base = user_data.survey.data[i].watchers;
			var watcher = [];
			for (q = 0; q < watchers_base.length; q++) {
				watcher[q] = watchers_base[q].id;
			}

			if ((user_data.survey.data[i].completed == "new") && (inArray(u_role, role_base) || inArray(u_base, user_base) || inArray(u_base, watcher))) {
				survey_view += "<div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'><div class='per-card'><div class='survey-time'>";

				if (inArray(u_base, watcher)) {
					survey_view += "<p class='register-survey' data-toggle='tooltip' data-placement='top'><a href='javascript:void(0)' class='watchers_view' data-sname='" + user_data.survey.data[i].title + "' data-company='" + user_data.user.company_id + "' id='" + user_data.survey.data[i].id + "'><img src='assets/download.png'></a></p>";
				} else {

					survey_view += "<p class='register-survey'><a href='#'></a></p>";
				}

				survey_view += "<p class='expire-date'><span>expires on </span><span class='time'>";

				survey_view += formatDate(new Date(user_data.survey.data[i].expiry_date));
				survey_view += "</span></p></div><div class='card-heading'><p>";
				survey_view += user_data.survey.data[i].title;
				survey_view += "</p></div><div class='card-content'>";
				if (user_data.survey.data[i].survey_status.completed == 0) {
					survey_view += "<p>Help us improve</p>";
				} else {
					survey_view += "<p><b>";
					survey_view += user_data.survey.data[i].survey_status.completed;
					if (user_data.survey.data[i].survey_status.completed == 1) {
						survey_view += "</b> Feedback</p>";
					} else {
						survey_view += "</b> Feedbacks</p>";
					}
				}
				if (user_data.survey.data[i].completed == "new") {
					if (inArray(u_role, role_base) || inArray(u_base, user_base)) {
						survey_view += "<p><a href='javascript:void(0)' class='survey_start' data-information='" + user_data.survey.data[i].information + "' id='" + user_data.survey.data[i].id + "'>TAP TO START</a></p>";
					} else {
						survey_view += "<p></p>";
					}


				} else if (user_data.survey.data[i].completed == "progress") {
					survey_view += "<p><span class='one'><b>" + user_data.survey.data[i].user_status.unattempted + "</b> Ques Remaining</span>";
					survey_view += "<span><a href='javascript:void(0)' class='survey_progress' data-last='" + user_data.survey.data[i].last_question_id + "' data-information='" + user_data.survey.data[i].information + "' id='" + user_data.survey.data[i].id + "'>IN PROGRESS</a></span></p><div class='bar'><div class='bar-fill'";

					perc = (user_data.survey.data[i].user_status.attempted / user_data.survey.data[i].user_status.questions) * 100;
					b_perc = perc.toFixed(0);
					survey_view += "style='width:" + b_perc + "%'></div></div>";
				} else {
					survey_view += "<p>COMPLETED</p>";
				}


				survey_view += "</div></div></div>";
				y = p + 1;
				if ((y % 2 == 0) && (y != user_data.survey.data.length)) { survey_view += "</div><div class='row'>"; }
				if ((y == user_data.survey.data.length) && (y % 2 != 0)) { survey_view += "<div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'></div></div>"; }
				p++;
			} //////check if for new end

		}/// survey list loop end  for new .....................................................................

		for (i = 0; i < user_data.survey.data.length; i++) {
			p = 0;
			var r_base = user_data.survey.data[i].role_base;
			var role_base = r_base.split(',');
			var u_base = user_data.survey.data[i].user_base;
			var user_base = u_base.split(',');

			var u_role = user_data.user.user_role;
			var u_base = user_data.user.id;

			var watchers_base = user_data.survey.data[i].watchers;
			var watcher = [];
			for (q = 0; q < watchers_base.length; q++) {
				watcher[q] = watchers_base[q].id;
			}

			if ((user_data.survey.data[i].completed == "progress") && (inArray(u_role, role_base) || inArray(u_base, user_base) || inArray(u_base, watcher))) {
				survey_view += "<div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'><div class='per-card'><div class='survey-time'>";

				if (inArray(u_base, watcher)) {
					survey_view += "<p class='register-survey' data-toggle='tooltip' data-placement='top'><a href='javascript:void(0)' class='watchers_view' data-sname='" + user_data.survey.data[i].title + "' data-company='" + user_data.user.company_id + "' id='" + user_data.survey.data[i].id + "'><img src='assets/download.png'></a></p>";
				} else {

					survey_view += "<p class='register-survey'><a href='#'></a></p>";
				}

				survey_view += "<p class='expire-date'><span>expires on </span><span class='time'>";

				survey_view += formatDate(new Date(user_data.survey.data[i].expiry_date));
				survey_view += "</span></p></div><div class='card-heading'><p>";
				survey_view += user_data.survey.data[i].title;
				survey_view += "</p></div><div class='card-content'>";
				if (user_data.survey.data[i].survey_status.completed == 0) {
					survey_view += "<p>Help us improve</p>";
				} else {
					survey_view += "<p><b>";
					survey_view += user_data.survey.data[i].survey_status.completed;
					survey_view += "</b> Feedback</p>";
				}
				if (user_data.survey.data[i].completed == "new") {

					if (inArray(u_role, role_base) || inArray(u_base, user_base)) {
						survey_view += "<p><a href='javascript:void(0)' class='survey_start' data-information='" + user_data.survey.data[i].information + "' id='" + user_data.survey.data[i].id + "'>TAP TO START</a></p>";
					} else {
						survey_view += "<p></p>";
					}

				} else if (user_data.survey.data[i].completed == "progress") {
					survey_view += "<p><span class='one'><b>" + user_data.survey.data[i].user_status.unattempted + "</b> Ques Remaining</span>";
					survey_view += "<span><a href='javascript:void(0)' class='survey_progress' data-last='" + user_data.survey.data[i].last_question_id + "' data-information='" + user_data.survey.data[i].information + "' id='" + user_data.survey.data[i].id + "'>IN PROGRESS</a></span></p><div class='bar'><div class='bar-fill'";

					perc = (user_data.survey.data[i].user_status.attempted / user_data.survey.data[i].user_status.questions) * 100;
					b_perc = perc.toFixed(0);
					survey_view += "style='width:" + b_perc + "%'></div></div>";
				} else {
					survey_view += "<p>COMPLETED</p>";
				}


				survey_view += "</div></div></div>";
				y = p + 1;
				if ((y % 2 == 0) && (y != user_data.survey.data.length)) { survey_view += "</div><div class='row'>"; }
				if ((y == user_data.survey.data.length) && (y % 2 != 0)) { survey_view += "<div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'></div></div>"; }
				p++;
			}
		}

		for (i = 0; i < user_data.survey.data.length; i++) {
			p = 0;
			var r_base = user_data.survey.data[i].role_base;
			var role_base = r_base.split(',');
			var u_base = user_data.survey.data[i].user_base;
			var user_base = u_base.split(',');

			var u_role = user_data.user.user_role;
			var u_base = user_data.user.id;

			var watchers_base = user_data.survey.data[i].watchers;
			var watcher = [];
			for (q = 0; q < watchers_base.length; q++) {
				watcher[q] = watchers_base[q].id;
			}

			if ((user_data.survey.data[i].completed == "completed") && (inArray(u_role, role_base) || inArray(u_base, user_base) || inArray(u_base, watcher))) {
				survey_view += "<div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'><div class='per-card'><div class='survey-time'>";

				if (inArray(u_base, watcher)) {
					survey_view += "<p class='register-survey' data-toggle='tooltip' data-placement='top'><a href='javascript:void(0)' class='watchers_view' data-sname='" + user_data.survey.data[i].title + "' data-company='" + user_data.user.company_id + "' id='" + user_data.survey.data[i].id + "'><img src='assets/download.png'></a></p>";
				} else {

					survey_view += "<p class='register-survey'><a href='#'></a></p>";
				}

				survey_view += "<p class='expire-date'><span>expires on </span><span class='time'>";

				survey_view += formatDate(new Date(user_data.survey.data[i].expiry_date));
				survey_view += "</span></p></div><div class='card-heading'><p>";
				survey_view += user_data.survey.data[i].title;
				survey_view += "</p></div><div class='card-content'>";
				if (user_data.survey.data[i].survey_status.completed == 0) {
					survey_view += "<p>Help us improve</p>";
				} else {
					survey_view += "<p><b>";
					survey_view += user_data.survey.data[i].survey_status.completed;
					survey_view += "</b> Feedback</p>";
				}
				if (user_data.survey.data[i].completed == "new") {

					if (inArray(u_role, role_base) || inArray(u_base, user_base)) {
						survey_view += "<p><a href='javascript:void(0)' class='survey_start' data-information='" + user_data.survey.data[i].information + "' id='" + user_data.survey.data[i].id + "'>TAP TO START</a></p>";
					} else {
						survey_view += "<p></p>";
					}

				} else if (user_data.survey.data[i].completed == "progress") {
					survey_view += "<p><span class='one'><b>" + user_data.survey.data[i].user_status.unattempted + "</b> Ques Remaining</span>";
					survey_view += "<span><a href='javascript:void(0)' class='survey_progress' data-last='" + user_data.survey.data[i].last_question_id + "' data-information='" + user_data.survey.data[i].information + "' id='" + user_data.survey.data[i].id + "'>IN PROGRESS</a></span></p><div class='bar'><div class='bar-fill'";

					perc = (user_data.survey.data[i].user_status.attempted / user_data.survey.data[i].user_status.questions) * 100;
					b_perc = perc.toFixed(0);
					survey_view += "style='width:" + b_perc + "%'></div></div>";
				} else {
					survey_view += "<p>COMPLETED</p>";
				}


				survey_view += "</div></div></div>";
				y = p + 1;
				if ((y % 2 == 0) && (y != user_data.survey.data.length)) { survey_view += "</div><div class='row'>"; }
				if ((y == user_data.survey.data.length) && (y % 2 != 0)) { survey_view += "<div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'></div></div>"; }
				p++;
			}
		}
		if (survey_view == "<div class='container'><div class='row'>") {
			console.log('inside the gmae include')
			$('#surveylist').css('display', 'none');
			$('#game-include_survey').css('display', 'block');
		}
		console.log(survey_view)
		///----Start Watchers View----///
		survey_view += "<div class='survey-results'><div class='date-share'><span class='date' id='survey-name'></span><span class='share cross'><i class='fa fa-times' aria-hidden='true'></i></span></div><div class='pie-chart' id='pie-chart'></div><div class='options'><span class='star'>Not Started</span> <span class='pen'>Pending</span> <span class='com'>Complete</span></div><div id='watchers_view'></div></div>";
		///----End Watchers View----///

		document.getElementById("surveylist").innerHTML = survey_view;
        $('#preloader').fadeOut('slow');

		function inArray(needle, haystack) {
			var length = haystack.length;
			for (var i = 0; i < length; i++) {
				if (haystack[i] == needle) return true;
			}
			return false;
		}

		function formatDate(date) {
			var monthNames = [
				"January", "February", "March",
				"April", "May", "June", "July",
				"August", "September", "October",
				"November", "December"
			];
			var day = date.getDate();
			var monthIndex = date.getMonth();
			var year = date.getFullYear();
			return day + ' ' + monthNames[monthIndex] + ', ' + year;
		}

		$('.survey_start').on("click", function () {
			var s_id = $(this).attr("id");
			localStorage.setItem("survey_id", s_id);
			localStorage.removeItem("last_ques");
			var information = $(this).data("information");
			localStorage.setItem("s_info", information);
			window.location.href = 'survey-information.html';
		});

		$('.survey_progress').on("click", function () {
			var s_id = $(this).attr("id");
			localStorage.setItem("survey_id", s_id);
			var last_q = $(this).data("last");
			localStorage.removeItem("last_ques");
			localStorage.setItem("last_ques", last_q);
			var information = $(this).data("information");
			localStorage.setItem("s_info", information);
			window.location.href = 'survey-information.html';
		});

		$('.watchers_view').on("click", function () {
			var s_id = $(this).attr("id");
			var c_id = $(this).data("company");
			var s_name = $(this).data("sname");
			document.getElementById("survey-name").innerHTML = s_name;


			var data_type = { "company_id": c_id, "survey_id": s_id };
			$.ajax({
				crossDomain: true,
				url: localStorage.getItem("base_url") + 'watcher_survey_status',
				contentType: 'application/json; charset=utf-8',
				data: JSON.stringify(data_type),
				type: 'POST',
				dataType: 'json',
				async: true, //false
				cache: true,
				success: function (output) {
					if (output.status == 1000) {
						var watchers_data = JSON.parse(JSON.stringify(output.data));
						var watchers_view = "<div class='survey-list started'><ul>";
						if (watchers_data.not_started.not_started) {
							for (var x = 0; x < watchers_data.not_started.not_started; x++) {
								watchers_view += "<li><img src='";
								if (watchers_data.not_started.not_started_user[x].avatar) {
									watchers_view += watchers_data.not_started.not_started_user[x].avatar;
								} else {
									watchers_view += "assets/pic.png";
								}
								watchers_view += "'> <span>" + watchers_data.not_started.not_started_user[x].name + "</span> <span class='view'><a href='#'>View</a></span></li>";
							}
						} else { watchers_view += "<li>No Data Available</li>"; }

						watchers_view += "</ul></div><div class='survey-list pending'><ul>";

						if (watchers_data.pending.pending) {
							for (var y = 0; y < watchers_data.pending.pending; y++) {
								watchers_view += "<li><img src='";
								if (watchers_data.pending.pending_user[y].avatar) {
									watchers_view += watchers_data.pending.pending_user[y].avatar;
								} else {
									watchers_view += "assets/pic.png";
								}
								watchers_view += "'> <span>" + watchers_data.pending.pending_user[y].name + "</span> <span class='view'><a href='#'>View</a></span></li>";
							}
						} else { watchers_view += "<li>No Data Available</li>"; }

						watchers_view += "</ul></div><div class='survey-list completed'><ul>";

						if (watchers_data.completed.completed) {
							for (var z = 0; z < watchers_data.completed.completed; z++) {
								watchers_view += "<li><img src='";
								if (watchers_data.completed.completed_user[z].avatar) {
									watchers_view += watchers_data.completed.completed_user[z].avatar;
								} else {
									watchers_view += "assets/pic.png";
								}
								watchers_view += "'> <span>" + watchers_data.completed.completed_user[z].name + "</span> <span class='view'><a href='#'>View</a></span></li>";
							}
						} else { watchers_view += "<li>No Data Available</li>"; }

						watchers_view += "</ul></div>";

						document.getElementById("watchers_view").innerHTML = watchers_view;


						///----End Watchers View----///
						google.charts.load('current', { 'packages': ['corechart'] });
						google.charts.setOnLoadCallback(drawChart);

						function drawChart() {

							var data = google.visualization.arrayToDataTable([
								['Effort', 'Amount given'],
								['Not Started', watchers_data.not_started.not_started],
								['Pending', watchers_data.pending.pending],
								['Completed', watchers_data.completed.completed],
							]);

							var options = {
								backgroundColor: 'transparent',
								pieSliceTextStyle: {
									color: 'white',
								},
								legend: 'none'
							};

							var chart = new google.visualization.PieChart(document.getElementById('pie-chart'));
							chart.draw(data, options);
						}
						///----End Watchers View----///

						
						setTimeout(function(){
							$(".survey-results").css('right','0');
						},500);
						$(".cross").click(function () {
							$(".survey-results").css('right','-420px');
						});
					} else {
					}
				},
				error: function () {
					alert("Error in loading records. Please refresh the page and try again.");
				}
			});
		});

}  
    
</script>
<script>
	$(document).ready(function () {
		$('[data-toggle="tooltip"]').tooltip();

		$(".star").click(function () {
			$(".started").fadeIn();
			$(".pending").hide();
			$(".completed").hide();
		});
		$(".pen").click(function () {
			$(".pending").fadeIn();
			$(".started").hide();
			$(".completed").hide();
		});
		$(".com").click(function () {
			$(".completed").fadeIn();
			$(".pending").hide();
			$(".started").hide();
		});
		
	});
</script>
