<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">
  var user_data = JSON.parse(localStorage.getItem("user_data"));
  console.log("vampride",user_data );
  for (var k = 0; k < user_data.app_info.bottom_navigation.length; k++) {
    if (user_data.app_info.bottom_navigation[k].menu_id == '13') {
      $('#module').text(user_data.app_info.bottom_navigation[k].name);
      break;
    }
  }
  $('#main-search').hide('fast');
</script>
<!-- **************** start create by himmi web url for live ******************* -->
<style>
  
  #webLiveiframe {
    overflow: scroll;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    border: none;
  }

  .containerweb {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    padding-top: 0;
  }

  .back_button_webmob {
    position: absolute;
    left: 7px;
    top: 7px;
    font-size: 16px;
    padding: 0px;
    box-shadow: none;
    z-index: 999;
  }

  .back_button_webdesk {
    z-index: 999;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 16px;
    border-radius: 25px;
    padding: 2px 9px 1px 9px;
    margin: 0;
    color:brown;
    background: transparent;
    border: none;
    box-shadow: 2px 1px 2px 1px #ccc;
    cursor: pointer;
  }
</style>
<div class="containerweb">
  <iframe id="webLiveiframe" height="600px" width="100%" frameborder="0" scrolling="yes"></iframe>
  <div class="lunchButton">
    <!-- <button type="button" class="applauch back_button" id="applauchid" onclick="appLunch()">Back</button> -->
    <!-- <button type="button" class="applauch back_button">Back</button> -->
    <button type="button"  class="back_button_webmob back_button_webdesk"><i class="fas fa-arrow-left" onclick="weblive()" ></i> <span>Back</span></button>
  </div>
</div>
<script type="text/javascript">
  var url = localStorage.getItem("live_weburl");
  console.log("URL for BUZZ = " + url);
  $('#webLiveiframe').attr('src', url);
function weblive(){
    swal({
      title: "Are you sure?",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {
        if (willDelete) {
          $('#live_section').html('');
          $('.session_container').fadeIn('fast');
          localStorage.removeItem('session_name');
          localStorage.removeItem('Inside_session');
          $('.session_tab').show();
        }
      });
  }
  $('#preloader').fadeOut('fast');
  //**************** start create by himmi web url for live *******************
</script>