.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000000;
    z-index: 9999;
    /* display: none; */
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

  .loader_box{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 120px;
      
  }