@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');
/* 
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;   
font-family: 'Bree Serif', serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto Slab', serif;

    font-size: 1.8em;
    color: #989898;

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
       -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}



h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif !important;
}
header{
    padding: 10px 0;
}

header .col-md-6{
    display: flex;  
}
header .col-md-6:first-child{
    justify-content: space-between;
    padding: 10px;
    background-color: #d8d8d8;
}
header .col-md-6:last-child{
justify-content: center;
   
}


       body{
    background-image: linear-gradient(to right, #d3959b, #bfe6ba);;
    /* background-size: 4px 4px; */
    margin: 0%;
    font-family: 'Gowun Batang', serif;
}

.img-box{
  display: inline-block;
       
        width: 60px;
        height: 60px;
       
        overflow: hidden;
        border-radius: 50%;
        flex-basis: 0;
        flex-grow: 1;
        align-self: center;
}

.img-box .wimg{
  width: auto;
        height: 100%;
       
        flex-basis: 0;
        flex-grow: 1;
        align-self: center;
}

.session{
  /* background-color: #f5f3f3; */
  padding: 5px 10px;
  margin: 0;
  align-items: center;
  position: relative;
  border: 1px solid #d4d4d4;
}


.session:hover{
  background-color: steelblue;
}

.session_list{
  max-height: 300px;
  overflow: auto;
}
.date{
  color:black;
  margin-left: 5px;
  font-family: 'Gowun Batang', serif;
}

.play_btn{
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  background-color: salmon;
  color: #fff;
  height: 38px;
  width: 38px;
  font-size: 20px;
  border-radius: 50%;
}



.logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about_container h5{
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif !important;
    font-weight: 500;
    color: #888686;
    text-align: center;
}

.host,.speaker{
    color: #404040;
    font-family: 'Roboto Slab', serif;
}

.about_container p{
    font-size: 1em;
    color: #6b6b6d;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    text-align: justify;
}
.video_container{
    margin: auto;
    width: 885px;
    overflow: hidden;
    height: 380px;
    position: relative;
}

header .col-md-6:first-child .logo{
 
  height: 80px;
}
header .col-md-6:last-child .logo{
    width: 250px;
    margin: 10px 0;
    height: 180px;
}
header{
    padding-top: 0;
}
.info{
   color: #726f6f;
   font-style: italic;
   font-family: 'Open Sans', sans-serif;
   font-weight: 500;
   font-size: 1em;
   text-align: left;
   margin: 10px;
   display: flex;
   justify-content: space-between;
   flex-direction: row-reverse;
}



.about_container{
    max-width: 900px;
    margin: auto;
    padding:0 10px;
    position: relative;
}

.reaction_container{
    max-width: 900px;
    margin: 10px auto;
    min-height: 200px;
}
.reaction_wrapper{
    background: #e2dede;
    margin: 5px 0;
    position: relative;
    border-left: 25px solid #2196F3;
}

.views{
    font-size: 1.2em;
    font-style: normal;
    color: #505050;
    font-family: 'Roboto Slab', serif !important;
    text-transform: lowercase;
}
.reaction_container .reaction{
    font-size: 1.1em;
    cursor: pointer !important;
    height: 100%;
    display: block;
    width: 100%;
    white-space: nowrap;
    
}

.reaction_bar{
    background: #13121224;
    height: 100%;
    width: 0%;
    position: absolute;
}

.disabled{
    pointer-events: none;
}
.controls{
    display: none;
    position: absolute;
    width: 99.99%;
    height: 40px;
    bottom: 0;
    justify-content: center;
    background-color: #00000059;
}


.fullscreen{
    position: fixed;
    width: 100%;
    transform: translate(-50%,-50%) rotate(90.2deg);
    top:50%;
    left:50%;
    z-index: 99;
}
#fullscreenOverlay{
    display:block;
}
.fullscreen_overlay{
    background-color: #000;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 90;
    display: block !important;
}

.controls button{
    background: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    display: block;
    padding: 5px 10px;
    
}

.controls button:focus{
    outline: none;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.reaction .count{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.reaction .name{
    position: relative;
}

.reaction::selection,.reaction .count::selection,.name::selection{
    background-color: transparent;
}

.reaction_container .col-md-3:not(:last-child) label{
    cursor: pointer;
}   

label.count{
    margin: 0;
    cursor: pointer !important;
    font-size: 0.9em;
}
.reaction .count{
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

.reaction .count::selection,.reaction .icon::selection{
    background: transparent;
}

footer{
    background: #b9b6b6;
    text-align: center;
    padding: 5px 0;
    font-size: 1em;
    color: #fff;
}


.animate_icon{
    animation: heartbeat 1s 1;
    transition: 0.2s;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.reaction .icon{
    width: 45px;
    padding: 5px 10px;
    position: relative;
    z-index: 2;
  
}

@media only screen and (min-width: 768px)
{


   
    header .col-md-6{
        flex-basis: 100% !important;
        max-width: 100%;
    }



}


@media only screen and (max-width: 1000px)
{
    .video_container{
        text-align: center;
        width: 100%;
        height: 250px;
    }
    .main_container{
        padding: 0 5px;
        overflow-x: hidden;
    }
    .about_container{
        padding: 0 10px;
    }
    header{
        margin-bottom: 0;
        padding: 0;
    }


    }



@media only screen and (max-width: 768px){

    header .col-md-6:first-child{
        background-color: #d8d8d8;
        padding: 10px;
     }
    header .col-md-6:last-child{
        justify-content: center;
        margin-top: 10px;
}

header .col-md-6:first-child{
    display: flex;
   justify-content: space-between;
}

header .col-md-6:first-child .logo {
    width: 120px;
}
    header .col-md-6:last-child .logo{
        width: 220px;
    }

    .reaction_container{
        min-height: 300px;
    }
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: transparent radial-gradient(circle, transparent 1%, #2195f318 1%) center/15000%;
  }
  .ripple:active {
    background-color: transparent;
    background-size: 100%;
    transition: background 0s;
  }
  .ripple_layer{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
.preloader{
     position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000000;
    z-index: 9999;
    display:none;
}
.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000000;
    z-index: 9999;
    /*display:none;*/
}

  .loader_box{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      
  }
  .loader_img{
      width: 120px;
      margin: auto;
  }
  
  .preloader_img{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 120px;
  }
  .loader_text{
      width: 400px;
      margin: auto;
  }
  
  
  @media (max-width: 500px){
      .loader_img{
           width: 80px;
      }
      
      .loader_text{
          width: 300px;
      }
  }
  
 .start_video{
    position: fixed;
    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index:999;
 } 

.start_video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.iosBackbutton{
  visibility: visible;
}

.iosBackbutton button{
    background-color: #f3514f;
    display: inline-block;
    padding: 3px 8px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}
.iosBackbutton button:hover{
    text-decoration: none;
    background-color:#de3634;
}

.live_icon{
    right: 10px;
    width: 60px;
    position: fixed;
    bottom: 10px;
    opacity: 0.9;
    display:none;

}


#open, #close {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .shutters{
      position: fixed;
      z-index: 9999999;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 100%;
      width: 100%;
      overflow: hidden;
      display:none;
  }
  
  .shutters label {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px 0;
    width: 66px;
    text-align: center;
    border-radius: 5%;
    z-index: 10;
  }
  .shutters label:hover {
    cursor: pointer;
  }
  .shutters label[for="open"] {
    background: #222;
    color: #ddd;
    border: 1px solid #ddd;
  }
  #open:checked ~ label[for="open"] {
    display: none;
  }
  .shutters label[for="close"] {
    background: #ddd;
    color: #222;
    border: 1px solid #222;
    display: none;
  }
  #open:checked ~ label[for="close"] {
    display: block;
  }
  
  .shutter {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -500px;
    margin-left: -1500px;
    width: 3000px;
    height: 1000px;
  }
  
  .shutter:nth-child(even) {
    background: #222;
  }
  
  .shutter:nth-child(odd) {
    background: #000;
  }
  
  .door1 {
    transform: rotate(0deg) translateX(-50px) translateY(-500px);
  }
  #open:checked ~ .door1 {
    animation: openShutterDoor1 4s ease-in-out forwards;
  }
  #close:checked ~ .door1 {
    animation: closeShutterDoor1 2s ease-out;
  }
  
  @keyframes openShutterDoor1 {
    99% {
      opacity: 1;
    }
    100% {
      transform: rotate(0deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      opacity: 0;
    }
  }
  @keyframes closeShutterDoor1 {
    0% {
      transform: rotate(0deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      opacity: 1;
    }
    100% {
      transform: rotate(0deg) translateX(-50px) translateY(-500px);
    }
  }
  .door2 {
    transform: rotate(-315deg) translateX(-50px) translateY(-500px);
  }
  #open:checked ~ .door2 {
    animation: openShutterDoor2 4s ease-in-out forwards;
  }
  #close:checked ~ .door2 {
    animation: closeShutterDoor2 2s ease-out;
  }
  
  @keyframes openShutterDoor2 {
    99% {
      opacity: 1;
    }
    100% {
      transform: rotate(-315deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      opacity: 0;
    }
  }
  @keyframes closeShutterDoor2 {
    0% {
      transform: rotate(-315deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      opacity: 1;
    }
    100% {
      transform: rotate(-315deg) translateX(-50px) translateY(-500px);
    }
  }
  .door3 {
    transform: rotate(-270deg) translateX(-50px) translateY(-500px);
  }
  #open:checked ~ .door3 {
    animation: openShutterDoor3 4s ease-in-out forwards;
  }
  #close:checked ~ .door3 {
    animation: closeShutterDoor3 2s ease-out;
  }
  
  @keyframes openShutterDoor3 {
    99% {
      opacity: 1;
    }
    100% {
      transform: rotate(-270deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      opacity: 0;
    }
  }
  @keyframes closeShutterDoor3 {
    0% {
      transform: rotate(-270deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      opacity: 1;
    }
    100% {
      transform: rotate(-270deg) translateX(-50px) translateY(-500px);
    }
  }
  .door4 {
    transform: rotate(-225deg) translateX(-50px) translateY(-500px);
  }
  #open:checked ~ .door4 {
    animation: openShutterDoor4 4s ease-in-out forwards;
  }
  #close:checked ~ .door4 {
    animation: closeShutterDoor4 2s ease-out;
  }
  
  @keyframes openShutterDoor4 {
    99% {
      opacity: 1;
    }
    100% {
      transform: rotate(-225deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      opacity: 0;
    }
  }
  @keyframes closeShutterDoor4 {
    0% {
      transform: rotate(-225deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      opacity: 1;
    }
    100% {
      transform: rotate(-225deg) translateX(-50px) translateY(-500px);
    }
  }
  .door5 {
    transform: rotate(-180deg) translateX(-50px) translateY(-500px);
  }
  #open:checked ~ .door5 {
    animation: openShutterDoor5 4s ease-in-out forwards;
  }
  #close:checked ~ .door5 {
    animation: closeShutterDoor5 2s ease-out;
  }
  
  @keyframes openShutterDoor5 {
    99% {
      opacity: 1;
    }
    100% {
      transform: rotate(-180deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      opacity: 0;
    }
  }
  @keyframes closeShutterDoor5 {
    0% {
      transform: rotate(-180deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      opacity: 1;
    }
    100% {
      transform: rotate(-180deg) translateX(-50px) translateY(-500px);
    }
  }
  .door6 {
    transform: rotate(-135deg) translateX(-50px) translateY(-500px);
  }
  #open:checked ~ .door6 {
    animation: openShutterDoor6 4s ease-in-out forwards;
  }
  #close:checked ~ .door6 {
    animation: closeShutterDoor6 2s ease-out;
  }
  
  @keyframes openShutterDoor6 {
    99% {
      opacity: 1;
    }
    100% {
      transform: rotate(-135deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      opacity: 0;
    }
  }
  @keyframes closeShutterDoor6 {
    0% {
      transform: rotate(-135deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      opacity: 1;
    }
    100% {
      transform: rotate(-135deg) translateX(-50px) translateY(-500px);
    }
  }
  .door7 {
    transform: rotate(-90deg) translateX(-50px) translateY(-500px);
  }
  #open:checked ~ .door7 {
    animation: openShutterDoor7 4s ease-in-out forwards;
  }
  #close:checked ~ .door7 {
    animation: closeShutterDoor7 2s ease-out;
  }
  
  @keyframes openShutterDoor7 {
    99% {
      opacity: 1;
    }
    100% {
      transform: rotate(-90deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      opacity: 0;
    }
  }
  @keyframes closeShutterDoor7 {
    0% {
      transform: rotate(-90deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      opacity: 1;
    }
    100% {
      transform: rotate(-90deg) translateX(-50px) translateY(-500px);
    }
  }
  .door8 {
    transform: rotate(-45deg) translateX(-50px) translateY(-500px);
  }
  #open:checked ~ .door8 {
    animation: openShutterDoor8 4s ease-in-out forwards;
  }
  #close:checked ~ .door8 {
    animation: closeShutterDoor8 2s ease-out;
  }
  
  @keyframes openShutterDoor8 {
    99% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      opacity: 0;
    }
  }
  @keyframes closeShutterDoor8 {
    0% {
      transform: rotate(-45deg) translateX(-50px) translateY(-3000px) rotate(-45deg);
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translateX(-50px) translateY(-500px);
    }
  }
  .shutter.door4 {
    z-index: 2;
  }
  
  .reaction_container .toggle{
      /*width: !important 180px;*/
      margin: auto;
      display: none;
      }

      .lottery_contest{
        position: absolute;
        right: 0;
        top: 70%;
        transform: translateY(-50%);
      }

      .profile_prev{
        width: 100px;
    height: 75px;
    margin: auto;
    position: relative;
      }
      .profile_prev img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .profile_prev label{
        position: absolute;
        right: 5px;
        bottom: -3px;
        font-size: 18px;
        color: #fff;
        background: #00000045;
        padding: 0 7px;
        display: inline-block;
      }
      .lottery_update_info .form-control{
        height: calc(1.2em + .75rem + 2px);
        border-radius: 0;
      }
      .lottery_update_info  .form-control:focus{
        box-shadow: none;
      }

      .participateBtn{
        display: none;
      }
      input { -webkit-user-select: text; user-select: text; }


