* {
  font-family: Arial, sans-serif;
  text-align: center;
}

table, tbody, tr, td {
  text-align: left;
}

#footer {
  bottom: 25px;
  left: 25px;
  position: absolute;
  right: 25px;
}

#settings {
  position: absolute;
  right: 25px;
  top: 25px;
}
