<span class="profile-close"><img src="assets/multiply.svg"></span>
<div class="insert-profile">
    <div class="user-profile-include">
        <span class="edit-profile-include" data-toggle="tooltip" data-placement="top" title="Edit"><span
                class="fa fa-pencil" aria-hidden="true"></span></span>
        <div class="user-image">
            <img id="user_profile_pic" src="assets/profile-avatar.png">
        </div>
        <div class="user-details">
            <div class="user-details" id="dynamic_user_data">
			</div>
        </div>
    </div>
</div>

<div class="edit-user-profile-include">
    <form class="bmd-form-group update-profile" id="profile_form" enctype="multipart/form-data" autocomplete="off">
        <div class="md-form">
            <div class="profile">
                <div class="photo">
                    <div class="element">
                        <span><i class="fa fa-camera click-camera"></i></span>
                        <input class="remove" id="inputimage-include" type="file" accept="image/*">
                    </div>
                    <div class="photo__helper">
                        <div class="photo__frame photo__frame--circle" style=" pointer-events: none;">
                            <canvas class="photo__canvas"></canvas>
                            <div class="message is-empty">
                                <img id="user_old_profile_pic" src="assets/avatar.png">
                            </div>
                            <div class="message is-loading">
                                <i class="fa fa-2x fa-spinner fa-pulse" style="color:#ffffff !important;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="profile-content">Profile Image</h4>
                <div class="photo__options hide" style="visibility: hidden !important;">
                    <div class="photo__zoom">
                        <input type="range" class="zoom-handler">
                    </div>
                    <button type="button" id="previewBtn" class="done crop">OK</button>
                </div>
            </div>
				<img id="user_new_profile_pic" src="" alt="" class="preview preview--rounded"
                style="display: none !important;" name="profile_pic" id="profile_pic">
				<div class="fix-bottom">
					<div class="form-group bmd-form-group profile-form-group" id="profile-form-group">
					</div>
					<input class="verify submit next userupdateprofile" type="button" name="submit" id="submit-include"
					value="DONE">
				</div>
        </div>
        <!-- Verify Button -->
    </form><!-- Form Ends Here -->
</div>
<script type="text/javascript">
$(document).ready(function(){
    var user_data = JSON.parse(localStorage.getItem("user_data"));
	var company_info = JSON.parse(localStorage.getItem("activation"));
	$(".userupdateprofile").css('background',company_info.company.button_bg_color);
    $(".edit-profile-include").on('click', function () {
		edit_user_details = "";
        $(".user-profile-include").hide();
        $(".edit-user-profile-include").fadeIn('fast');
		
		edit_user_details +="<input class='inputs text' type='text' class='form-control' placeholder='Enter your name here...' maxlength='100' value='"+user_data.user.name+"' id='profile_user_new_name' required=''><input data-format='yyyy-MM-dd' class='exdatepicker' type='text' id='dob' placeholder='Enter DOB here...' value='"+ user_data.user.date_of_birth +"'readonly></input>"
		
		if (company_info.employee_configuration.custom_field_one_status == 1 && company_info.employee_configuration.status == 	1) {
	edit_user_details += "<input class='inputs text' type='text' class='form-control' id='custom_field_one_name' placeholder='Edit your " + company_info.employee_configuration.custom_field_one_name + " ...' value='" + user_data.user.custom_field_one + "' maxlength='100'  required=''>";
			}
		if (company_info.employee_configuration.custom_field_two_status == 1 && company_info.employee_configuration.status == 1) {
      edit_user_details += "<input class='inputs text' type='text' class='form-control' id='custom_field_two_name' placeholder='Edit your " + company_info.employee_configuration.custom_field_two_name + " ...' value='" + user_data.user.custom_field_two + "' maxlength='100'  required=''>";
		}
		if (company_info.employee_configuration.custom_field_three_status == 1 && company_info.employee_configuration.status == 1) {
      edit_user_details += "<input class='inputs text' type='text' class='form-control' id='custom_field_three_name' placeholder='Edit your " + company_info.employee_configuration.custom_field_three_name + " ...' value='" + user_data.user.custom_field_three + "' maxlength='100'  required=''>";
		}
	document.getElementById("profile-form-group").innerHTML = edit_user_details;
		
		$('.exdatepicker').datepicker({
                  'autoclose': true,
                  'format': 'dd-mm-yyyy',
                  endDate: new Date()
        });
    });


    $(".userupdateprofile").click(function () {
        var user_name = document.getElementById("profile_user_new_name").value;
        var old_image = document.getElementById("user_old_profile_pic").src;
        var new_image = document.getElementById("user_new_profile_pic").src;
		var DOB = document.getElementById("dob").value;
		var custom = 1;

                  if (user_name == '' && custom == 1) {
                    custom = custom * 0;
                    alert("Please Fill Name.");
                  }
                  if (DOB == '' && custom == 1) {
                    custom = custom * 0;
                    alert("Please Fill DOB.");
                  }
                  if (company_info.employee_configuration.custom_field_one_status == 1 && company_info.employee_configuration.status == 1 && custom == 1) {
                    var custom_field_one = document.getElementById("custom_field_one_name").value;
                    if (custom_field_one == '') {
                      custom = custom * 0;
                      alert("Please Fill " + company_info.employee_configuration.custom_field_one_name);
                    }
                  }
                  if (company_info.employee_configuration.custom_field_two_status == 1 && company_info.employee_configuration.status == 1 && custom == 1) {
                    var custom_field_two = document.getElementById("custom_field_two_name").value;
                    if (custom_field_two == '') {
                      custom = custom * 0;
                      alert("Please Fill " + company_info.employee_configuration.custom_field_two_name);
                    }
                  }
                  if (company_info.employee_configuration.custom_field_three_status == 1 && company_info.employee_configuration.status == 1 && custom == 1) {
                    var custom_field_three = document.getElementById("custom_field_three_name").value;
                    if (custom_field_three == '') {
                      custom = custom * 0;
                      alert("Please Fill " + company_info.employee_configuration.custom_field_three_name);
                    }
                  }

				if (old_image == new_image) {
				
				} else {
				function b64toBlob(b64Data, contentType, sliceSize) {
					contentType = contentType || '';
					sliceSize = sliceSize || 512;

					var byteCharacters = atob(b64Data);
					var byteArrays = [];

					for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
						var slice = byteCharacters.slice(offset, offset + sliceSize);

						var byteNumbers = new Array(slice.length);
						for (var i = 0; i < slice.length; i++) {
							byteNumbers[i] = slice.charCodeAt(i);
						}

						var byteArray = new Uint8Array(byteNumbers);

						byteArrays.push(byteArray);
					}

					var blob = new Blob(byteArrays, { type: contentType });
					return blob;
				}
				
				//console.log(new_image);
				var block = new_image.split(";");
				// Get the content type
				//console.log(block);
				var contentType = block[0].split(":")[1];
				console.log(contentType);
				var realData = block[1].split(",")[1];
				//console.log(realData);

				// Convert to blob
				var blob = b64toBlob(realData, contentType);

				}//Else Close

				function uploadPicture() {
					//Prepare form data
					var formData = new FormData();
					var activation = JSON.parse(localStorage.getItem("activation"));
					if (old_image == new_image) {
						formData.append("existing_image", 1);
					} else {
						formData.append("image", blob);
					}
					formData.append("activation_code", activation.company.activation_code);
					formData.append("user_id", user_data.user.id);
					formData.append("designation", user_data.user.designation);
					formData.append("country_code", user_data.user.country_code);
					formData.append("employee_id", user_data.user.employee_id);
					formData.append("name", user_name);
					formData.append("date_of_birth", DOB);
					if (company_data.employee_configuration.custom_field_one_status == 1 && company_data.employee_configuration.status == 1) {
                      formData.append("custom_field_one", custom_field_one);
                    }
                    if (company_data.employee_configuration.custom_field_two_status == 1 && company_data.employee_configuration.status == 1) {
                      formData.append("custom_field_two", custom_field_two);
                    }
                    if (company_data.employee_configuration.custom_field_three_status == 1 && company_data.employee_configuration.status == 1) {
                      formData.append("custom_field_three", custom_field_three);
                    }
					callService(formData);
					for (var pair of formData.entries()) {
					}
				}
                
                if (user_name == '' || DOB == '' || custom != 1) {
                    $(".user-profile-include").hide();
                    $(".edit-user-profile-include").fadeIn('fast');
                    console.log("Please Fill All Required Details.");
                  } else {
                    $(".user-profile-include").fadeIn();
                    $(".edit-user-profile-include").hide();
                    $('#preloader').fadeIn('fast');
                    uploadPicture();
                  }
				
				function callService(formData) {
					jQuery.ajax({
						url: localStorage.getItem("base_url") + 'profileupdate',
						data: formData,
						mimeType: 'multipart/form-data',
						cache: true, // false
						contentType: false,
						processData: false,
						type: 'POST',
						dataType: 'json',
						success: function (output) {
							if (output.status == 1000) {
								//alert("profile update successful");
								$(".user-profile-include").fadeIn();
								$(".edit-user-profile-include").hide();
                                dashborad();
								window.location.reload();
							}
							else {
								alert("Not Update");
							}
						},
						error: function () {
							alert("Error in loading records. Please refresh the page and try again.");
						}
					});

				}
			});
			
	$("#submit-include").on('click', function () {
		//$(".user-profile-include").fadeIn();
		//$(".edit-user-profile-include").hide();

	});
    $(".feed-overlay").click(function () {
        $("#insert-profile").fadeOut();
        $(".feed-overlay").fadeOut("fast");
        $('body,html').css("overflow", "visible");
    });
    $(".profile-close").click(function () {
        $("#insert-profile").fadeOut("fast");
        $(".feed-overlay").fadeOut("fast");
         $('body,html').css("overflow", "visible");
    });
    $(".click-camera").click(function () {
        $("#inputimage-include").trigger('click');
    });
    $(".done").click(function () {
        $(".photo__options").css("visibility", "hidden");
        $(".canvas--helper").css("opacity", "0");
        $(".profile-form-group").css("margin-top", "-20px");
    });

    $(".element").click(function () {
        $(".canvas--helper").css("opacity", "0.5");
        $(".profile-form-group").css("margin-top", "0px");
    });

    ; (function (window, $, undefined) {
        if (!window.profilePicture) {
            window.profilePicture = profilePicture;
        }


        function profilePicture(cssSelector, imageFilePath, options) {
            var self = this;
            self.element = $(cssSelector);
            self.canvas = $(cssSelector + ' .photo__frame .photo__canvas')[0];
            self.photoImg = $(cssSelector + ' .photo__frame img');
            self.photoHelper = $(cssSelector + ' .photo__helper');
            self.photoLoading = $(cssSelector + ' .photo__frame .message.is-loading');
            self.photoOptions = $(cssSelector + ' .photo__options');
            self.photoFrame = $(cssSelector + ' .photo__frame');
            self.photoArea = $(cssSelector + ' .photo');
            self.zoomControl = $(cssSelector + ' input[type=range]');


            self.model = {
                imageSrc: null,
                width: null,
                height: null,
                originalWidth: null,
                originalHeight: null,
                y: null,
                x: null,
                zoom: 1,
                cropWidth: null,
                cropHeight: null
            };


            self.options = {};

            self.defaults = {};
            self.defaults.imageHelper = true;
            self.defaults.imageHelperColor = 'rgba(255,255,255,.90)';

            self.defaults.onChange = null;
            self.defaults.onZoomChange = null;
            self.defaults.onImageSizeChange = null;
            self.defaults.onPositionChange = null;
            self.defaults.onLoad = null;
            self.defaults.onRemove = null;
            self.defaults.onError = null;

            self.defaults.zoom = {
                initialValue: 1,
                minValue: 0.1,
                maxValue: 2,
                step: 0.01
            };

            self.defaults.image = {
                originalWidth: 0,
                originalHeight: 0,
                originaly: 0,
                originalX: 0,
                minWidth: 350,
                minHeight: 350,
                maxWidth: 1000,
                maxHeight: 1000
            };

            self.zoom = $(cssSelector + ' .zoom');


            init(cssSelector, imageFilePath, options);

            return {
                getData: getData,
                getAsDataURL: getAsDataURL,
                removeImage: removeImage
            };

            function init(cssSelector, imageFilePath, options) {

                self.canvas.width = self.photoFrame.outerWidth();
                self.canvas.height = self.photoFrame.outerHeight();
                self.canvasContext = self.canvas.getContext('2d');

                if (isMobile()) {
                    self.photoArea.addClass('is-mobile');
                } else {
                    self.photoArea.addClass('is-desktop');
                }

                self.options = $.extend({}, self.defaults, options);

                if (self.options.imageHelper) {
                    registerImageHelper();
                }

                registerDropZoneEvents();
                registerImageDragEvents();
                registerZoomEvents();

                if (imageFilePath) {
                    processFile(imageFilePath);
                } else {
                    self.photoArea.addClass('photo--empty');
                }
            }

            function isMobile() {
                return navigator.userAgent.match(/BlackBerry|Android|iPhone|iPad|iPod|Opera Mini|IEMobile/i);
            }

            function getData() {
                return model;
            }

            function setModel(model) {
                self.model = model;
            }

            function processFile(imageUrl) {

                function isDataURL(s) {
                    s = s.toString();
                    return !!s.match(isDataURL.regex);
                }
                isDataURL.regex = /^\s*data:([a]?)?(;base64)?,[a]*\s*$/i;

                var image = new Image();
                sessionStorage.setItem("profile_image_base", imageUrl);
                if (!isDataURL(imageUrl)) {
                    image.crossOrigin = 'anonymous';
                }
                self.photoArea.addClass('photo--loading');
                image.onload = function () {
                    var ratio,
                        newH, newW,
                        w = this.width, h = this.height;

                    if (w < self.options.image.minWidth ||
                        h < self.options.image.minHeight) {
                        self.photoArea.addClass('photo--error--image-size photo--empty');
                        setModel({});

                        if (typeof self.options.onError === 'function') {
                            self.options.onError('image-size');
                        }

                        self.photoArea.removeClass('photo--loading');
                        return;
                    } else {
                        self.photoArea.removeClass('photo--error--image-size');
                    }

                    self.photoArea.removeClass('photo--empty photo--error--file-type photo--loading');

                    var frameRatio = self.options.image.maxHeight / self.options.image.maxWidth;
                    var imageRatio = self.model.height / self.model.width;

                    if (frameRatio > imageRatio) {
                        newH = self.options.image.maxHeight;
                        ratio = (newH / h);
                        newW = parseFloat(w) * ratio;
                    } else {
                        newW = self.options.image.maxWidth;
                        ratio = (newW / w);
                        newH = parseFloat(h) * ratio;
                    }
                    h = newH;
                    w = newW;

                    self.model.imageSrc = image;
                    self.model.originalHeight = h;
                    self.model.originalWidth = w;
                    self.model.height = h;
                    self.model.width = w;
                    self.model.cropWidth = self.photoFrame.outerWidth();
                    self.model.cropHeight = self.photoFrame.outerHeight();
                    self.model.x = 0;
                    self.model.y = 0;
                    $(".photo__options").css("visibility", "visible");
                    $(".profile-form-group").css("margin-top", "0px");
                    self.photoOptions.removeClass('hide');
                    fitToFrame();
                    render();

                    if (typeof self.options.onLoad === 'function') {
                        self.options.onLoad(self.model);
                    }
                };

                image.src = imageUrl;
            }

            function removeImage() {
                self.canvasContext.clearRect(0, 0, self.model.cropWidth, self.model.cropHeight);
                self.canvasContext.save();
                self.photoArea.addClass('photo--empty');
                self.imageHelperCanvasContext.clearRect(0, 0, self.imageHelperCanvas.width, self.imageHelperCanvas.height);
                self.imageHelperCanvasContext.save();
                setModel({});

                if (typeof self.options.onRemove === 'function') {
                    self.options.onRemove(self.model);
                }
            }

            function registerDropZoneEvents() {
                var target = null;

                self.element.on('drag dragstart dragend dragover dragenter dragleave drop', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    e.originalEvent.dataTransfer.dropEffect = 'copy';
                });

                self.element.on('dragend dragleave drop', function (e) {
                    if (target === e.target) {
                        self.element.removeClass('is-dragover');
                    }
                });

                self.element.on('dragover dragenter', function (e) {
                    target = e.target;
                    self.element.addClass('is-dragover');
                });

                self.element.on('change', 'input[type=file]', function (e) {
                    if (this.files && this.files.length) {
                        readFile(this.files[0]);
                        var val = $(this).val();
                        function getimage() {
                            return this.files[0];
                        }
                        sessionStorage.setItem("main_image", JSON.stringify(this.files[0]));
                        sessionStorage.setItem('image_name', this.files[0].name);
                        this.value = '';
                    }
                });

                self.element.on('click', '.photo--empty .photo__frame', function (e) {
                    $(cssSelector + ' input[type=file]').trigger('click');

                });

                self.element.on('click', '.remove', function (e) {
                    removeImage();
                });

                self.element.on('drop', function (e) {

                    readFile(e.originalEvent.dataTransfer.files[0]);
                });

                function readFile(file) {

                    self.photoArea.removeClass('photo--error photo--error--file-type photo--error-image-size');

                    if (!file.type.match('image.*')) {
                        self.photoArea.addClass('photo--error--file-type');

                        if (typeof self.options.onError === 'function') {
                            self.options.onError('file-type');
                        }
                        return;
                    }

                    var reader;
                    reader = new FileReader();

                    reader.onloadstart = function () {
                        self.photoArea.addClass('photo--loading');
                    }
                    reader.onloadend = function (data) {
                        self.photoImg.css({ left: 0, top: 0 });

                        var base64Image = data.target.result;

                        processFile(base64Image, file.type);
                    }

                    reader.onerror = function () {
                        self.photoArea.addClass('photo--error');

                        if (typeof self.options.onError === 'function') {
                            self.options.onError('unknown');
                        }
                    }
                    reader.readAsDataURL(file);


                }
            }

            function registerImageDragEvents() {
                var $dragging, x, y, clientX, clientY;
                if (self.options.imageHelper) {
                    self.photoHelper.on("mousedown touchstart", dragStart)
                        .css('cursor', 'move');
                } else {
                    self.photoFrame.on("mousedown touchstart", dragStart);
                }

                $(window).on("mouseup touchend", function (e) {
                    if ($dragging) {

                        if (typeof self.options.onPositionChange === 'function') {
                            self.options.onPositionChange(self.model);
                        }

                        if (typeof self.options.onChange === 'function') {
                            self.options.onChange(self.model);
                        }
                    }
                    $dragging = null;
                });

                $(window).on("mousemove touchmove", function (e) {

                    if ($dragging) {
                        e.preventDefault();
                        var refresh = false;
                        clientX = e.clientX;
                        clientY = e.clientY;
                        if (e.touches) {
                            clientX = e.touches[0].clientX
                            clientY = e.touches[0].clientY
                        }

                        var dy = (clientY) - y;
                        var dx = (clientX) - x;
                        dx = Math.min(dx, 0);
                        dy = Math.min(dy, 0);

                        if (self.model.width + dx >= self.model.cropWidth) {
                            self.model.x = dx;
                            refresh = true;
                        }
                        if (self.model.height + dy >= self.model.cropHeight) {
                            self.model.y = dy;
                            refresh = true;
                        }
                        if (refresh) {
                            render();
                        }
                    };
                });

                function dragStart(e) {
                    $dragging = true;
                    clientX = e.clientX;
                    clientY = e.clientY;
                    if (e.touches) {
                        clientX = e.touches[0].clientX
                        clientY = e.touches[0].clientY
                    }
                    x = clientX - self.model.x;
                    y = clientY - self.model.y;
                }
            }

            function registerZoomEvents() {

                self.zoomControl
                    .attr('min', self.options.zoom.minValue)
                    .attr('max', self.options.zoom.maxValue)
                    .attr('step', self.options.zoom.step)
                    .val(self.options.zoom.initialValue)
                    .on('input', zoomChange);

                function zoomChange(e) {
                    self.model.zoom = Number(this.value);
                    updateZoomIndicator();
                    scaleImage();

                    if (typeof self.options.onZoomChange === 'function') {
                        self.options.onZoomChange(self.model);
                    }
                }
            }

            function centerImage() {
                var x = Math.abs(self.model.x - ((self.model.width - self.model.cropWidth) / 2));
                var y = Math.abs(self.model.y - ((self.model.height - self.model.cropHeight) / 2));
                x = self.model.x - x;
                y = self.model.y - y;
                x = Math.min(x, 0);
                y = Math.min(y, 0);

                if (self.model.width + (x) < self.model.cropWidth) {

                    x = Math.abs((self.model.width - self.model.cropWidth)) * -1;
                }
                if (self.model.height + (y) < self.model.cropHeight) {

                    y = Math.abs((self.model.height - self.model.cropHeight)) * -1;
                }
                self.model.x = x;
                self.model.y = y;
            }

            function getPosition(newWidth, newHeight) {

                var deltaY = (self.model.y - (self.model.cropHeight / 2)) / self.model.height;
                var deltaX = (self.model.x - (self.model.cropWidth / 2)) / self.model.width;
                var y = (deltaY * newHeight + (self.model.cropHeight / 2));
                var x = (deltaX * newWidth + (self.model.cropWidth / 2));

                x = Math.min(x, 0);
                y = Math.min(y, 0);

                if (newWidth + (x) < self.model.cropWidth) {

                    x = Math.abs((newWidth - self.model.cropWidth)) * -1;

                }
                if (newHeight + (y) < self.model.cropHeight) {

                    y = Math.abs((newHeight - self.model.cropHeight)) * -1;
                }
                return { x: x, y: y };
            }

            function scaleImage() {

                var newWidth = self.model.originalWidth * self.model.zoom;
                var newHeight = self.model.originalHeight * self.model.zoom;

                var position = getPosition(newWidth, newHeight);
                self.model.width = newWidth;
                self.model.height = newHeight;
                self.model.x = position.x;
                self.model.y = position.y;
                updateZoomIndicator();
                render();

                if (typeof self.options.onImageSizeChange === 'function') {
                    self.options.onImageSizeChange(self.model);
                }
            }

            function updateZoomIndicator() {

                if (self.model.zoom.toFixed(2) == Number(self.zoomControl.attr('min')).toFixed(2)) {
                    self.zoomControl.addClass('zoom--minValue');
                } else {
                    self.zoomControl.removeClass('zoom--minValue');
                }
                if (self.model.zoom.toFixed(2) == Number(self.zoomControl.attr('max')).toFixed(2)) {
                    self.zoomControl.addClass('zoom--maxValue');
                } else {
                    self.zoomControl.removeClass('zoom--maxValue');
                }
            }

            function fitToFrame() {
                var newHeight, newWidth, scaleRatio;

                var frameRatio = self.model.cropHeight / self.model.cropWidth;
                var imageRatio = self.model.height / self.model.width;

                if (frameRatio > imageRatio) {
                    newHeight = self.model.cropHeight;
                    scaleRatio = (newHeight / self.model.height);
                    newWidth = parseFloat(self.model.width) * scaleRatio;
                } else {
                    newWidth = self.model.cropWidth;
                    scaleRatio = (newWidth / self.model.width);
                    newHeight = parseFloat(self.model.height) * scaleRatio;
                }
                self.model.zoom = scaleRatio;

                self.zoomControl
                    .attr('min', scaleRatio)
                    .attr('max', self.options.zoom.maxValue - scaleRatio)
                    .val(scaleRatio);

                self.model.height = newHeight;
                self.model.width = newWidth;
                updateZoomIndicator();
                centerImage();
            }

            function render() {
                self.canvasContext.clearRect(0, 0, self.model.cropWidth, self.model.cropHeight);
                self.canvasContext.save();
                self.canvasContext.globalCompositeOperation = "destination-over";
                self.canvasContext.drawImage(self.model.imageSrc, self.model.x, self.model.y, self.model.width, self.model.height);
                self.canvasContext.restore();

                if (self.options.imageHelper) {
                    updateHelper();
                }

                if (typeof self.options.onChange === 'function') {
                    self.options.onChange(self.model);
                }
            }

            function updateHelper() {
                var x = self.model.x + self.photoFrame.position().left;
                var y = self.model.y + self.photoFrame.position().top;

                self.imageHelperCanvasContext.clearRect(0, 0, self.imageHelperCanvas.width, self.imageHelperCanvas.height);
                self.imageHelperCanvasContext.save();
                self.imageHelperCanvasContext.globalCompositeOperation = "destination-over";

                self.imageHelperCanvasContext.beginPath();
                self.imageHelperCanvasContext.rect(0, 0, self.imageHelperCanvas.width, self.imageHelperCanvas.height);
                self.imageHelperCanvasContext.fillStyle = self.options.imageHelperColor;
                self.imageHelperCanvasContext.fill('evenodd');

                self.imageHelperCanvasContext.drawImage(self.model.imageSrc, x, y, self.model.width, self.model.height);
                self.imageHelperCanvasContext.restore();
            }

            function registerImageHelper() {
                var canvas = document.createElement('canvas');
                canvas.className = "canvas--helper";
                canvas.width = self.photoHelper.outerWidth();
                canvas.height = self.photoHelper.outerHeight();

                self.photoHelper.prepend(canvas);

                self.imageHelperCanvas = canvas;
                self.imageHelperCanvasContext = canvas.getContext('2d');
                self.imageHelperCanvasContext.mozImageSmoothingEnabled = false;
                self.imageHelperCanvasContext.msImageSmoothingEnabled = false;
                self.imageHelperCanvasContext.imageSmoothingEnabled = false;
            }

            function getAsDataURL(quality) {
                if (!quality) { quality = 1; }

                return self.canvas.toDataURL(quality);
            }
        }
    })(window, jQuery);

    $(function () {
        var p = new profilePicture('.profile', null,
            {
                imageHelper: true,
                onRemove: function (type) {
                    $('.preview').hide().attr('src', '');
                },
                onError: function (type) {
                    console.log('Error type: ' + type);
                    alert('Error type: ' + type);
                }
            });
        $('#previewBtn').on('click', function () {
            //alert("Ravii");
            $(".hide").css("visibility", "hidden !important");
            $('.preview').show().attr('src', p.getAsDataURL());
            $(".photo__options").css("visibility", "hidden");
            $(".canvas--helper").css("opacity", "0");
        });
    });
	});
</script>