<div class="bottom-bar"><!--Bottom Navigation Bar Starts Here -->
	<div class="item col botm-feed">
		<a href="javascript:void(0);" id="feed1"><i class="fa fa-bolt" aria-hidden="true"></i> <span id="feed2" >Feed </span> <i class="fa fa-circle" id="listener_update_feed"></i></a>
	</div>
	<div class="item col botm-message">
		<a href="javascript:void(0);" id="message1" ><i class="fa fa-envelope-open" aria-hidden="true"></i> <span id="message2"> Message </span> <i class="fa fa-circle" id="listener_update_message"></i></a>
	</div>
	<div class="item col botm-itinerary">
		<a href="javascript:void(0);"  id="itinerary1"> <i class="fa fa-th-list" aria-hidden="true"></i> <span id="itinerary2">Itinerary </span> </a>
	</div>
	<div class="item col botm-survey">
		<a href="javascript:void(0);" id="survey1"> <i class="fa fa-bar-chart" aria-hidden="true"></i> <span id="survey2">Survey </span> </a>
	</div>
	<div class="item col botm-directory">
		<a href="javascript:void(0);" id="directory1"> <i class="fa fa-sitemap" aria-hidden="true"></i> <span id="directory2">Directory </span> </a>
	</div>
	<div class="item col botm-live">
		<a href="javascript:void(0);" id="live1"> <i class="fa fa-video-camera" aria-hidden="true"></i> <span id="live2">Live </span> </a>
	</div>
	<div class="item col botm-buzz">
		<a href="javascript:void(0);" id="buzz1"> <i class="fa fa-tachometer" aria-hidden="true"></i> <span id="buzz2">Buzz </span> </a>
	</div>
</div>
<script type="text/javascript">
	
var newfeed = 0;
var newmessage = 0;
//var newitinerary = 0;
//var newsurvey = 0;
//var newdirectory = 0;

var user_data=JSON.parse(localStorage.getItem("user_data"));
var footer_menu=user_data.app_info.bottom_navigation;
var company_data = JSON.parse(localStorage.getItem("activation")); 

$(".bottom-bar .item a").css('color',company_data.company.header_color);

if(sessionStorage.getItem("active_menu_id") != null){
	if(localStorage.getItem("feed_dot") == 1){
		$('#listener_update_feed').css('color',company_data.company.header_color);
        $('#listener_update_feed').css('visibility','visible');
}else if(localStorage.getItem("message_dot") == 1){
		$('#listener_update_message').css('color',company_data.company.header_color);
        $('#listener_update_message').css('visibility','visible');
}
	if(sessionStorage.getItem("active_menu_id") == 1){
		$.get("feed.html", function (fileData) {
					$('#feed_page').html(fileData);
					$("#feed1").addClass("activemenu");
					$(".activemenu").css('color',company_data.company.button_bg_color);
					newfeed = 1;
				});
	}else if(sessionStorage.getItem("active_menu_id") == 2){
		$.get("message.html", function (fileData) {
			$('#message_page').html(fileData);
            $('#preloader').fadeOut('slow');
			$("#message1").addClass("activemenu");
			$(".activemenu").css('color',company_data.company.button_bg_color);
			newmessage = 1;
		});
	}else if(sessionStorage.getItem("active_menu_id") == 3){
		$.get("itinerary.html", function (fileData) {
			$('#itinerary_page').html(fileData);
			$("#itinerary1").addClass("activemenu");
			$(".activemenu").css('color',company_data.company.button_bg_color);
			//newitinerary = 1;
		});

	}else if(sessionStorage.getItem("active_menu_id") == 4){
		$.get("survey.html", function (fileData) {
			$('#survey_page').html(fileData);
			$("#survey1").addClass("activemenu");
			$(".activemenu").css('color',company_data.company.button_bg_color);
			//newsurvey = 1;
		});
	}else if(sessionStorage.getItem("active_menu_id") == 5){
		$.get("directory.html", function (fileData) {
			$('#directory_page').html(fileData);
			//$('#preloader').fadeOut('slow');
			$("#directory1").addClass("activemenu");
			$(".activemenu").css('color',company_data.company.button_bg_color);
			//newdirectory = 1;
		});
	}
	else if(sessionStorage.getItem("active_menu_id") == 6){
		$.get("live.html", function (fileData) {
			$('#live_page').html(fileData);
			//$('#preloader').fadeOut('slow');
			$("#live1").addClass("activemenu");
			$(".activemenu").css('color',company_data.company.button_bg_color);
			//newdirectory = 1;
		});
	}
	else if(sessionStorage.getItem("active_menu_id") == 7){
		$.get("buzz.html", function (fileData) {
			$('#buzz_page').html(fileData);
			//$('#preloader').fadeOut('slow');
			$("#buzz1").addClass("activemenu");
			$(".activemenu").css('color',company_data.company.button_bg_color);
			//newdirectory = 1;
		});
	}

}else{

if(localStorage.getItem("feed_dot") == 1){
		$('#listener_update_feed').css('color',company_data.company.header_color);
        $('#listener_update_feed').css('visibility','visible');
}
else if(localStorage.getItem("message_dot") == 1){
		$('#listener_update_message').css('color',company_data.company.header_color);
        $('#listener_update_message').css('visibility','visible');
}

for(var j=0;j<footer_menu.length;j++){
        if(footer_menu[j].menu_id==='1' && footer_menu[j].status===1){
              $.get("feed.html", function (fileData) {
					$('#feed_page').html(fileData);
					$("#feed1").addClass("activemenu");
					$(".activemenu").css('color',company_data.company.button_bg_color);
					newfeed = 1;
				});
              break;
        
        }

        if((footer_menu[j].status===1) && (footer_menu[j].menu_id==='2')){
         $.get("message.html", function (fileData) {
			$('#message_page').html(fileData);
			$("#message1").addClass("activemenu");
			$(".activemenu").css('color',company_data.company.button_bg_color);
			newmessage = 1;
		});
         break;
        }


        if((footer_menu[j].status===1) && (footer_menu[j].menu_id==='3')){
        $.get("itinerary.html", function (fileData) {
			$('#itinerary_page').html(fileData);
			$("#itinerary1").addClass("activemenu");
			$(".activemenu").css('color',company_data.company.button_bg_color);
			//newitinerary = 1;
		});
        break;

        }

        if((footer_menu[j].status===1) && (footer_menu[j].menu_id==='4')){
        $.get("survey.html", function (fileData) {
			$('#survey_page').html(fileData);
			$("#survey1").addClass("activemenu");
			$(".activemenu").css('color',company_data.company.button_bg_color);
			//newsurvey = 1;
		});
        break;
        }

        if((footer_menu[j].status===1) && (footer_menu[j].menu_id==='5')){
        $.get("directory.html", function (fileData) {
			$('#directory_page').html(fileData);
			$("#directory1").addClass("activemenu");
			$(".activemenu").css('color',company_data.company.button_bg_color);
			//newdirectory = 1;
		});
        break;
        }
        if((footer_menu[j].status===1) && (footer_menu[j].menu_id==='13')){
        $.get("live.html", function (fileData) {
			$('#live_page').html(fileData);
			$("#live1").addClass("activemenu");
			$(".activemenu").css('color',company_data.company.button_bg_color);
		});
        break;
        }
        if((footer_menu[j].status===1) && (footer_menu[j].menu_id==='14')){
        $.get("buzz.html", function (fileData) {
			$('#buzz_page').html(fileData);
			$("#buzz1").addClass("activemenu");
			$(".activemenu").css('color',company_data.company.button_bg_color);
		});
        break;
        }
  }

}//Else Active Menu Id End

$("#feed1").click(function(){
    $('#preloader').fadeIn('fast');
		$(".main-search").css('display','inline-block');
		$("#directory1").removeClass("activemenu");
		$("#survey1").removeClass("activemenu");
		$("#itinerary1").removeClass("activemenu");
		$("#message1").removeClass("activemenu");
		$("#buzz1").removeClass("activemenu");
		$("#live1").removeClass("activemenu");
		$("#feed1").addClass("activemenu");
        $('#listener_update_feed').css('visibility','hidden');
		$(".bottom-bar .item a").css('color',company_data.company.header_color);
		$(".activemenu").css('color',company_data.company.button_bg_color);
        if(localStorage.getItem("message_dot") == 1){
		$('#listener_update_message').css('color',company_data.company.header_color);
        $('#listener_update_message').css('visibility','visible');
		}
	$("#message_page").hide();
	$("#itinerary_page").hide();
	$("#survey_page").hide();
	$("#live_page").hide();
	$("#buzz_page").hide();
	$("#directory_page").hide();
	$("#feed_page").show();
	if(localStorage.getItem("feed_dot") == 1){
		newfeed=0;
		$('#preloader').fadeIn('slow');
	}
	if(newfeed==0){
		$.get("feed.html", function (fileData) {
			$('#feed_page').html(fileData);
			newfeed = 1;
		});

        }else{
            $('#preloader').fadeOut('fast');
        }

  var user_data_feed = JSON.parse(localStorage.getItem("user_data"));
  for (var k = 0; k <user_data_feed.app_info.bottom_navigation.length; k++) {
 	console.log('inside click loop')
    if (user_data_feed.app_info.bottom_navigation[k].menu_id == '1') {
      $('#module').text(user_data_feed.app_info.bottom_navigation[k].name);
      break;
    }
  }
sessionStorage.setItem("active_menu_id",1);
localStorage.setItem("feed_dot",0);
});
$("#message1").click(function(){
	$(".main-search").css('display','none');
		$("#directory1").removeClass("activemenu");
		$("#survey1").removeClass("activemenu");
		$("#itinerary1").removeClass("activemenu");
		$("#feed1").removeClass("activemenu");
		$("#buzz1").removeClass("activemenu");
		$("#live1").removeClass("activemenu");
		$("#message1").addClass("activemenu");
		$(".bottom-bar .item a").css('color',company_data.company.header_color);
		$(".activemenu").css('color',company_data.company.button_bg_color);

	if(localStorage.getItem("feed_dot") == 1){
		$('#listener_update_feed').css('color',company_data.company.header_color);
        $('#listener_update_feed').css('visibility','visible');
		}
        $('#listener_update_message').css('visibility','hidden');

	$("#feed_page").hide();
	$("#itinerary_page").hide();
	$("#survey_page").hide();
	$("#directory_page").hide();
	$("#live_page").hide();
	$("#buzz_page").hide();
	$("#message_page").show();

	/*if(localStorage.getItem("message_dot") == 1){
		newmessage=0;
	}*/
	//if(newmessage==0){
	$.get("message.html", function (fileData) {
		$('#message_page').html(fileData);
		//newmessage = 1;
	});
//}
sessionStorage.setItem("active_menu_id",2);
localStorage.setItem("message_dot",0);
});
$("#itinerary1").click(function(){
		$("#directory1").removeClass("activemenu");
		$("#survey1").removeClass("activemenu");
		$("#message1").removeClass("activemenu");
		$("#feed1").removeClass("activemenu");
		$("#buzz1").removeClass("activemenu");
		$("#live1").removeClass("activemenu");
		$("#itinerary1").addClass("activemenu");
		$(".bottom-bar .item a").css('color',company_data.company.header_color);
		$(".activemenu").css('color',company_data.company.button_bg_color);
	if(localStorage.getItem("feed_dot") == 1){
		$('#listener_update_feed').css('color',company_data.company.header_color);
        $('#listener_update_feed').css('visibility','visible');
}else if(localStorage.getItem("message_dot") == 1){
		$('#listener_update_message').css('color',company_data.company.header_color);
        $('#listener_update_message').css('visibility','visible');
}

	$("#feed_page").hide();
	$("#message_page").hide();
	$("#survey_page").hide();
	$("#directory_page").hide();
	$("#live_page").hide();
	$("#buzz_page").hide();
	$("#itinerary_page").show();
	//if(newitinerary==0){
	$.get("itinerary.html", function (fileData) {
		$('#itinerary_page').html(fileData);
		//newitinerary = 1;
	});
//}
sessionStorage.setItem("active_menu_id",3);
});
$("#survey1").click(function(){
		$("#directory1").removeClass("activemenu");
		$("#itinerary1").removeClass("activemenu");
		$("#message1").removeClass("activemenu");
		$("#feed1").removeClass("activemenu");
		$("#buzz1").removeClass("activemenu");
		$("#live1").removeClass("activemenu");
		$(this).addClass("activemenu");
		$(".bottom-bar .item a").css('color',company_data.company.header_color);
		$(".activemenu").css('color',company_data.company.button_bg_color);
	if(localStorage.getItem("feed_dot") == 1){
		$('#listener_update_feed').css('color',company_data.company.header_color);
        $('#listener_update_feed').css('visibility','visible');
}else if(localStorage.getItem("message_dot") == 1){
		$('#listener_update_message').css('color',company_data.company.header_color);
        $('#listener_update_message').css('visibility','visible');
}

	$("#feed_page").hide();
	$("#message_page").hide();
	$("#itinerary_page").hide();
	$("#directory_page").hide();
	$("#live_page").hide();
	$("#buzz_page").hide();
	$("#survey_page").show();
	//if(newsurvey==0){
	$.get("survey.html", function (fileData) {
		$('#survey_page').html(fileData);
		//newsurvey = 1;
	});
//}
sessionStorage.setItem("active_menu_id",4);
});
$("#directory1").click(function(){
    
		$("#survey1").removeClass("activemenu");
		$("#itinerary1").removeClass("activemenu");
		$("#message1").removeClass("activemenu");
		$("#feed1").removeClass("activemenu");
		$("#buzz1").removeClass("activemenu");
		$("#live1").removeClass("activemenu");
		$(this).addClass("activemenu");
		$(".bottom-bar .item a").css('color',company_data.company.header_color);
		$(".activemenu").css('color',company_data.company.button_bg_color);
	if(localStorage.getItem("feed_dot") == 1){
		$('#listener_update_feed').css('color',company_data.company.header_color);
        $('#listener_update_feed').css('visibility','visible');
}else if(localStorage.getItem("message_dot") == 1){
		$('#listener_update_message').css('color',company_data.company.header_color);
        $('#listener_update_message').css('visibility','visible');
}

	$("#feed_page").hide();
	$("#message_page").hide();
	$("#itinerary_page").hide();
	$("#survey_page").hide();
	$("#live_page").hide();
	$("#buzz_page").hide();
	$("#directory_page").show();
	//if(newdirectory==0){
	$.get("directory.html", function (fileData) {
		$('#directory_page').html(fileData);
		//newdirectory = 1;
	});
//}
sessionStorage.setItem("active_menu_id",5);
});
$("#live1").click(function(){
		$("#preloader").fadeIn('fast');
		$("#survey1").removeClass("activemenu");
		$("#itinerary1").removeClass("activemenu");
		$("#message1").removeClass("activemenu");
		$("#feed1").removeClass("activemenu");
		$("#directory1").removeClass("activemenu");
		$("#buzz1").removeClass("activemenu");
		$(this).addClass("activemenu");
		$(".bottom-bar .item a").css('color',company_data.company.header_color);
		$(".activemenu").css('color',company_data.company.button_bg_color);
	if(localStorage.getItem("feed_dot") == 1){
		$('#listener_update_feed').css('color',company_data.company.header_color);
        $('#listener_update_feed').css('visibility','visible');
	}else if(localStorage.getItem("message_dot") == 1){
		$('#listener_update_message').css('color',company_data.company.header_color);
        $('#listener_update_message').css('visibility','visible');

	}

	$("#feed_page").hide();
	$("#message_page").hide();
	$("#itinerary_page").hide();
	$("#survey_page").hide();
	$("#directory_page").hide();
	$("#buzz_page").hide();
	$("#live_page").show();
	//if(newdirectory==0){
	$.get("live.html", function (fileData) {
		$('#live_page').html(fileData);
		//newdirectory = 1;
	});
	sessionStorage.setItem("active_menu_id",6);
	localStorage.removeItem('Live_session_data');
});
$("#buzz1").click(function(){
    
		$("#survey1").removeClass("activemenu");
		$("#itinerary1").removeClass("activemenu");
		$("#message1").removeClass("activemenu");
		$("#feed1").removeClass("activemenu");
		$("#directory1").removeClass("activemenu");
		$("#live1").removeClass("activemenu");
		$(this).addClass("activemenu");
		$(".bottom-bar .item a").css('color',company_data.company.header_color);
		$(".activemenu").css('color',company_data.company.button_bg_color);
	if(localStorage.getItem("feed_dot") == 1){
		$('#listener_update_feed').css('color',company_data.company.header_color);
        $('#listener_update_feed').css('visibility','visible');
}else if(localStorage.getItem("message_dot") == 1){
		$('#listener_update_message').css('color',company_data.company.header_color);
        $('#listener_update_message').css('visibility','visible');
}

	$("#feed_page").hide();
	$("#message_page").hide();
	$("#itinerary_page").hide();
	$("#survey_page").hide();
	$("#directory_page").hide();
	$("#live_page").hide();
	$("#buzz_page").show();
	//if(newdirectory==0){
	$.get("buzz.html", function (fileData) {
		$('#buzz_page').html(fileData);
		//newdirectory = 1;
	});
sessionStorage.setItem("active_menu_id",7);
});

</script>



