<div class="caption-screen" ><!--Caption Screen Enables on Click of Gallery Button-->
  <div class="caption-wrapper">
    <div class="red-bar">
      <img src="assets/close-icon.svg" class="close-post"> <span>Feed Post</span>
    </div>
    <div class="image-holder" id="user-image">
      <div id="myProgress">
        <div id="myBar"></div>
      </div>
      <img class="caption-image" id='caption-image2' src="assets/loader.gif" style="display:none;">
      <img class="type-word" id='caption-word' src="assets/word-icon.png" style="display:none;">
     <img class="type-pdf" id='caption-pdf' src="assets/pdf-icon.png" style="display:none;">
     <img class="type-exel" id='caption-excel' src="assets/excel-icon.png" style="display:none;">
     <img class="type-zip" id='caption-zip' src="assets/zip-icon.png" style="display:none;">
    <img class="type-text" id='caption-text' src="assets/file-icon.png" style="display:none;">
      <video class="video" width="100%" controls style="height: 100%;object-fit: initial;display: none;">
        <source src="" type="video/mp4" id="caption-video2">
      </video>
      <span id="attachment-title"></span>
    </div>
    <div class="caption-text">
        <form class="comment-form" autocomplete="off">
           <div class="form-group">
             <input type="text" class="form-control post-comment-message" placeholder="Post a Comment..." id="text_with_attachment" value="">
           </div>
           <button class="comment-button" id="send-attachment" type="button"><img src="assets/comment-icon.svg"></button>
        </form>
      </div>
  </div>
</div><!--Caption Screen Enables on Click of Gallery Button-->


<script type="text/javascript">
  
  var company_data = JSON.parse(localStorage.getItem("activation"));  

       $('.red-bar').css('background-color',company_data.company.header_color);
       $('.red-bar').css('color',company_data.company.normal_text_color);
</script>