<div class="comment-screen">
  <div class="comment-wrapper">
    <div class="red-bar">
      <img src="assets/close-icon.svg" class="close-post"> <span>Comments</span>
    </div>
    <div class="top-comments" id="view_comments">

 
    </div>
  </div>
  <form class="comment-form" autocomplete="off" id='comment_post_form'>
     <div class="form-group">
       <input type="text" class="form-control post-comment-message" placeholder="Post a Comment..." id="user_comment" required="" value="">
     </div>
     <button class="comment-button" id="comment_post" type="button"> <img src="assets/comment-icon.svg" class="comment_btn"> </button>
 </form>
</div>