<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!--- buzz live design ---->
<div class="live_container" style="display: none;">
      <div class='top_bar'>
          <button class="back_button"><i class="fas fa-arrow-left"></i> <span>Back</span></button>
          <h2><span id='session_name'> Session Name </span> <span class='live_count'><i class="fas fa-users"></i> <span id="participant_count"></span> </span></h2>
          <div id='stream_edit_btn'>

          </div>
      </div>
      <div class="live_video" id='video_streaming' style='display: none'>
        <img src='assets/video-placeholder.jpg'>
      </div>
      <div class="tab">
          <button class="tablinks active"  id="questions_tab"> <i class="fa fa-question-circle" aria-hidden="true" ></i>  Questions <i class="fa fa-circle" aria-hidden="true" id='question_listner'></i></button>
          <button class="tablinks" id="poll_tab"> <i class="fas fa-poll"></i> Polls <i class="fa fa-circle" aria-hidden="true" id='poll_listner'></i></button>
      </div>

      <!---- live questions view ----->
      <div id="live_question" class="tabcontent" style='display: block'>
            <div class="tab2">    
              <div id="myDIV"> 
                <button class="mine_button"><i class="fas fa-id-badge"></i><span> Mine </span></button> 
                <button class="recent_button activ"><i class="fas fa-globe"></i><span> All </span></button>
                <button class="popular_button"><i class="fa fa-star">  </i><span> Popular</span></button>
              </div>
              <p class="total_question">0 Questions </p>
              <p class="present_button"><i class="fas fa-tv"></i><span> Present</span></p>
            </div>


            <!--- popular questions view---->
            <div class='' id="popular_arrange">
              <div class="popular_list" id="popular_list">
                 
              </div>
              <div class='text_end' style="display: none">
                  <label> Questions End Here..</label>
              </div>
            </div>

            <!--- all questions view----> 
            <div class="recent_questions" id="recent_questions">
              <div class="queston_list" id="question_list">
              
              </div>
              <div class='text_end' style="display: none">
                  <label> Questions End Here..</label>
              </div>
              <div class='ask_quetion'></div>
            </div>

             <!--- mine questions view----> 
            <div class="mine_list" id='mine_list' style='display: none'>
              <div id='mine_question_list'>
            
              </div>
              <div class='text_end' style="display: none">
                  <label> Questions End Here..</label>
              </div>
            </div>


            <!-- present view div --> 
            <div class="present_container" id="present_container">  
              <div class="exit">
                <i class="fas fa-arrow-left"></i>
              </div>
              <div class="column3"> 
                  <p class="tdownload">To Download and Open </p> 
                  <div class="qrfill">  
                    <div class="qrcode">    
                      <img src="assets/buzz1.png">    
                    </div>   
                  </div>  
              </div>  
              <div class="column1"> 
                  <p class="todownload"> All Questions </p> 
                  <div class="queston_list" id='presentation_list'> 

                   </div>  
              </div> 
          </div>  
		      <!-- present view div end here-->

          <!--- ask pop up ----->
	         <div class="ask_container">
              <div class="ask_popup" id="ask_question">
                  <!-- <div class="cross">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </div> -->
                  <p>Ask your question</p>
                  <textarea id="text_question" class="text_question"  placeholder="Type here....."></textarea>
                  <label class="anonymously">
                    <input type="checkbox" id='no_name' class="no_name" value="1"> Ask Anonymously
                  </label>
                  <div class="submitdiv"> 
                    <button class='cross'>Cancel</button> 
                    <button class="submit_button" id="ask_submit">Submit</button>
                  </div>
              </div>
            </div>


            <!---- presentation loader ----->
            <div class="onload_present" id="onload_present">
              <div class="present_text">
                <i class="fas fa-tv"></i>
                <div class="ball"></div>
              </div>
              <ul class="rhombus">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
        </div>
          
        <!---- live streaming form ----->
       
        <div id='streaming_view'>
        </div>
         <div id="stream_edit_form">
        </div>


        <!--- live polls ----->
        <div id="live_poll" class="tabcontent">
        </div>
  
<!---- buzz live design ends ------>


<script type="text/javascript">
    $(document).ready(function(){
        question_list();

        var current_session_name = localStorage.getItem('session_name');
        $('#session_name').text(current_session_name);

        
        var session_type = localStorage.getItem('session_type')

        if(session_type == 2){
          $('.live_count').css('display','none');
        }
          var cc = new ChatCamp({
            appId: localStorage.getItem('appid')
          })
    
          let channelListener = new cc.ChannelListener();
          var live_groupChannel_check = localStorage.getItem('live_groupChannel_key');
          var live_streaming_groupChannel_check = localStorage.getItem('live_streaming_key');
          var live_poll_channel_key = localStorage.getItem('live_poll_groupchannel_key');
          //console.log("localstorage:"+live_groupChannel_check);

          channelListener.onMessageReceived = function (groupChannel, message) {
           console.log(" live channel onMessageReceived"+groupChannel.id+" ,live is:"+live_groupChannel_check);
               if(groupChannel.id==live_groupChannel_check || groupChannel.id){
               //console.log("insid live channel onMessageReceived");
             // question_list();e
              }
          }    

         channelListener.onMessageUpdated = function (groupChannel, message) {
          //console.log("live channel onMessageUpdated"+groupChannel.id+" ,live is:"+live_groupChannel_check);
           if(groupChannel.id==live_groupChannel_check){

               //console.log("inside live channel onMessageUpdated");
                 question_list();
                 popular_presantation_view();
                 mine_view(globale_message_list);
                 if($('#poll_tab').hasClass('active')){
                    $('#question_listner').css('visibility','visible');
                 }
              }
              if(groupChannel.id.trim()==live_poll_channel_key.trim())
            {
             console.log("..the message is for poll...found in question");
             if($('#questions_tab').hasClass('active'))
                    {
                     console.log('put red dot on poll');
                   $('#poll_listner').css('visibility','visible');
                   }
           }  
         }
         channelListener.onChannelUpdated = function(groupChannel) {
           console.log("test live channel onChannelUpdated"+groupChannel.id);

           switch(groupChannel.id)
           {
             
             case live_streaming_groupChannel_check :
                  //console.log("in stream");
                   manage_livestream(groupChannel)
                   break;
             case  live_groupChannel_check :
                   //console.log("in question");
                   try
                    {
                      var moderationstatus = groupChannel.metadata.filter_moderator_status;
                      localStorage.setItem('madaration_status_live',moderationstatus);
                      console.log("live channel onGroupChannelUpdated:moderationstatus:"+moderationstatus);
                    }
                    catch(err){

                    }
                     question_list();
                   break;
             default :console.log("no where");
                   break;          

           }
         }
         channelListener.onParticipantJoined = function(groupChannel, participant){
          if(groupChannel.id==live_groupChannel_check){
          //console.log(groupChannel.participants.length);
          var participant_count = groupChannel.participantsCount;
          $('#participant_count').text(participant_count);
            // triggered when a participants joins a group channel
          }
          }
          channelListener.onParticipantLeft = function(groupChannel, participant){
            if(groupChannel.id==live_groupChannel_check){
            //console.log(groupChannel.participants.length);
            var participant_count = groupChannel.participantsCount;
            $('#participant_count').text(participant_count);
            // triggered when a participant leaves a group channel
          }
          }

            cc.addChannelListener("live_questions", channelListener);

            $(".no_name").click(function(){
              var checked_no_name = $(this).val();
              if(checked_no_name == 0){
              $("#no_name").val(1);
              }
              else{
              $("#no_name").val(0);
              }
            });

                        function question_list(){
                          //console.log("---load questions----");
                          var cc = new ChatCamp({
                            appId: localStorage.getItem('appid')
                          });
                          var current_user_id = localStorage.getItem('user_id').toString();
                          cc.connect(current_user_id, function(error, user) {
                             // console.log("user connect successfully")
                            if(error === null){
                            //console.log("Connected to ChatCamp")
                          //   }
                          // });
                        var live_groupChannel = localStorage.getItem('live_groupChannel_key');

                        // var live_groupChannel = "5bfe9bc648bdc62857e7b948";
                        //console.log("live_groupChannel_key",live_groupChannel);
                         // var groupChannel_id = join_group_channel_no ;
                          cc.GroupChannel.get(live_groupChannel, function(error, groupChannel){
                              if(error == null){

                                groupChannel.join(function(error) {
                                console.log(error);
                                 if(!error){

                                    }// User join error condition end
                                });// User join function condition end

                                //console.log("Group Channel retrieved successfully", groupChannel)
                              console.log(groupChannel);
                          var total_participants = groupChannel.participantsCount;
                          let previousMessageListQuery = groupChannel.createPreviousMessageListQuery();
                          previousMessageListQuery.setLimit(10000);
                          previousMessageListQuery.setReference(null);
                          previousMessageListQuery.setSortBy("INSERTED_AT");

                         previousMessageListQuery.load(function(previousMessageListQueryError, messages) {
                            if(!previousMessageListQueryError){
                              console.log(messages);
                              globale_message_list = messages;
                             // console.log(globale_message_list);
                              // localStorage.setItem("buzz_live_questions", JSON.stringify(messages));

                              var session_data = localStorage.getItem('Live_session_data');
                              var user_data = JSON.parse(localStorage.getItem("user_data")); 
                              //var Modarator_str = live_session_data[i].moderator;
                              var Modarator_str = localStorage.getItem('session_modarators');
                              var Modarator_arr = Modarator_str.split(","); 
                              var user_id = user_data.user.id;
                              //var message_poster_role = 
                              var is_modarator = inArray(user_id, Modarator_arr)
                              var modaration_status = localStorage.getItem('madaration_status_live')
                              var question_data = "";
                              var total_number_of_question = messages.length;
                              if( total_number_of_question > 0 && total_number_of_question != null && total_number_of_question != undefined){
                                //console.log("found something in messages:"+total_number_of_question);
                              for (var i = 0; i < messages.length; i++) {

                                 if(messages[i].type == "text"){
                                     var modarated_question = messages[i].metadata.is_show;
                                    var anamuous_status = messages[i].metadata.no_name;
                                    var replyVisbility = messages[i].metadata.replyVisible;
                                    var total_like = messages[i].metadata.total_like;
                                    var message_poster_role = messages[i].metadata.message_poster_role;
                                    var messageID = (messages[i].id).toString();
                                    var userID = (messages[i].user.id).toString();
                                    var live_question_like;
                                    //var reply_visible_status = messages[i].metadata.replyVisible;
                                    var reply;
                                    try
                                    {
                                        reply = messages[i].metadata.reply;
                                    }catch(err)
                                    {
                                        console.log("no reply till now");
                                    }
                                    var is_liked = false;
                                    try
                                    { 
                                    live_question_like= JSON.parse(messages[i].metadata.like_by);
                                    
                                     for (var q = 0; q < live_question_like.length; q++) {
                                      if (user_id == live_question_like[q].user_id) {
                                        is_liked = true;
                                        break;
                                      }
                                      }
                                    }catch(err)
                                    {
                                        //console.log("no likes found");
                                    }
                                    
                                    //console.log(is_liked)
                                   // console.log("message id is :",messageID);
                                    if(is_modarator == true){
                                     // console.log('showing modarator  view')
                                       question_data += "<div class='question_container'><div class='user_name' ><div class='user_pic'>";
                                        if( anamuous_status == 1 ){
                                          question_data += "<img src='"+messages[i].user.avatarUrl+"'></div><h4> "+messages[i].user.displayName+" </h4>";
                                          }
                                          else{
                                            question_data += "<img src='assets/avatar.png'></div><h4> user"+messages[i].user.id+" </h4>";
                                          }
                                          
                                           question_data += "<span>"+ post_time(messages[i].insertedAt) +"</span><p class='question_name'><i class='fab fa-quora'></i>- "+messages[i].text+" </p>";

                                          if(reply != ""){
                                            if(replyVisbility == '0')
                                             question_data += "<p class='answer_text'><i class='fab fa-adn'></i>- "+reply+" <i class='fas fa-user-lock private'></i> </p>";
                                             else{
                                                question_data += "<p class='answer_text'><i class='fab fa-adn'></i>- "+reply+"</p>";
                                             }
                                           }
                                           else{
                                              question_data += "<p class='answer_text' style='display:none;'> <i class='fab fa-replyd re'></i> "+ reply+" <i class='fas fa-user-lock private'></i></p>";
                                           }
                                         

                                          if(session_type == 1){
                                              if(is_liked == true){
                                               question_data += "<div class='questions_likes' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'><span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i style='color:#2196F3' class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                               }
                                               else{
                                                 question_data += "<div class='questions_likes' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'><span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                               }
                                             }
                                             else{
                                              if(is_liked == true){
                                               question_data += "<div class='questions_likes' style='pointer-events:none;' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'><span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i style='color:#2196F3' class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                               }
                                               else{
                                                 question_data += "<div class='questions_likes' style='pointer-events:none;' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'><span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                               }
                                             }

                                          if(modaration_status == "0"){
                                            //console.log('modaration disabled')
                                            if(modarated_question == 1){
                                              question_data += "<div class='modarate_btn' style='pointer-events:none;opacity:0.3;'><span> Show </span><label class='switch'><input type='checkbox' checked><span class='slider round'></span></label></div>";
                                            }
                                            else{
                                              question_data += "<div class='modarate_btn' style='pointer-events:none;opacity:0.3;'><span> Show </span><label class='switch'><input type='checkbox'><span class='slider round'></span></label></div>";
                                            }
                                          }
                                          if(modaration_status == "1"){
                                           // console.log('modaration enabled')
                                           if(session_type == 1){
                                             if(modarated_question == 1){
                                              question_data += "<div class='modarate_btn' data-unique_id='"+messageID+"' data-modarated_question='"+modarated_question+"' data-message_poster_role='"+message_poster_role+"'><span> Show </span><label class='switch'><input type='checkbox' checked><span class='slider round'></span></label></div>";
                                            }
                                            else{
                                              question_data += "<div class='modarate_btn' data-unique_id='"+messageID+"' data-modarated_question='"+modarated_question+"' data-message_poster_role='"+message_poster_role+"'><span> Show </span><label class='switch' ><input type='checkbox' class='check_mode' data-bind='stopBubble:parentAction'><span class='slider round'></span></label></div>";
                                            }
                                            }
                                          }
                                          if(session_type == 1){
                                            question_data += "<button class='reply_button' data-reply_unique_id='"+messages[i].id+"'><i class='fa fa-reply' aria-hidden='true'></i><span> Reply </span></button>";
                                            }
                                            question_data += "</div></div></div>";

                                            question_data += "<div class='Ans_container' id='Answer_con"+messages[i].id+"'><div class='cro'><a href='javascript:void(0)'><i class='fa fa-times' aria-hidden='true'></i></a>";
                                            
                                            question_data += "</div><div class='ques'><p class='whatis'> Q. "+messages[i].text+" </p></div>";

                                            if(reply != null){
                                              question_data += "<textarea class='answer_box' placeholder='Reply' id='answer_box"+messages[i].id+"'>"+reply+"</textarea>";
                                            }
                                            else{
                                              question_data += "<textarea class='answer_box' id='answer_box"+messages[i].id+"' placeholder='Reply' data-id='"+messages[i].id+"'></textarea>";
                                            }
                                            if(replyVisbility == '0'){
                                             // console.log('replyVisbility off hai');
                                                question_data += "<label><input type='checkbox' class='anspvt' checked value='0' id='anspvt"+messages[i].id+"' data-id='"+messages[i].id+"'> Answer Privately </label>";
                                            }
                                            else{
                                              //console.log('replyVisbility on hai');
                                              question_data += "<label><input type='checkbox' value='1' class='anspvt'  data-id='"+messages[i].id+"' id='anspvt"+messages[i].id+"'> Answer Privately</label>";
                                            }
                                            question_data += "<button class='answer_sub' data-reply_visibility='"+replyVisbility+"' data-message_poster_role='"+message_poster_role+"' id='answer_sub' data-reply_unique_id='"+messages[i].id+"'> Reply </button></div>";

                                     }// modarator if condition close
                                     else{
                                      //console.log('showing user view')
                                      if(modarated_question == 1){
                                        question_data += "<div class='question_container'><div class='user_name'><div class='user_pic'>";
                                        if( anamuous_status == 1 ){
                                          question_data += "<img src='"+messages[i].user.avatarUrl+"'></div><h4> "+messages[i].user.displayName+" </h4>";
                                          }
                                          else{
                                            question_data += "<img src='assets/avatar.png'></div><h4> user"+messages[i].user.id+" </h4>";
                                          }
                                          question_data += "<span>"+ post_time(messages[i].insertedAt) +"</span><p class='question_name'><i class='fab fa-quora'></i>. "+messages[i].text+" </p>";

                                          if(reply != ""){
                                             //console.log(messageID +","+ user_id);
                                            if(replyVisbility == '0' && userID == user_id){
                                             question_data += "<p class='answer_text'><i class='fab fa-adn'></i>- "+reply+" <i class='fas fa-user-lock private'></i> </p>";
                                            }
                                            else if(replyVisbility == '1'){
                                              question_data += "<p class='answer_text'><i class='fab fa-adn'></i>- "+reply+" </p>";
                                            }
                                           }
                                          else{
                                              question_data += "<p class='answer_text' style='display:none;'><i class='fab fa-replyd re'></i> "+ reply+" <i class='fas fa-user-lock private'></i></p>";
                                           }
                                           if(session_type == 1){
                                           question_data += "<div class='questions_likes' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'>";

                                          if(is_liked == true){
                                           question_data += "<span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i style='color:#2196F3' class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                           }
                                           else{
                                             question_data += "<span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                           }
                                           }
                                           question_data += "</div><div class='mode_button' style='display:none;'><div class='modarate_btn'><span> Modaratore </span><label class='switch'><input type='checkbox'><span class='slider round'></span></label></div></div></div></div>";
                                         } // show close
                                         else{
                                          //console.log('not showing this queston')
                                         }
                              } // user view close

                          } // type message text cose
                          } // message print close 

                       
                        $("#question_list").html(question_data);
                        $('#preloader').fadeOut('slow');
                        $('#participant_count').text(total_participants);
                        $('.text_end').css('display','block');
                      }
                      else{
                        //console.log("no messages found nothing buzzing");
                          question_data ="<div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>";
                          $("#question_list").html(question_data);
                          $('#preloader').fadeOut('fast');
                          $('.queston_list').css('background','#fff');
                          $('#mine_question_list').css('background','#fff');
                          $('.popular_list').css('background','#fff');
                          $('.text_end').css('display','none');
                          $('#participant_count').text(total_participants);
                      }
                      if(session_type == 1){
                        //console.log('ask aayega')
                        question_data = "<button class='askbutton button-glow'>Ask</button>";
                        $('.ask_quetion').html(question_data);
                      }
                      if(total_number_of_question == null ||  total_number_of_question == undefined ||total_number_of_question == 0){
                        $('.total_question').text('0 Questions');
                        }else{
                          $('.total_question').text(total_number_of_question+' Questions');
                        }


                        $('.reply_button').click(function(){
                            var reply_unique_id = $(this).data('reply_unique_id');
                            $('#live_overlay').fadeIn('fast');
                            $('#Answer_con'+reply_unique_id).fadeIn('fast');
                         });
                          $('.cro').click(function(){
                               $('#live_overlay').fadeOut('fast');
                              $('.Ans_container').fadeOut('fast');
                          });
                          
                
              
               
                   
                          $('.back_button').unbind().click(function(){
                            // var back_status = confirm('Are you sure to leave this session');
                            swal({
                                title: "Are you sure?",
                                text: "All progress will be deleted",
                                icon: "warning",
                                buttons: true,
                                dangerMode: true,
                                })
                            .then((willDelete) => {
                          if (willDelete) {
                            $('#live_section').html('');
                            $('.session_container').fadeIn('fast');
                            localStorage.removeItem('session_modarators');
                            localStorage.removeItem('session_name');
                            localStorage.removeItem('current_streamimg_data');
                            localStorage.removeItem('live_streaming_key');
                            localStorage.removeItem('live_poll_groupchannel_key');
                            localStorage.removeItem('Inside_session');
                            localStorage.removeItem('live_groupChannel_key');
                            localStorage.removeItem('madaration_status_live');
                            //localStorage.removeItem('session_type');
                             $('.session_tab').show();
                              /*groupChannel.leave(function(error){
                                if(error == null){
                                  //console.log("channel left successfully",groupChannel)
                                }
                              });*/
                            }
                            });
                          });

                          $(window).scroll(function () {
                              scrollTop = $(window).scrollTop();
                              $('.counter').html(scrollTop);
                              setInterval(function () {
                                if (scrollTop >= 50) {
                                  $('.top_bar').addClass('live_scrolled_nav');
                                  $('.tab2').addClass('live_scrolled-nav');
                                  $('.scrolled-nav').css('background-image', 'linear-gradient(93deg,' + company_data.company.status_bar_color + ',' + company_data.company.header_color + ')');

                                  } else if (scrollTop < 70) {
                                    $('.scrolled-nav').css('background-image', 'linear-gradient(93deg,#eee,#eee)');
                                    $('.top_bar').removeClass('live_scrolled_nav');
                                    $('.tab2').removeClass('live_scrolled-nav');
                                  }
                                }, 500);

                            });
                          $('.askbutton').click(function(){
                                $('.live_overlay').fadeIn('fast');
                                $('.ask_popup').fadeIn('fast');
                                $('.ask_popup').css({'top':'auto','bottom':'0'});
                                $('.text_question').focus();
                                if($(window).width() < 768){
                                  $('.live_overlay').css('background','transparent');
                                }
                                
                            });
                            $('.cross').click(function(){
                                $('.ask_popup').fadeOut('fast');
                                $('.live_overlay').fadeOut('fast');
                                $('.ask_popup').css({'top':'auto','bottom':'-400px'});
                                if($(window).width() < 768){
                                  $('.live_overlay').css('background','#fff');
                                }
                            });
                        $('.questions_likes').unbind().click(function(){
                           $('#preloader').fadeIn('fast');
                                    //console.log('like triggered');
                                    var unique_message_id = $(this).data('question_id');
                                    var update_groupChannel_key = localStorage.getItem('live_groupChannel_key');
                                    var update_company_data = JSON.parse(localStorage.getItem('activation'));
                                    var update_company_id = update_company_data.company.id;
                                    var update_user_data = JSON.parse(localStorage.getItem('employee_data'));
                                    var update_user_id = update_user_data.id;
                                    var update_message_type = 'text';
                                   // var question_show_hide = $(this).data('meta_show_hide');
                                    var question_poster_role = $(this).data('message_poster_role');
                                    var updated_meta = {"like_by":update_user_id.toString(),"message_poster_role":question_poster_role.toString()}
                                      data_type = {"message_id":unique_message_id.toString(),"group_channel_no":update_groupChannel_key,"company_id":update_company_id,"user_id":update_user_id.toString(),"message_type":update_message_type,"update_metadata":updated_meta}
                                      //console.log(data_type)
                                      $.ajax({
                                        crossDomain: true,
                                        url: localStorage.getItem("base_url") + 'like_live_question_and_moderator_update',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(data_type),
                                        ContentType: 'application/json',
                                        type: 'POST',
                                        dataType: 'json',
                                        cache: true,
                                        success: function (output) {
                                          if (output.status == 1000) {
                                            //console.log(output);
                                             $('#preloader').fadeOut('fast');
                                           // question_list();
                                            }
                                          else if(output.status == 1001){
                                            $('#preloader').fadeOut('fast');
                                             Swal.fire({
                                              text: output.message,
                                              icon: "warning",
                                            });
                                          }
                                          },
                                          error: function () {
                                            $('#preloader').fadeOut('fast');
                                             alert("Error in loading records. Please refresh the page and try again.");
                                          }
                                      });

                                  });


                          $('.modarate_btn').unbind().click(function(){
                            $('#preloader').fadeIn('fast');
                            if(toggler)
                            {
                             //console.log('modarator triggered');
                              var unique_message_id = $(this).data('unique_id');
                              var update_groupChannel_key = localStorage.getItem('live_groupChannel_key');
                              var update_company_data = JSON.parse(localStorage.getItem('activation'));
                              var update_company_id = update_company_data.company.id;
                              var update_user_data = JSON.parse(localStorage.getItem('employee_data'));
                              var update_user_id = update_user_data.id;
                              var update_message_type = 'text';
                              var visibility = $(this).data('modarated_question').toString();
                              var question_poster_role = $(this).data('message_poster_role');
                              var finalvisibility = visibility.toString();
                                switch(visibility)
                                {
                                  case '0' : finalvisibility = '1';
                                          break;
                                  case '1' : finalvisibility = '0';
                                           break;   
                                  default : console.log("not found anyting");
                                            break;              
                                }
                                var updatemetadata = {'is_show': finalvisibility,'message_poster_role':message_poster_role}

                                 data_type = {"message_id":unique_message_id.toString(),"group_channel_no":update_groupChannel_key,"company_id":update_company_id,"user_id":update_user_id.toString(),"message_type":update_message_type,"update_metadata":updatemetadata}
                                // console.log(data_type);

                                  $.ajax({
                                        crossDomain: true,
                                        url: localStorage.getItem("base_url") + 'like_live_question_and_moderator_update',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(data_type),
                                        ContentType: 'application/json',
                                        type: 'POST',
                                        dataType: 'json',
                                        cache: true,
                                        success: function (output) {
                                          if (output.status == 1000) {
                                            //console.log(output);
                                             $('#preloader').fadeOut('fast');
                                           // question_list();
                                            }
                                          else if(output.status == 1001){
                                            $('#preloader').fadeOut('fast');
                                            //alert(output.message);
                                            Swal.fire({
                                              text: (output.message),
                                              icon: "warning",
                                            });
                                          }
                                          },
                                          error: function () {
                                            $('#preloader').fadeOut('fast');
                                            alert("Error in loading records. Please refresh the page and try again.");
                                          }
                                      });

                              toggler = false;
     
                              }
                              else{

                                 toggler = true;

                              }

                          });

                          // REPLY SUBMIT

                          // $('.answer_box').click(function(){
                          //     //console.log('answer clicked');
                          // });

                          $(".anspvt").click(function(){
                            //alert("Ravi");
                            var id = $(this).data('id');
                            //alert(id);
                            var anspvt = $('#anspvt'+id).val();
                            //alert(moderator_status);
                            if(anspvt == 0){

                              $('#anspvt'+id).val('1');

                            }else{

                              $('#anspvt'+id).val('0');
                            }

                           });

                          $('.answer_sub').unbind().click(function(){
                            $('#preloader').fadeIn('fast');
                            var reply_unique = $(this).data('reply_unique_id');
                            var update_groupChannel_key = localStorage.getItem('live_groupChannel_key');
                            var update_company_data = JSON.parse(localStorage.getItem('activation'));
                            var update_company_id = update_company_data.company.id;
                            var update_user_data = JSON.parse(localStorage.getItem('employee_data'));
                            var update_user_id = update_user_data.id;
                            var update_message_type = 'text';
                            var messages_poster_role = $(this).data('message_poster_role');
                            var reply = $('#answer_box'+reply_unique).val();
                            var messages_visibility = $('#anspvt'+reply_unique).val();;
                            var update_meta = {'reply':reply,'replyVisible':messages_visibility.toString(),'message_poster_role':messages_poster_role.toString()} 
                            //console.log(update_meta);
                            data_type = {"message_id":reply_unique.toString(),"group_channel_no":update_groupChannel_key,"company_id":update_company_id,"user_id":update_user_id.toString(),"message_type":update_message_type,"update_metadata":update_meta}
                         //   console.log(data_type);

                                $.ajax({
                                        crossDomain: true,
                                        url: localStorage.getItem("base_url") + 'like_live_question_and_moderator_update',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(data_type),
                                        ContentType: 'application/json',
                                        type: 'POST',
                                        dataType: 'json',
                                        cache: true,
                                        success: function (output) {
                                          if (output.status == 1000) {
                                            //console.log(output);
                                            $('#live_overlay').fadeOut('fast');
                                            $('.Ans_container').fadeOut('fast');
                                            $('#preloader').fadeOut('fast');
                                            }
                                          else if(output.status == 1001){
                                            $('#preloader').fadeOut('fast');
                                           // alert(output.message);
                                            Swal.fire({
                                              text: (output.message),
                                              icon: "warning",
                                            });

                                          }
                                          },
                                          error: function () {
                                            $('#preloader').fadeOut('fast');
                                            alert("Error in loading records. Please refresh the page and try again.");
                                          }
                                      });

                              });
                              }
                            });

                          // ask btn 
                          //is_show 0/1 '1'is for visible all and '0' not visible for all
                          //replyVisible 0/1  '1' is for public and '0' is private
                           // no_name 0/1 '0' is for show name '1' is for nane not showing
                           $("#ask_submit").unbind().click(function(){
                            $('#preloader').fadeIn('fast');
                             var question = document.getElementById('text_question').value;
                             if(question == ""){
                              Swal.fire({
                                text: "Please enter question",
                                 icon: "warning",
                               });
                              // alert('Please enter question');
                              $('#preloader').fadeOut('fast');
                             }
                             else{
                             var modaration_status = localStorage.getItem("madaration_status_live");
                             var is_show = '1';
                             if(modaration_status == 1){
                              //console.log('modaration_status on');
                                is_show = '0';
                             }
                             var no_name_status = document.getElementById('no_name').value;
                             var user_data = JSON.parse(localStorage.getItem('user_data'));
                            // console.log(user_data);
                           var message_poster_role = user_data.user.user_role; 
                               var metadata_send = { 'is_show':is_show, 'reply':'','total_like':'0','replyVisible':'0', 'no_name':no_name_status,'message_poster_role':message_poster_role};
                                groupChannel.sendMessage(question, metadata_send, function(error, message){
                                if(error == null){
                                 //console.log("Message sent successfully", message)
                                  // question_list()
                                   $(".ask_popup").fadeOut('fast');
                                   $(".live_overlay").fadeOut('fast');
                                 }
                                });
                                }
                                $("#text_question").val('');
                               });
                             }
                              else
                              {
                                console.log("Error in connection",groupChannel);
                                console.log("Error in connection",error);
                              }
                           })
                           }
                          });
               
                            $('.popular_button').unbind().click(function(){
                                $('#preloader').fadeIn('fast');
                                $(".recent_button").removeClass('activ');
                                $(".mine_button").removeClass('activ');
                                $(this).addClass('activ');
                                $("#recent_questions").fadeOut('fast');
                                $("#mine_list").fadeOut('fast');
                                setTimeout(function(){
                                   popular_presantation_view();
                                   $("#popular_arrange").fadeIn('fast');
                                },100)
                              });

                              $('.mine_button').unbind().click(function(){
                                  $('#preloader').fadeIn('fast');
                                  $(".recent_button").removeClass('activ');
                                  $(".popular_button").removeClass('activ');
                                  $(this).addClass('activ');
                                  $("#recent_questions").fadeOut('fast');
                                  $("#popular_arrange").fadeOut('fast');
                                  $("#mine_list").fadeIn('fast');
                                  setTimeout(function(){
                                   mine_view(globale_message_list);
                                   },100)
                              });
                          $(".recent_button").click(function(){
                            $("#popular_arrange").fadeOut('fast');
                            $("#recent_questions").fadeIn('fast');
                            $("#mine_list").fadeOut('fast');
                            $(this).addClass('activ');
                            $(".popular_button").removeClass('activ');
                            $(".mine_button").removeClass('activ');
                         }); 

                }




var toggler = false;

function popular_presantation_view(){
  //console.log('popular_presantation_view');
  var popular_grp_channel_key = localStorage.getItem('live_groupChannel_key');

    if(popular_grp_channel_key != null){

      data_type = {"channel_id":popular_grp_channel_key}

      $.ajax({
      crossDomain: true,
      url: localStorage.getItem("base_url") + 'top_livesession_questions',
      contentType: 'application/json; charset=utf-8',
      data: JSON.stringify(data_type),
      ContentType: 'application/json',
      type: 'POST',
      dataType: 'json',
      cache: true,
      async: false,
      success: function (output) {
        if (output.status == 1000) {
         // console.log(output.message);
         //console.log('popular_presantation_view'+(output.data));
          popular_view_questions(output.data);
          $('#preloader').fadeOut('fast');

         }
        else if(output.status == 1001){
          $('#preloader').fadeOut('fast');
          console.log(output.message);
       }
        },
        error: function () {
          $('#preloader').fadeOut('fast');
          alert("Error in loading records. Please refresh the page and try again.");
        }
    });
    }
}




// var session_message_list = localStorage.getItem('buzz_live_questions');
function popular_view_questions(popular_view_data){
  //console.log(popular_view_data);
  //console.log('popular_view_questions aa gya');
var live_groupChannel = localStorage.getItem('live_groupChannel_key');

                       
                       // console.log("live_groupChannel_key",live_groupChannel);
                       
                          cc.GroupChannel.get(live_groupChannel, function(error, groupChannel){
                              if(error == null){

                              groupChannel.join(function(error) {
                              console.log(error);
                               if(!error){

                                  }// User join error condition end
                              });// User join function condition end

                                //console.log("Group Channel retrieved successfully", groupChannel)
                              // }
                              // else
                              // {
                              //   console.log("Error in connection",groupChannel);
                              //   console.log("Error in connection",error);
                              // }
                          let previousMessageListQuery = groupChannel.createPreviousMessageListQuery();
                          previousMessageListQuery.setLimit(50);
                          previousMessageListQuery.setReference(null);
                          previousMessageListQuery.setSortBy("UPDATED_AT");

                         previousMessageListQuery.load(function(previousMessageListQueryError, messages) {
                            if(!previousMessageListQueryError){
                              //console.log(messages);

                               var top_voted_questions = [];

                                  if(popular_view_data != null){

                                    for(i=0;i<popular_view_data.length;i++){

                                      for(j=0;j<messages.length;j++){


                                          if(popular_view_data[i].message_id == messages[j].id ){

                                            top_voted_questions.push(messages[j]);
                                            break;

                                          }

                                      }

                                    }

                                    //console.log(top_voted_questions);
                                    popular_questions(top_voted_questions);


                                }
                         } //previous message list
                       })//end of load
                     }//end of group channel if
                   })//end of cc ggroup channel get

 
}

//var presentatonView = '';
function popular_questions(top_voted_questions){
//console.log('popular_view_questions bn gya')
    var messages = top_voted_questions;
    var session_data = localStorage.getItem('Live_session_data');
    var user_data = JSON.parse(localStorage.getItem("user_data")); 
     //var Modarator_str = live_session_data[i].moderator;
    var Modarator_str = localStorage.getItem('session_modarators');
    var Modarator_arr = Modarator_str.split(","); 
    var user_id = user_data.user.id;
    //var message_poster_role = 
    var is_modarator = inArray(user_id, Modarator_arr)
    var modaration_status = localStorage.getItem('madaration_status_live')
    var question_data = "";
    var popular_list_length = messages.length;
    if(popular_list_length != null && popular_list_length != undefined && popular_list_length !=0 ){

                              for (var i = 0; i < messages.length; i++) {
                                 if(messages[i].type == "text"){
                                     var modarated_question = messages[i].metadata.is_show;
                                    var anamuous_status = messages[i].metadata.no_name;
                                    var reply = messages[i].metadata.reply;
                                    var replyVisbility = messages[i].metadata.replyVisible;
                                    var total_like = messages[i].metadata.total_like;
                                    var message_poster_role = messages[i].metadata.message_poster_role;
                                    var messageID = (messages[i].id).toString();
                                    var your_user_id =(messages[i].user.id).toString();
                                    var live_question_like;
                                    //console.log(session_type)
                                    var is_liked = false;
                                    try
                                    { 
                                    live_question_like= JSON.parse(messages[i].metadata.like_by);
                                    
                                     for (var q = 0; q < live_question_like.length; q++) {
                                        if (user_id == live_question_like[q].user_id) {
                                          is_liked = true;
                                          break;
                                        }
                                      }
                                    }catch(err)
                                    {
                                        console.log("no likes found");
                                    }
                                    
                                    //console.log(user_id)
                                   
                                     
                                      if(modarated_question == 1){
                                        question_data += "<div class='question_container'><div class='user_name' ><div class='user_pic'>";
                                        if( anamuous_status == 1 ){
                                          question_data += "<img src='"+messages[i].user.avatarUrl+"'></div><h4> "+messages[i].user.displayName+" </h4>";
                                          }
                                          else{
                                            question_data += "<img src='assets/avatar.png'></div><h4> user"+messages[i].user.id+" </h4>";
                                          }
                                          question_data += "<span>"+ post_time(messages[i].insertedAt) +"</span><p class='question_name'><i class='fab fa-quora'></i>. "+messages[i].text+" </p>";

                                          if(reply != ""){
                                            // console.log(messageID +","+ user_id);
                                            if(replyVisbility == '0' && your_user_id == user_id){
                                             question_data += "<p class='answer_text'><i class='fab fa-adn'></i>- "+reply+" <i class='fas fa-user-lock private'></i> </p>";
                                            }
                                            else if(replyVisbility == '1'){
                                              question_data += "<p class='answer_text'><i class='fab fa-adn'></i>- "+reply+" </p>";
                                            }
                                           }

                                          else{
                                              question_data += "<p class='answer_text' style='display:none;'> <i class='fab fa-replyd re'></i> "+ reply+" <i class='fas fa-user-lock private'></i></p>";
                                           }

                                         question_data +=  "<div class='current_topic' id='current_topic' style='color:#aaa'><i class='fas fa-lightbulb'></i></div>";

                                           if(session_type == 1){
                                              if(is_liked == true){
                                               question_data += "<div class='questions_likes' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'><span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i style='color:#2196F3' class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                               }
                                               else{
                                                 question_data += "<div class='questions_likes' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'><span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                               }
                                           }
                                           else{
                                              if(is_liked == true){
                                               question_data += "<div class='questions_likes' style='pointer-events:none' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'><span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i style='color:#2196F3' class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                               }
                                               else{
                                                 question_data += "<div class='questions_likes' style='pointer-events:none' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'><span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                               }
                                           }
                                           question_data += "</div><div class='mode_button' style='display:none;'><div class='modarate_btn'><span> Modaratore </span><label class='switch'><input type='checkbox'><span class='slider round'></span></label></div></div></div></div>";

                                           
                                         } // show close
                               } // type message text cose
                                }
                                  $("#popular_list").html(question_data);
                                  $("#presentation_list").html(question_data);
                                  $('#preloader').fadeOut('fast');
                                  $('.text_end').css('display','block');
                              }
              
                              else{
                                   $('#preloader').fadeOut('fast');
                                  question_data +="<div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>";
                                  $("#popular_list").html(question_data);
                                  $("#presentation_list").html(question_data);
                                  $('.text_end').css('display','none');
                                }


                          
                              $('.exit').unbind().click(function(){
                                 $('.present_container').fadeOut('fast');
                                  if (document.exitFullscreen) {
                                  document.exitFullscreen();
                                   } else if (document.mozCancelFullScreen) { //Firefox /
                                   document.mozCancelFullScreen();
                                  } else if (document.webkitExitFullscreen) { // Chrome, Safari and Opera /
                                     document.webkitExitFullscreen();
                                     } else if (document.msExitFullscreen) { // IE/Edge /
                                    document.msExitFullscreen();
                                }
                             });
                     
                               //presentatonView = question_data;

                                $('.questions_likes').unbind().click(function(){
                                    $('#preloader').fadeIn('fast');
                                    //console.log('like triggered');
                                    var unique_message_id = $(this).data('question_id');
                                    var update_groupChannel_key = localStorage.getItem('live_groupChannel_key');
                                    var update_company_data = JSON.parse(localStorage.getItem('activation'));
                                    var update_company_id = update_company_data.company.id;
                                    var update_user_data = JSON.parse(localStorage.getItem('employee_data'));
                                    var update_user_id = update_user_data.id;
                                    var update_message_type = 'text';
                                   // var question_show_hide = $(this).data('meta_show_hide');
                                    var question_poster_role = $(this).data('message_poster_role');
                                    var updated_meta = {"like_by":update_user_id.toString(),"message_poster_role":question_poster_role.toString()}
                                      data_type = {"message_id":unique_message_id.toString(),"group_channel_no":update_groupChannel_key,"company_id":update_company_id,"user_id":update_user_id.toString(),"message_type":update_message_type,"update_metadata":updated_meta}
                                     // console.log(data_type)
                                      $.ajax({
                                        crossDomain: true,
                                        url: localStorage.getItem("base_url") + 'like_live_question_and_moderator_update',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(data_type),
                                        ContentType: 'application/json',
                                        type: 'POST',
                                        dataType: 'json',
                                        cache: true,
                                        success: function (output) {
                                          if (output.status == 1000) {
                                            console.log(output);
                                           // question_list();
                                            }
                                          else if(output.status == 1001){
                                            //alert(output.message);
                                             Swal.fire({
                                              text: (output.message),
                                              icon: "warning",
                                            });
                                          }
                                          },
                                          error: function () {
                                            alert("Error in loading records. Please refresh the page and try again.");
                                          }
                                      });

                                  });

                                    } // message print close


                      
  
 
                            document.addEventListener('fullscreenchange', myFunction5); 
                            document.addEventListener('webkitfullscreenchange', myFunction5); 
                            document.addEventListener('mozfullscreenchange', myFunction5);  
                            document.addEventListener('MSFullscreenChange', myFunction5); 
                            function myFunction5() {  
                                if (!document.fullscreenElement && !document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement) {  
                                  var x = document.getElementById("present_container"); 
                                  if (x.style.display === "block") {  
                                    x.style.display = "none"; 
                                  } else {  
                                    x.style.display = "block";  
                                  }   
                                } 
                            }   
                                                        


var globale_message_list ;
function mine_view(messages){
    if(messages != null){

        //console.log(messages)
        var question_data = '';
        var user_data = JSON.parse(localStorage.getItem("user_data")); 
        var user_id = user_data.user.id;
                        if(messages.length != null && messages.length != undefined  && messages.length != 0){
                                for (var i = 0; i < messages.length; i++) {

                                 if(messages[i].type == "text" && messages[i].user.id == user_id){

                                     var modarated_question = messages[i].metadata.is_show;
                                    var anamuous_status = messages[i].metadata.no_name;
                                    var reply = (messages[i].metadata.reply).toString();
                                    var replyVisbility = messages[i].metadata.replyVisible;
                                    var total_like = messages[i].metadata.total_like;
                                    var message_poster_role = messages[i].metadata.message_poster_role;
                                    var messageID = (messages[i].id).toString();
                                    var live_question_like;
                                    var is_liked = false;
                                    //console.log(session_type)
                                    //console.log(reply +","+ replyVisbility)
                                    try
                                    { 
                                    live_question_like= JSON.parse(messages[i].metadata.like_by);
                                    
                                     for (var q = 0; q < live_question_like.length; q++) {
                                      if (user_id == live_question_like[q].user_id) {
                                        is_liked = true;
                                        break;
                                      }
                                      }
                                    }catch(err)
                                    {
                                       // console.log("no likes found");
                                    }
                                      //console.log('showing mine view')
                                     
                                        question_data += "<div class='question_container'><div class='user_name' ><div class='user_pic'>";
                                        if( anamuous_status == 1 ){
                                          question_data += "<img src='"+messages[i].user.avatarUrl+"'></div><h4> "+messages[i].user.displayName+" </h4>";
                                          }
                                          else{
                                            question_data += "<img src='assets/avatar.png'></div><h4> user"+messages[i].user.id+" </h4>";
                                          }
                                          question_data += "<span>"+ post_time(messages[i].insertedAt) +"</span><p class='question_name'><i class='fab fa-quora'></i>. "+messages[i].text+" </p>";

                                          if(reply != ""){
                                            //console.log('reply aayega')
                                            if(replyVisbility == '0'){
                                              // console.log('mera ans private')
                                             question_data += "<p class='answer_text'><i class='fab fa-adn'></i>- "+reply+" <i class='fas fa-user-lock private'></i> </p>";
                                            }
                                            else if(replyVisbility == '1'){
                                               //console.log('mera ans public')
                                              question_data += "<p class='answer_text'><i class='fab fa-adn'></i>- "+reply+" </p>";
                                            }
                                           }

                                          else{
                                           // console.log('reply ni aayega')
                                              question_data += "<p class='answer_text' style='display:none;'> <i class='fab fa-replyd re'></i> "+ reply+" <i class='fas fa-user-lock private'></i></p>";
                                           }
                                          if(session_type == 1){
                                            if(is_liked == true){
                                             question_data += "<div class='questions_likes' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'><span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i style='color:#2196F3' class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                             }
                                             else{
                                               question_data += "<div class='questions_likes' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'><span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                             }
                                            }
                                            else{
                                             if(is_liked == true){
                                             question_data += "<div class='questions_likes' style='pointer-events:none' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'><span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i style='color:#2196F3' class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                             }
                                             else{
                                               question_data += "<div class='questions_likes'  style='pointer-events:none' id='user_like"+messages[i].id+"' data-question_id='"+messages[i].id+"' data-meta_show_hide='"+messages[i].metadata.is_show+"' data-message_poster_role='"+messages[i].metadata.message_poster_role+"'><span class='questions_likes_counts'> "+messages[i].metadata.total_like+" </span><i class='fas fa-hand-point-up' aria-hidden='true'></i></div>";
                                             } 
                                            }
                                           question_data += "</div><div class='mode_button' style='display:none;'><div class='modarate_btn'><span> Modaratore </span><label class='switch'><input type='checkbox'><span class='slider round'></span></label></div></div></div></div>";
                                       

                          } // type message text cose
                          } // message print close 
                          $('#preloader').fadeOut('fast');
                          $('#mine_question_list').html(question_data);
                          $('.text_end').css('display','block');

                          }
                          else{
                            question_data ="<div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>";
                            $('#mine_question_list').html(question_data);
                            $('#preloader').fadeOut('fast');
                            $('.text_end').css('display','none');
                          }
                          $('.questions_likes').unbind().click(function(){
                                    //console.log('like triggered');
                                    var unique_message_id = $(this).data('question_id');
                                    var update_groupChannel_key = localStorage.getItem('live_groupChannel_key');
                                    var update_company_data = JSON.parse(localStorage.getItem('activation'));
                                    var update_company_id = update_company_data.company.id;
                                    var update_user_data = JSON.parse(localStorage.getItem('employee_data'));
                                    var update_user_id = update_user_data.id;
                                    var update_message_type = 'text';
                                   // var question_show_hide = $(this).data('meta_show_hide');
                                    var question_poster_role = $(this).data('message_poster_role');
                                    var updated_meta = {"like_by":update_user_id.toString(),"message_poster_role":question_poster_role.toString()}
                                      data_type = {"message_id":unique_message_id.toString(),"group_channel_no":update_groupChannel_key,"company_id":update_company_id,"user_id":update_user_id.toString(),"message_type":update_message_type,"update_metadata":updated_meta}
                                     // console.log(data_type)
                                      $.ajax({
                                        crossDomain: true,
                                        url: localStorage.getItem("base_url") + 'like_live_question_and_moderator_update',
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify(data_type),
                                        ContentType: 'application/json',
                                        type: 'POST',
                                        dataType: 'json',
                                        cache: true,
                                        success: function (output) {
                                          if (output.status == 1000) {
                                            console.log(output);
                                           // question_list();
                                            }
                                          else if(output.status == 1001){
                                            //alert(output.message);
                                            Swal.fire({
                                              text: (output.message),
                                              icon: "warning",
                                            });
                                          }
                                          },
                                          error: function () {
                                            alert("Error in loading records. Please refresh the page and try again.");
                                          }
                                      });

                                  });
    }
    else{
      console.log('mine view else')
    }
}



 function inArray(needle, haystack) {
    var length = haystack.length;
    for (var i = 0; i < length; i++) {
       if (haystack[i] == needle) return true;
    }
    return false;
  }
  $(".present_button").click(function(){
      //console.log('btn chalega');
      $('#onload_present').fadeIn();
          setTimeout(function(){
              //console.log('popular_presantation_view_set');
              var x = document.getElementById("present_container"); 
              if (x.style.display === "block") {  
                $('#present_container').fadeOut('fast');
              } else {  
                $('#present_container').fadeIn('fast');
              }
              if (x.requestFullscreen) {  
                x.requestFullscreen();  
              } else if (x.mozRequestFullScreen) { /* Firefox */  
                x.mozRequestFullScreen(); 
              } else if (x.webkitRequestFullscreen) { /* Chrome, Safari & Opera */  
                x.webkitRequestFullscreen();  
              } else if (x.msRequestFullscreen) { /* IE/Edge */ 
                x.msRequestFullscreen();  
              } 
                $('#onload_present').fadeOut();
              popular_presantation_view();
        },3000);
    });  

  $.get("includes/streaming_view.html", function (fileData) {
    $('#streaming_view').html(fileData);
  });
    
});
</script>
<script type="text/javascript">
      $('#questions_tab').unbind().click(function(){
        $('#poll_tab').removeClass('active');
        $('#live_poll').css('display','none');
         $(this).addClass('active');
         setTimeout(function(){
         $('#live_question').css('display','block');
        },100);
         $('#question_listner').css('visibility','hidden');
      });


      var click_count = 0
      $('#poll_tab').unbind().click(function(){
        if( click_count == 0){
            $('#live_question').css('display','none');
            $('#live_poll').css('display','block');
            $(this).addClass('active');
            setTimeout(function(){
              $.get("includes/live_polls.html", function (fileData) {
                $('#preloader').fadeIn('fast');
                $('#live_poll').html(fileData);
              });
            },100);
            $('#questions_tab').removeClass('active');
          click_count++
          console.log(click_count)
       }
       else{
          $('#live_question').css('display','none');
          $('#live_poll').css('display','block');
          $(this).addClass('active');
          $('#questions_tab').removeClass('active');
       }
       $('#poll_listner').css('visibility','hidden');
      });
</script>
<script>
</script>
