<div class="user_live_poll" id ="user_live_poll_question" >
      
      <!-- <div class="star_rating_poll" style="display: block">
          <p class="star_rating_question"><i class="fab fa-quora"></i><span> Who is you favourite actor?</span></p>
          <div class='star_container'>
            <div class="rating">
                <input id="rating5" type="radio" name="rating" value="5">
                <label for="rating5"></label>
                <input id="rating4" type="radio" name="rating" value="4">
                <label for="rating4"></label>
                <input id="rating3" type="radio" name="rating" value="3">
                <label for="rating3"></label>
                <input id="rating2" type="radio" name="rating" value="2">
                <label for="rating2"></label>
                <input id="rating1" type="radio" name="rating" value="1"><label for="rating1"></label>
            </div>
          </div>
          <div class="btn_grp">
              <p class="poll_anonymous"><input type="checkbox"><i class="fas fa-user-secret"></i> Anonymous</p>
              <input type="submit" value='Submit' class="multiple_choice_submit">
          </div>
        </div>
        <div class='star_rating_result' style="display: block">
          <p class="star_rating_question"><i class="fab fa-quora"></i><span> Who is you favourite actor?</span></p>
          <div class="star_result">
            <div class='result_ratings'>
              <div class="progress_vertical">
                <div class="progress-bar_vertical progress-bar-striped active" role="progressbar"
                  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height:30%">
                  30%
                </div>
              </div>
              <span> 1 </span>
            </div>
            <div class='result_ratings'>
              <div class="progress_vertical">
                <div class="progress-bar_vertical progress-bar-striped active" role="progressbar"
                  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height:40%">
                   40%
                </div>
              </div>
              <span> 2 </span>
            </div>
            <div class='result_ratings'>
              <div class="progress_vertical">
                <div class="progress-bar_vertical progress-bar-striped active" role="progressbar"
                  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height:50%">
                  50%
                </div>
              </div>
              <span> 3 </span>
            </div>
            <div class='result_ratings'>
              <div class="progress_vertical">
                <div class="progress-bar_vertical progress-bar-striped active" role="progressbar"
                  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height:60%">
                  60%
                </div>
              </div>
              <span> 4 </span>
            </div>
          </div>
        </div>-->
        <!-- <div class="word_cloud_poll" style="display: block;">
          <p class="word_cloud_question"><i class="fab fa-quora"></i><span> Who is you favourite actor?</span></p>
          <p class="word_cloud_answer"><i class="fab fa-adn"></i><textarea></textarea></p>
          <div class="word_cloud_response">
              <span class="word_cloud_res_button">Responses</span>
              <div id="word_cloud_response_result"> </div> 
              <p class="poll_anonymous"><input type="checkbox"><i class="fas fa-user-secret"></i> Anonymous</p>
              <div class="word_cloud_sub_button">
                <button class="multiple_choice_submit">Submit</button>
              </div>
          </div>
        </div> -->
        <!--<div class="open_text_poll" style="display: block;">
            <p class="open_text_question"><i class="fab fa-quora"></i><span> Who is you favourite actor?</span></p>
            <p class="open_text_answer"><i class="fab fa-adn"></i><textarea></textarea></p>
            <div class="open_text_response">
                <span class="open_text_res_button">Responses</span>
                <div class="open_text_data">
                  <ul>
                    <li> <i class="fa fa-circle" aria-hidden="true"></i> exitng</li>
                    <li> <i class="fa fa-circle" aria-hidden="true"></i> working</li>
                    <li> <i class="fa fa-circle" aria-hidden="true"></i> main</li>
                  </ul>
                </div>
            </div>
            <p class="poll_anonymous"><input type="checkbox"><i class="fas fa-user-secret"></i> Anonymous</p>
            <div class="open_text_sub_button">
              <button class="multiple_choice_submit">Submit</button>
            </div>
        </div>  -->
      </div>


<script type="text/javascript">
	function live_poll_question(message_list,user_id){
			console.log('poll_quesion for user submisssion')
			var company_info_data = JSON.parse(localStorage.getItem("activation"));
      var session_type = localStorage.getItem('session_type');
      console.log('session type in poll'+session_type)
			var company_data_id=company_info_data.company.id;
			var poll_question_list_data='';
			var our_poll_type='';
			var word_cloud_response_all=[];
			for(var q=0;q<message_list.length;q++){
				if(message_list[q].metadata.poll_running_status==1 || message_list[q].metadata.poll_running_status==2){
					var poll_config=JSON.parse(message_list[q].metadata.poll_config)

          switch(message_list[q].metadata.poll_type)
          {
           case "1" : /// multiple choice poll         
                var input_type='radio';
                if(poll_config.multiple_option_select_allowed==1){
                    input_type='checkbox';
                }
                var responses_by=JSON.parse(message_list[q].metadata.poll_response_by)
                var question_options=message_list[q].metadata.poll_options;
                question_options =question_options.split(",");
                if(!inArray(user_id, responses_by)){
                    poll_question_list_data +='<div class="multiple_choice_poll"><p class="multiple_choice_question"><i class="fab fa-quora"></i><span>'+message_list[q].text+'</span></p>';
                       for(var oi=0;oi<question_options.length;oi++){
                          poll_question_list_data +='<label class="radio_box"> '+question_options[oi]+'<input type='+input_type+' name="radio" value='+oi+'><span class="radio_checkmark"></span></label>';
                        } 
                        var anonymous_status=poll_config.submit_anonymous;
                        if(anonymous_status==1){
                          poll_question_list_data +='<div class="btn_grp"><p class="poll_anonymous"><input type="checkbox" name="anonymous_submit" value="1"><i class="fas fa-user-secret"></i> Anonymous</p>'
                        }
                        if(message_list[q].metadata.poll_running_status==1){
                          poll_question_list_data +='<input type="submit" value="Submit" data-submit_question_id='+message_list[q].id+' data-submit_question_poll_type='+message_list[q].metadata.poll_type+' data-anonymous_status='+anonymous_status+' data-message_type='+message_list[q].type+' data-channel_id='+message_list[q].channelId+' data-msg_owner_id='+message_list[q].user.id+' data-submited_by='+user_id+' data-input_type='+input_type+' data-company_id='+company_data_id+' class="multiple_choice_submit">';
                        }else{
                          poll_question_list_data+='<div style="margin-top: 40px;color: #f70f0f;font-weight: 500;text-align: center;font-size: 20px;"><i class="fas fa-ban"></i> Poll is Not started</div>'
                        }
                        poll_question_list_data +='</div></div>';
                      }//////check if you are already submit answer
              else{
                var user_all_response=JSON.parse(message_list[q].metadata.poll_response);
                if(poll_config.show_response=='1' || session_type == 2){
                  poll_question_list_data +='<div class="multiple_choice_result" style="display: block"><div class="total_answer"><span></span></div><p class="multiple_choice_question"><i class="fab fa-quora"></i><span>'+message_list[q].text+'</span></p>';
         
                  var count_answer=check_count(user_all_response,question_options);
                    console.log('check all response count')
                    console.log(count_answer)
                  for(var oi=0;oi<question_options.length;oi++){
                    var percent=0
                      if(count_answer[oi]!=0){
                        percent=((count_answer[oi]/responses_by.length))*100;
                        if(percent % 1 != 0){
                          percent=percent.toFixed(2);
                        }
                      }
                      poll_question_list_data +='<div class="result_option"><label> '+question_options[oi]+' </label><div class="progress"><div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:'+percent+'%">'+percent+'%</div></div></div>';
                  } 
                    poll_question_list_data +='</div>';
                }/////if conditon end if show response 1
                else{
                  if(session_type ==1){
                  poll_question_list_data +='<div class="multiple_choice_poll"><p class="multiple_choice_question"><i class="fab fa-quora"></i><span>'+message_list[q].text+'</span></p>';
                    var our_response=your_response(user_id,user_all_response);
                    console.log(our_response)
                    for(var oi=0;oi<question_options.length;oi++){
                      if(inArray(oi,our_response.split(","))){
                        poll_question_list_data +='<label class="radio_box"> '+question_options[oi]+'<input type='+input_type+' name="radio" value='+oi+' checked readonly><span class="radio_checkmark"></span></label>';
                      }else{
                        poll_question_list_data +='<label class="radio_box"> '+question_options[oi]+'<input type='+input_type+' name="radio" value='+oi+' readonly><span class="radio_checkmark"></span></label>';
                      }
                    } 
                      poll_question_list_data+='<div style="margin-top: 20px;color: #0eda0e;font-weight: 500;text-align: center;font-size: 22px;"><i class="fas fa-check-circle" style="    padding: 0;float: none;padding-top: 10px;display: contents;color: #0eda0e;"></i> Your response is submitted</div></div>'
                  }////////////else condition end for show response
                }
                }
               our_poll_type=message_list[q].metadata.poll_type;
              break;
              case "2" :

               console.log('word cloud poll')
              poll_question_list_data+='<div class="word_cloud_poll" style="display: block;"><p class="word_cloud_question"><i class="fab fa-quora"></i><span>'+message_list[q].text+'</span></p>';
              var responses_by=JSON.parse(message_list[q].metadata.poll_response_by)
              if(!inArray(user_id, responses_by) || poll_config.multiple_answer_allowed=='1'){
                   console.log('word cloud poll 2')
                   if(session_type == 1){
                 poll_question_list_data+="<p class='word_cloud_answer'><i class='fab fa-adn'></i><textarea placeholder='Type here' id='textareamessage' maxLength='20' value=''></textarea></p>";
               }
              }
              var anonymous_status=poll_config.submit_anonymous;
              if(anonymous_status==1 && ( !inArray(user_id, responses_by) ||poll_config.multiple_answer_allowed=='1' && session_type ==1)){
                 poll_question_list_data+='<p class="poll_anonymous"><input type="checkbox" name="anonymous_submit" value="1"><i class="fas fa-user-secret"></i> Anonymous</p>';
              }
              if(message_list[q].metadata.poll_running_status==1){
                if(!inArray(user_id, responses_by) || poll_config.multiple_answer_allowed=='1'){
                   poll_question_list_data+='<div class="word_cloud_sub_button"><button class="multiple_choice_submit" data-submit_question_id='+message_list[q].id+' data-submit_question_poll_type='+message_list[q].metadata.poll_type+' data-anonymous_status='+anonymous_status+' data-message_type='+message_list[q].type+' data-channel_id='+message_list[q].channelId+' data-msg_owner_id='+message_list[q].user.id+' data-submited_by='+user_id+' data-input_type='+input_type+' data-company_id='+company_data_id+' >Submit</button></div>'
                }else{
                   poll_question_list_data+='<div style="margin-top: 20px;color: #0eda0e;font-weight: 500;text-align: center;font-size: 22px;"><i class="fas fa-check-circle" style="    padding: 0;float: none;padding-top: 10px;display: contents;color: #0eda0e;"></i> Your response is submitted</div>'
                }
              }else{
                  if(session_type ==1){
                poll_question_list_data+='<div style="margin-top: 40px;color: #f70f0f;font-weight: 500;text-align: center;font-size: 20px;"><i class="fas fa-ban"></i> Poll is Not started</div>';
                }
              }

              poll_question_list_data+='<div class="word_cloud_response">';
              if(inArray(user_id, responses_by) && poll_config.show_response=='1'){
                poll_question_list_data+='<div id="demo"> </div>';
                word_cloud_response_all=JSON.parse(message_list[q].metadata.word_cloud_response);
                console.log(word_cloud_response_all)
              }else if(inArray(user_id, responses_by)){
                var user_all_response=JSON.parse(message_list[q].metadata.poll_response);
                var our_response=your_response(user_id,user_all_response);
                  poll_question_list_data+='<div id="demo1" class="your_answer">'+our_response+'</div>';
              }
                poll_question_list_data+='</div></div>';                 
                our_poll_type=message_list[q].metadata.poll_type;
                break;

              case "3" :

              poll_question_list_data+='<div class="open_text_poll" style="display: block;"><p class="open_text_question"><i class="fab fa-quora"></i><span>'+message_list[q].text+'</span></p>';

              var responses_by=JSON.parse(message_list[q].metadata.poll_response_by)

               if(!inArray(user_id, responses_by) || poll_config.multiple_answer_allowed=='1'){
                   console.log('open text  poll 3')
                   if(session_type == 1){
                 poll_question_list_data+="<p class='open_text_answer'><i class='fab fa-adn'></i><textarea placeholder='Type here' id='textareamessageopentext' value='' maxLength='100'></textarea></p>";
               }
              }

              var anonymous_status=poll_config.submit_anonymous;
              if(anonymous_status==1 && ( (!inArray(user_id, responses_by) || poll_config.multiple_answer_allowed=='1') && session_type ==1)){
                 poll_question_list_data+='<p class="poll_anonymous"><input type="checkbox" name="anonymous_submit" value="1"><i class="fas fa-user-secret"></i> Anonymous</p>';
              }

              if(message_list[q].metadata.poll_running_status==1 && session_type ==1){
                if(!inArray(user_id, responses_by) || poll_config.multiple_answer_allowed=='1'){
                   poll_question_list_data+='<div class="open_text_sub_button"><button class="multiple_choice_submit" data-submit_question_id='+message_list[q].id+' data-submit_question_poll_type='+message_list[q].metadata.poll_type+' data-anonymous_status='+anonymous_status+' data-message_type='+message_list[q].type+' data-channel_id='+message_list[q].channelId+' data-msg_owner_id='+message_list[q].user.id+' data-submited_by='+user_id+' data-input_type='+input_type+' data-company_id='+company_data_id+' >Submit</button></div><br>'
                }
                else if(inArray(user_id, responses_by)){
                   poll_question_list_data+='<div style="margin-top: 20px;color: #0eda0e;font-weight: 500;text-align: center;font-size: 22px;"><i class="fas fa-check-circle" style="    padding: 0;float: none;padding-top: 10px;display: contents;color: #0eda0e;"></i> Your response is submitted</div>'
                }
              }else{
                if(session_type ==1){
                poll_question_list_data+='<div style="margin-top: 40px;color: #f70f0f;font-weight: 500;text-align: center;font-size: 20px;"><i class="fas fa-ban"></i> Poll is Not started</div>';
                }
              }

              if(inArray(user_id, responses_by) || session_type==2){
                var user_all_response=JSON.parse(message_list[q].metadata.poll_response);
               

                 if(poll_config.show_response=='1' || session_type == 2){
                   poll_question_list_data+='<div class="open_text_response"><span class="open_text_res_button">Responses</span><div class="open_text_data"><ul>';
                  for(var rs=0;rs<user_all_response.length;rs++){
                  poll_question_list_data+='<li> <i class="fa fa-circle" aria-hidden="true"></i> '+user_all_response[rs].user_response+'</li>';
                }


                 }else{
                   poll_question_list_data+='<div class="open_text_response"><span class="open_text_res_button">Your Responses</span><div class="open_text_data"><br><ul>';
                    var our_response=your_all_response(user_id,user_all_response);
                    console.log(our_response)
                       for(var a=0;a<our_response.length;a++){
                           poll_question_list_data +="<li><i class='fa fa-circle' aria-hidden='true'></i> " +our_response[a]+"</li>";
                      }
                }
                 poll_question_list_data+='</ul></div></div>';
              }
             
              poll_question_list_data+='</div>';
              our_poll_type=message_list[q].metadata.poll_type;
                break;

              case "4" : //poll star rating

              poll_question_list_data+='<div class="star_rating_poll"><p class="star_rating_question"><i class="fab fa-quora"></i><span> '+message_list[q].text+'</span></p>';

              var total_options=[];
                for(var m=0;m<=message_list[q].metadata.poll_options;m++){
                  total_options[m]=m;
                }

               
               var responses_by=JSON.parse(message_list[q].metadata.poll_response_by)
              if(!inArray(user_id, responses_by)){

                   poll_question_list_data+='<div class="star_container"><div class="rating">';
                    var question_options=message_list[q].metadata.poll_options;

                   for(var oi=question_options;oi>0;oi--){
                     poll_question_list_data +='<input id="rating'+oi+'" type="radio" name="rating_answer" value='+oi+'><label for="rating'+oi+'"></label>';
                  }


                    poll_question_list_data+='</div></div>';
                    var anonymous_status=poll_config.submit_anonymous;
                   if(session_type == 1){

                  poll_question_list_data+='<div class="btn_grp">';

                  if(anonymous_status==1 && ( !inArray(user_id, responses_by) && session_type ==1)){

                     poll_question_list_data+='<p class="poll_anonymous"><input type="checkbox" name="anonymous_submit" value="1"><i class="fas fa-user-secret"></i> Anonymous</p>'
                  }
                  

                if(message_list[q].metadata.poll_running_status==1){
                  poll_question_list_data+='<input type="submit" data-submit_question_id='+message_list[q].id+' data-submit_question_poll_type='+message_list[q].metadata.poll_type+' data-anonymous_status='+anonymous_status+' data-message_type='+message_list[q].type+' data-channel_id='+message_list[q].channelId+' data-msg_owner_id='+message_list[q].user.id+' data-submited_by='+user_id+' data-input_type='+input_type+' data-company_id='+company_data_id+' value="Submit" class="multiple_choice_submit">';
                }else if(session_type ==1){

                poll_question_list_data+='<div style="margin-top: 40px;color: #f70f0f;font-weight: 500;text-align: center;font-size: 20px;"><i class="fas fa-ban"></i> Poll is Not started</div>';

                }


                poll_question_list_data+='</div>';
                  
              }

                 poll_question_list_data+='</div>';

              }else{

                var responses_by=JSON.parse(message_list[q].metadata.poll_response_by)
                var user_all_response=JSON.parse(message_list[q].metadata.poll_response);
                var question_options=message_list[q].metadata.poll_options;
                question_options =question_options.split(",");


                if(poll_config.show_response=='1' || session_type == 2){
         
                  var count_answer=check_count(user_all_response,total_options);

                  poll_question_list_data +='<div class="star_result">';
                  for(var oi=1;oi<=question_options[0];oi++){
                    var percent=0
                      if(count_answer[oi]!=0){
                        percent=((count_answer[oi]/responses_by.length))*100;
                        if(percent % 1 != 0){
                          percent=percent.toFixed(2);
                        }
                      }
                       poll_question_list_data +='<div class="result_ratings"><div class="progress_vertical"><div class="progress-bar_vertical progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="height:'+percent+'%"><a href=""> '+percent+'% </a></div></div><span><img src="assets/star-icon_on.png"> </span></div>';
                  } 
                    poll_question_list_data +='</div></div>';
                }/////if conditon end if show response 1
                else{
                  if(session_type ==1){

                    var our_response=your_response(user_id,user_all_response);
                     poll_question_list_data+='<div class="star_container"><div class="rating">';
                    for(var oi=question_options[0];oi>0;oi--){
                      if(inArray(oi,our_response.split(","))){
                         poll_question_list_data +='<input id="rating'+oi+'" type="radio" name="rating_answer" value='+oi+' checked style="pointer-event:none"><label for="rating'+oi+'"></label>';
                      }else{
                         poll_question_list_data +='<input id="rating'+oi+'" type="radio" name="rating_answer" value='+oi+'style="pointer-event:none"><label for="rating'+oi+'"></label>';
                      }
                    } 

                     poll_question_list_data+='</div></div>';
                      poll_question_list_data+='<div style="margin-top: 20px;color: #0eda0e;font-weight: 500;text-align: center;font-size: 22px;"><i class="fas fa-check-circle"  style="padding: 0;float: none;padding-top: 10px;display: contents;color: #0eda0e;"></i> Your response is submitted</div></div>'
                  }////////////else condition end for show response
                }

              }
               our_poll_type=message_list[q].metadata.poll_type;
               break;

                  }

            break;
						}///////////if conditon end if poll running status checked
				}///////////for loop for message list 
  
				if(poll_question_list_data == ''){
					console.log("no messages found nothing buzzing in the poll question seciton");
					poll_question_list_data +="<div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>";
					$('#preloader').fadeOut('fast');
					$('.queston_list').css('background','#fff');
					$('#mine_question_list').css('background','#fff');
					$('.popular_list').css('background','#fff');
				}
			$('#user_live_poll_question').html(poll_question_list_data);

      


			if(our_poll_type==2){
        var some_value=localStorage.getItem("already_value");
        console.log(some_value)
        if(some_value!=null && some_value!='' && some_value != 'undefined'){
          $('textarea#textareamessage').val(some_value);
        }
        else{
          $('textarea#textareamessage').val('');
        }
				console.log(word_cloud_response_all)
				if(word_cloud_response_all.length!=0){
					setTimeout(function(){
						console.log('after five second word clouse responses')
						var wordss = [
							{text: "Lorem", weight: 200003},
							{text: "Ipsum", weight: 10.5},
							{text: "Dolor", weight: 9.4},
							{text: "Sit", weight: 8},
							{text: "Amet", weight: 6.2},
							{text: "oneteam", weight: 50},
							{text: "Adipiscing", weight: 5}
						   ];
						var words = word_cloud_response_all;
							$('#demo').jQCloud(words);
              //$("#presentation_list").jQCloud(words);
              console.log('word clode')
					},1000);
				}
			}
			
      if(our_poll_type==3){
        var some_value=localStorage.getItem("already_value");
        console.log(some_value)
        if(some_value!=null && some_value!='' && some_value != 'undefined'){
          $('#textareamessageopentext').val(some_value);
        }
        else{
          $('#textareamessageopentext').val('');
        }
      }

$('.multiple_choice_submit').unbind().click(function(){

  var poll_type = $(this).data('submit_question_poll_type');
  var answer='';
  var youranswer=[];
  if(poll_type==1){
    var input_type=$(this).data('input_type');
   
    $("input:"+input_type+"[name=radio]:checked").each(function(){
    youranswer.push($(this).val());
    });
     answer=youranswer.join(",");
  }else if(poll_type==2){
    answer = $('textarea#textareamessage').val();
    $('textarea#textareamessage').val('').focus();
  }else if(poll_type==3){
       answer = $('textarea#textareamessageopentext').val();
                $('textarea#textareamessageopentext').val('').focus();
  }else if(poll_type==4){
    answer = $( "input[name=rating_answer]:checked" ).val();
  }

  // var values = $("input[name='radio[]']")
  //             .map(function(){return $(this).val();}).get();
  

  var message_id=$(this).data('submit_question_id');
  
  var anonymous_status=$(this).data('anonymous_status');
  var poll_owner_user_id=$(this).data('msg_owner_id');
  var submited_by=$(this).data('submited_by');
  var message_type=$(this).data('message_type');
  var group_channel_no=$(this).data('channel_id');
  var company_id=$(this).data('company_id');
 
  var anonymous='0';
  if(anonymous_status==1 && $("input:checkbox[name=anonymous_submit]:checked").val()!=undefined){
     anonymous=$("input:checkbox[name=anonymous_submit]:checked").val();
  }
if(answer!='' && answer!=undefined){
  var data_type = {"company_id":company_id.toString(),
                   "message_id":message_id.toString(),
                   "poll_type":poll_type.toString(),
                   "user_id":poll_owner_user_id.toString(),
                   "message_type":message_type,
                   "group_channel_no":group_channel_no,
                   "update_metadata":{"response_by":submited_by.toString(),
                                      "anonymous":anonymous,
                                      "answer":answer},
                  };

  console.log(data_type)
  ajax_send_poll_submission(data_type)
}else{


    if(poll_type==1){
      alert('Please select option');
    }else if(poll_type==2){
       alert('Please enter your answer');
    }else if(poll_type==3){
       alert('Please enter your answer');
    }else if(poll_type==4){
       alert('Select rating options');
    }

}






 });


}

   

function ajax_send_poll_submission(data_type){
$('#preloader').fadeIn('fast');

              $.ajax({
                      crossDomain: true,
                      url: localStorage.getItem("base_url") + 'poll_response_update',
                      contentType: 'application/json; charset=utf-8',
                      data: JSON.stringify(data_type),
                      ContentType: 'application/json',
                      type: 'POST',
                      dataType: 'json',
                      cache: true,
                      success: function (output) {
                      if (output.status == 1000) {
                          console.log(output.message);
                          //poll_channel_connect();
                          $('#preloader').fadeOut('fast');
                      }
                      else if(output.status == 1001){
                         $('#preloader').fadeOut('fast');
                          Swal.fire({
                          text: (output.message),
                          icon: "warning",
                        });
                      }
                      },
                      error: function () {
                        $('#preloader').fadeOut('fast');
                        alert("Error in loading records. Please refresh the page and try again.");
                        }
                      });
}


function check_count(response_by_option,question_options){
console.log('cal for check count funtion for anser count')
  var total_option=question_options.length;
  var response_count=[];
  var k = 'count'; 
  var start_count=0;
  for(var p=0;p<total_option;p++){
     //k + p=0;
     eval('var ' + k + p + '= ' + start_count + ';');  
      //window['value'+i] = + i;
    response_count[p]=0;
  }

  for(var i=0;i<response_by_option.length;i++){

user_answer=(response_by_option[i].user_response).split(",");


for(var j=0;j<user_answer.length;j++){
  switch(user_answer[j]){
                    case "0" :
                         count0++;
                         response_count[0]=count0;
                         break;

                    case "1" :
                         count1++;
                         response_count[1]=count1;
                          break;

                    case "2" :
                         count2++;
                         response_count[2]=count2;
                       break;

                    case "3" :
                        count3++;
                        response_count[3]=count3;
                       break;

                    case "4" :
                        count4++;
                        response_count[4]=count4;
                       break;
                    case "5" :
                        count5++;
                        response_count[5]=count5;
                         break;

                    case "6" :
                         count6++;
                         response_count[6]=count6;
                          break;

                    case "7" :
                         count7++;
                         response_count[7]=count7;  
                       break;

                      }
    }

  }

return response_count;

}

function your_response(user_id,poll_response){
  var length = poll_response.length;
    for (var i = 0; i < length; i++) {
       if (poll_response[i].user_id == user_id){
        return poll_response[i].user_response;
        break;
       } 
    }
    return '';
}
all_response = [];
function your_all_response(user_id,poll_response){
  var length = poll_response.length;
    for (var i = 0; i < length; i++) {
       if (poll_response[i].user_id == user_id){
         all_response.push(poll_response[i].user_response);
       }
    }
    return all_response;
}

</script>