
 <div class='poll_page'>
    <div class='poll_questions' id='live_poll_list'>
        <!-- poll list 
        <div class='live_poll_list'><div class='poll_type_container'><div class='question_response_data'><div class='word_cloud_icon'><i class='fab fa-cloudversify'></i></div><p class='poll_type_question'>Which is your favourite city?</p><p class='poll_type_response'>Responses: <span>4</span></p></div><div class='start_active_more'><a class='stop_poll_icon'><i class='fas fa-pause'></i></a><div class='active_poll'><a class='active_poll_icon'><i class='fas fa-stop-circle'></i></a><a class='deactive_poll_icon' style='display: none;'><i class='fas fa-play-circle'></i></a></div><a class='more_poll_icon'><i class='fas fa-ellipsis-v'></i></a><div class='more_option_screen' id='more_option_screen' style='display: none;'><a class='poll_edit'><i class='fas fa-pen poll_edit_icon'></i><span>Edit</span></a><br/><a class='poll_present'><i class='fas fa-tv poll_present_icon'></i><span>Present</span></a><br/><a class='poll_separate_result'><i class='fas fa-chart-pie poll_separate_result_icon'></i><span>Show Result</span></a></div></div></div>


        <div class="poll_type_container">
          <div class="question_response_data">
            <div class="option_icon">
              <i class="fas fa-list-ul"></i>
            </div>
            <p class="poll_type_question">Which is your favourite city</p>
            <p class="poll_type_response">Responses: <span>4</span></p>
          </div>
          <div class="start_active_more">
            <a class="stop_poll_icon"><i class="fas fa-pause "></i></a>
            <div class="active_poll">
                <a class="active_poll_icon"><i class="fas fa-stop-circle"></i></a>
                <a class="deactive_poll_icon" style="display: none;"><i class="fas fa-play-circle"></i></a>
            </div>
            <a class="more_poll_icon"><i class="fas fa-ellipsis-v"></i></a>
            <div class="more_option_screen" id="more_option_screen" style="display: none;">
              <a class="poll_edit"><i class="fas fa-pen poll_edit_icon"></i><span>Edit</span></a>
              <br/>
              <a class="poll_present"><i class="fas fa-tv poll_present_icon"></i><span>Present</span></a>
              <br/>
              <a class="poll_separate_result"><i class="fas fa-chart-pie poll_separate_result_icon"></i><span>Show Result</span></a>
            </div>
          </div>
        </div>
        <div class="poll_type_container">
          <div class="question_response_data">
            <div class="star_icon">
              <i class="far fa-star"></i>
            </div>
            <p class="poll_type_question">Which is your favourite city</p>
            <p class="poll_type_response">Responses: <span>4</span></p>
          </div>
          <div class="start_active_more">
            <a class="stop_poll_icon"><i class="fas fa-pause "></i></a>
            <div class="active_poll">
              <a class="active_poll_icon"><i class="fas fa-stop-circle"></i></a>
              <a class="deactive_poll_icon" style="display: none;"><i class="fas fa-play-circle"></i></a>
            </div>
            <a class="more_poll_icon"><i class="fas fa-ellipsis-v"></i></a>
            <div class="more_option_screen" id="more_option_screen" style="display: none;">
              <a class="poll_edit"><i class="fas fa-pen poll_edit_icon"></i><span>Edit</span></a>
              <br/>
              <a class="poll_present"><i class="fas fa-tv poll_present_icon"></i><span>Present</span></a>
              <br/>
              <a class="poll_separate_result"><i class="fas fa-chart-pie poll_separate_result_icon"></i><span>Show Result</span></a>
            </div>
          </div>
        </div>
        <div class="poll_type_container">
          <div class="question_response_data">
            <div class="open_text_icon">
              <i class="far fa-comment-alt"></i>
            </div>
            <p class="poll_type_question">Which is your favourite city</p>
            <p class="poll_type_response">Responses: <span>4</span></p>
          </div>
          <div class="start_active_more">
            <a class="stop_poll_icon"><i class="fas fa-pause "></i></a>
            <div class="active_poll">
              <a class="active_poll_icon"><i class="fas fa-stop-circle"></i></a>
              <a class="deactive_poll_icon" style="display: none;"><i class="fas fa-play-circle"></i></a>
            </div>
            <a class="more_poll_icon"><i class="fas fa-ellipsis-v"></i></a>
            <div class="more_option_screen" id="more_option_screen" style="display: none;">
              <a class="poll_edit"><i class="fas fa-pen poll_edit_icon"></i><span>Edit</span></a>
              <br/>
              <a class="poll_present"><i class="fas fa-tv poll_present_icon"></i><span>Present</span></a>
              <br/>
              <a class="poll_separate_result"><i class="fas fa-chart-pie poll_separate_result_icon"></i><span>Show Result</span></a>
            </div>
          </div>
        </div>---->
    </div>  
    <div id='poll_options_includes'></div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
             localStorage.setItem('already_value','');
        var cc = new ChatCamp({
            appId: localStorage.getItem('appid')
          })

        var live_poll_groupchannel = localStorage.getItem('live_poll_groupchannel_key');
        
       let channelListener_poll = new cc.ChannelListener();

       channelListener_poll.onChannelUpdated = function(groupChannel) {
          console.log("onChannelUpdated.............");
          if(groupChannel.id==live_poll_groupchannel){
               console.log("if poll list update");
               poll_channel_connect();
                console.log('poll_channel  Update')
                if($('#questions_tab').hasClass('active')){
                   console.log('poll_channel  Update 2')
                  $('#poll_listner').css('visibility','visible');
                }
          }
        }

        channelListener_poll.onMessageUpdated = function (groupChannel, message) {
          console.log("live poll onMessageUpdated"+groupChannel.id+" ,live is:"+live_poll_groupchannel);
           if(groupChannel.id==live_poll_groupchannel){
            var current_user_id_listener = localStorage.getItem('user_id').toString();
            var responses_by_listener=JSON.parse(message.metadata.poll_response_by);
            console.log(responses_by_listener);
            console.log("responses_by_listener");
            var Modarator_str = localStorage.getItem('session_modarators');
            var Modarator_arr = Modarator_str.split(","); 
             var is_modarator = inArray(current_user_id_listener, Modarator_arr);
             console.log(inArray(current_user_id_listener, responses_by_listener));
             console.log(is_modarator);
             if(inArray(current_user_id_listener, responses_by_listener) || is_modarator==true ){
              var poll_type_listtioner = message.metadata.poll_type; 
              console.log(poll_type_listtioner)
                   if(poll_type_listtioner==2){
                    console.log('poll type 2 listioner come')
                      localStorage.setItem('already_value',$('#textareamessage').val());
                      
                   }else if(poll_type_listtioner==3){
                    console.log('poll type 3 listioner come')
                     localStorage.setItem('already_value',$('#textareamessageopentext').val());
                   }
                    poll_channel_connect();
                    console.log('messages Update')
                    if($('#questions_tab').hasClass('active')){
                      console.log('messages Update 2')
                        $('#poll_listner').css('visibility','visible');
                    }
                   
                }
              }
         }

        

         cc.addChannelListener("live_polls", channelListener_poll);



        function poll_channel_connect(){
          var poll_view = "";
          var live_poll_groupchannel = localStorage.getItem('live_poll_groupchannel_key');
          console.log('live_poll_groupchannel_key'+live_poll_groupchannel);

             if(live_poll_groupchannel != null){
                  var cc = new ChatCamp({
                  appId: localStorage.getItem('appid')
              });
              var current_user_id = localStorage.getItem('user_id').toString();
                cc.connect(current_user_id, function(error, user) {
                  //console.log("user connect successfully")
                  if(error === null){
                  //console.log("Connected to ChatCamp")
                  //console.log("live_poll_groupchannel_key",live_poll_groupchannel);
                    cc.GroupChannel.get(live_poll_groupchannel, function(error, groupChannel){
                    if(error == null){
                       console.log("poll Group Channel retrieved successfully", groupChannel)
                        let previousMessageListQuery = groupChannel.createPreviousMessageListQuery();
                        previousMessageListQuery.setLimit(50);
                        previousMessageListQuery.setReference(null);
                        previousMessageListQuery.setSortBy("INSERTED_AT");
                        previousMessageListQuery.load(function(previousMessageListQueryError, messages) {
                        if(!previousMessageListQueryError){
                          console.log('inside poll list')
                        console.log(messages);
                        manage_poll_view(messages);

                      }
                    });
                    }
                    else{
                        console.log("Error in connection",groupChannel);
                        console.log("Error in connection",error);
                        poll_view = "<div class='not_buzz'><img class='empty' src='assets/empty_state.png'><p>Nothing Buzzing yet...</p></div>";
                          $('#live_poll_list').html(poll_view);
                          $('#preloader').fadeOut('fast');
                    }
                                  
                });
              }
              }); 
            }
        }

        function manage_poll_view(messages){

          console.log(messages)
          var user_data = JSON.parse(localStorage.getItem("user_data")); 
          var Modarator_str = localStorage.getItem('session_modarators');
          var Modarator_arr = Modarator_str.split(","); 
          var user_id = user_data.user.id;
          var is_modarator = inArray(user_id, Modarator_arr);
          var modarator_view = "";
          var session_type = localStorage.getItem('session_type')
          //console.log(session_type)
           // console.log('modarator view')
          var poll_question_length = messages.length;
          if( poll_question_length != null && poll_question_length != undefined && poll_question_length != 0){
                //console.log('modarator view polls list') 
                //console.log(poll_question_list)
              if( is_modarator == true || session_type==2){  // modarator view
                for(var i=0; i<poll_question_length; i++){
                  //console.log('modarator view polls list view in loop')
                  //poll_response_by
                  //console.log(messages[i])
                  var responses = JSON.parse(messages[i].metadata.poll_response_by);
                  //console.log(responses)
                  var poll_config_arr = JSON.parse(messages[i].metadata.poll_config);
                  var submit_annanymous = poll_config_arr.submit_anonymous;
                  var show_response = poll_config_arr.show_response;
                  var multiple_options_selection_allowed = poll_config_arr.multiple_option_select_allowed;
                  var multiple_answer_allowed = poll_config_arr.multiple_answer_allowed;
                  var answer_validation = poll_config_arr.answer_validation;
                  var correct_answer = poll_config_arr.correct_answer;
                  var poll_options_str = messages[i].metadata.poll_options;
                  var poll_options_arr = poll_options_str.split(","); 
                  //console.log(poll_options_str)
                  //console.log(poll_options_arr)
                  //console.log(session_type)
                  //console.log(submit_annanymous+","+show_response+","+multiple_options_selection_allowed+","+multiple_answer_allowed)
                   modarator_view += "<div class='poll_type_container'><div class='question_response_data'>";
                    switch(messages[i].metadata.poll_type)
                    {
                        case "1" :
                            modarator_view += "<div class='option_icon'><i class='fas fa-list-ul'></i></div>";
                            break;

                        case "2" :
                            modarator_view += "<div class='word_cloud_icon'><i class='fab fa-slack'></i></div>";
                            break;
                        case "3" :
                            modarator_view += "<div class='open_text_icon'><i class='far fa-comment-alt'></i></div>";
                            break;

                        case "4" :
                            modarator_view += "<div class='star_icon'><i class='far fa-star'></i></div>";
                            break;

                    }
                    modarator_view += "<p class='poll_type_question'>"+messages[i].text+"</p>";

                    if(responses.length!=0){
                        modarator_view += "<p class='poll_type_response'>Responses: <span> "+responses.length+" </span></p>";
                      }
                    else{
                        modarator_view += "<p class='poll_type_response'>Responses: <span> 0 </span></p>";
                    }

                    modarator_view += "</div><div class='start_active_more'>";

                    //console.log('pass1 session')
                    if(session_type == 1){
                    switch(messages[i].metadata.poll_running_status)
                    {
                        case "0" :
                            modarator_view += "<a class='stop_poll_icon change_poll_status' data-id='"+i+"' data-poll_groupChannel='"+messages[i].channelId+"' data-poll_type='"+messages[i].metadata.poll_type+"' data-poll_id='"+messages[i].id+"'><i class='fas fa-pause'></i></a><div class='active_poll'><a class='active_poll_icon change_poll_status' data-id='"+i+"' data-poll_groupChannel='"+messages[i].channelId+"' data-poll_type='"+messages[i].metadata.poll_type+"' data-poll_id='"+messages[i].id+"'><i class='fas fa-play-circle'></i><a class='deactive_poll_icon change_poll_status' style='display: none;' data-id='"+i+"' data-poll_groupChannel='"+messages[i].channelId+"' data-poll_type='"+messages[i].metadata.poll_type+"' data-poll_id='"+messages[i].id+"'><i class='fas fa-stop-circle'></i></a><input type='hidden' id='poll_play_pause"+i+"' value='0'></div>";
                            break;

                        case "1" :
                            modarator_view += "<a class='stop_poll_icon change_poll_status' data-id='"+i+"'  data-poll_groupChannel='"+messages[i].channelId+"' data-poll_type='"+messages[i].metadata.poll_type+"' data-poll_id='"+messages[i].id+"'><i class='fas fa-pause'></i></a><div class='active_poll'><a class='active_poll_icon change_poll_status' style='display:none;' data-id='"+i+"' data-poll_groupChannel='"+messages[i].channelId+"' data-poll_type='"+messages[i].metadata.poll_type+"' data-poll_id='"+messages[i].id+"'><i class='fas fa-play-circle'></i></a><a class='deactive_poll_icon change_poll_status' data-id='"+i+"' data-poll_groupChannel='"+messages[i].channelId+"' data-poll_type='"+messages[i].metadata.poll_type+"' data-poll_id='"+messages[i].id+"'><i class='fas fa-stop-circle'></i><input type='hidden' id='poll_play_pause"+i+"' value='1'></div>";
                            break;

                        case "2" :
                            modarator_view += "<a class='stop_poll_icon poll_status change_poll_status' style='display: none;' data-id='"+i+"' data-poll_groupChannel='"+messages[i].channelId+"' data-poll_type='"+messages[i].metadata.poll_type+"' data-poll_id='"+messages[i].id+"'><i class='fas fa-pause'></i></a><div class='active_poll'><a class='active_poll_icon change_poll_status'  data-id='"+i+"' data-poll_groupChannel='"+messages[i].channelId+"' data-poll_type='"+messages[i].metadata.poll_type+"' data-poll_id='"+messages[i].id+"'><i class='fas fa-play-circle'></i></i></a><a class='deactive_poll_icon change_poll_status' data-id='"+i+"' data-poll_groupChannel='"+messages[i].channelId+"' data-poll_type='"+messages[i].metadata.poll_type+"' data-poll_id='"+messages[i].id+"'><i class='fas fa-stop-circle'></i></a><input type='hidden' id='poll_play_pause"+i+"' value='2'></div>";
                            break;
                    }
                        modarator_view += "<a class='more_poll_icon'><i class='fas fa-ellipsis-v'></i></a><div class='more_option_screen' id='more_option_screen' style='display: none;'>";
                       
                          modarator_view += " <a class='poll_edit' data-unique_click='"+i+"'><i class='fas fa-pen poll_edit_icon'></i><span>Edit</span></a>";
                          // <a class='poll_present'><i class='fas fa-tv poll_present_icon'></i><span>Present</span></a>";
                    }
                     //modarator_view += "<a class='poll_separate_result'  data-message='"+JSON.stringify(messages[i])+"'><i class='fas fa-chart-pie poll_separate_result_icon'></i><span>Show Result</span></a>";

                     modarator_view += "</div></div><div class='poll_edit_screen' id='poll_edit_screen"+i+"'>";

                    switch(messages[i].metadata.poll_type){
                      case "1" : /// multipal choice poll
                          modarator_view += "<div class='multiple_choice_option'><i class='fab fa-quora qsize'></i><p class='edit_question_holder_con'><textarea class='edit_question_holder' id='edit_question_holder"+i+"' placeholder='Enter you question...'>"+messages[i].text+"</textarea></p><p>Add options</p><div class='options options"+messages[i].id+"'>";
                          for(var j=0;j<poll_options_arr.length;j++){
                            modarator_view += "<p class='option_container option_container"+messages[i].id+"'><i class='far fa-check-circle'></i><input type='text' name='options"+messages[i].id+"[]' class='options_text' placeholder='Option' value='"+poll_options_arr[j]+"'><i class='fas fa-trash exit_trash'></i></p>";
                            //console.log(j)
                          }
                          modarator_view += "</div><p class='add_more' id='add_more' data-add_more_id=add_more"+messages[i].id+"   data-message_id='"+messages[i].id+"'><i class='fa fa-plus-circle' aria-hidden='true'></i> Add more</p><br>";

                         switch(submit_annanymous){
                            case "1" :
                            console.log('submit_annanymous1')
                            modarator_view += "<label><input type='checkbox' name='submit_anonymous"+i+"' class='submit_annanymous' value='1' checked><i class='fas fa-user-secret'></i> Submit Anonymous </label><br>";
                               break;
                            case "0" :
                            console.log('submit_annanymous2')
                            modarator_view += "<label><input type='checkbox' class='submit_annanymous' name='submit_anonymous"+i+"' value='0'><i class='fas fa-user-secret'></i> Submit Anonymous </label><br>";
                              break;
                          }
                          switch(multiple_options_selection_allowed){
                            case "1" :
                                modarator_view += "<label><input type='checkbox' name='select_multiple_option"+i+"' value='1' class='select_multiple_option' checked><i class='fas fa-window-restore'></i> Select Multiple Option </label>";
                               break;
                            case "0" :
                                modarator_view += "<label><input type='checkbox' name='select_multiple_option"+i+"' value='0'  class='select_multiple_option' ><i class='fas fa-window-restore'></i> Select Multiple Option </label>";
                              break;
                          }
                          switch(show_response){
                            case "1" :
                                modarator_view += "<label><input type='checkbox' name='show_responses"+i+"'  class='show_responses' value='1' checked><i class='fas fa-window-restore'></i> Show Responses </label>";
                               break;
                            case "0" :
                                modarator_view += "<label><input type='checkbox' value='0' class='show_responses' name='show_responses"+i+"'><i class='fas fa-window-restore'></i> Show Responses </label>";
                              break;
                          }

                          modarator_view += " <div class='exit_save'><button class='poll_edit_cancel'>Cancel</button><button class='poll_edit_save'   data-unique_poll='"+i+"' data-poll_id='"+messages[i].id+"' data-poll_groupChannel='"+messages[i].channelId+"' data-poll_type='"+messages[i].metadata.poll_type+"' data-answer_validation='"+answer_validation+"' data-correct_answer='"+correct_answer+"'>Save</button></div></div></div></div>";
                        break;

                        case "2" : /// word cloud poll
                          modarator_view += "<div class='word_cloud'><i class='fab fa-quora qsize'></i><p class='edit_question_holder_con'><textarea class='edit_question_holder' id='edit_question_holder"+i+"' placeholder='Enter you question...' >"+messages[i].text+"</textarea></p><br>";

                          switch(submit_annanymous){
                            case "1" :
                            modarator_view += "<label><input type='checkbox' class='submit_annanymous' name='submit_anonymous"+i+"' value='1' checked><i class='fas fa-user-secret'></i> Submit Anonymous </label><br>";
                               break;
                            case "0" :
                            modarator_view += "<label><input type='checkbox' value='0' class='submit_annanymous' name='submit_anonymous"+i+"'><i class='fas fa-user-secret'></i> Submit Anonymous </label><br>";
                              break;
                          }
                          switch(multiple_answer_allowed){
                            case "1" :
                                modarator_view += "<label><input type='checkbox' class='submit_multipale_answer' value='1' name='multiple_answer"+i+"' checked><i class='fas fa-window-restore'></i> Multiple Answer </label>";
                               break;
                            case "0" :
                                modarator_view += "<label><input type='checkbox' class='submit_multipale_answer' value='0' name='multiple_answer"+i+"' ><i class='fas fa-window-restore'></i> Multiple Answer </label>";
                              break;
                          }
                          switch(show_response){
                            case "1" :
                                modarator_view += "<label><input type='checkbox' name='show_responses"+i+"' class='show_responses' value='1' checked><i class='fas fa-window-restore'></i> Show Responses </label>";
                               break;
                            case "0" :
                                modarator_view += "<label><input type='checkbox' value='0' class='show_responses' name='show_responses"+i+"'><i class='fas fa-window-restore'></i> Show Responses </label>";
                              break;
                          }

                          modarator_view +="</div><div class='exit_save'><button class='poll_edit_cancel'>Cancel</button><button class='poll_edit_save' data-unique_poll='"+i+"' data-poll_id='"+messages[i].id+"' data-poll_groupChannel='"+messages[i].channelId+"' data-poll_type='"+messages[i].metadata.poll_type+"'>Save</button></div></div></div></div>";
                       break;

                      case "3" : /// open text poll
                           modarator_view += "<div class='open_text'><i class='fab fa-quora qsize'></i><p class='edit_question_holder_con'><textarea class='edit_question_holder' placeholder='Enter you question...' id='edit_question_holder"+i+"'>"+messages[i].text+"</textarea></p><br>";

                           switch(submit_annanymous){
                            case "1" :
                              modarator_view += "<label><input type='checkbox' name='submit_anonymous"+i+"' class='submit_annanymous' value='1' checked><i class='fas fa-user-secret'></i> Submit Anonymous </label><br>";
                                 break;
                            case "0" :
                              modarator_view += "<label><input type='checkbox' class='submit_annanymous' name='submit_anonymous"+i+"' value='0'><i class='fas fa-user-secret'></i> Submit Anonymous </label><br>";
                                break;
                            }
                          switch(multiple_answer_allowed){
                            case "1" :
                                modarator_view += "<label><input type='checkbox' class='submit_multipale_answer' value='1' name='multiple_answer"+i+"' checked><i class='fas fa-window-restore'></i> Multiple Answer </label>";
                               break;
                            case "0" :
                                modarator_view += "<label><input type='checkbox' class='submit_multipale_answer' value='0' name='multiple_answer"+i+"' ><i class='fas fa-window-restore'></i> Multiple Answer </label>";
                              break;
                          }
                          switch(show_response){
                            case "1" :
                                modarator_view += "<label><input type='checkbox' class='show_responses' value='1' name='show_responses"+i+"' checked><i class='fas fa-window-restore'></i> Show Responses </label>";
                               break;
                            case "0" :
                                modarator_view += "<label><input type='checkbox' value='0' class='show_responses' name='show_responses"+i+"'><i class='fas fa-window-restore'></i> Show Responses </label>";
                              break;
                          }
                           modarator_view += "<div class='exit_save'><button class='poll_edit_cancel'>Cancel</button><button class='poll_edit_save'     data-unique_poll='"+i+"' data-poll_groupChannel='"+messages[i].channelId+"' data-poll_id='"+messages[i].id+"' data-poll_type='"+messages[i].metadata.poll_type+"'>Save</button></div></div></div></div>";
                       break;

                      case "4" : /// star rating poll
                          modarator_view += "<div class='rating_options'><i class='fab fa-quora qsize'></i><p class='edit_question_holder_con'><textarea class='edit_question_holder' placeholder='Enter you question...' id='edit_question_holder"+i+"'>"+messages[i].text+"</textarea></p><p>Choose number of stars</p><div class='rating'>"
                         

                          for(var oi=5;oi>0;oi--){

                              if(oi!=messages[i].metadata.poll_options){
                                    modarator_view +='<input id="rating'+oi+messages[i].id+'" type="radio" name="rating'+messages[i].id+'" value='+oi+'><label for="rating'+oi+messages[i].id+'"></label>';
                              }else{
                                    modarator_view +='<input id="rating'+oi+messages[i].id+'" type="radio" name="rating'+messages[i].id+'" value='+oi+' checked><label for="rating'+oi+messages[i].id+'"></label>';
                              }
                       
                         }

                          modarator_view += '</div><br>';

                           switch(submit_annanymous){
                            case "1" :
                              modarator_view += "<label><input type='checkbox' class='submit_annanymous' name='submit_anonymous"+i+"' value='1' checked><i class='fas fa-user-secret'></i> Submit Anonymous </label><br>";
                                 break;
                            case "0" :
                              modarator_view += "<label><input type='checkbox' class='submit_annanymous' value='0' name='submit_anonymous"+i+"'><i class='fas fa-user-secret'></i> Submit Anonymous </label><br>";
                                break;
                            }
                          switch(show_response){
                            case "1" :
                                modarator_view += "<label><input type='checkbox' class='show_responses' name='show_responses"+i+"' value='1' checked><i class='fas fa-window-restore'></i> Show Responses </label>";
                               break;
                            case "0" :
                                modarator_view += "<label><input type='checkbox' class='show_responses' value='0' name='show_responses"+i+"'><i class='fas fa-window-restore'></i> Show Responses </label>";
                              break;
                          }
                          modarator_view += "<div class='exit_save'><button class='poll_edit_cancel'>Cancel</button><button class='poll_edit_save'  data-unique_poll='"+i+"' data-poll_groupChannel='"+messages[i].channelId+"' data-poll_id='"+messages[i].id+"' data-poll_type='"+messages[i].metadata.poll_type+"'>Save</button></div></div></div></div>";
                      
                       break;
              
                      }
                  }/// for loop close
                  $('.option_container:first-child .exit_trash').css('display','none');
                  $('#live_poll_list').html(modarator_view);
                  $('#preloader').fadeOut('fast');

                  
                  $('.more_poll_icon').click(function(){
                    //var unique_click = $(this).data('unique_click');
                    $(this).next('.more_option_screen').fadeToggle('fast');
                  });
                  $('.poll_edit').click(function(){
                    var unique_edit = $(this).data('unique_click');
                    //console.log(unique_edit);
                    $('.live_overlay').fadeIn('fast');
                    $('#poll_edit_screen'+unique_edit).fadeIn('fast');
                    $('.more_option_screen').hide();
                    $('.edit_question_holder').focus();
                  });
                  $('.poll_edit_cancel').click(function(){
                      $('.live_overlay').fadeOut('fast');
                      $('.poll_edit_screen').fadeOut('fast');
                  });

                $('.add_more').unbind().click(function(){
                  console.log('add clicked')
                  var message_id_msg =$(this).data('add_more_id');
                  var message_id =$(this).data('message_id');
                  console.log(message_id_msg)
                  console.log(message_id)
                    var elmnt = document.querySelector(".option_container"+message_id+"");
                    console.log(elmnt)
                    var cln = elmnt.cloneNode(true);
                    //elmnt = $('.options').html();
                    $(".options"+message_id+"").append(cln);
                    $(".option_container"+message_id+":last-child .options_text").val('');
                   // console.log(cln);
                   // $('.exit_trash').click(function(){
                   //    //console.log('delete')
                   //    $(this).parent('.option_container'+message_id+'').remove();
                   //  });
                });
                $(".submit_multipale_answer").click(function(){
                  var checked_multipale_answer = $(this).val();
                  if(checked_multipale_answer == 0){
                     $(this).val(1);
                  }
                  else{
                      $(this).val(0);
                  }
                }); 
                $(".select_multiple_option").click(function(){
                  var checked_multiple_option = $(this).val();
                  if(checked_multiple_option == 0){
                    $(this).val(1);
                  }
                  else{
                    $(this).val(0);
                  }
                }); 
                $(".submit_annanymous").click(function(){
                  var checked_annanymous = $(this).val();
                  if(checked_annanymous == 0){
                    $(this).val(1);
                  }
                  else{
                    $(this).val(0);
                  }
                }); 
                $(".show_responses").click(function(){
                  var checked_responses = $(this).val();
                  if(checked_responses == 0){
                      $(this).val(1);
                  }
                  else{
                      $(this).val(0);
                  }
                }); 
                var modal = document.getElementById('more_option_screen');
                window.onclick = function(event) {
                  if (event.target == modal) {
                    modal.style.display = "none";
                  }
                }

                $('.active_poll_icon').click(function(){
                    var unique_stauts = $(this).data('id');
                    // $(this).fadeOut('fast')
                        //$(this).next('.deactive_poll_icon').fadeIn('fast');
                        var checked_poll_icon = $('#poll_play_pause'+unique_stauts).val();
                        //console.log(checked_poll_icon)
                        if(checked_poll_icon == 0 || checked_poll_icon == 1 || checked_poll_icon == 2){
                          $('#poll_play_pause'+unique_stauts).val(1);
                          //console.log('value 1')
                        }
                        else{
                          $('#poll_play_pause'+unique_stauts).val(checked_poll_icon);
                           //console.log('value not change')
                        }
                  });
                  $('.deactive_poll_icon').click(function(){
                      var unique_stauts = $(this).data('id');
                     // $(this).fadeOut('fast');
                        //$(this).prev('.active_poll_icon').fadeIn('fast');
                        var checked_poll_icon = $('#poll_play_pause'+unique_stauts).val();
                        if(checked_poll_icon == 0 || checked_poll_icon == 1 || checked_poll_icon == 2){
                          $('#poll_play_pause'+unique_stauts).val(0);
                          //console.log('value 0')
                        }
                        else{
                          $('#poll_play_pause'+unique_stauts).val(checked_poll_icon);
                          //console.log('value not change')
                        }
                      
                  });

                $(".stop_poll_icon").click(function(){
                        var unique_stauts = $(this).data('id');
                        //$(this).toggleClass('poll_status');
                        var checked_poll_status = $('#poll_play_pause'+unique_stauts).val();
                        if(checked_poll_status == 2){
                          $('#poll_play_pause'+unique_stauts).val(1);
                          //console.log('value 1 ')
                        }
                        else{
                          $('#poll_play_pause'+unique_stauts).val(2);
                           //console.log('value 2 ')
                        }
                  }); 

                  $('.change_poll_status').click(function(){
                      $('#preloader').fadeIn('fast');
                      var unique_poll = $(this).data('id');
                      var groupChannel  = $(this).data('poll_groupchannel');
                      var poll_id  = $(this).data('poll_id');
                      var poll_type  = $(this).data('poll_type');
                      setTimeout(function(){
                      var poll_status =  $('#poll_play_pause'+unique_poll).val();

                      data_type = {'group_channel_no':groupChannel,'question_id':poll_id.toString(),'poll_type':poll_type.toString(),'poll_running_status':poll_status}
                      //console.log(data_type)

                      $.ajax({
                          crossDomain: true,
                          url: localStorage.getItem("base_url") + 'poll_question_status_update',
                          contentType: 'application/json; charset=utf-8',
                          data: JSON.stringify(data_type),
                          ContentType: 'application/json',
                          type: 'POST',
                          dataType: 'json',
                          cache: true,
                          success: function (output) {
                          if (output.status == 1000) {
                            $('#preloader').fadeOut('fast');
                            Swal.fire({
                                text: "Poll status change successfully",
                                icon: "success",
                            });
                            $('#live_overlay').hide('fast');
                          }
                          else if(output.status == 1001){
                            $('#preloader').fadeOut('fast');
                             Swal.fire({
                                text: (output.message),
                                icon: "warning",
                            });
                            $('#live_overlay').hide('fast');
                          }
                          },
                          error: function () {
                             $('#preloader').fadeOut('fast');
                             alert('Please check your internet connection')
                              $('#live_overlay').hide('fast');
                          }
                      });
                    },500);
                  });

                $('.poll_edit_save').click(function(){
                  //console.log('save clicked')
                    $('#preloader').fadeIn('fast');
                    var poll_type = $(this).data('poll_type');
                    var unique_poll_id = $(this).data('unique_poll');
                    var poll_id = $(this).data('poll_id');
                    var poll_groupchannel = $(this).data('poll_groupchannel');
                    var poll_question = $('#edit_question_holder'+unique_poll_id).val();
                    var correct_answer = $(this).data('correct_answer'); 
                    var answer_validation = $(this).data('answer_validation');
                    var submit_annanymous_val = $("input[name='submit_anonymous"+unique_poll_id+"']").val();
                    var submit_multipale_answer_val = $("input[name='multiple_answer"+unique_poll_id+"']").val();
                    var submit_select_multiple_option_val = $("input[name='select_multiple_option"+unique_poll_id+"']").val();
                    var submit_show_responsesn_val = $("input[name='show_responses"+unique_poll_id+"']").val();

                     if(poll_type == 1){
                        var option_container_lenght = $('.option_container'+poll_id+'').length;
                        var optons_check=1;
                        var options = $("input[name='options"+poll_id+"[]']").map(function(){
                          if($(this).val()!='' && $(this).val().replace(/\s+/g,'')!=''){
                            return $(this).val();
                          }
                          else{
                           optons_check=0;
                          }
                        }).get();
                        console.log(options)
                        options_lenght = options.length
                        console.log(option_container_lenght)
                        console.log(options_lenght)
                        console.log(optons_check)
                        if(option_container_lenght == options_lenght && optons_check !=0){
                          options = options.join(",")
                          var poll_config = {"show_response":submit_show_responsesn_val,"submit_anonymous":submit_annanymous_val,"multiple_option_select_allowed":submit_select_multiple_option_val,"answer_validation":answer_validation.toString(),"correct_answer":correct_answer}

                            data_type ={"group_channel_no":poll_groupchannel,"question_id":poll_id,"poll_type":poll_type.toString(),"question_title":poll_question,"options":options,"poll_config":poll_config}
                          //console.log(data_type)
                        }
                        else{
                          Swal.fire({
                                text: "Please enter all options",
                                icon: "warning",
                            });
                        }
                     }else if(poll_type == 2){

                      var poll_config = {"show_response":submit_show_responsesn_val,"submit_anonymous":submit_annanymous_val,"multiple_answer_allowed":submit_multipale_answer_val}
                      data_type ={"group_channel_no":poll_groupchannel,"question_id":poll_id,"poll_type":poll_type.toString(),"question_title":poll_question,"poll_config":poll_config}
                         //console.log(data_type)

                     }else if(poll_type == 3){

                        var poll_config = {"show_response":submit_show_responsesn_val,"submit_anonymous":submit_annanymous_val,"multiple_answer_allowed":submit_multipale_answer_val}
                      data_type ={"group_channel_no":poll_groupchannel,"question_id":poll_id,"poll_type":poll_type.toString(),"question_title":poll_question,"poll_config":poll_config}
                        // console.log(data_type)
                     }
                     else if(poll_type == 4){
                      var options = $( "input[name=rating"+poll_id+"]:checked" ).val();
                      var poll_config = {"show_response":submit_show_responsesn_val,"submit_anonymous":submit_annanymous_val}
                      data_type ={"group_channel_no":poll_groupchannel,"question_id":poll_id,"poll_type":poll_type.toString(),"question_title":poll_question,"options":options,"poll_config":poll_config}
                       console.log(data_type)
                     }
                     console.log(data_type)

                     if(data_type){
                       $.ajax({
                          crossDomain: true,
                          url: localStorage.getItem("base_url") + 'poll_question_edit',
                          contentType: 'application/json; charset=utf-8',
                          data: JSON.stringify(data_type),
                          ContentType: 'application/json',
                          type: 'POST',
                          dataType: 'json',
                          cache: true,
                          success: function (output) {
                          if (output.status == 1000) {
                            $('#preloader').fadeOut('fast');
                             $('#live_overlay').hide('fast');
                            Swal.fire({
                                text: (output.message),
                                icon: "success",
                            });
                          }
                          else if(output.status == 1001){
                            $('#live_overlay').hide('fast');
                            $('#preloader').fadeOut('fast');
                             Swal.fire({
                                text: (output.message),
                                icon: "warning",
                            });
                          }
                          },
                          error: function () {
                             $('#live_overlay').hide('fast');
                             $('#preloader').fadeOut('fast');
                             alert("Please check your internet connection")
                          }
                      });
                   }

                  });

            }
            /////// if moderator true condition check
           else{
             console.log('else for poll question')
             $.get("includes/live_poll_options.html", function (fileData) {
              $('#poll_options_includes').html(fileData);
              live_poll_question(messages,user_id);
              $('#preloader').fadeOut('fast');
              });
            }
          }
    }//// manage poll function end

    // poll edit sumbmit

    poll_channel_connect();
});
    </script>