<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900" rel="stylesheet">
<i class="bell-circle" id="bell_notify"></i>
<div class="notification_container_mobile">
	<div class="notification_header">
		<div class="row" style="display:flex;">
			<div class="col-4 col-xs-4">
				<span id="clear_notification">
					<img src="assets/clear_notification.png">
				</span>
			</div>
			<div class="col-4 col-xs-4">
				<span> Notification </span>
			</div>
			<div class="col-3 col-xs-3">
				<span id="notification_close">
				</span>
			</div>
		</div>
	</div>
	<div class="notification_body" id="notification_body">

	</div>
	<div class="clear_notification">
		<p> Are you sure you want to clear all notifications </p>
		<div class="btn-group">
			<button class="clearcheck" data-check="1"> Yes </button>
			<button class="clearcheck" data-check="0" id="clear_notification_no"> No </button>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {

		if (localStorage.getItem("bell_notify_dot") == 1) {
			$('#bell_notify').css('visibility', 'visible');
		}

		$("#notification_close").click(function () {
				$(".clear_notification").fadeOut('fast');
				$(".notification_container_mobile").fadeOut('fast');
				$(".popup-overlay").fadeOut('fast');
			check_close = 1;
		});
		$("#clear_notification").click(function () {
			$(".notification_body").fadeOut('fast');
			$(".clear_notification").fadeIn();
		});
		$("#clear_notification_no").click(function () {
			$(".clear_notification").fadeOut('fast', function () {
				$(".notification_body").fadeIn();
			});
		});

		$('.clearcheck').on("click", function () {
			if ($(this).data("check")) {
				if (localStorage.getItem('my_notify')) { localStorage.removeItem('my_notify'); }
				document.getElementById("notification_body").innerHTML = '';
				$(".clear_notification").fadeOut('fast', function () {
					$(".notification_body").fadeIn();
				});

			}

		});

	});
</script>