<div class="notification-screen">
  <div class="notification-wrapper">
    <h2>Quick Notify!</h2>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" id='noti-title'>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id='noti-message' placeholder="Write a short alert only!">
      </div>
      <button type="button" class="cancel">CANCEL</button><button type='button' class="send" id="send-notification">SEND
        NOW</button>
    </form>
  </div>
</div>

<script type="text/javascript">

  var company_data = JSON.parse(localStorage.getItem("activation"));

  $('.cancel').css('background-color', company_data.company.button_bg_color);
  $('.cancel').css('color', company_data.company.button_text_color);
  $('.send').css('background-color', company_data.company.button_bg_color);
  $('.send').css('color', company_data.company.button_text_color);
</script>