<!---- multiple polls ---->
<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
<div class="poll-container" id="poll-container">
</div>

<script type="text/javascript">
	var poll_data = '';
	var user_data = JSON.parse(localStorage.getItem("user_data"));
	var user_id = user_data.user.id;
	var poll_data_array = user_data.poll.data;
	var p = 0;
	var match1 = [];
	var match2 = [];
	var match3 = [];
	var skipped_poll_data = [];

	for (var i = 0; i < poll_data_array.length; i++) {

		var r_base = poll_data_array[i].role_base;
		var role_base = r_base.split(",");
		var u_base = poll_data_array[i].user_base;
		var user_base = u_base.split(",");

		var u_role = user_data.user.user_role;
		var u_base = user_data.user.id;

		var watchers_base = poll_data_array[i].watchers;
		var watcher = [];
		for (q = 0; q < watchers_base.length; q++) {
			watcher[q] = watchers_base[q].id;
		}

		var current_date = new Date();
		var current_time = current_date.getTime();
		var user_end_date_poll = poll_data_array[i].user_end_date;
		var poll_date = new Date(user_end_date_poll.replace(' ', 'T'));
		var poll_time = poll_date.getTime();


		if ((current_time <= poll_time) && (poll_data_array[i].running_status == 1) && (poll_data_array[i].completed == "new") && (inArray(u_role, role_base) || inArray(u_base, user_base))) {

			$('.poll_indicator').show();

			if (localStorage.getItem('skipped_poll') != null) {
				if (!inArray(poll_data_array[i].id, JSON.parse(localStorage.getItem('skipped_poll')))) {

					var option = poll_data_array[i].options;
					var options = option.split(",");


					poll_data += '<div id="poll' + p + '" style="display:none;">';
					if (poll_data_array[i].is_mandatory == 0) {
						poll_data += '<span class="close poll-close" id="poll-close' + p + '" data-poll_no="' + p + '" data-poll_id="' + poll_data_array[i].id + '"><img src="assets/cross.png"></span>';
					}
					if (poll_data_array[i].layout_id == 1) {

						poll_data += '<div class="poll-grid" id="poll-layout-' + p + '"><p>';
						if (poll_data_array[i].is_mandatory == 0) {
							poll_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
						} else {
							poll_data += '<span class="blinking"> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
						}
						poll_data += poll_data_array[i].question + '</p>';

						poll_data += '<div class="row">';
						var o_c = 1;
						for (var o = 0; o < options.length; o++) {

							poll_data += '<div class="col-xl-6 col-xs-6"><div class="content-poll" data-option="' + options[o] + '"><p>' + options[o] + '</p></div></div>';
							if (o_c % 2 == 0) {
								poll_data += '</div><div class="row">';
							}
							o_c++;
						}
						poll_data += '</div><h4> Expires: ' + formatDate_last_regs(poll_data_array[i].user_end_date_show, 3) + ' </h4></div>';

					} else if (poll_data_array[i].layout_id == 2) {

						poll_data += '<div class="poll-grid" id="poll-layout-' + p + '"><p>';
						if (poll_data_array[i].is_mandatory == 0) {
							poll_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
						} else {
							poll_data += '<span class="blinking"> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
						}
						poll_data += poll_data_array[i].question + '</p>';
						for (var o = 0; o < options.length; o++) {
							poll_data += '<div class="row"><div class="col-xl-12"><div class="content-poll"><label class="radio-container"> ' + options[o] + '<input type="radio" name="ans' + p + '" id="ans' + p + '" class="ans' + p + '" value="' + options[o] + '"><span class="checkmark"></span></label></div></div></div>';
						}
						poll_data += '<h4> Expires: ' + formatDate_last_regs(poll_data_array[i].user_end_date_show, 3) + ' </h4></div>';

					} else if (poll_data_array[i].layout_id == 3) {

						poll_data += '<div class="poll-grid" id="poll-layout-' + p + '"><p>';
						if (poll_data_array[i].is_mandatory == 0) {
							poll_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
						} else {
							poll_data += '<span class="blinking"> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
						}
						poll_data += poll_data_array[i].question + '</p>';
						poll_data += '<div class="row"><div class="col-xl-12"><div class="wrapper"><div class="rating_text">';
						var o_s = 1;
						for (var o = 0; o < options.length; o++) {
							poll_data += '<h4 class="rating_text' + o_s + ' ratings" data-rating="' + options[o] + '"> ' + options[o] + ' </h4>';
							o_s++;
						}
						poll_data += '</div><div class="rating">';
						var o_l = options.length;
						for (var o = options.length; o > 0; o--) {
							poll_data += '<input id="rating' + o_l + '" type="radio" name="rating" value="' + o_l + '"><label for="rating' + o_l + '">' + o_l + '</label>';
							o_l--;
						}
						poll_data += '</div></div></div></div><h4> Expires: ' + formatDate_last_regs(poll_data_array[i].user_end_date_show, 3) + ' </h4></div>';

					}
					poll_data += '<span id="poll-prev' + p + '" class="poll-prev" data-poll_no="' + p + '" style="display:inline-block;"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Prev</span><button id="submit_poll' + p + '" class="submit_poll" data-poll_no="' + p + '" data-layout_id="' + poll_data_array[i].layout_id + '" data-user_id="' + user_id + '" data-poll_id="' + poll_data_array[i].id + '" data-ques_id="' + poll_data_array[i].question_id + '">SUBMIT</button><span id="poll-next' + p + '" class="poll-next" data-poll_no="' + p + '" style="display:inline-block;">Next<i class="fa fa-angle-double-right" aria-hidden="true"></i></span></div>';

					match1.push(p);
					p++;

				}
			}
			else {

				var option = poll_data_array[i].options;
				var options = option.split(",");


				poll_data += '<div id="poll' + p + '" style="display:none;">';
				if (poll_data_array[i].is_mandatory == 0) {
					poll_data += '<span class="close poll-close" id="poll-close' + p + '" data-poll_no="' + p + '" data-poll_id="' + poll_data_array[i].id + '"><img src="assets/cross.png"></span>';
				}
				if (poll_data_array[i].layout_id == 1) {

					poll_data += '<div class="poll-grid" id="poll-layout-' + p + '"><p>';
					if (poll_data_array[i].is_mandatory == 0) {
						poll_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
					} else {
						poll_data += '<span class="blinking"> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
					}
					poll_data += poll_data_array[i].question + '</p>';

					poll_data += '<div class="row">';
					var o_c = 1;
					for (var o = 0; o < options.length; o++) {

						poll_data += '<div class="col-xl-6 col-xs-6"><div class="content-poll" data-option="' + options[o] + '"><p>' + options[o] + '</p></div></div>';
						if (o_c % 2 == 0) {
							poll_data += '</div><div class="row">';
						}
						o_c++;
					}
					poll_data += '</div><h4> Expires: ' + formatDate_last_regs(poll_data_array[i].user_end_date_show, 3) + ' </h4></div>';

				} else if (poll_data_array[i].layout_id == 2) {

					poll_data += '<div class="poll-grid" id="poll-layout-' + p + '"><p>';
					if (poll_data_array[i].is_mandatory == 0) {
						poll_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
					} else {
						poll_data += '<span class="blinking"> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
					}
					poll_data += poll_data_array[i].question + '</p>';
					for (var o = 0; o < options.length; o++) {
						poll_data += '<div class="row"><div class="col-xl-12"><div class="content-poll"><label class="radio-container"> ' + options[o] + '<input type="radio" name="ans' + p + '" id="ans' + p + '" class="ans' + p + '" value="' + options[o] + '"><span class="checkmark"></span></label></div></div></div>';
					}
					poll_data += '<h4> Expires: ' + formatDate_last_regs(poll_data_array[i].user_end_date_show, 3) + ' </h4></div>';

				} else if (poll_data_array[i].layout_id == 3) {

					poll_data += '<div class="poll-grid" id="poll-layout-' + p + '"><p>';
					if (poll_data_array[i].is_mandatory == 0) {
						poll_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
					} else {
						poll_data += '<span class="blinking"> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
					}
					poll_data += poll_data_array[i].question + '</p>';
					poll_data += '<div class="row"><div class="col-xl-12"><div class="wrapper"><div class="rating_text">';
					var o_s = 1;
					for (var o = 0; o < options.length; o++) {
						poll_data += '<h4 class="rating_text' + o_s + ' ratings" data-rating="' + options[o] + '"> ' + options[o] + ' </h4>';
						o_s++;
					}
					poll_data += '</div><div class="rating">';
					var o_l = options.length;
					for (var o = options.length; o > 0; o--) {
						poll_data += '<input id="rating' + o_l + '" type="radio" name="rating" value="' + o_l + '"><label for="rating' + o_l + '">' + o_l + '</label>';
						o_l--;
					}
					poll_data += '</div></div></div></div><h4> Expires: ' + formatDate_last_regs(poll_data_array[i].user_end_date_show, 3) + ' </h4></div>';

				}
				poll_data += '<span id="poll-prev' + p + '" class="poll-prev" data-poll_no="' + p + '" style="display:inline-block;"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Prev</span><button id="submit_poll' + p + '" class="submit_poll" data-poll_no="' + p + '" data-layout_id="' + poll_data_array[i].layout_id + '" data-user_id="' + user_id + '" data-poll_id="' + poll_data_array[i].id + '" data-ques_id="' + poll_data_array[i].question_id + '">SUBMIT</button><span id="poll-next' + p + '" class="poll-next" data-poll_no="' + p + '" style="display:inline-block;">Next<i class="fa fa-angle-double-right" aria-hidden="true"></i></span></div>';

				match1.push(p);
				p++;
			}
		}
	}

	if (poll_data != '') {
		document.getElementById("poll-container").innerHTML = poll_data;
		p_next = p - 1;
		document.getElementById("poll0").style.display = "block";
		document.getElementById("poll-prev0").style.display = "none";
		document.getElementById("poll-next" + p_next).style.display = "none";

		setTimeout(function () {
			$(".poll-overlay").fadeIn('fast', function () {
				$(".poll-container").fadeIn('fast');
				disableScroll();
			});
		}, 1000);

	}

	function inArray(needle, haystack) {
		var length = haystack.length;
		for (var i = 0; i < length; i++) {
			if (haystack[i] == needle) return true;
		}
		return false;
	}

	$(".poll-prev").click(function () {
		var c_p_no = $(this).data('poll_no');

		var p_p_no = c_p_no - 1;
		document.getElementById("poll" + c_p_no).style.display = "none";
		document.getElementById("poll" + p_p_no).style.display = "block";

	});

	$(".poll-next").click(function () {
		var c_p_no = $(this).data('poll_no');
		var n_p_no = c_p_no + 1;

		document.getElementById("poll" + c_p_no).style.display = "none";
		document.getElementById("poll" + n_p_no).style.display = "block";

	});

	function formatDate_last_regs(d, type) {
		var day, month, year;
		var days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
		var monthNames = [
			"Jan", "Feb", "March",
			"April", "May", "Jun", "July",
			"Aug", "Sept", "Oct",
			"Nov", "Dec"
		];
		var month_index = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'];

		result = d.match("[0-9]{2}([\-/ \.])[0-9]{2}[\-/ \.][0-9]{4}");
		if (null != result) {
			dateSplitted = result[0].split(result[1]);
			day = dateSplitted[0];
			month = dateSplitted[1];
			year = dateSplitted[2];
		}
		result = d.match("[0-9]{4}([\-/ \.])[0-9]{2}[\-/ \.][0-9]{2}");
		if (null != result) {
			dateSplitted = result[0].split(result[1]);
			day = dateSplitted[2];
			month = dateSplitted[1];
			year = dateSplitted[0];
		}


		if (month > 12) {
			aux = day;
			day = month;
			month = aux;
		}
		var monthint;
		var our_request_date_time = d.split(' ');
		var outtime = our_request_date_time[1];
		var ourtime_format = our_request_date_time[2];
		if ((monthint = parseInt(month) < 10)) {
			month = month.substring(1, month.month);
		}
		var ourdate = new Date(monthNames[month - 1] + ' ' + day + ' ' + year);
		var ourdays = ourdate.getDay();

		if (type == 1) {
			return outtime + ' ' + ourtime_format + ', ' + days[ourdate.getDay()] + ', ' + day + ' ' + monthNames[month - 1];
		}
		else if (type == 2) {
			return days[ourdate.getDay()] + ', ' + day + ' ' + monthNames[month - 1];
		}
		else if (type == 3) {
			return outtime + ' ' + ourtime_format + ', ' + day + ' ' + monthNames[month - 1];
		}

	}

	function disableScroll() {
		$('body').css('overflow', 'hidden');
	}

	function enableScroll() {
		$('body').css('overflow', 'auto');
	}

</script>

<script>

	$(".poll-close").click(function () {

		var poll_p_no = $(this).data('poll_no');
		var poll_id = $(this).data('poll_id');

		document.getElementById("poll-layout-" + poll_p_no).innerHTML = '<div class="row"><div class="col-xl-12"><h4>Skipped</h4></div></div>';

		$("#poll-layout-" + poll_p_no + " .row").css('margin', '0');
		$("#poll" + poll_p_no + " button").css("visibility", "hidden");
		$("#poll-close" + poll_p_no).css("visibility", "hidden");

		match2.push(poll_p_no);

		if (!arrayDiff(match1, match2).length) {
			setTimeout(function () {
				$(".poll-container").fadeOut('fast');
				$(".poll-overlay").fadeOut('fast');
				enableScroll();
			}, 1000);

		} else {

		}

		if (localStorage.getItem('skipped_poll')) {
			skipped_poll_data = JSON.parse(localStorage.getItem('skipped_poll'));
			skipped_poll_data.push(poll_id);
			localStorage.setItem('skipped_poll', JSON.stringify(skipped_poll_data));
		} else {
			skipped_poll_data.push(poll_id);
			localStorage.setItem('skipped_poll', JSON.stringify(skipped_poll_data));
		}
	});

	$(".poll-result-container .close").click(function () {
		$(".poll-overlay").fadeIn('fast');
		$(".poll-result-container").fadeOut('fast');
		$(".poll-list-container").fadeIn('fast');
	});

	$(".poll-result-back").click(function () {
		$(".poll-result-container").fadeOut('fast', function () {
			$(".poll-list-container").fadeIn('fast');
		});
	});
	$(".content-poll").click(function () {
		$(".poll-container .content-poll").removeClass("poll-active");
		$(this).addClass("poll-active");
	});
	$(".poll-container .submit_poll").click(function () {

		var p_no = $(this).data('poll_no');
		var l_id = $(this).data('layout_id');
		var u_id = $(this).data('user_id');
		var p_id = $(this).data('poll_id');
		var q_id = $(this).data('ques_id');

		if (l_id == 1) {
			var p_ans = $('.poll-active').data('option');
		} else if (l_id == 2) {
			var p_ans = $("input:radio[name=ans" + p_no + "]:checked").val();
		} else if (l_id == 3) {
			var p_ans = $('.ratingData').data('rating');
		}

		if (p_ans != '' && p_ans != undefined) {

			var data_type = { "user_id": u_id, "poll_id": p_id, "question_id": q_id, "answer": p_ans };

			$.ajax({

				async: true,

				crossDomain: true,

				url: localStorage.getItem("base_url") + 'pollanswer',

				contentType: 'application/json; charset=utf-8',

				data: JSON.stringify(data_type),

				ContentType: 'application/json',

				type: 'POST',

				dataType: 'json',

				cache: true,

				success: function (output) {

					if (output.status == 1000) {

						document.getElementById("poll-layout-" + p_no).innerHTML = '<div class="row"><div class="col-xl-12"><h4>Thank You!</h4></div></div>';

						$("#poll-layout-" + p_no + " .row").css('margin', '0');
						$("#poll" + p_no + " button").css("visibility", "hidden");
						$("#poll-close" + p_no).css("visibility", "hidden");

						match2.push(p_no);
						match3.push(p_no);

						if (!arrayDiff(match1, match3).length) {
							$('.poll_indicator').css('display', 'none');
						}

						if (!arrayDiff(match1, match2).length) {
							setTimeout(function () {
								$(".poll-container").fadeOut('fast');
								$(".poll-overlay").fadeOut('fast');
								enableScroll();
								$.getScript("js/activation_data.js");
							}, 1000);
						} else {

						}

					} else {

					}

				},

				error: function () {

					alert("Error in loading records. Please refresh the page and try again.");

				}

			});

		} else {
			alert("Please select option.");
		}

	});

	function arrayDiff(a1, a2) {
		var o1 = {}, o2 = {}, diff = [], i, len, k;
		for (i = 0, len = a1.length; i < len; i++) { o1[a1[i]] = true; }
		for (i = 0, len = a2.length; i < len; i++) { o2[a2[i]] = true; }
		for (k in o1) { if (!(k in o2)) { diff.push(k); } }
		for (k in o2) { if (!(k in o1)) { diff.push(k); } }
		return diff;
	}

	$("#rating1").click(function () {
		$('.rating_text5').hide();
		$('.rating_text4').hide();
		$('.rating_text3').hide();
		$('.rating_text2').hide();
		$('.rating_text1').fadeIn('3000');
		$(".ratings").removeClass("ratingData");
		$('.rating_text1').addClass("ratingData");
	});
	$("#rating2").click(function () {
		$('.rating_text5').hide();
		$('.rating_text4').hide();
		$('.rating_text3').hide();
		$('.rating_text1').hide();
		$('.rating_text2').fadeIn('3000');
		$(".ratings").removeClass("ratingData");
		$('.rating_text2').addClass("ratingData");
	});
	$("#rating3").click(function () {
		$('.rating_text5').hide();
		$('.rating_text4').hide();
		$('.rating_text2').hide();
		$('.rating_text1').hide();
		$('.rating_text3').fadeIn('3000');
		$(".ratings").removeClass("ratingData");
		$('.rating_text3').addClass("ratingData");
	});
	$("#rating4").click(function () {
		$('.rating_text5').hide();
		$('.rating_text2').hide();
		$('.rating_text1').hide();
		$('.rating_text3').hide();
		$('.rating_text4').fadeIn('3000');
		$(".ratings").removeClass("ratingData");
		$('.rating_text4').addClass("ratingData");
	});
	$("#rating5").click(function () {
		$('.rating_text2').hide();
		$('.rating_text1').hide();
		$('.rating_text3').hide();
		$('.rating_text4').hide();
		$('.rating_text5').fadeIn('3000');
		$(".ratings").removeClass("ratingData");
		$('.rating_text5').addClass("ratingData");
	});

	$(".poll-detail-result").click(function () {
		$(".poll-overlay").fadeIn('fast', function () {
			$(".poll-result-container").fadeIn('fast');
		});
		$(".poll-list-container").hide();
	});
	$(".poll_layout_one").click(function () {
		$("#poll-layout-two").hide();
		$("#poll-layout-three").hide();
		$("#poll-layout-four").hide();
		$(".poll-overlay").fadeIn('fast', function () {
			$(".poll-container").fadeIn('fast', function () {
				$("#poll-layout-one").fadeIn();
			});
		});
		$(".poll-list-container").hide();
	});
	$(".poll_layout_two").click(function () {
		$("#poll-layout-one").hide();
		$("#poll-layout-three").hide();
		$("#poll-layout-four").hide();
		$(".poll-overlay").fadeIn('fast', function () {
			$(".poll-container").fadeIn('fast', function () {
				$("#poll-layout-two").fadeIn();
			});
		});
		$(".poll-list-container").hide();
	});
	$(".poll_layout_three").click(function () {
		$("#poll-layout-two").hide();
		$("#poll-layout-one").hide();
		$("#poll-layout-four").hide();
		$(".poll-overlay").fadeIn('fast', function () {
			$(".poll-container").fadeIn('fast', function () {
				$("#poll-layout-three").fadeIn();
			});
		});
		$(".poll-list-container").hide();
	});
	$(".poll_layout_four").click(function () {
		$("#poll-layout-two").hide();
		$("#poll-layout-three").hide();
		$("#poll-layout-one").hide();
		$(".poll-overlay").fadeIn('fast', function () {
			$(".poll-container").fadeIn('fast', function () {
				$("#poll-layout-four").fadeIn();
			});
		});
		$(".poll-list-container").hide();
	});

	$(".poll-option-images_1").click(function () {
		$(".poll-option-images_2 .option-overlay").fadeOut();
		$(".poll-option-images_4 .option-overlay").fadeOut();
		$(".poll-option-images_3 .option-overlay").fadeOut();
		$(".poll-option-images_1 .option-overlay").fadeIn();
	});
	$(".poll-option-images_2").click(function () {
		$(".poll-option-images_1 .option-overlay").fadeOut();
		$(".poll-option-images_4 .option-overlay").fadeOut();
		$(".poll-option-images_3 .option-overlay").fadeOut();
		$(".poll-option-images_2 .option-overlay").fadeIn();
	});
	$(".poll-option-images_3").click(function () {
		$(".poll-option-images_1 .option-overlay").fadeOut();
		$(".poll-option-images_4 .option-overlay").fadeOut();
		$(".poll-option-images_2 .option-overlay").fadeOut();
		$(".poll-option-images_3 .option-overlay").fadeIn();
	});
	$(".poll-option-images_4").click(function () {
		$(".poll-option-images_1 .option-overlay").fadeOut();
		$(".poll-option-images_3 .option-overlay").fadeOut();
		$(".poll-option-images_2 .option-overlay").fadeOut();
		$(".poll-option-images_4 .option-overlay").fadeIn();
	});
</script>