<div class="poll-list-container" id="poll-list-container">
	<span class="close close_poll-list"><img src="assets/cross.png"></span>
	<h3> Your Poll List </h3>
	<div class="list-box" id="poll_list_all">

	</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>



<script type="text/javascript">


	function call_latest_user_data() {
		$.getScript( "js/activation_data.js" )
		return true;
	}

	function poll_listing() {

		var poll_list_data = '';
		var user_data = JSON.parse(localStorage.getItem("user_data"));
		var user_id = user_data.user.id;
		var poll_data_array = user_data.poll.data;
		var p = 0;
		for (var i = 0; i < poll_data_array.length; i++) {

			var r_base = poll_data_array[i].role_base;
			var role_base = r_base.split(",");
			var u_base = poll_data_array[i].user_base;
			var user_base = u_base.split(",");

			var u_role = user_data.user.user_role;
			var u_base = user_data.user.id;

			var match1 = [];

			var watchers_base = poll_data_array[i].watchers;
			var watcher = [];
			for (q = 0; q < watchers_base.length; q++) {
				watcher[q] = watchers_base[q].id;
			}

			var current_date = new Date();
			var current_time = current_date.getTime();
			var user_end_date_poll = poll_data_array[i].user_end_date;
			var poll_date = new Date(user_end_date_poll.replace(' ', 'T'));
			var poll_time = poll_date.getTime();

			if ((inArray(u_role, role_base) || inArray(u_base, user_base) || inArray(user_id, watcher))) {


				if (current_time <= poll_time || inArray(user_id, watcher)) {
					if (poll_data_array[i].running_status == 1) {
						poll_list_data += '<div class="poll_list" id="poll_no_list' + poll_data_array[i].id + '">';
						if (poll_data_array[i].is_mandatory == 1) {
							poll_list_data += '<span class="blinking" > <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
						} else {
							poll_list_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
						}

						poll_list_data += '<p> ' + poll_data_array[i].question + '</p>';
					} else {
						poll_list_data += '<div class="poll_list  deactivated-poll" id="poll_no_list' + poll_data_array[i].id + '">';

						if (poll_data_array[i].is_mandatory == 1) {
							poll_list_data += '<span class="blinking" > <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
						} else {
							poll_list_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
						}

						poll_list_data += '<p> ' + poll_data_array[i].question + '</p>';
					}

					poll_list_data += '<div class="poll_details"><strong> Expiring: ' + formatDate_last_regs(poll_data_array[i].user_end_date_show, 3) + '</strong></div><div class="btn-group">';
				}


				if (poll_data_array[i].completed == "new" && (current_time <= poll_time)) {
					if (inArray(u_role, role_base) || inArray(u_base, user_base)) {

						if (poll_data_array[i].running_status == 1) {
							poll_list_data += '<a href="javascript:void(0);" class="poll-open" id="poll-open' + i + '" data-poll_id=' + poll_data_array[i].id + ' data-layout_id=' + poll_data_array[i].layout_id + ' > Open </a>';

							match1.push(poll_data_array[i].id);

						} else {
							poll_list_data += '<a href="javascript:void(0);" style="display:none" class="poll-open" id="poll-open' + i + '" data-poll_id=' + poll_data_array[i].id + ' data-layout_id=' + poll_data_array[i].layout_id + ' > Open </a>';
						}

					} else {
						poll_list_data += '<a href="javascript:void(0);" style="display:none" class="poll-open poll_layout_one" data-poll_id=' + poll_data_array[i].id + '> Open </a>';
					}
				}
				if (poll_data_array[i].running_status == 1) {
					if (poll_data_array[i].completed == "new") {

						if (poll_data_array[i].show_result == 1) {
							poll_list_data += '<a href="javascript:void(0);" style="display:none" class="poll-result" id="poll_result_id' + i + '" data-poll_id=' + poll_data_array[i].id + ' data-poll_layout_id=' + poll_data_array[i].layout_id + '> Result </a>';
						}

					} else {

						if (poll_data_array[i].show_result == 1) {
							poll_list_data += '<a href="javascript:void(0);" class="poll-result" id="poll_result_id' + i + '" data-poll_id=' + poll_data_array[i].id + ' data-poll_layout_id=' + poll_data_array[i].layout_id + '> Result </a>';
						}

					}

				} else {
					if (inArray(user_id, watcher) && poll_data_array[i].completed == "completed") {
						if (poll_data_array[i].show_result == 1) {
							poll_list_data += '<a href="javascript:void(0);" class="poll-result" id="poll_result_id' + i + '" data-poll_id=' + poll_data_array[i].id + ' data-poll_layout_id=' + poll_data_array[i].layout_id + '> Result </a>';
						}
					} else {
						if (poll_data_array[i].show_result == 1) {
							poll_list_data += '<a href="javascript:void(0);" style="display:none" id="poll_result_id' + i + '" class="poll-result" data-poll_id=' + poll_data_array[i].id + ' data-poll_layout_id=' + poll_data_array[i].layout_id + '> Result </a>';
						}
					}
				}

				if (inArray(user_id, watcher)) {

					poll_list_data += '<a href="javascript:void(0);" class="poll-detail-result" data-poll_id=' + poll_data_array[i].id + ' data-poll_qes_id=' + poll_data_array[i].question_id + ' > Detail Result </a>';
					if (poll_data_array[i].running_status == 1) {
						poll_list_data += '<a href="javascript:void(0);"  class="poll-deactive poll_status_update" id="poll_deactive_show' + poll_data_array[i].id + '" data-poll_id=' + poll_data_array[i].id + ' data-your_poll_status=' + poll_data_array[i].completed + ' data-poll_qes_id=' + poll_data_array[i].question_id + ' data-active_status="0" data-poll_for_loop_no=' + i + ' > Deactivate </a>';
						poll_list_data += '<a href="javascript:void(0);"  style="display:none" class="poll-active-btn poll_status_update" id="poll_active_show' + poll_data_array[i].id + '" data-poll_id=' + poll_data_array[i].id + ' data-your_poll_status=' + poll_data_array[i].completed + ' data-poll_qes_id=' + poll_data_array[i].question_id + ' data-active_status="1"  data-poll_for_loop_no=' + i + '> Activate </a>';
					} else {
						poll_list_data += '<a href="javascript:void(0);" style="display:none" class="poll-deactive poll_status_update" id="poll_deactive_show' + poll_data_array[i].id + '" data-poll_id=' + poll_data_array[i].id + ' data-your_poll_status=' + poll_data_array[i].completed + ' data-poll_qes_id=' + poll_data_array[i].question_id + ' data-active_status="0"  data-poll_for_loop_no=' + i + ' > Deactivate </a>';
						poll_list_data += '<a href="javascript:void(0);"  class="poll-active-btn poll_status_update" id="poll_active_show' + poll_data_array[i].id + '" data-poll_id=' + poll_data_array[i].id + ' data-your_poll_status=' + poll_data_array[i].completed + ' data-poll_qes_id=' + poll_data_array[i].question_id + ' data-active_status="1"  data-poll_for_loop_no=' + i + ' > Activate </a>';
					}

				}

				poll_list_data += '</div></div>';

				if (poll_data_array.length == 1 && (current_time >= poll_time) && !inArray(user_id, watcher)) {
					poll_list_data = '';
				}


				p++;

			}
		}


		setTimeout(function () {
			$(".poll-detail-result").click(function () {
				var poll_id = $(this).data('poll_id');
				var poll_qes_id = $(this).data('poll_qes_id');
				$(".poll-overlay").fadeIn('fast', function () {



					var data_type = { "poll_id": poll_id, "question_id": poll_qes_id };

					console.log(data_type);

					$.ajax({

						crossDomain: true,

						url: localStorage.getItem("base_url") + 'pollresult',

						contentType: 'application/json; charset=utf-8',

						data: JSON.stringify(data_type),

						type: 'POST',

						dataType: 'json',

						async: true, //false

						cache: true,

						success: function (output) {

							if (output.status == 1000) {

								console.log(output);
								var user_poll_result = '';
								var all_response = output.data.all_response;
								for (var k = 0; k < all_response.length; k++) {
									user_poll_result += '<div class="result-box"><img src=' + all_response[k].avatar + '> <strong> ' + all_response[k].name + ' :</strong>';
									user_poll_result += '<p> ' + all_response[k].response + '</p></div>';

								}

								if (user_poll_result == '') {
									user_poll_result += '<div class="not-found">No results</div>';
								}

								document.getElementById("result_details_user_wise").innerHTML = user_poll_result;

							} else {

								console.log(output.message);

							}

						},

						error: function () {

							alert("Error in loading records. Please refresh the page and try again.");

						}

					});

					$(".poll-result-container").fadeIn('fast');

				});
				$(".poll-list-container").hide();
			});

		}, 2000);

		setTimeout(function () {
			$(".poll_status_update").click(function () {

				var poll_id = $(this).data('poll_id');
				var poll_qes_id = $(this).data('poll_qes_id');
				var poll_for_loop_no = $(this).data('poll_for_loop_no');

				var your_poll_status = $(this).data('your_poll_status');
				var poll_running_status = $(this).data('active_status');


				var data_type = { "poll_id": poll_id, "running_status": poll_running_status };

				console.log(data_type);

				$.ajax({

					async: true,

					crossDomain: true,

					url: localStorage.getItem("base_url") + 'poll_running_status_update',

					contentType: 'application/json; charset=utf-8',

					data: JSON.stringify(data_type),

					type: 'POST',

					dataType: 'json',

					cache: true,

					success: function (output) {

						if (output.status == 1000) {

							console.log(output)
							if (poll_running_status == 0) {
								$("#poll_active_show" + poll_id).css('display', 'block');
								$("#poll_deactive_show" + poll_id).css('display', 'none');
								$("#poll_no_list" + poll_id).addClass("deactivated-poll");
								$("#poll-open" + poll_for_loop_no).css('display', 'none');

								Swal.fire({
									type: 'success',
									title: 'Poll Running status Deactive',
									text: 'User Not participant this poll'
								})
							} else {
								$("#poll_deactive_show" + poll_id).css('display', 'block');
								$("#poll_active_show" + poll_id).css('display', 'none');
								$("#poll_no_list" + poll_id).removeClass("deactivated-poll");
								$("#poll-open" + poll_for_loop_no).css('display', 'inline-block');
								if (your_poll_status == 'new') {
									$("#poll_result_id" + poll_for_loop_no).css('display', 'none');
								} else {
									$("#poll_result_id" + poll_for_loop_no).css('display', 'inline-block');
								}


								Swal.fire({
									type: 'success',
									title: 'Poll Running status Activate',
									text: 'User can participant this poll'
								})
							}

						} else {

						}

					},

					error: function () {

						alert("Error in loading records. Please refresh the page and try again.");

					}

				});

			});

		}, 1000);

		setTimeout(function () {
			$(".poll-open").click(function () {
				var poll_id = $(this).data('poll_id');
				$(".poll-overlay").fadeIn('fast', function () {

					var poll_data = '';
					var user_data = JSON.parse(localStorage.getItem("user_data"));
					var user_id = user_data.user.id;
					var poll_data_array = user_data.poll.data;
					var p = 0;
					for (var i = 0; i < poll_data_array.length; i++) {

						var r_base = poll_data_array[i].role_base;
						var role_base = r_base.split(",");
						var u_base = poll_data_array[i].user_base;
						var user_base = u_base.split(",");

						var u_role = user_data.user.user_role;
						var u_base = user_data.user.id;

						var watchers_base = poll_data_array[i].watchers;
						var watcher = [];
						for (q = 0; q < watchers_base.length; q++) {
							watcher[q] = watchers_base[q].id;
						}

						var current_date = new Date();
						var current_time = current_date.getTime();
						var poll_date = new Date(poll_data_array[i].user_end_date);
						var poll_time = poll_date.getTime();
						if (poll_id == poll_data_array[i].id) {

							var option = poll_data_array[i].options;
							var options = option.split(",");

							if (poll_data_array[i].layout_id == 1) {
								poll_data += '<span class="close close-poll-result" data-open_poll_series=' + i + '><img src="assets/cross.png"></span>';
								poll_data += '<div id="poll' + p + '" style="display:block;">';
								poll_data += '<div class="poll-grid" id="poll-layout-' + i + '"><p>'

								if (poll_data_array[i].is_mandatory == 0) {
									poll_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
								} else {
									poll_data += '<span class="blinking"> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
								}
								poll_data += poll_data_array[i].question + '</p>';

								var count = 1;
								for (var o = 0; o < poll_data_array[i].option_with_response_count.length; o++) {

									if (count % 2 != 0) {
										poll_data += '<div class="row">';
									}

									poll_data += '<div class="col-xl-6 col-xs-6"><div class="content-poll" data-option="' + poll_data_array[i].option_with_response_count[o].option + '"><p>' + poll_data_array[i].option_with_response_count[o].option + '</p>';


									var poll_option_percent = (poll_data_array[i].option_with_response_count[o].answer_count * 100) / poll_data_array[i].poll_status.total_user;
									if (poll_data_array[i].option_with_response_count[o].answer_count == 0) {
										poll_option_percent = '0';
									}
									poll_data += '<span> ' + parseInt(poll_option_percent.toString()) + '% </span><div class="progress"><div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow=' + parseInt(poll_option_percent.toString()) + ' aria-valuemin="0" aria-valuemax="100" style="width:40%">' + parseInt(poll_option_percent.toString()) + '%</div></div></div></div>';

									if (count % 2 == 0) {
										poll_data += '</div>';
									}
									count++;
								}

								poll_data += '</div>';

								poll_data += '</div><button id="submit_poll' + p + '" class="submit_poll" data-poll_no="' + p + '" data-user_id="' + user_id + '" data-poll_id="' + poll_data_array[i].id + '" data-ques_id="' + poll_data_array[i].question_id + '" data-show_result_status="' + poll_data_array[i].show_result + '" data-poll_series="' + i + '"  data-layout_id="' + poll_data_array[i].layout_id + '">SUBMIT</button></div>';
								p++;


							} else if (poll_data_array[i].layout_id == 2) {
								poll_data += '<span class="close close-poll-result" data-open_poll_series=' + i + '><img src="assets/cross.png"></span>';
								poll_data += '<div id="poll' + p + '" style="display:block;">';
								poll_data += '<div class="poll-grid" id="poll-layout-' + i + '"><p>';
								if (poll_data_array[i].is_mandatory == 0) {
									poll_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
								} else {
									poll_data += '<span class="blinking"> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
								}
								poll_data += poll_data_array[i].question + '</p>';

								for (var o = 0; o < poll_data_array[i].option_with_response_count.length; o++) {
									poll_data += '<div class="row"><div class="col-xl-12"><div class="content-poll"><label class="radio-container"> ' + poll_data_array[i].option_with_response_count[o].option + '<input type="radio" name="ans' + p + '" id="ans' + p + '" class="ans' + p + '" value="' + poll_data_array[i].option_with_response_count[o].option + '"><span class="checkmark"></span></label>';

									var poll_option_percent = (poll_data_array[i].option_with_response_count[o].answer_count * 100) / poll_data_array[i].poll_status.total_user;
									if (poll_data_array[i].option_with_response_count[o].answer_count == 0) {
										poll_option_percent = '0';
									}
									poll_data += '<div class="result-poll">' + parseInt(poll_option_percent.toString()) + '%</div></div></div></div>';
								}

								poll_data += '</div><button id="submit_poll' + p + '" class="submit_poll" data-poll_no="' + p + '" data-poll_series="' + i + '" data-user_id="' + user_id + '" data-poll_id="' + poll_data_array[i].id + '" data-show_result_status="' + poll_data_array[i].show_result + '" data-ques_id="' + poll_data_array[i].question_id + '"  data-layout_id="' + poll_data_array[i].layout_id + '">SUBMIT</button></div>';
								p++;
							} else {



								poll_data += '<span class="close close-poll-result" data-open_poll_series=' + i + '><img src="assets/cross.png"></span>';
								poll_data += '<div id="poll' + p + '" style="display:block;">';
								poll_data += '<div class="poll-grid" id="poll-layout-' + i + '"><p>';
								if (poll_data_array[i].is_mandatory == 0) {
									poll_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
								} else {
									poll_data += '<span class="blinking"> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
								}
								poll_data += poll_data_array[i].question + '</p>';

								poll_data += '<div class="row"><div class="col-xl-12"><div class="wrapper"><div class="rating_text">';

								var o_s = 1;
								for (var o = 0; o < poll_data_array[i].option_with_response_count.length; o++) {
									poll_data += '<h4 class="rating_text' + o_s + ' ratings" data-rating="' + poll_data_array[i].option_with_response_count[o].option + '"> ' + poll_data_array[i].option_with_response_count[o].option + ' </h4>';
									o_s++;
								}
								poll_data += '</div><div class="rating">';
								var o_l = poll_data_array[i].option_with_response_count.length;
								for (var o = poll_data_array[i].option_with_response_count.length; o > 0; o--) {
									poll_data += '<input id="rating' + o_l + '" type="radio" name="rating" value="' + o_l + '"><label for="rating' + o_l + '">' + o_l + '</label>';
									o_l--;
								}

								poll_data += '</div></div></div></div><h4> Expires: ' + formatDate_last_regs(poll_data_array[i].user_end_date_show, 3) + ' </h4></div>';


								poll_data += '</div>';

								poll_data += '</div><button id="submit_poll' + p + '" class="submit_poll" data-poll_no="' + p + '" data-user_id="' + user_id + '" data-poll_id="' + poll_data_array[i].id + '" data-show_result_status="' + poll_data_array[i].show_result + '"  data-ques_id="' + poll_data_array[i].question_id + '" data-poll_series="' + i + '"  data-layout_id="' + poll_data_array[i].layout_id + '">SUBMIT</button></div>';
								p++;

							}


						}
					}

					if (poll_data != '') {
						document.getElementById("poll-container").innerHTML = poll_data;
						p_next = p - 1;
						$(".poll-container").fadeIn('fast');

						$(".content-poll").click(function () {
							$(".poll-container .content-poll").removeClass("poll-active");
							$(this).addClass("poll-active");
						});


						$("#rating1").click(function () {
							$('.rating_text5').hide();
							$('.rating_text4').hide();
							$('.rating_text3').hide();
							$('.rating_text2').hide();
							$('.rating_text1').fadeIn('3000');
							$(".ratings").removeClass("ratingData");
							$('.rating_text1').addClass("ratingData");
						});
						$("#rating2").click(function () {
							$('.rating_text5').hide();
							$('.rating_text4').hide();
							$('.rating_text3').hide();
							$('.rating_text1').hide();
							$('.rating_text2').fadeIn('3000');
							$(".ratings").removeClass("ratingData");
							$('.rating_text2').addClass("ratingData");
						});
						$("#rating3").click(function () {
							$('.rating_text5').hide();
							$('.rating_text4').hide();
							$('.rating_text2').hide();
							$('.rating_text1').hide();
							$('.rating_text3').fadeIn('3000');
							$(".ratings").removeClass("ratingData");
							$('.rating_text3').addClass("ratingData");
						});
						$("#rating4").click(function () {
							$('.rating_text5').hide();
							$('.rating_text2').hide();
							$('.rating_text1').hide();
							$('.rating_text3').hide();
							$('.rating_text4').fadeIn('3000');
							$(".ratings").removeClass("ratingData");
							$('.rating_text4').addClass("ratingData");
						});
						$("#rating5").click(function () {
							$('.rating_text2').hide();
							$('.rating_text1').hide();
							$('.rating_text3').hide();
							$('.rating_text4').hide();
							$('.rating_text5').fadeIn('3000');
							$(".ratings").removeClass("ratingData");
							$('.rating_text5').addClass("ratingData");
						});

						$(".poll-container .submit_poll").click(function () {

							var p_no = $(this).data('poll_no');
							var l_id = $(this).data('layout_id');
							var u_id = $(this).data('user_id');
							var p_id = $(this).data('poll_id');
							var q_id = $(this).data('ques_id');
							var poll_no_series = $(this).data('poll_series');
							var show_result = $(this).data('show_result_status');


							if (l_id == 1) {
								var p_ans = $('.poll-active').data('option');
							} else if (l_id == 2) {
								var p_ans = $("input:radio[name=ans" + p_no + "]:checked").val();
							} else if (l_id == 3) {

								var p_ans = $('.ratingData').data('rating');
							}

							if (p_ans != '' && p_ans != undefined) {

								var data_type = { "user_id": u_id, "poll_id": p_id, "question_id": q_id, "answer": p_ans };

								$.ajax({

									async: true,

									crossDomain: true,

									url: localStorage.getItem("base_url") + 'pollanswer',

									contentType: 'application/json; charset=utf-8',

									data: JSON.stringify(data_type),

									type: 'POST',

									dataType: 'json',

									cache: true,

									success: function (output) {

										if (output.status == 1000) {
											$.getScript( "js/activation_data.js" )
											document.getElementById("poll-layout-" + poll_no_series).innerHTML = '<div class="row"><div class="col-xl-12"><h4>Thank You!</h4></div></div>';

											$("#poll-layout-" + p_no + " .row").css('margin', '0');
											document.getElementById("submit_poll" + p_no).disabled = true;
											$("#submit_poll" + p_no).css('background-color', '#fff');

											setTimeout(function () {
												$(".poll-container").fadeOut('fast');
												$(".poll-list-container").fadeIn();
												poll_listing();
											}, 1000)

											if (show_result == 1) {
												$("#poll_result_id" + poll_no_series).css('display', 'inline-block');
											} else {
												$("#poll_result_id" + poll_no_series).css('display', 'none');
											}
											document.getElementById("poll-open" + poll_no_series).disabled = true;
											$("#poll-open" + poll_no_series).css('display', 'none');

										} else {

										}

									},

									error: function () {

										alert("Error in loading records. Please refresh the page and try again.");

									}

								});

							} else {
								alert("Please select option.");
							}


						});


					}

					$(".close-poll-result").click(function () {



						$(".poll-list-container").fadeIn();
						$(".poll-container").fadeOut('fast');
						$(".poll-overlay").fadeIn('fast');

					});
				});
				$(".poll-list-container").hide();
			});

		}, 1000);

		setTimeout(function () {
			$(".poll-result").click(function () {
				var poll_id = $(this).data('poll_id');
				var poll_layout_id = $(this).data('poll_layout_id');
				$(".poll-overlay").fadeIn('fast', function () {

					var poll_data = '';
					var user_data = JSON.parse(localStorage.getItem("user_data"));
					var user_id = user_data.user.id;
					var poll_data_array = user_data.poll.data;
					var p = 0;
					for (var i = 0; i < poll_data_array.length; i++) {

						var r_base = poll_data_array[i].role_base;
						var role_base = r_base.split(",");
						var u_base = poll_data_array[i].user_base;
						var user_base = u_base.split(",");

						var u_role = user_data.user.user_role;
						var u_base = user_data.user.id;

						var watchers_base = poll_data_array[i].watchers;
						var watcher = [];
						for (q = 0; q < watchers_base.length; q++) {
							watcher[q] = watchers_base[q].id;
						}

						var current_date = new Date();
						var current_time = current_date.getTime();
						var poll_date = new Date(poll_data_array[i].user_end_date);
						var poll_time = poll_date.getTime();
						if (poll_id == poll_data_array[i].id) {

							var option = poll_data_array[i].options;
							var options = option.split(",");

							if (poll_data_array[i].layout_id == 1) {
								poll_data += '<span class="close close-poll-result"><img src="assets/cross.png"></span>';
								poll_data += '<div id="poll' + p + '" style="display:block;">';
								poll_data += '<div class="poll-grid" id="poll-layout-' + i + '"><p><span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>' + poll_data_array[i].question + '</p>';
								var count = 1;
								for (var o = 0; o < poll_data_array[i].option_with_response_count.length; o++) {

									if (count % 2 != 0) {
										poll_data += '<div class="row">';
									}

									poll_data += '<div class="col-xl-6 col-xs-6"><div class="content-poll"><p>' + poll_data_array[i].option_with_response_count[o].option + '</p>';


									var poll_option_percent = (poll_data_array[i].option_with_response_count[o].answer_count * 100) / poll_data_array[i].poll_status.total_user;
									if (poll_data_array[i].option_with_response_count[o].answer_count == 0) {
										poll_option_percent = '0';
									}
									poll_data += '<span> ' + parseInt(poll_option_percent.toString()) + '% </span><div class="progress"><div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow=' + parseInt(poll_option_percent.toString()) + ' aria-valuemin="0" aria-valuemax="100" style="width:40%">' + parseInt(poll_option_percent.toString()) + '%</div></div></div></div>';

									if (count % 2 == 0) {
										poll_data += '</div>';
									}
									count++;
								}

								poll_data += '</div>';
								p++;

							} else if (poll_data_array[i].layout_id == 2) {
								poll_data += '<span class="close close-poll-result"><img src="assets/cross.png"></span>';
								poll_data += '<div id="poll' + p + '" style="display:block;">';
								poll_data += '<div class="poll-grid" id="poll-layout-' + i + '"><p><span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>' + poll_data_array[i].question + '</p>';

								for (var o = 0; o < poll_data_array[i].option_with_response_count.length; o++) {
									poll_data += '<div class="row"><div class="col-xl-12"><div class="content-poll"><label class="radio-container"> ' + poll_data_array[i].option_with_response_count[o].option + '<input type="radio" name="ans' + p + '" id="ans' + p + '" class="ans' + p + '" value="' + poll_data_array[i].option_with_response_count[o].option + '" disabled><span class="checkmark"></span></label>';

									var poll_option_percent = (poll_data_array[i].option_with_response_count[o].answer_count * 100) / poll_data_array[i].poll_status.total_user;
									if (poll_data_array[i].option_with_response_count[o].answer_count == 0) {
										poll_option_percent = '0';
									}
									poll_data += '<div class="result-poll">' + parseInt(poll_option_percent.toString()) + '%</div></div></div></div>';
								}
								p++;
							} else {

								poll_data += '<span class="close close-poll-result"><img src="assets/cross.png"></span>';
								poll_data += '<div id="poll' + p + '" style="display:block;">';
								poll_data += '<div class="poll-grid" id="poll-layout-' + i + '"><p><span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>' + poll_data_array[i].question + '</p>';

								poll_data += '<div class="row"><div class="col-xl-12">';

								poll_data += '<div class="rating_result">';
								var count = 1;
								for (var o = 0; o < poll_data_array[i].option_with_response_count.length; o++) {


									var poll_option_percent = (poll_data_array[i].option_with_response_count[o].answer_count * 100) / poll_data_array[i].poll_status.total_user;

									if (count == 1) {
										poll_data += '<p><img src="assets/star-on-big.png"> <span style="color:#fb5c5c;">  ' + parseInt(poll_option_percent.toString()) + '% </span></p>';
									} else if (count == 2) {
										poll_data += '<p><img src="assets/star-on-big.png"> <img src="assets/star-on-big.png"> <span style="color:#dcbb3f;"> ' + parseInt(poll_option_percent.toString()) + '% </span></p>';
									} else if (count == 3) {
										poll_data += '<p><img src="assets/star-on-big.png"> <img src="assets/star-on-big.png"> <img src="assets/star-on-big.png"><span style="color:#90dc3f;"> ' + parseInt(poll_option_percent.toString()) + '%</span> </p>';
									} else if (count == 4) {
										poll_data += '<p><img src="assets/star-on-big.png"> <img src="assets/star-on-big.png"> <img src="assets/star-on-big.png"> <img src="assets/star-on-big.png"> <span style="color:#3fdcc0;" > ' + parseInt(poll_option_percent.toString()) + '%</span></p>';
									} else if (count == 5) {
										poll_data += '<p><img src="assets/star-on-big.png"> <img src="assets/star-on-big.png"> <img src="assets/star-on-big.png"> <img src="assets/star-on-big.png"> <img src="assets/star-on-big.png"> <span style="color:#268eff;"> ' + parseInt(poll_option_percent.toString()) + '% </span></p>';
									}


									count++;
								}

								poll_data += '</div></div></div>';
								p++;
							}
						}
					}

					if (poll_data != '') {
						document.getElementById("poll-container").innerHTML = poll_data;
						p_next = p - 1;


						$(".poll-container").fadeIn('fast');

						if (poll_layout_id == 1) {
							$(".content-poll").find("span").animate({ bottom: "50px", opacity: "1" });
							$(".content-poll").find(".progress").animate({ left: "5px", opacity: "1" });
						} else if (poll_layout_id == 2) {
							$(".content-poll").find(".result-poll").animate({ right: "0px" })
						} else if (poll_layout_id == 3) {
							$(".content-poll").find("span").animate({ bottom: "50px", opacity: "1" });
							$(".content-poll").find(".progress").animate({ left: "5px", opacity: "1" });
						}



					}

					$(".close-poll-result").click(function () {
						$(".poll-container").fadeOut('fast');
						$(".poll-overlay").fadeIn('fast');
						$(".poll-list-container").fadeIn();
					});
				});
				$(".poll-list-container").hide();
			});

		}, 1000);

		if (poll_list_data != '') {
			document.getElementById("poll_list_all").innerHTML = poll_list_data;
			if (match1.length == 0) {
				$('#poll_indicator').css('display', 'none');
			}
		} else {
			document.getElementById("poll_list_all").innerHTML = '<div class="not-found">Poll Not Available</div>';
		}
		$(".close_poll-list").click(function () {
			$(".poll-overlay").fadeOut('fast');
			$(".poll-list-container").hide();
		});
	}

	function again_load() {
		call_latest_user_data();
		poll_listing();
	}
	function inArray(needle, haystack) {
		var length = haystack.length;
		for (var i = 0; i < length; i++) {
			if (haystack[i] == needle) return true;
		}
		return false;
	}
	function formatDate_last_regs(d, type) {
		var day, month, year;
		var days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
		var monthNames = [
			"Jan", "Feb", "March",
			"April", "May", "Jun", "July",
			"Aug", "Sept", "Oct",
			"Nov", "Dec"
		];
		var month_index = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'];

		result = d.match("[0-9]{2}([\-/ \.])[0-9]{2}[\-/ \.][0-9]{4}");
		if (null != result) {
			dateSplitted = result[0].split(result[1]);
			day = dateSplitted[0];
			month = dateSplitted[1];
			year = dateSplitted[2];
		}
		result = d.match("[0-9]{4}([\-/ \.])[0-9]{2}[\-/ \.][0-9]{2}");
		if (null != result) {
			dateSplitted = result[0].split(result[1]);
			day = dateSplitted[2];
			month = dateSplitted[1];
			year = dateSplitted[0];
		}


		if (month > 12) {
			aux = day;
			day = month;
			month = aux;
		}
		var monthint;
		var our_request_date_time = d.split(' ');
		var outtime = our_request_date_time[1];
		var ourtime_format = our_request_date_time[2];
		if ((monthint = parseInt(month) < 10)) {
			month = month.substring(1, month.month);
		}
		var ourdate = new Date(monthNames[month - 1] + ' ' + day + ' ' + year);
		var ourdays = ourdate.getDay();

		if (type == 1) {
			return outtime + ' ' + ourtime_format + ', ' + days[ourdate.getDay()] + ', ' + day + ' ' + monthNames[month - 1];
		}
		if (type == 2) {
			return days[ourdate.getDay()] + ', ' + day + ' ' + monthNames[month - 1];
		}

		if (type == 3) {
			return outtime + ' ' + ourtime_format + ', ' + day + ' ' + monthNames[month - 1];
		}

	}
</script>