<div class="poll-result-container">
	<span class="close"><img src="assets/cross.png"></span>
	<h3> Poll Result </h3>
	<div class="result-list" id="result_details_user_wise">

	</div>
	<a href="javasript:void(0);" class="poll-result-back"> <i class="fa fa-angle-double-left" aria-hidden="true"></i>
		Back </a>
</div>