<div class="popup-section">
  <p class="heading">New Features</p>
  <img class="bee" src="assets/bee.gif">
  <ul class="popup-list">
    <img src="assets/post.png">
    <li data-toggle="tooltip" data-placement="bottom" title=""> Get Notifications for every new post.</li>
    <img src="assets/like.png">
    <li data-toggle="tooltip" data-placement="bottom" title=""> Instant Notification, as someone like your post.</li>
    <img src="assets/comment.png">
    <li data-toggle="tooltip" data-placement="bottom" title=""> Instant Notification, as someone comment on your post.
    </li>

  </ul>
  <button class="submit gotit">Got It</button>
</div>

<script type="text/javascript">
  $(document).ready(function () {

    $(".gotit").on("click", function () {
      $(".popup-section").css("transform", "scale(0)");
      $(".popup-overlay").fadeOut(2000);
      $("#popup-screen").fadeOut(500);
      $('body').css('overflow', 'auto');
      localStorage.setItem("popup", "2");
    });
    $(".popup-overlay").on("click", function () {
      $(".popup-section").css("transform", "scale(0)");
      $(this).fadeOut(2000);
      $("#popup-screen").fadeOut(500);
      $('body').css('overflow', 'auto');
    });
  });
</script>