<div class="post-screen">
  <div class="post-holder">
    <div class="red-bar">
      <img src="assets/close-icon.svg" class="close-post"> <span>Feed Post</span>
    </div>
    <div class="text-area">
      <form autocomplete="off">
        <div class="form-group">
          <textarea class="form-control post-comment-message" id="post-message" placeholder="Type Your Post Here..." autofocus="" value=""
            onkeydown="return myKeyPress(event)"></textarea>
          <input type="hidden" name="mention_user_id" id="mention_user_id" value="">
        </div>
        <button id="feed-post" type="button">Post</button>
      </form>
      <div class="mention scrollmenu" id="mention">
      </div>
    </div>
  </div>
</div>
<script>

  var company_data = JSON.parse(localStorage.getItem("activation"));

  $('.red-bar').css('background-color', company_data.company.header_color);
  $('.red-bar').css('color', company_data.company.normal_text_color);
  $('#feed-post').css('background-color', company_data.company.button_bg_color);
  $('#feed-post').css('color', company_data.company.button_text_color);


  function myKeyPress(e) {
    var keynum;
    if (window.event) { // IE                    
      keynum = e.keyCode;
    } else if (e.which) { // Netscape/Firefox/Opera                   
      keynum = e.which;
    }

    if (e.key == '@' || String.fromCharCode(keynum) == 'å') {

      $("#post-message").on("keyup", function () {

        var value = $(this).val().toLowerCase();
        var new_value = value;
        var lastChar = value[value.length - 1];
        var n = value.search("@");
        value = value.split('@');
        var value_final = value[value.length - 1];
        if (new_value == '' || (lastChar != '@' && value_final == '') || n < 0) {

          $(".mention").fadeOut();
        } else {
          $(".mention").fadeIn();
          $(".mention a").filter(function () {

            $(this).toggle($(this).text().toLowerCase().indexOf(value_final) > -1);
          });

          if (value_final == ' ') { $(".mention").fadeOut(); }
        }
      });
    } else {
      var value1 = $(this).val().toLowerCase();
      value1 = value1.trim();
      if (value1 == '') { $(".mention").fadeOut(); }
    }
  }
</script>