<div class="profile-bar" id="own-profile-bar">
  <div class="profile-wrapper">
    <div class="profile-nav">
      <p id='display-name-owner' class="left-section">User Name <span class="edit-profile"><i class="fa fa-pencil"
            aria-hidden="true"></i></span></p>
      <span class="close"><img src="assets/close-icon.svg" class="close-post"></span>
      <div class="numbers">
        <div class="links">
          <div class="likes">
            <span id='user_likes'>0</span>
            <span>Likes</span>
          </div>
          <div class="likes">
            <span id='user_comments'>0</span>
            <span>Comments</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>