<div class="search-bar">
  <form>

    <div class="form-group">
      <input class="search-input form-control" id="search-input" type="text" placeholder="Search here.." name="search">
      <button id="close-search" type="button"><img src="assets/multiply.svg"></button>
    </div>
  </form>

</div>
<div class="search-list">
  <ul id="search-table">
  </ul>
</div>