
<script type="text/javascript">
  setTimeout(function(){
         streaming_view();
  },1000);
function streaming_view(){
  //console.log('video call')
    var livestream_groupChannel = localStorage.getItem('live_streaming_key');
    var live_stream_view ="";
    if(livestream_groupChannel != null){
        var cc = new ChatCamp({
            appId: localStorage.getItem('appid')
        });
        var current_user_id = localStorage.getItem('user_id').toString();
        //console.log(current_user_id)
        cc.connect(current_user_id, function(error, user) {
          //console.log("user connect successfully")
          if(error === null){
          //console.log("Connected to ChatCamp")
          //console.log("livestream_groupChannel_key",livestream_groupChannel);
            cc.GroupChannel.get(livestream_groupChannel, function(error, groupChannel){
            if(error == null){

              groupChannel.join(function(error) {
              console.log(error);
               if(!error){

                  }// User join error condition end
              });// User join function condition end
              
                //console.log("Group Channel retrieved successfully", groupChannel)
                localStorage.setItem('current_streamimg_data',(JSON.stringify(groupChannel)));
                manage_livestream(groupChannel);
            }
            else{
                console.log("Error in connection",groupChannel);
                console.log("Error in connection",error);
            }
                          
        });
      }
    }); 
  }
  else{
      live_stream_view += "<div class='video_streaming' style='display:none;'></div>";
      $('#video_streaming').css('display','block');
      $('#video_streaming').html(live_stream_view);
  }
// live_stream_state 1/0 , 1 is for streaming feture enabled 0 is for inactive
// streaming_status 1/0 , 1 is for stream src avilable 0 is for scr is not availble 
// channel_running_status 1/0 , 1 is for live straming feture active and 0 live straming feture removed  
} 

function manage_livestream(groupChannel){
    live_stream_view ="";
    //console.log(groupChannel);
    var session_type = localStorage.getItem('session_type')
    console.log(session_type)
    var straming_state = groupChannel.metadata.live_stream_state;
    var straming_status = groupChannel.metadata.streaming_status;
    var channel_running_status = groupChannel.metadata.channel_running_status;
    var stream_src = groupChannel.metadata.streaming_url;
    if(session_type == 1){
    switch (channel_running_status){
      case '0':
             live_stream_view = "<div class='video_streaming' style='display:none;'></div>";
             break;
      case '1' :
            switch(straming_state){
              case '1':
                  switch(straming_status){
                  case '0':
                        live_stream_view = "<p> Streaming will start soon <i class='fa fa-video-camera' aria-hidden='true'></i> </p>";
                        break;
                  case '1':
                       live_stream_view  = "<div class='video_streaming embed-responsive embed-responsive-16by9'><iframe  class='embed-responsive-item 'src='"+stream_src+"?rel=0&playsinline=1' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; microphone; camera' frameborder='0' allowfullscreen='0' fs='0' ></iframe></div>";
                        break;
                }
              break;
              case '0':
                    live_stream_view = "<p> Streaming will start soon <i class='fa fa-video-camera' aria-hidden='true'></i> </p>";
                    break;
            }
          break;
    }
      $('#video_streaming').css('display','block');
      $('#video_streaming').html(live_stream_view);
      localStorage.setItem('current_streamimg_data',(JSON.stringify(groupChannel)));
    }
    else{
      live_stream_view  = "<div class='video_streaming'><iframe  src='"+stream_src+"?rel=0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' frameborder='0' ></iframe></div>";
      $('#video_streaming').css('display','block');
      $('#video_streaming').html(live_stream_view);
    }
   
}
function streaming_edit_button(){
        var stream_edit_btn ="";
        var session_data = localStorage.getItem('Live_session_data');
        var user_data = JSON.parse(localStorage.getItem("user_data")); 
        var Modarator_str = localStorage.getItem('session_modarators');
        var Modarator_arr = Modarator_str.split(","); 
        var user_id = user_data.user.id;
        var is_modarator = inArray(user_id, Modarator_arr);
        var groupChannel_key =localStorage.getItem('live_streaming_key');
        //console.log(groupChannel_key)
        var session_type = localStorage.getItem('session_type')
        console.log(session_type)
        if(is_modarator == true && groupChannel_key != "null"){
          //console.log("not null");
          if(session_type == 1){
            console.log('btn aayega')
              stream_edit_btn = "<a href='javascript:void(0);' class='stream_edit'><i class='fa fa-file-video-o' aria-hidden='true'></i></a>";
              $('#stream_edit_btn').html(stream_edit_btn);
            }
        }
        else{
          //console.log("is null");
          $('#stream_edit_btn').html('');
        }
 }

  streaming_edit_button();
    $('#stream_edit_btn').click(function(){
        streaming_edit_form();
        $('#live_overlay').fadeIn('fast');
        $('.stream_edit_form').fadeIn('fast');
    });  
 

    function streaming_edit_form(){
      var straming_edit = "";
      var live_stream_data = JSON.parse(localStorage.getItem('current_streamimg_data'));
      var company_data = JSON.parse(localStorage.getItem('employee_data'));
      var company_id = company_data.company_id;
      var stream_src = live_stream_data.metadata.streaming_url;
      var straming_status = live_stream_data.metadata.streaming_status;
      var live_stream_groupchannel = localStorage.getItem('live_streaming_key');
      var live_stream_custom_filter = live_stream_data.customFilter[0];
      console.log(live_stream_custom_filter)
        straming_edit ="<div class='stream_edit_form'><h4> Stream Edit </h4><form><div class='form-group'><input type='text' placeholder='Streaming Url' id='streamUrl' value='"+stream_src+"'></div><div class='form-group'><span> Streaming Status </span>";
        if(straming_status == '0'){
          straming_edit +="<input type='checkbox' class='straming_status' id='straming_status' value='0'>";
        }
        else{
          straming_edit +="<input type='checkbox' class='straming_status' id='straming_status' checked value='1'>";
        }
        straming_edit +="</div><div class='form-group'><input type='button' class='stream_cancle' value='Cancel'><input type='button' data-company_id='"+company_id+"' data-stream_channel='"+live_stream_groupchannel+"' data-stream_custom_filter='"+live_stream_custom_filter+"' class='stream_submit' value='Submit'></div></form></div>";
        $('#stream_edit_form').html(straming_edit);

        $(".straming_status").click(function(){
              var checked_straming_status = $(this).val();
              if(checked_straming_status == 0){
              $("#straming_status").val(1);
              }
              else{
              $("#straming_status").val(0);
              }
        });
   $('.stream_cancle').click(function(){
          $('#live_overlay').fadeOut('fast');
          $('.stream_edit_form').fadeOut('fast');
        });

    
    $('.stream_submit').click(function(){
        $("#preloader").fadeIn('fast');
        var company_id = $(this).data('company_id');
        var live_stream_groupchannel = $(this).data('stream_channel');
        var live_stream_custom_filter = $(this).data('stream_custom_filter');
        var straming_status = $('#straming_status').val();
        var streaming_url = $('#streamUrl').val();
        console.log(company_id+","+live_stream_groupchannel+","+live_stream_custom_filter+","+straming_status+","+streaming_url);

       if(straming_status == 1 && streaming_url == ''){
            $("#preloader").fadeOut('fast');
            Swal.fire({
              text: "Please enter video URL",
              icon: "warning",
            });
       }
       else{
        var data_type = {"company_id":company_id,"live_stream_groupchannel":live_stream_groupchannel,"live_stream_custom_filter":live_stream_custom_filter,"streaming_status":straming_status,"streaming_url":streaming_url}
        console.log(data_type);
        $.ajax({
                      crossDomain: true,
                      url: localStorage.getItem("base_url") + 'live_streaming_update',
                      contentType: 'application/json; charset=utf-8',
                      data: JSON.stringify(data_type),
                      ContentType: 'application/json',
                      type: 'POST',
                      dataType: 'json',
                      cache: true,
                      success: function (output) {
                      if (output.status == 1000) {
                          $("#preloader").fadeOut('fast');
                          $('#live_overlay').fadeOut('fast');
                          $('.stream_edit_form').fadeOut('fast');
                          
                      }
                      else if(output.status == 1001){
                         $("#preloader").fadeOut('fast');
                        Swal.fire({
                          text: (output.message),
                          icon: "warning",
                        });
                       
                      }
                      },
                      error: function () {
                        $("#preloader").fadeOut('fast');
                        alert("Please check your internet connection")
                        }
                      });
       }

    });


    }
</script>
