<style>
    .changepassword{
      display: none !important;
    }
    header .feed-list{
    width: 210px;
  }

  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
     }

     .forget_password .wrapper{
      margin: auto;
    background: #fff;
    text-align: center;
    width: 90%;
    max-width: 320px;
    padding: 40px 15px 15px;
     
     }

  


     .forget_password input{
        font-size: 20px;
       padding: 5px;
       border:none;
       border-bottom: 1px solid rgb(216, 212, 212);
       width: 100%;
     }

     .forget_password  .pw_input{
       margin: 15px 0;
       position: relative;
     }

   .forget_password input::placeholder{
       font-size: 18px;
   }

     .pw_input i{
       background-color: transparent;
       position: absolute;
      right: 10px;
      top: 40%;
      transform: translateY(-50%);
      cursor: pointer;
     }

     .forget_password .title{
      font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
     }

     .forget_password button{
      text-transform: uppercase;
    background-color: #c62828;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    width: 240px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
    outline: none;
    cursor: pointer;
     }

.cross{
  position: absolute;
    right: 18px;
    top: 10px;
    font-size: 20px;
    color: #626262;
    cursor: pointer;
}
  
.cross:hover{
  color: black;
}
  .forget_password{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%);
    background: #000000d1;
    z-index: 99;
    display: none;
  }

  .forget_password .error{
    color: darkred;
    font-size: 14px;
  }
</style>
<div class="slider-bar">
  <div class="container">
    <div class="row">
      <div class="top-bar" id="slider-bar">
        <div class="logo"><img id='company_logo' src="assets/favicon.png"></div>
        <div class="feedback-a" id="module"></div>
        <div class="popup-overlay"></div>
        <div id="popup-screen"></div>
        <div id="search_include"></div>
        <div class="feedback-b">
          <span class="feed-icons">
            <span class="ticket-icon trial-icon"><img data-toggle="tooltip" title="Free Trial Member" data-placement="bottom" src="assets/trial.png" width="40" height="40"></span>
            
            <div id="dynamic-block">

            </div>
            <i class="fa" id="my_notifications" aria-hidden="true"></i>
            <i class="fa fa-ellipsis-v dots" aria-hidden="true"></i>
            <div class="feed-list">
              <ul>
                <a href="#" class="open-profile">
                  <li>
                    <i class="fa fa-user-o" aria-hidden="true"></i> <span> View Profile </span>
                  </li>
                </a>
                <a href="javascript:void(0)" class="changepassword">
                  <li>
                    <i class="fa fa-lock" aria-hidden="true"></i> <span>Change Password</span>
                  </li>
                </a>
                <a href="javascript:localStorage.setItem('payment_pending',1);window.location.href='subscription.html';" class='account'>
                  <li>
                    <i class="fa fa-bars" aria-hidden="true"></i> <span>My Account</span>
                  </li>
                </a>
                <a href="#" class='version'>
                  <li>
                    <i class="fa fa-cog" aria-hidden="true"></i> <span>version 0.8</span>
                  </li>
                </a>
                <a href="#" class='logout'>
                  <li>
                    <i class="fa fa-sign-out" aria-hidden="true"></i> <span>Logout</span>
                  </li>
                </a>
              </ul>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div id="insert-profile"></div>
    <div id="user-approvel-list"></div>
    <div class="feed-overlay"></div>
  </div>
</div>

<form class="forget_password">
  <div class="wrapper center">
  <i class="fa fa-times cross"></i>

  
  <div class="pw_input">
   <input  type="password" placeholder="Current Password" name="password" required/> 
   <i class="fa fa-eye" onclick="passwordToggle(this)"></i>
 </div>
  <div class="pw_input">
   <input  type="password" placeholder="New Password" name="newpassword" required/> 
   <i class="fa fa-eye" onclick="passwordToggle(this)"></i>
 </div>

 <div class="pw_input">
   <input  type="password" placeholder="Confirm Password" name="confirmpassword" required/> 
   <i class="fa fa-eye" onclick="passwordToggle(this)"></i>
 </div>

 <div class="error"></div>

 <div><button type="button" onclick="changePassword()">Change Password</button></div>
</div>
</form>
<script type="text/javascript">

function passwordToggle(el){
  el.classList.toggle('fa-eye-slash');
  if(el.classList.contains('fa-eye-slash')){
    el.parentElement.querySelector('input').type = "text";
  }else{
    el.parentElement.querySelector('input').type = "password";

  }
}

$('.cross').click(()=>{
  $('.forget_password').hide();
  $('.forget_password')[0].reset();
  $('.forget_password .error').text('');
});


$('.changepassword').click(()=>{
  $(".feed-list").slideToggle("fast");
  $('.forget_password').show();
});

function changePassword(){
  let password = $('[name="password"]').val();
  let newpassword = $('[name="newpassword"]').val();
  let confirmpassword = $('[name="confirmpassword"]').val();
  $('.forget_password .error').text('');
  if(password == ""){
     $('.forget_password .error').text('Password is required.');
     return false;
  }

  if(newpassword == ""){
     $('.forget_password .error').text('New Password is required.');
     return false;
  }
  

  else if(password.length < 5 || newpassword.length < 5){
    $('.forget_password .error').text('Password and New Password length atleast 5.');
     return false;
  }

  else if(confirmpassword == ""){
     $('.forget_password .error').text('Confirm Password is required.');
     return false;
  }

  else if(newpassword != confirmpassword){
    $('.forget_password .error').text('New Password and Confirm Password not match.');
     return false;
  } else{

    fetch(`${localStorage.getItem("base_url")}up_user_p`,{
        method:"POST",
        body:JSON.stringify({
          company_id:localStorage.getItem('authenticate_company_id'),
          user_id:localStorage.getItem('authenticate_user_id'),
          current_password:password,
          password:newpassword,
          confirm_password:confirmpassword
        })
      }).then(data => data.json())
        .then((response) => {
           if(response.status == 1000){
            alert('Password Successfully Changed.');
            $('.forget_password').hide();
           }
           else if(response.status == 1001){
            $('.forget_password .error').text(response.message);
           }
        })

  }


}


  var company_data = JSON.parse(localStorage.getItem("activation"));
  //console.log("Ravi-----------");
  //console.log(company_data);
  //console.log("Ravi-----------");
  var user_data = JSON.parse(localStorage.getItem("user_data"));
  if(company_data.signup_configuration.subscription_charge_status == 1 && user_data.subscription.status == 1 && user_data.subscription.data.subscription_mode == 2){
    $(".ticket-icon").css('display','inline-block');
  }else {
    $(".ticket-icon").css('display','none');
  }

  $('#slider-bar').css('background-image', 'linear-gradient(93deg,' + company_data.company.status_bar_color + ',' + company_data.company.header_color + ')');
  $('#module').css('color', company_data.company.normal_text_color);
  $('#company_logo').attr('src', company_data.company.logo);

  $(window).ready(function () {
    if (company_data.company.activation_code == 'TFE3') {
      $(".version").css('display', 'block');
    } else {
      $(".version").css('display', 'none');
    }

    if (company_data.signup_configuration.subscription_charge_status == 1) {
      $(".account").css('display', 'block');
    } else {
      $(".account").css('display', 'none');
    }

    
    $(".logout").click(function () {
      console.log("Logout");

      var data_logout={"company_id":user_data.user.company_id,
                   "user_id":user_data.user.id,
                   "employee_id":user_data.user.employee_id};

            console.log(data_logout);

            $.ajax({    
              async: true,
                      crossDomain: true,
                      url: localStorage.getItem("base_url")+'logout_with_token',
                      contentType: 'application/json; charset=utf-8',
                      data: JSON.stringify(data_logout),
                      type : 'POST',
                      dataType : 'json',
                      success : function (output) {
                         if (output.status==1000){
                          localStorage.clear();
                          Engagespot.clearUser();
                          window.location.href='index.html';
                  }else{
                    console.log(output);
                    swal({
                      title: output.message,
                      icon: "error",
                    });
                    //$('#preloader').fadeOut('fast');
                              }
                          },
                          error : function(){
                  swal({
                      title: "Error in loading records. Please refresh the page and try again",
                      icon: "error",
                    });
                  //$('#preloader').fadeOut('fast');
                          }
                      });


    });



    var company_info = JSON.parse(localStorage.getItem("activation"));
    $('#company_logo').attr('src', company_info.company.logo);


    $.get("includes/add-user-profile.html", function (fileData) {
      $('#insert-profile').html(fileData);
    });

    $(".trial-icon").click(function () {
        localStorage.setItem('payment_pending',1);
        window.location.href='subscription.html';

    });

    $(".open-profile").click(function () {
      $(".feed-list").slideToggle("fast");
      $("#insert-profile").fadeIn();
      $(".feed-overlay").fadeIn();
      $('body,html').css("overflow", "hidden");

      user_details = "";
      document.getElementById("user_profile_pic").src = user_data.user.avatar;
      document.getElementById("user_old_profile_pic").src = user_data.user.avatar;
      document.getElementById("user_new_profile_pic").src = user_data.user.avatar;
      //document.getElementById("profile_user_name").innerHTML = user_data.user.name;
      //document.getElementById("profile_user_DOB").innerHTML = user_data.user.date_of_birth;

      user_details += "<p> Name : <span>" + user_data.user.name + "</span></p><p> DOB : <span>" + user_data.user.date_of_birth + "</span></p>"

      if (company_info.employee_configuration.custom_field_one_status == 1 && company_info.employee_configuration.status == 1) {
        user_details += "<p>" + company_info.employee_configuration.custom_field_one_name + " : <span> " + user_data.user.custom_field_one + " </span></p>";
      }
      if (company_info.employee_configuration.custom_field_two_status == 1 && company_info.employee_configuration.status == 1) {
        user_details += "<p>" + company_info.employee_configuration.custom_field_two_name + " : <span> " + user_data.user.custom_field_two + " </span></p>";
      }
      if (company_info.employee_configuration.custom_field_three_status == 1 && company_info.employee_configuration.status == 1) {
        user_details += "<p>" + company_info.employee_configuration.custom_field_three_name + " : <span> " + user_data.user.custom_field_three + " </span></p>";
      }
      document.getElementById("dynamic_user_data").innerHTML = user_details;


    });
    var mainsearch = "<i class='fa fa-search main-search' aria-hidden='true' id='main-search'></i>";
    var approval_icon = "<div class='approve-user'><i class='fa fa-handshake-o' aria-hidden='true'></i><i class='fa fa-circle' id='approval_blink' aria-hidden='true'>";
    
    if (company_data.signup_configuration.approval_status == 1 && user_data.user.user_role == 1) {
	  $("#dynamic-block").css('display','none');
    }
	else if(company_data.signup_configuration.approval_status == 1 && user_data.user.user_role != 1){
		document.getElementById("dynamic-block").innerHTML = approval_icon;
	}
    else {
		document.getElementById("dynamic-block").innerHTML = mainsearch;
    }
	
    $.get("includes/user-approvel-list.html", function (fileData) {
      $('#user-approvel-list').html(fileData);
      $(".close-request").click(function () {
        $(".feed-overlay").fadeOut('fast');
        $('.user-approvel-list').fadeOut('fast');
      });
    });
    $(".approve-user").click(function () {
      pending_approval();
      $(".feed-overlay").fadeIn('fast');
      $('.user-approvel-list').fadeIn('fast');
    });
    $("#main-search").click(function () {
      $("#search_include").slideToggle("fast");
      $("#close-search").click(function () {
        $("#search_include").slideUp("fast");
        $(".search-list").fadeOut();
      });
      $(".search-input").keyup(function () {
        $(".search-list").fadeIn('fast');
      });
      $("#search-input").on('keyup', function () {
        var value = $(this).val().toLowerCase();
        $("#search-table li").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });

        var countlistitems = $('#search-table > li:visible').length;
            
            if(countlistitems===0){
             $('.not-found').css('display', 'block');
             $('.search-list').css('height','50px');
            }else{
              $('.not-found').css('display', 'none');
            }


      });

      
    });

  });


  /*---------PopUp Start---------------*/
  $(window).on('load', function () {
    if (localStorage.getItem("popup") == 'Active') {
      $('[data-toggle="tooltip"]').tooltip();
      $.get("includes/popup.html", function (fileData) {
        setTimeout(function () {

          $("#popup-screen").html(fileData);
          $(".popup-overlay").fadeIn();
          $(".popup-section").css("transform", "scale(1)")
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
          $('body').css('overflow', 'hidden');
        }, 10000);

      });
    }

  });

  /*--------PopUp End-----------------*/
</script>


<!-- Start Web Push Notification -->
<script type="text/javascript">
 
  if (localStorage.getItem('device_type') == 'browser' || localStorage.getItem('device_type') == null) {

    console.log("....in browser");
    var user_data = JSON.parse(localStorage.getItem("user_data"));

    window.Engagespot = {}, q = function (e) { return function () { (window.engageq = window.engageq || []).push({ f: e, a: arguments }) } }, f = ["captureEvent", "subscribe", "init", "showPrompt", "identifyUser", "clearUser"]; for (k in f) Engagespot[f[k]] = q(f[k]); var s = document.createElement("script"); s.type = "text/javascript", s.async = !0, s.src = "https://cdn.engagespot.co/EngagespotSDK.2.0.js"; var x = document.getElementsByTagName("script")[0]; x.parentNode.insertBefore(s, x); Engagespot.init('gBjTXrZqbPBC4R5wm7AWEYE7lc4TAv');
    Engagespot.identifyUser(user_data.user.id);

    myDivObj = document.getElementById("unreadNotificationCount");
    setInterval(function () {
      if (parseInt($('#unreadNotificationCount').html()) > 0) {
        $('#openNC').attr('style', 'z-index: 0 !important; background: url("https://cdn.engagespot.co/images/bellIcon.svg") 2px 2px no-repeat; box-shadow: none; left: 0px; top: 0px;top: 16px !important');
      } else {
        $('#openNC').attr('style', 'z-index: 0 !important; background: url("https://cdn.engagespot.co/images/bellIcon.svg") 2px 2px no-repeat; box-shadow: none; left: 0px; top: 0px;top: 21px !important');
      }
    }, 1000)

  } else {
    var check_close = 0;
    $("#my_notifications").addClass("fa-bell-o");
    $('.feed-icons').css('top', '0');
    $.get("includes/mobile_notification.html", function (fileData) {
      $('.fa-bell-o').html(fileData);
    });
    $(".popup-overlay").click(function () {
      $(".clear_notification").fadeOut('fast');
      $(".notification_container_mobile").fadeOut('fast');
      $(this).fadeOut();
    });
    $(".fa-bell-o").click(function () {
      if (check_close == 0) {

        /************** New Code for loading notifications from server starts**************/
        var lastupdated = "";
        try {
          lastupdated = localStorage.getItem("notificationlastupdated");
        } catch (error) {
          
        }
        var data_logout={"company_id":user_data.user.company_id,
                   "user_id":user_data.user.id,
                   "user_role":user_data.user.user_role,
                  "lastupdated": lastupdated
                };

            console.log(data_logout);

            $.ajax({    
              async: true,
                      crossDomain: true,
                      url: localStorage.getItem("base_url")+'check_new_notifications',
                      contentType: 'application/json; charset=utf-8',
                      data: JSON.stringify(data_logout),
                      type : 'POST',
                      dataType : 'json',
                      success : function (output) {
                         if (output.status==1000){
                           console.log(output);
                           if(output.data == "" || output.data == "null")
                           {
                             console.log("No new updates are available on server");
                           }
                           else
                           {
                            localStorage.setItem("notificationlastupdated",output.data.serverlastupdate);
                            localStorage.setItem("mynotifications",JSON.stringify(output.data));
                           }
                         
                          // Engagespot.clearUser();
                          // window.location.href='index.html';
                  }else{
                    console.log(output);
                    swal({
                      title: output.message,
                      icon: "error",
                    });
                    //$('#preloader').fadeOut('fast');
                              }
                          },
                          error : function(){
                  swal({
                      title: "Error in loading records. Please refresh the page and try again",
                      icon: "error",
                    });
                  //$('#preloader').fadeOut('fast');
                          }
                      });

        /************** Ends here***************/
        localStorage.setItem("bell_notify_dot", "0");
        var local_notify = localStorage.getItem('mynotifications');

        console.log("storage notification",local_notify);

        var notifications = '<div class="row" >';
        if (local_notify != null) {
          var local_notifications = JSON.parse(local_notify);

          // console.log("json notification",local_notifications);
          local_notifications = JSON.parse(local_notifications.notifications);
          // console.log("object notification",local_notifications);
          // console.log("notification count=",local_notifications.length);
          for (var i = 0; i < local_notifications.length; i++) {
            var parse_notify = local_notifications[i];

            // console.log("server notification",parse_notify);
            var push_datetime = parse_notify.Date;
            // console.log("date notification",push_datetime);
            parse_notify =JSON.parse(parse_notify.raw_notification.trim());


            // console.log("parsed raw notification",parse_notify);

            notifications += '<div class="notification_box" data-redirect="' + parse_notify.redirecturl + '"><div class="row" style="display:flex;"><div class="col-xl-2 col-xs-2 col-2"><div class="users_image">';
            if (parse_notify.icon_url) {
              notifications += '<img src="' + parse_notify.icon_url + '">';
            } else {
              if (parse_notify.redirecturl == 'feed.html') {
                notifications += '<i class="fa fa-bolt" style="color:red;" aria-hidden="true"></i>';
              } else if (parse_notify.redirecturl == 'message.html') {
                notifications += '<i class="fa fa-envelope-open" style="color:red;" aria-hidden="true"></i>';
              } else if (parse_notify.redirecturl == 'itinerary.html') {
                notifications += '<i class="fa fa-th-list" style="color:red;" aria-hidden="true"></i>';
              } else if (parse_notify.redirecturl == 'survey.html') {
                notifications += '<i class="fa fa-bar-chart" style="color:red;" aria-hidden="true"></i>';
              }
            }
            notifications += '</div></div><div class="col-xl-8 col-xs-8 col-8"><div class="users_notification">';
            notifications += '<p> ' + parse_notify.title + ' </p>';
            notifications += '<p> ' + parse_notify.text + ' </p>';

            notifications += '</div></div><div class="col-xl-1 col-xs-1 col-1"><div class="users_action"><!--<img src="assets/cross.png">--><span>' + push_time(push_datetime) + '</span></div></div></div></div>';
          }
        }
        else {
          notifications += '<div class="no_notify"><img src="assets/no_notification-bee.png"><p>No notification here</p></div>';
        }
        notifications += '</div>';

        document.getElementById("notification_body").innerHTML = notifications;
        $('#bell_notify').css('visibility', 'hidden');
        $(".popup-overlay").fadeIn('fast', function () {
          $(".notification_container_mobile").fadeIn('fast');
        });
        $('.notification_box').on("click", function () {
          var url = $(this).data("redirect");
          window.location.href = url;
        });
      } else { check_close = 0; }
    });
  }
  function push_time(milidate) {
    var date2 = new Date();
    var date1 = new Date(milidate);
    //Get 1 day in milliseconds   
    var one_day = 1000 * 60 * 60 * 24;
    // Convert both dates to milliseconds   
    var date1_ms = date1.getTime();
    var date2_ms = date2.getTime();
    // Calculate the difference in milliseconds   
    var difference_ms = date2_ms - date1_ms;
    //take out milliseconds   
    difference_ms = difference_ms / 1000;
    var seconds = Math.floor(difference_ms % 60);
    difference_ms = difference_ms / 60;
    var minutes = Math.floor(difference_ms % 60);
    difference_ms = difference_ms / 60;
    var hours = Math.floor(difference_ms % 24);
    var days = Math.floor(difference_ms / 24);
    if (days > 0) {
      return days + ' d';
    } else if (hours > 0) {
      return hours + ' h';
    } else if (minutes > 0) {
      return minutes + ' m';
    } else if (seconds > 0) {
      return seconds + ' s';
    }
  }


  $(".dots").click(function () {
    $(".feed-list").slideToggle("fast");
  });

  $.get("includes/search-bar.html", function (fileData) {
    $('#search_include').html(fileData);
  });


</script>
