
		<div class="user-approvel-list">
			<span class="close-request"><img src="assets/multiply.svg"></span>
			<h3> Approve User Request </h3>
			<table class="table table-responsive-xl table-striped">
					<tr>
						<th width='10%'>
							Picture
						</th>
						<th width='60%'>
							Name
						</th>
						<th style='padding:10px 0;text-align:center;'>
							Action
						</th>
					</tr>
					<tbody id="user_approval_list">
						
					</tbody>	
			</table>
		</div>

		<script type="text/javascript">
			pending_approval();
			function pending_approval(){
			var user_data = JSON.parse(localStorage.getItem("user_data"));
			var user_info = user_data.user;
			var  data_type_approval={"company_id":user_info.company_id,'leader_id':user_info.id};
					         $.ajax({    
									async: true,
					                crossDomain: true,
					                url: localStorage.getItem("base_url")+'user_request_list',
									contentType: 'application/json; charset=utf-8',
					                data: JSON.stringify(data_type_approval),
					                type : 'POST',
					                dataType : 'json',
					                success : function (output) {
					                   if (output.status==1000){
                                           console.log('user list under your approval')
					                       console.log(output)
					                       var approval_user_list = output.data;
					                       var under_approval_user ="";
					                       	console.log(approval_user_list);
											for(var i=0;i <approval_user_list.length; i++){
													under_approval_user += "<tr><td width='10%'><img src='"+approval_user_list[i].avatar+"'></td><td width='60%'>"+approval_user_list[i].name+"</td><td style='padding:10px 0'><button class='approvelbtn' data-company_id="+approval_user_list[i].company_id+" data-leader_id="+approval_user_list[i].leader_id+" data-temp_user_id="+approval_user_list[i].id+" data-approval_status=1><i class='fa fa-user-plus' aria-hidden='true'></i> </button><button class='declinebtn'  data-company_id="+approval_user_list[i].company_id+" data-leader_id="+approval_user_list[i].leader_id+" data-temp_user_id="+approval_user_list[i].id+" data-approval_status=0> <i class='fa fa-user-times' aria-hidden='true'></i> </button></td></tr>";		
												}
												if(approval_user_list.length==0){
													//under_approval_user += "<tr style='padding:10px 0'><td width='80px'><img src='assets/avatar.png'></td><td width='250px'>kinjalk verma verma </td><td><button class='approvelbtn' > <i class='fa fa-user-plus' aria-hidden='true'></i> </button><button class='declinebtn' > <i class='fa fa-user-times' aria-hidden='true'></i> </button></td></tr>";
													under_approval_user += "<div class='not-found'>No Record found</div>";
													setTimeout(function(){
														$("#approval_blink").addClass("blinking");
														$("#approval_blink").css('display','none');
													},1000);
												}
												else{
													$("#approval_blink").addClass("blinking");
													$("#approval_blink").css('display','block');
												}
												document.getElementById("user_approval_list").innerHTML = under_approval_user; 


												$('.approvelbtn').click(function(){

								                      var company_id = $(this).data('company_id');
								                       var temp_user_id = $(this).data('temp_user_id');
								                        var leader_id = $(this).data('leader_id');
								                         var approval_status = $(this).data('approval_status');

								                         data_type_send_approval={"company_id":company_id,'leader_id':leader_id,'temp_user_id':temp_user_id,'approval_status':approval_status};

								                        console.log(data_type_send_approval);
								                        approval_send_request(data_type_send_approval)

											      });


											      $('.declinebtn').click(function(){

								                      var company_id = $(this).data('company_id');
								                       var temp_user_id = $(this).data('temp_user_id');
								                        var leader_id = $(this).data('leader_id');
								                         var approval_status = $(this).data('approval_status');

								                         data_type_send_approval={"company_id":company_id,'leader_id':leader_id,'temp_user_id':temp_user_id,'approval_status':approval_status};

								                        console.log(data_type_send_approval);
								                        approval_send_request(data_type_send_approval)

											      });

					                      }
										  else{
												swal({
												  title: output.message,
												  icon: "error",
												});
					                        }
					                    },
					                    error : function(){
											swal({
												  title: "Error in loading records. Please refresh the page and try again",
												  icon: "warning",
												});
					                    }
					                }); 

}

	function approval_send_request(data_type_approval_send){

		console.log(data_type_approval_send)

		$.ajax({    
									async: true,
					                crossDomain: true,
					                url: localStorage.getItem("base_url")+'user_request_approv_and_decline',
									contentType: 'application/json; charset=utf-8',
					                data: JSON.stringify(data_type_approval_send),
					                type : 'POST',
					                dataType : 'json',
					                success : function (output) {
					                   if (output.status==1000){
					                   	    
					                   	   pending_approval();
								           Swal.fire({
												type: 'success',
												title: output.message
											})
                                           
					                      }
										  else{
										  	pending_approval();
											Swal.fire({
													type: 'success',
													title: output.message
												})
												
					                        }
					                    },
					                    error : function(){
											swal({
												  title: "Error in loading records. Please refresh the page and try again",
												  icon: "warning",
												})
					                    }
					                }); 
									}


		</script>
  